Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, build all, install kickoff, install check, install snapshot, client basic-commands, templates build, templates check, templates snapshot, range deploy, range check, range snapshot, post-deploy testing

documentation:
  stage: documentation
  tags:
  - ludus-proxmox-runner
  script:
  - cd docs
  - yarn install
  - yarn build
  - mv ./build ../public
  artifacts:
    paths:
    - public

build all:
  stage: build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - documentation
  artifacts:
    paths:
    - binaries/*
    expire_in: 1 week
  variables:
    LUDUS_BUILD_TYPE: any-built
  timeout: 10m
  script:
  - echo "Compiling the server code..."
  - export GIT_COMMIT_SHORT_HASH=$(git rev-parse --short HEAD)
  ...

install kickoff:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: kickoff
  timeout: 10m
  script:
  - sudo hostname ludus-$CI_PIPELINE_ID
  - sudo hostnamectl set-hostname ludus-$CI_PIPELINE_ID
  - cd binaries
  ...

install check:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install kickoff
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: check
  timeout: 1h
  script:
  - sudo cat /opt/ludus/install/install.log
  - echo "root:$CI_PIPELINE_ID" | sudo chpasswd

install snapshot:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
    artifacts: false
  - job: install check
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - echo "Snapshot complete"

client basic-commands:
  stage: client
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install snapshot
    optional: true
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - cd binaries
    - pgrep -f 'ansible|packer' || sudo ./ludus-server --update
  ...

templates build:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install snapshot
    optional: true
  - job: client basic-commands
    optional: true
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - cd binaries
  ...

templates check:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: templates build
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 2h
  retry:
    max: 2
  script:
  - - cd binaries
    - pgrep -f 'ansible|packer' || sudo ./ludus-server --update
  ...

templates snapshot:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
    artifacts: false
  - job: templates check
  variables:
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: templates_built
  timeout: 5m
  script:
  - echo "Snapshot complete"

feat(install): ✨ add install script for Windows
  docs/docs/quick-start/using-cli-locally.md
  install-client.ps1
Due: documentation, build all

fix(ci): 🐛 fix issue with docs in new code structure
  .gitlab-ci.yml
Due: build all

ci: 🤖 add client to the Go workspace to allow building in CI
  go.work
Due: build all

fix(packer): 🐛 pin packer plugin versions to prevent upstream bugs from breaking Ludus
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
Due: build all, install kickoff, install check, install snapshot

style: 💄 better instructions for interactive installer
  ludus-server/form.go
Due: build all, install kickoff, install check, install snapshot

docs: 📚 add uninstall docs
  docs/docs/troubleshooting/uninstall.md
Due: documentation, build all

fix!: 🐛 complete adding the router section to range configs
  docs/docs/configuration.mdx
  docs/static/schemas/range-config.enterprise.json
  docs/static/schemas/range-config.json
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/range-management/range-access.yml
  ludus-server/ansible/range-management/tasks/firewall/set-firewall-rules.yml
  ludus-server/ansible/range-management/tasks/proxmox/snapshot-management.yml
  ludus-server/ansible/range-management/tasks/router/add-vlan-to-router.yml
  ludus-server/ansible/server-config.yml
  ludus-server/ansible/user-files/range-config.jsonschema
Due: documentation, build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

ci: 🤖 update integration test to use router block
  ludus-server/ci/configs/integration-test.yml
Due: build all

fix: 🐛 remove last references to router_vm_name
  .ansible-lint
  docs/static/schemas/range-config.json
  ludus-server/ansible/user-files/range-config.jsonschema
Due: documentation, build all, client basic-commands

ci: 🤖 fix template name for router in example and ci test
  docs/docs/configuration.mdx
  ludus-server/ci/configs/integration-test.yml
Due: documentation, build all

feat(templates): ✨ add Ubuntu 24.04 Desktop template
  templates/ubuntu-24.04-x64-desktop/ansible/reset-machine-id.yml
  templates/ubuntu-24.04-x64-desktop/ansible/reset-ssh-host-keys.yml
  templates/ubuntu-24.04-x64-desktop/http/meta-data
  templates/ubuntu-24.04-x64-desktop/http/user-data
  templates/ubuntu-24.04-x64-desktop/ubuntu-24.04-x64-desktop.pkr.hcl
Due: build all

docs: 📚 update links to use .md (prevent 404s), update deps
  docs/docs/cli.md
  docs/docs/deployment-options/bare-metal.mdx
  docs/docs/intro.md
  docs/docs/networking.md
  docs/docs/quick-start/build-templates.md
  docs/docs/quick-start/congratulations.md
  docs/docs/quick-start/deploy-range.mdx
  docs/docs/quick-start/install-ludus.md
  docs/docs/quick-start/testing-mode.md
  docs/docs/roles.md
  docs/docs/sharing.md
  docs/docs/templates.md
  docs/docs/troubleshooting/network.md
  docs/package-lock.json
  docs/package.json
  docs/yarn.lock
Due: documentation, build all

fix(server): 🐛 don't allow user ID of '0' as proxmox doesn't correctly create a pool called '0'
  ludus-api/api_user_management.go
Due: build all

build(client): 📦 build client without CGO to prevent glibc issues on older Linux OSs
  .gitlab-ci.yml
Due: build all

perf(templates): ⚡ update templates to use virtio type drives for speed improvements
  ludus-server/packer/debian11/debian11.pkr.hcl
  ludus-server/packer/debian12/debian12.pkr.hcl
  ludus-server/packer/kali/kali.pkr.hcl
  ludus-server/packer/scripts/disablewinupdate.bat
  ludus-server/packer/win11-22h2-x64-enterprise/win11-22h2-x64-enterprise.pkr.hcl
  ludus-server/packer/win2022-server-x64/win2022-server-x64.pkr.hcl
  templates/commando-vm/commando-vm.pkr.hcl
  templates/commando-vm/scripts/disablewinupdate.bat
  templates/debian10/debian10.pkr.hcl
  templates/flare-vm/flare-vm.pkr.hcl
  templates/flare-vm/scripts/disablewinupdate.bat
  templates/remnux/remnux.pkr.hcl
  templates/ubuntu-20.04-x64-server/ubuntu-20.04-x64-server.pkr.hcl
  templates/ubuntu-22.04-x64-server/ubuntu-22.04-x64-server.pkr.hcl
  templates/win10-21h1-x64-enterprise/scripts/disablewinupdate.bat
  templates/win10-21h1-x64-enterprise/win10-21h2-x64-enterprise.pkr.hcl
  templates/win11-23h2-x64-enterprise/scripts/disablewinupdate.bat
  templates/win11-23h2-x64-enterprise/win11-23h2-x64-enterprise.pkr.hcl
  templates/win2012r2-server-x64/scripts/disablewinupdate.bat
  templates/win2012r2-server-x64/win2012r2-server-x64.pkr.hcl
  templates/win2016-server-x64/scripts/disablewinupdate.bat
  templates/win2016-server-x64/win2016-server-x64.pkr.hcl
  templates/win2019-server-x64-no-security-updates/scripts/disablewinupdate.bat
  templates/win2019-server-x64-no-security-updates/win2019-server-x64-no-security-updates.pkr.hcl
  templates/win2019-server-x64/scripts/disablewinupdate.bat
  templates/win2019-server-x64/win2019-server-x64.pkr.hcl
Due: build all, templates build, templates check, templates snapshot

fix: 🐛 update .NET framework to 4.8 when necessary to satisy chocolatey 2.0 requirements
  ludus-server/ansible/range-management/tasks/windows/add-additional-windows-tools.yml
  ludus-server/ansible/range-management/tasks/windows/install-extra-choco-packages.yml
  ludus-server/ansible/range-management/tasks/windows/install-office.yml
  ludus-server/ansible/range-management/tasks/windows/install-visual-studio.yml
  ludus-server/ansible/range-management/tasks/windows/update-dotnet-framework.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix: 🐛 Clean up .NET install before chocolatey if .NET does not exist or is too old
  ludus-server/ansible/range-management/tasks/windows/add-additional-windows-tools.yml
  ludus-server/ansible/range-management/tasks/windows/install-extra-choco-packages.yml
  ludus-server/ansible/range-management/tasks/windows/update-dotnet-framework.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

chore: 🧹 bump deps
  go.work.sum
  ludus-client/go.sum
Due: build all, client basic-commands, range deploy, post-deploy testing

style: 💄 add logo to backgrounds; fix machine domain entry in backgrounds to show full DNS name of domain
  ludus-server/ansible/range-management/files/windows/background/green.bgi
  ludus-server/ansible/range-management/files/windows/background/red.bgi
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix(templates): 🐛 fix kali to use vda vs sda with new scsi controller for better disk speeds
  ludus-server/packer/kali/http/kali-preseed.cfg
Due: build all, templates build, templates check, templates snapshot

fix: 🐛 remove extra dot net check during choco install
  ludus-server/ansible/range-management/tasks/windows/install-extra-choco-packages.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

chore: 🧹 bump kasmvnc to latest on kali template
  ludus-server/packer/kali/kali.yml
Due: build all, templates build, templates check, templates snapshot

fix: 🐛 fix multiple IP bug on Ubuntu VMs
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

build: 📦 build server with CGO so it can load plugins
  .gitlab-ci.yml
Due: build all

feat: ✨ add 'global_role_vars' top level config key to range configs
  docs/docs/configuration.mdx
  docs/static/schemas/range-config.json
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/user-files/range-config.jsonschema
Due: documentation, build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

feat: ✨ Add support for notifications on range build success/failure
  docs/docs/configuration.mdx
  docs/static/schemas/range-config.json
  go.work.sum
  ludus-api/ansible.go
  ludus-api/go.mod
  ludus-api/go.sum
  ludus-api/notifications.go
  ludus-server/ansible/user-files/range-config.jsonschema
Due: documentation, build all, client basic-commands

fix: 🐛 fix nexus build issue by pinning version to working version
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix: 🐛 fix issue with global role vars when they are undefined
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

docs: 📚 Update API docs to reflect reality
  docs/static/api/index.html
Due: documentation, build all

docs: 📚 Update troubleshooting with new tips
  docs/docs/troubleshooting/ansible.md
  docs/docs/troubleshooting/network.md
Due: documentation, build all

docs: 📚 Upgrade documentation site deps
  docs/yarn.lock
Due: documentation, build all

fix(templates): 🐛 set PublicIP to localhost for kasm on Kali to prevent issues where TURN servers cannot be reached
  ludus-server/packer/kali/kali.yml
Due: build all, templates build, templates check, templates snapshot

docs: 📚 added documentation for ADCS attack paths
  docs/docs/environment-guides/adcs.md
Due: documentation, build all

docs: 📚 updated screenshot to include new templates
  docs/static/img/envs/adcs-templates.png
Due: documentation, build all

docs: 📚 compress ADCS image
  docs/static/img/envs/adcs-templates.png
Due: documentation, build all

fix(client): 🐛 fix user impersonation when requesting template logs without tail or follow
  ludus-client/cmd/templates.go
Due: build all, client basic-commands, range deploy, post-deploy testing

docs: 📚 update docs (minor fixes)
  docs/docs/quick-start/build-templates.md
  docs/docs/quick-start/create-a-user.md
  docs/docs/quick-start/install-ludus.md
Due: documentation, build all

feat(server): ✨ allow users to expose admin API globally via config
  ludus-api/config.go
  ludus-server/config.go
  ludus-server/form.go
  ludus-server/main.go
Due: build all, install kickoff, install check, install snapshot

Path conditions:
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  client basic-commands: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  range deploy: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check: any of: ludus-server/ansible/range-management/**/*
  range snapshot: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*
