Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, build all, install kickoff, install check, install snapshot, client basic-commands, templates build, templates check, templates snapshot, range deploy, range check, range snapshot, post-deploy testing

documentation:
  stage: documentation
  tags:
  - ludus-proxmox-runner
  script:
  - cd docs
  - yarn install
  - yarn build
  - mv ./build ../public
  artifacts:
    paths:
    - public

build all:
  stage: build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - documentation
  artifacts:
    paths:
    - binaries/*
    expire_in: 1 week
  variables:
    LUDUS_BUILD_TYPE: any-built
  timeout: 10m
  script:
  - echo "Compiling the server code..."
  - export GIT_COMMIT_SHORT_HASH=$(git rev-parse --short HEAD)
  ...

install kickoff:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: kickoff
  timeout: 10m
  script:
  - sudo hostname ludus-$CI_PIPELINE_ID
  - sudo hostnamectl set-hostname ludus-$CI_PIPELINE_ID
  - cd binaries
  ...

install check:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install kickoff
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: check
  timeout: 1h
  script:
  - sudo cat /opt/ludus/install/install.log
  - echo "root:$CI_PIPELINE_ID" | sudo chpasswd

install snapshot:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
    artifacts: false
  - job: install check
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - echo "Snapshot complete"

client basic-commands:
  stage: client
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install snapshot
    optional: true
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - cd binaries
    - pgrep -f 'ansible|packer' || sudo ./ludus-server --update
  ...

templates build:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install snapshot
    optional: true
  - job: client basic-commands
    optional: true
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - cd binaries
  ...

templates check:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: templates build
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 2h
  retry:
    max: 2
  script:
  - - cd binaries
    - pgrep -f 'ansible|packer' || sudo ./ludus-server --update
  ...

templates snapshot:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
    artifacts: false
  - job: templates check
  variables:
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: templates_built
  timeout: 5m
  script:
  - echo "Snapshot complete"

fix(testing): 🐛 default action_ips to a blank array to handle the case where all VMs are set to be blocked from the internet
  ludus-server/ansible/range-management/tasks/firewall/compatibility.yml
  ludus-server/ansible/range-management/tasks/firewall/dns-management.yml
  ludus-server/ansible/range-management/tasks/firewall/firewall-management.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

docs: 📚 add option to use host machine to setup Nexus cache
  docs/docs/nexus-cache.md
Due: documentation, build all

docs: 📚 add warning about the time it takes to build flare/remnux in the malware lab
  docs/docs/environment-guides/malware-lab.md
Due: documentation, build all

fix(server): 🐛 make sure the ansible log file is owned by the calling user, not root, during user actions
  ludus-server/src/api_user_management.go
  ludus-server/src/utils.go
Due: build all

chore(templates): 🧹 update rocky 8 URL and hash
  templates/rocky-8-x64-server/rocky-8-x64-server.pkr.hcl
Due: build all

docs: 📚 add tail tip and user tip to SCCM env guide
  docs/docs/environment-guides/sccm.md
Due: documentation, build all

docs: 📚 Add Debian install screen to docs; add links to client binaries to docs; fix typos on bare metal page
  docs/docs/deployment-options/bare-metal.mdx
  docs/docs/quick-start/create-a-user.md
  docs/docs/quick-start/install-ludus.md
Due: documentation, build all

docs: 📚 add missing debian 12 install image
  docs/static/img/intro/debain-12-install.png
Due: documentation, build all

fix(install): 🐛 fix missing ludus-install-status for existing proxmox, and make ludus-install-status a script vs alias for easier use
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/stage-1.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
  ludus-server/ansible/proxmox-install/templates/ludus-install-status.sh.j2
Due: build all, install kickoff, install check, install snapshot

Update docs for pcap/bridge_aging
  docs/docs/networking.md
Due: documentation, build all

docs: 📚 update packet capture documentation
  docs/docs/networking.md
Due: documentation, build all

style(server): 💄 change wording of office install check to prevent users from thinking there was a failure during the check
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

docs: 📚 update docusaurus
  docs/package.json
  docs/yarn.lock
Due: documentation, build all

docs: 📚 add VC++ tasks to fix errors with SCCM install in GOAD (thanks @zeroone1337)
  docs/docs/environment-guides/goad-sccm.md
Due: documentation, build all

style(templates): 💄 add 'Build complete!' message to the end of the packer log Error: could not get answers from prompt
  ludus-server/src/api_template_management.go
Due: build all

feat(client): ✨ add -v flag to 'templates log' command and don't print debug messages by default
  ludus-client/cmd/templates.go
  ludus-client/cmd/utils.go
Due: build all, client basic-commands, range deploy, post-deploy testing

fix(server): 🐛 don't truncate packer logs when writing out the build finished message
  ludus-server/src/api_template_management.go
Due: build all

feat(ansible): ✨ allow for meta/version.yml to specify a version of the role for roles added from local directories
  ludus-server/src/api_ansible.go
Due: build all

fix(templates): 🐛 only add 'build complete' message if the packer command exits with status 0, otherwise copy the debug log into the packer log
  ludus-server/src/api_template_management.go
  ludus-server/src/file_operations.go
Due: build all

style: 💄 fix typo in template validation message for range config
  ludus-server/src/yaml_validate.go
Due: build all

style: 💄 capitalize power result messages from API
  ludus-server/src/api_power_state_management.go
Due: build all

fix: 🐛 force a time sync on Windows VMs when stopping testing to get past 'time change was to big' error
  ludus-server/ansible/range-management/testing.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix(client): 🐛 allow client to update VMs for other users when --user is specified
  ludus-client/cmd/testing.go
Due: build all, client basic-commands, range deploy, post-deploy testing

fix(server): 🐛 ignore errors while setting time after testing stop on Windows VMs
  ludus-server/ansible/range-management/testing.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

chore: 🧹 remove legacy code for user SSH keys from pre 1.0
  ludus-server/ansible/user-management/add-user.yml
Due: build all, client basic-commands, range deploy

style: 💄 capitalize testing API responses
  ludus-server/src/api_testing_state_management.go
Due: build all

docs: 📚 add outbound WireGuard documentation
  docs/docs/DNS.md
  docs/docs/configuration.mdx
  docs/docs/nexus-cache.md
  docs/docs/outbound-wireguard.md
  docs/docs/roles.md
  docs/docs/security.md
  docs/docs/sharing.md
  docs/docs/templates.md
  docs/docs/updating.md
Due: documentation, build all

docs: 📚 add enterprise configuration tab to configuration page
  docs/docs/configuration.mdx
  docs/static/schemas/range-config.enterprise.json
Due: documentation, build all

refactor(testing): 🔨 update stress-test script to not re-deploy ranges if run more than once
  scripts/stress-test.sh
Due: build all

feat: ✨ new interactive installer
  ludus-server/args.go
  ludus-server/checks.go
  ludus-server/config.go
  ludus-server/form.go
  ludus-server/go.mod
  ludus-server/go.sum
  ludus-server/install.go
  ludus-server/main.go
  ludus-server/src/config.go
  ludus-server/warning.go
Due: build all, install kickoff, install check, install snapshot

fix: 🐛 update jdk dependancy for Nexus cache to work with latest Nexus release
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

chore: 🧹 update Kali to 2024.2
  ludus-server/packer/kali/kali.pkr.hcl
Due: build all, templates build, templates check, templates snapshot

perf: ⚡ change default upstream DNS over HTTPS to 1.1.1.1 to prevent the need to bootstrap with regular DNS
  ludus-server/ansible/range-management/templates/AdGuardHome.yaml.j2
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

style: 💄 fix ansible-lint issues
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

feat: ✨ depends_on for roles; global roles
  .ansible-lint
  .gitlab-ci.yml
  docs/static/api/index.html
  docs/static/schemas/range-config.json
  ludus-client/cmd/ansible.go
  ludus-client/cmd/models.go
  ludus-client/rest/restapi.go
  ludus-server/ansible/range-management/library/.gitignore
  ludus-server/ansible/range-management/library/ludus_role_dependency_resolver.py
  ludus-server/ansible/range-management/templates/user-defined-roles.yml.j2
  ludus-server/ansible/range-management/user-defined-roles.yml
  ludus-server/ansible/user-files/range-config.jsonschema
  ludus-server/ci/configs/depends-on-circular.yml
  ludus-server/ci/configs/depends-on-not-found.yml
  ludus-server/ci/configs/depends-on.yml
  ludus-server/ci/roles/hello_world/meta/main.yml
  ludus-server/ci/roles/hello_world/meta/version.yml
  ludus-server/ci/roles/hello_world/tasks/main.yml
  ludus-server/src/ansible.go
  ludus-server/src/api_ansible.go
  ludus-server/src/file_operations.go
  ludus-server/src/log_operations.go
  ludus-server/src/yaml_validate.go
Due: documentation, build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

docs: 📚 document depends_on for roles
  docs/docs/configuration.mdx
Due: documentation, build all

fix(templates): 🐛 tell the user there will be no logs in parallel mode when building multiple templates
  ludus-server/src/api_template_management.go
Due: build all

fix: 🐛 fix role depends_on validation
  .gitlab-ci.yml
  ludus-server/src/ansible.go
  ludus-server/src/api_range_management.go
  ludus-server/src/yaml_validate.go
Due: build all

fix: 🐛 fix datastore permissions for existing proxmox installs
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/stage-2.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
  ludus-server/ansible/user-management/add-user.yml
Due: build all, install kickoff, install check, install snapshot, client basic-commands, range deploy

fix: 🐛 don't install if the user ctrl+c the installer
  ludus-server/form.go
Due: build all, install kickoff, install check, install snapshot

Path conditions:
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  client basic-commands: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  range deploy: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check: any of: ludus-server/ansible/range-management/**/*
  range snapshot: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*
