Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, build all, install kickoff, install check, install snapshot, client basic-commands, templates build, templates check, templates snapshot, range deploy, range check, range snapshot, post-deploy testing

documentation:
  stage: documentation
  tags:
  - ludus-proxmox-runner
  script:
  - cd docs
  - yarn install
  - yarn build
  - mv ./build ../public
  artifacts:
    paths:
    - public

build all:
  stage: build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - documentation
  artifacts:
    paths:
    - binaries/*
    expire_in: 1 week
  variables:
    LUDUS_BUILD_TYPE: any-built
  timeout: 10m
  script:
  - echo "Compiling the server code..."
  - export GIT_COMMIT_SHORT_HASH=$(git rev-parse --short HEAD)
  ...

install kickoff:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: kickoff
  timeout: 10m
  script:
  - sudo hostname ludus-$CI_PIPELINE_ID
  - sudo hostnamectl set-hostname ludus-$CI_PIPELINE_ID
  - cd binaries
  ...

install check:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install kickoff
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: check
  timeout: 1h
  script:
  - sudo cat /opt/ludus/install/install.log
  - echo "root:$CI_PIPELINE_ID" | sudo chpasswd

install snapshot:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
    artifacts: false
  - job: install check
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - echo "Snapshot complete"

client basic-commands:
  stage: client
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install snapshot
    optional: true
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - cd binaries
    - pgrep -f 'ansible|packer' || sudo ./ludus-server --update
  ...

templates build:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install snapshot
    optional: true
  - job: client basic-commands
    optional: true
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - cd binaries
  ...

templates check:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: templates build
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 2h
  retry:
    max: 2
  script:
  - - cd binaries
    - pgrep -f 'ansible|packer' || sudo ./ludus-server --update
  ...

templates snapshot:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
    artifacts: false
  - job: templates check
  variables:
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: templates_built
  timeout: 5m
  script:
  - echo "Snapshot complete"

fix(install): 🐛 check for ansible path vs english error message to support other languages
  ludus-server/install.go
Due: build all, install kickoff, install check, install snapshot

refactor(server): 🔨 better error handling for failed range creation during user creation
  ludus-server/src/api_user_management.go
Due: build all

perf(testing): ⚡ ignore time setting errors (command vm/flare vm) on windows machines during testing stop
  ludus-server/ansible/range-management/testing.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

refactor: 🔨 change default ludus nat interface to vmbr1000 to allow users to manually select it in the proxmox interface
  docs/docs/networking.md
  ludus-server/config.go
Due: documentation, build all, install kickoff, install check, install snapshot

fix(templates): 🐛 use user defined datastore for EFI disk on Windows 11 template
  ludus-server/packer/win11-22h2-x64-enterprise/win11-22h2-x64-enterprise.pkr.hcl
Due: build all, templates build, templates check, templates snapshot

fix(templates): 🐛 don't set a default iso_storage_pool for Windows 11 template as it is not overwritten by env var
  ludus-server/packer/win11-22h2-x64-enterprise/win11-22h2-x64-enterprise.pkr.hcl
Due: build all, templates build, templates check, templates snapshot

docs: 📚 add step to ensure WireGuard port is open in Azure
  docs/docs/Deployment Options/Azure.md
Due: documentation, build all

fix: 🐛 check that the firewall service is running before adding rules to the firewall on windows
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/range-management/tasks/windows/enable-rdp.yml
  ludus-server/ansible/range-management/tasks/windows/enable-smb.yml
  ludus-server/ansible/range-management/tasks/windows/enable-wmi.yml
  ludus-server/ansible/range-management/tasks/windows/get-firewall-status.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

style: 💄 use FQDNs for ansible tasks
  ludus-server/ansible/range-management/tasks/windows/add-additional-windows-tools.yml
  ludus-server/ansible/range-management/tasks/windows/configure-dc.yml
  ludus-server/ansible/range-management/tasks/windows/configure-windows.yml
  ludus-server/ansible/range-management/tasks/windows/install-extra-choco-packages.yml
  ludus-server/ansible/range-management/tasks/windows/install-office.yml
  ludus-server/ansible/range-management/tasks/windows/install-visual-studio.yml
  ludus-server/ansible/range-management/tasks/windows/sysprep.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

refactor: 🔨 add the RangeAccessObject to initial DB create
  ludus-server/src/database.go
Due: build all

fix: 🐛 firwall => firewall
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix(server): 🐛 allow config set force value to be unset without an error
  ludus-server/src/api_range_management.go
Due: build all

docs: 📚 add update tip for GOAD SCCM env guide
  docs/docs/Environment Guides/goad-sccm.md
Due: documentation, build all

fix: 🐛 better defaults for get-firewall-status for windows VMs
  ludus-server/ansible/range-management/tasks/windows/get-firewall-status.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

docs(templates): 📚 Add readme to template folder
  templates/README.md
Due: build all

ci: 🤖 when a tag is created, always build docs and code, skip everything else
  .gitlab-ci.yml
Due: build all

GOAD-NHA - NINJA HACKER ACADEMY LAB
  docs/docs/Environment Guides/goad-nha.md
Due: documentation, build all

Update file goad-nha.md
  docs/docs/Environment Guides/goad-nha.md
Due: documentation, build all

Update goad-nha.md
  docs/docs/Environment Guides/goad-nha.md
Due: documentation, build all

Update file goad.md
  docs/docs/Environment Guides/goad.md
Due: documentation, build all

Update 2 files
  docs/docs/Environment Guides/goad-sccm.md
  docs/docs/Environment Guides/goad.md
Due: documentation, build all

fix: 🐛 better defaults for get-firewall-status for windows VMs (again)
  ludus-server/ansible/range-management/tasks/windows/get-firewall-status.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

style(client): 💄 fix typo in RDP help message
  ludus-client/cmd/range.go
Due: build all, client basic-commands, range deploy, post-deploy testing

refactor: 🔨 check that firewall_service_running is defined before checking its boolean state
  ludus-server/ansible/range-management/tasks/windows/enable-rdp.yml
  ludus-server/ansible/range-management/tasks/windows/enable-smb.yml
  ludus-server/ansible/range-management/tasks/windows/enable-wmi.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

docs: 📚 make API documentation more clear for /user endpoint and /user/apikey endpoint
  docs/static/api/index.html
Due: documentation, build all

docs: 📚 Edits to GOAD environment guides for clarity
  docs/docs/Environment Guides/goad-nha.md
  docs/docs/Environment Guides/goad-sccm.md
  docs/docs/Environment Guides/goad.md
Due: documentation, build all

docs: 📚 add api-key troubleshooting; add roles docs page; rename quick start and environment guides to remove spaces
  docs/docs/DNS.md
  docs/docs/Developers/ansible-roles.md
  docs/docs/Troubleshooting/api-key-issues.md
  docs/docs/deployment-options/_category_.json
  docs/docs/deployment-options/azure.md
  docs/docs/deployment-options/bare-metal.md
  docs/docs/deployment-options/google-cloud.md
  docs/docs/deployment-options/hyper-v.md
  docs/docs/deployment-options/proxmox.md
  docs/docs/deployment-options/vmware-fusion.md
  docs/docs/environment-guides/_category_.json
  docs/docs/environment-guides/adcs.md
  docs/docs/environment-guides/basic-ad-network.md
  docs/docs/environment-guides/elastic.md
  docs/docs/environment-guides/goad-nha.md
  docs/docs/environment-guides/goad-sccm.md
  docs/docs/environment-guides/goad.md
  docs/docs/environment-guides/malware-lab.md
  docs/docs/environment-guides/vulhub.md
  docs/docs/nexus-cache.md
  docs/docs/quick-start/_category_.json
  docs/docs/quick-start/build-templates.md
  docs/docs/quick-start/congratulations.md
  docs/docs/quick-start/create-a-user.md
  docs/docs/quick-start/deploy-range.mdx
  docs/docs/quick-start/install-ludus.md
  docs/docs/quick-start/testing-mode.md
  docs/docs/roles.md
  docs/docs/security.md
  docs/docs/sharing.md
  docs/docs/templates.md
  docs/docs/updating.md
Due: documentation, build all

refactor: 🔨 move golang dep only used for CI to ci script
  ludus-server/ansible/requirements.yml
  ludus-server/ci/setup.sh
Due: build all

docs: 📚 Update roles pages
  docs/docs/Developers/ansible-roles.md
  docs/docs/roles.md
Due: documentation, build all

docs: 📚 Add recommended hardware to bare metal page and RAID0 video
  docs/docs/deployment-options/bare-metal.md
  docs/docs/deployment-options/bare-metal.mdx
  docs/package.json
  docs/static/img/hardware/k8.jpeg
  docs/static/video/Debian_12_RAID0.mp4
  docs/yarn.lock
Due: documentation, build all

docs: 📚 Fix links on docs pages
  docs/docs/configuration.mdx
  docs/docs/deployment-options/proxmox.md
  docs/docs/quick-start/install-ludus.md
  docs/docs/updating.md
Due: documentation, build all

fix(install): 🐛 don't hang up on restarting getty if it takes longer than 5 seconds
  ludus-server/ansible/proxmox-install/tasks/update-install-progress.yml
Due: build all, install kickoff, install check, install snapshot

fix: 🐛 Add domainadmin user to Enterprise Admins, Schema Admins, and Group Policy Creator Owners groups
  ludus-server/ansible/range-management/tasks/windows/configure-dc.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix: 🐛 fix group name for domainadmin
  ludus-server/ansible/range-management/tasks/windows/configure-dc.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

docs: 📚 Fix case for doc folders
  docs/docs/developers/_category_.json
  docs/docs/developers/ansible-roles.md
  docs/docs/developers/building-from-source.md
  docs/docs/developers/contributing.md
  docs/docs/troubleshooting/_category_.json
  docs/docs/troubleshooting/ansible.md
  docs/docs/troubleshooting/api-key-issues.md
  docs/docs/troubleshooting/client.md
  docs/docs/troubleshooting/kali.md
  docs/docs/troubleshooting/kasmvnc.md
  docs/docs/troubleshooting/network.md
  docs/docs/troubleshooting/wireguard.md
Due: documentation, build all

docs: 📚 move RAID0 video to img since videos are deleted during pages/doc builds
  docs/docs/deployment-options/bare-metal.mdx
  docs/static/img/hardware/Debian_12_RAID0.mp4
Due: documentation, build all

docs: 📚 fix Debian12 RAID0 video URL and remove it from embedded docs to save space
  .gitlab-ci.yml
  docs/docs/deployment-options/bare-metal.mdx
Due: documentation, build all

docs: 📚 add link to developer page on role page
  docs/docs/roles.md
Due: documentation, build all

fix(install): 🐛 put the generated config file in the same directory as the ludus binary, not the pwd
  ludus-server/config.go
Due: build all, install kickoff, install check, install snapshot

Path conditions:
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  client basic-commands: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  range deploy: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check: any of: ludus-server/ansible/range-management/**/*
  range snapshot: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*
