Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, documentation, build all, install kickoff, install check, install snapshot, templates build, templates check, templates snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, post-deploy ansible-as-admin, post-deploy user-cmds-as-admin, post-deploy templates-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user, post-deploy ansible-as-user, post-deploy user-cmds-as-user, post-deploy templates-as-user, post-deploy snapshots-as-user

Path conditions:
  pages: any of: docs/**/*
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  client basic-commands: any of: ludus-client/**/*.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  range deploy-admin: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-admin: any of: ludus-server/ansible/range-management/**/*
  range snapshot-admin: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-admin: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-admin: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-admin: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-admin: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-admin: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  range deploy-user: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-user: any of: ludus-server/ansible/range-management/**/*
  range snapshot-user: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-user: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-user: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-user: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-user: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-user: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  post-deploy snapshots-as-user: any of: ludus-client/cmd/snapshots.go, ludus-server/src/api_snapshot_management.go

refactor(Replace-depreciated-feature): 🔨 The feature ansible.windows.win_domain_membership has been depreciated
  ludus-server/ansible/range-management/tasks/windows/join-domain.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

docs: 📚 document the fix for a blank proxmox web ui
  docs/docs/troubleshooting/proxmox.md
Due: pages, documentation, build all

docs: 📚 add steps for troubleshooting range access grant issues
  docs/docs/troubleshooting/network.md
Due: pages, documentation, build all

docs: 📚 update ansible role developer page
  docs/docs/developers/ansible-roles.md
Due: pages, documentation, build all

fix(server): 🐛 only try to zip RDP files if RDP files exist
  ludus-server/ansible/range-management/tasks/make-rdp-files.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(client): 🐛 only write to a file when success, otherwise print errors
  ludus-client/rest/restapi.go
Due: build all, client basic-commands

feat(install): ✨ use the host's first non-local DNS server as upstream for DNS in vmbr100; default to 1.1.1.1 if no non-local DNS is found
  ludus-server/ansible/proxmox-install/templates/dnsmasq.conf.j2
Due: build all, install kickoff, install check, install snapshot

fix(server): 🐛 default dynamic wallpaper vars to true for older range configs
  ludus-server/ansible/range-management/tasks/windows/configure-windows.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

docs(client): 📚 update help message for --limit to reflect not needing localhost
  ludus-client/cmd/range.go
Due: build all, client basic-commands, range deploy-admin, range deploy-user

refactor(templates): 🔨 update windows templates to modern packer standards
  ludus-server/packer/win11-22h2-x64-enterprise/win11-22h2-x64-enterprise.pkr.hcl
  ludus-server/packer/win2022-server-x64/win2022-server-x64.pkr.hcl
Due: build all, templates build, templates check, templates snapshot

feat(server): ✨ allow users to be added to offline hosts
  ludus-server/ansible/user-management/add-user.yml
Due: build all, client basic-commands, range deploy-admin, post-deploy user-cmds-as-admin, range deploy-user, post-deploy user-cmds-as-user

feat(server): ✨ add iptables_commands to router key to allow users to run arbitrary iptables commands at the end of each firewall deploy
  .gitlab-ci.yml
  docs/docs/configuration.mdx
  docs/static/schemas/range-config.json
  ludus-server/ansible/range-management/tasks/firewall/set-firewall-rules.yml
  ludus-server/ansible/user-files/range-config.jsonschema
  ludus-server/ci/configs/integration-test.yml
Due: pages, documentation, build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(server): 🐛 fix offline user add changes
  ludus-server/ansible/user-management/add-user.yml
Due: build all, client basic-commands, range deploy-admin, post-deploy user-cmds-as-admin, range deploy-user, post-deploy user-cmds-as-user

fix(install): 🐛 install the BSL fork of the proxmox packer plugin during ludus install
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
Due: build all, install kickoff, install check, install snapshot

fix(templates): 🐛 use correct key to keep cdrom device
  ludus-server/packer/win11-22h2-x64-enterprise/win11-22h2-x64-enterprise.pkr.hcl
  ludus-server/packer/win2022-server-x64/win2022-server-x64.pkr.hcl
Due: build all, templates build, templates check, templates snapshot

fix(templates): 🐛 use ide for boot drives on windows
  ludus-server/packer/win11-22h2-x64-enterprise/win11-22h2-x64-enterprise.pkr.hcl
  ludus-server/packer/win2022-server-x64/win2022-server-x64.pkr.hcl
Due: build all, templates build, templates check, templates snapshot

fix(server): 🐛 chown the user dir after .ansible folder copy
  ludus-server/ansible/user-management/add-user.yml
Due: build all, client basic-commands, range deploy-admin, post-deploy user-cmds-as-admin, range deploy-user, post-deploy user-cmds-as-user

fix(install): 🐛 fix blank proxmox web ui after install
  ludus-server/ansible/proxmox-install/stage-3.yml
Due: build all, install kickoff, install check, install snapshot

fix(install): 🐛 fix permissions for network access to allow new windows templates to build
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
Due: build all, install kickoff, install check, install snapshot

fix(install): 🐛 finish permission fix for accessnetwork to allow windows templates to build
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
Due: build all, install kickoff, install check, install snapshot

docs: 📚 fix typo in lehack snapshot command
  docs/docs/environment-guides/netexec-workshop-lehack-2024.md
Due: pages, documentation, build all

add isRouter to VM array in range status output
  docs/static/api/index.html
  ludus-api/migrations/add_is_router_column.sql
  ludus-api/range_config.go
  ludus-client/cmd/models.go
Due: pages, documentation, build all, client basic-commands

fix storage of allowed domains and ips in postgres
  ludus-api/migrations/update_allowed_domains_ips_to_json.sql
  ludus-api/models.go
  ludus-api/utils.go
Due: build all

docs: 📚 add ASR and MDI roles
  docs/docs/roles.md
Due: pages, documentation, build all

docs: 📚 fix link to config from networking page
  docs/docs/networking.md
Due: pages, documentation, build all

feat(install): ✨ add support for proxmox 9
  install.sh
  ludus-server/checks.go
  ludus-server/main.go
Due: build all, install kickoff, install check, install snapshot

fix(install): 🐛 fix bash completion install check as root on a machines without the pkg-config command
  install.sh
Due: build all

feat(installer): ✨ support Debian 13 during install
  ludus-server/checks.go
  ludus-server/main.go
Due: build all, install kickoff, install check, install snapshot

fix(install): 🐛 allow pip installs no matter the python version
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/stage-1.yml
Due: build all, install kickoff, install check, install snapshot

fix(server): 🐛 fix issue with when clause on zip command for RDP files
  ludus-server/ansible/range-management/tasks/make-rdp-files.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix access grant lookup
  ludus-api/ansible.go
Due: build all

sort range list output for consistant results
  ludus-api/api_range_management.go
Due: build all

fix API endpoint paths
  ludus-api/routers.go
  ludus-client/cmd/range.go
Due: build all, client basic-commands, range deploy-admin, range deploy-user

add JWT as auth method; convert user add to supabase; use proxmox tokens for ansible actions
  docs/static/api/index.html
  go.work.sum
  ludus-api/ansible.go
  ludus-api/api_user_management.go
  ludus-api/config.go
  ludus-api/cryptography.go
  ludus-api/database.go
  ludus-api/go.mod
  ludus-api/go.sum
  ludus-api/jwt.go
  ludus-api/models.go
  ludus-api/proxmox.go
  ludus-api/routers.go
  ludus-api/supabase.go
  ludus-api/utils.go
  ludus-client/cmd/user.go
  ludus-server/ansible/range-management/host_vars/localhost.yml
  ludus-server/ansible/range-management/pre-run-checks.yml
  ludus-server/ansible/range-management/proxmox.py
  ludus-server/ansible/range-management/range-access.yml
  ludus-server/ansible/range-management/tasks/firewall/set-firewall-rules.yml
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname-linux.yml
  ludus-server/ansible/range-management/tasks/proxmox/deploy-vm.yml
  ludus-server/ansible/range-management/tasks/proxmox/set-custom-groups.yml
  ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  ludus-server/ansible/range-management/tasks/proxmox/snapshot-management.yml
  ludus-server/ansible/range-management/tasks/router/add-vlan-to-router.yml
  ludus-server/ansible/user-management/add-user.yml
Due: pages, documentation, build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, post-deploy user-cmds-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user, post-deploy user-cmds-as-user

ci: 🤖 allow a retry for template build kickoff
  .gitlab-ci.yml
Due: build all

fix(server): 🐛 fix bug that prevented access grant/revoke from taking effect immediately
  ludus-api/ansible.go
  ludus-server/ansible/range-management/range-access.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

separate API schema for easier editing
  .gitlab-ci.yml
  docs/package-lock.json
  docs/static/api/index.html
  docs/static/api/ludus.openapi.yml
  docs/yarn.lock
Due: pages, documentation, build all

Allow multiple template builds in a single POST to /templates
  ludus-api/api_template_management.go
  ludus-client/cmd/templates.go
Due: build all, client basic-commands, post-deploy templates-as-admin, post-deploy templates-as-user

docs: 📚 add ludus-impersonator.sh link
  docs/docs/sharing.md
Due: pages, documentation, build all

docs(docs): 📚 add ludus_badblood and ludus_adtimeline_syncthing to roles page
  docs/docs/roles.md
Due: pages, documentation, build all
