Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, build all, install kickoff, install check, install snapshot, client basic-commands, templates build, templates check, templates snapshot, range deploy, range check, range snapshot, post-deploy testing

Path conditions:
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  client basic-commands: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  range deploy: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check: any of: ludus-server/ansible/range-management/**/*
  range snapshot: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*

add guide fixing flarevm error when disable defender
  docs/docs/troubleshooting/flarevm.md
Due: documentation, build all

add terminal local style for the command line
  docs/docs/troubleshooting/flarevm.md
Due: documentation, build all

docs: 📚 add kms details to networking docs
  docs/docs/networking.md
Due: documentation, build all

docs: 📚 add link to flare troubleshooting on the malware lab page
  docs/docs/environment-guides/malware-lab.md
  docs/docs/troubleshooting/flarevm.md
Due: documentation, build all

fix(client): 🐛 fix issue with cli uploading the config during edit if the editor forks
  ludus-client/cmd/edit.go
Due: build all, client basic-commands, range deploy, post-deploy testing

fix(server): 🐛 if autologon_user is defined but does not exist in AD, use the default DA account to query the Domain Users SID for multilingual support
  ludus-server/ansible/range-management/tasks/windows/join-domain.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix(server): 🐛 fix domain-join when auto-logon user is defined
  ludus-server/ansible/range-management/tasks/windows/join-domain.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix(server): 🐛 fix permission issue that prevented users from seeing the summary page of the host
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
  ludus-server/permissions.go
Due: build all, install kickoff, install check, install snapshot

fix(server): 🐛 fix issue with CentOS and Ubuntu 20.04 getting a static IP
  ludus-server/ansible/range-management/group_vars/centos.yml
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname-linux.yml
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname-macos.yml
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname-windows.yml
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix(server): 🐛 fix issue with Almalinux getting a static IP
  ludus-server/ansible/range-management/group_vars/almalinux.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix(server): 🐛 update Kali to 2025.1c since they lost their apt signing key
  ludus-server/packer/kali/kali.pkr.hcl
Due: build all, templates build, templates check, templates snapshot

fix(server): 🐛 better failed_when detection for AdGuardHome install
  ludus-server/ansible/range-management/tasks/router/configure-router.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

refactor(server): 🔨 fix formatting for almalinux group_vars file
  ludus-server/ansible/range-management/group_vars/almalinux.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix(server): 🐛 fix issue that caused GPOs specified in the config to not get applied correctly
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

add cleanup packer cache guide
  docs/docs/troubleshooting/packer-cache-cleanup.md
Due: documentation, build all

docs: fix link for cicd
  docs/docs/developers/contributing.md
Due: documentation, build all

fix(server): 🐛 fix Ludus share setup and add anon_share_access GPO
  docs/docs/configuration.mdx
  docs/docs/networking.md
  docs/docs/tags.md
  docs/static/schemas/range-config.json
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/range-management/tasks/windows/gpo/enable_anon_share_access.yml
  ludus-server/ansible/range-management/tasks/windows/gpo/gpo.yml
  ludus-server/ansible/user-files/range-config.jsonschema
Due: documentation, build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

refactor(server): 🔨 remove install_additional_tools from default range and config example as users should specify their own choco packages explicitly
  docs/docs/configuration.mdx
  ludus-server/ansible/user-files/range-config.example.yml
Due: documentation, build all, client basic-commands

docs: 📚 fix typo in anon_share_access gpo
  docs/docs/configuration.mdx
Due: documentation, build all

fix(templates): 🐛 kali 2025.1c doesn't have dhclient because why would it?
  ludus-server/packer/kali/http/kali-preseed.cfg
Due: build all, templates build, templates check, templates snapshot

docs: 📚 update anti-sandbox page with new features and tip for older CPUs to avoid BSOD
  docs/docs/enterprise/anti-sandbox.md
Due: documentation, build all

docs: 📚 add file share page
  docs/docs/file-share.md
  docs/docs/networking.md
Due: documentation, build all

fix(server): 🐛 fix bug when an action is taken as root for a user a file could be owned by root if it did not exist previously
  ludus-api/ansible.go
Due: build all

fix(server): 🐛 fix bug creating RDP files on ranges without domains defined
  ludus-server/ansible/range-management/tasks/make-rdp-files.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

feat(client): ✨ add processor customization settings for anti-sandbox to the client
  ludus-client/cmd/antisandbox.go
Due: build all, client basic-commands, range deploy, post-deploy testing

docs: 📚 update network diagram
  docs/static/img/network/network.drawio
  docs/static/img/network/network.png
Due: documentation, build all

feat(client): ✨ allow users to set SystemBiosVersion and persist custom CPU/SystemBiosVersion changes
  ludus-client/cmd/antisandbox.go
Due: build all, client basic-commands, range deploy, post-deploy testing

fix(server): 🐛 fix error setting Windows IPs
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

ci: 🤖 Make sure IPs are set correctly during CI runs
  .gitlab-ci.yml
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

docs: 📚 update API documentation to reflect all available endpoints (added KMS, added all params to antisandbox/enable, added includeRAM to snapshot/create)
  docs/static/api/index.html
Due: documentation, build all

docs: 📚 add ansible galaxy tip to roles page
  docs/docs/roles.md
Due: documentation, build all

docs: 📚 update deps
  docs/package.json
  docs/yarn.lock
Due: documentation, build all

docs: 📚 add total resources yq command to admin guide
  docs/docs/admin.md
Due: documentation, build all

docs: 📚 add ghosts and opencti roles to roles page
  docs/docs/roles.md
Due: documentation, build all

docs: 📚 correct command to cd into tempaltes directory on templates page
  docs/docs/templates.md
Due: documentation, build all

docs: 📚 set autologon user to domain admin for SCCM site server to make it easier to access SCCM Configuration Manager app
  docs/docs/environment-guides/sccm.md
Due: documentation, build all

perf(server): ⚡ disable systemd-networkd-wait-online service on Ubuntu since we use /etc/network/interfaces. This speeds up ubuntu boots by 90 seconds
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname-linux.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix(server): 🐛 allow hosts with powershell < 5.0 to get domain SID (Windows 2012R2)
  ludus-server/ansible/range-management/tasks/windows/join-domain.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

feat(server): ✨ add yaml-language-server to example/default range config and documentation
  docs/docs/configuration.mdx
  ludus-server/ansible/user-files/range-config.example.yml
  ludus-server/ansible/user-management/templates/range-config.yml.j2
Due: documentation, build all, client basic-commands, range deploy

work in progress on rearm refactor, currently hardcoded to attempt to rearm every time for testing
  ludus-server/ansible/range-management/tasks/windows/rearm.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing
