Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, documentation, build all, install kickoff, install check, install snapshot, templates build, templates check, templates snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, post-deploy ansible-as-admin, post-deploy user-cmds-as-admin, post-deploy templates-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user, post-deploy ansible-as-user, post-deploy user-cmds-as-user, post-deploy templates-as-user, post-deploy snapshots-as-user

pages:
  stage: pages
  variables:
    LUDUS_BUILD_TYPE: any-built
  tags:
  - ludus-proxmox-runner
  retry:
    max: 2
  script:
  - cd docs
  - 'sed -i "s|baseUrl: ''/ludus/''|baseUrl: ''/''|" docusaurus.config.js'
  - yarn install
  - yarn build
  - rm -f ./build/video/*
  - mv ./build ../public
  artifacts:
    paths:
    - public

documentation:
  stage: documentation
  variables:
    LUDUS_BUILD_TYPE: any-built
  tags:
  - ludus-proxmox-runner
  retry:
    max: 2
  script:
  - cd docs
  - yarn install
  - yarn build
  - rm -f ./build/video/*
  - rm -f ./build/img/hardware/Debian_12_RAID0.mp4
  - mv ./build ../built-docs
  artifacts:
    paths:
    - built-docs

build all:
  stage: build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - documentation
  artifacts:
    paths:
    - binaries/*
    expire_in: 1 week
  variables:
    LUDUS_BUILD_TYPE: any-built
  timeout: 10m
  script:
  - echo "Compiling the server code..."
  - export GIT_COMMIT_SHORT_HASH=$(git rev-parse --short HEAD)
  ...

install kickoff:
  stage: install-kickoff
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: kickoff
  timeout: 10m
  script:
  - sudo hostname ludus-$CI_PIPELINE_ID
  - sudo hostnamectl set-hostname ludus-$CI_PIPELINE_ID
  - cd binaries
  ...

install check:
  stage: install-check
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: check
  timeout: 1h
  script:
  - sudo cat /opt/ludus/install/install.log
  - echo "root:$CI_PIPELINE_ID" | sudo chpasswd

install snapshot:
  stage: install-snapshot
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - echo "Snapshot complete"

templates build:
  stage: templates-build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - - sudo /usr/sbin/chronyd -q 'pool pool.ntp.org iburst' || sudo /usr/bin/chronyc -m 'burst 3/3' 'makestep 0.5 -1'
  ...

templates check:
  stage: templates-check
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 2h
  retry:
    max: 2
  script:
  ...

templates snapshot:
  stage: templates-snapshot
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: templates_built
  timeout: 5m
  script:
  - echo "Snapshot complete"

client basic-commands:
  stage: client
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - - sudo /usr/sbin/chronyd -q 'pool pool.ntp.org iburst' || sudo /usr/bin/chronyc -m 'burst 3/3' 'makestep 0.5 -1'
      - date
  ...

docs: add LXC containerization & air-gap design spec
  docs/superpowers/specs/2026-05-30-ludus-lxc-containerization-design.md
Due: pages, documentation, build all

docs: implementation plan for LXC containerization
  docs/superpowers/plans/2026-05-30-ludus-lxc-containerization.md
Due: pages, documentation, build all

ci: add go unit test job
  .gitlab-ci.yml
Due: build all

ci: make coverage regex tolerate integer percentages
  .gitlab-ci.yml
Due: build all

feat(config): add proxmox_endpoints, token, realm, wg_endpoint, tls paths; shim + validate
  ludus-api/config.go
  ludus-api/config_test.go
Due: build all

fix(config): enforce endpoint URL scheme; validate on hot-reload
  ludus-api/config.go
  ludus-api/config_test.go
Due: build all

feat(pveclient): multi-endpoint client with probe + constructor
  ludus-api/pveclient/client.go
  ludus-api/pveclient/client_test.go
  ludus-api/pveclient/types.go
Due: build all

fix(pveclient): include 5xx body in errors; non-blocking healthLoop; idempotent Close
  ludus-api/pveclient/client.go
Due: build all

test(pveclient): failover on 503, no failover on 4xx; guard advance() against concurrent double-mark
  ludus-api/pveclient/client.go
  ludus-api/pveclient/client_test.go
Due: build all

feat(pveclient): Version, StorageStatus, NodeStatus, ClusterNodeCount, CreateUser, tokens
  ludus-api/pveclient/client.go
  ludus-api/pveclient/client_test.go
  ludus-api/pveclient/ops.go
  ludus-api/pveclient/ops_test.go
Due: build all

fix(pveclient): tighten UserExists 500 match; guard CreateUser missing @; bytes.NewReader
  ludus-api/pveclient/client.go
  ludus-api/pveclient/ops.go
Due: build all

feat(pveclient): idempotent Ensure* for pool/group/role/acl/sdn
  ludus-api/pveclient/ensure.go
  ludus-api/pveclient/ensure_test.go
Due: build all

test(pveclient): cover EnsureGroup/Role/VNet/ACL/Subnet/ApplySDN; reach 80%+
  ludus-api/pveclient/ensure_test.go
  ludus-api/pveclient/ops_test.go
Due: build all

fix(pveclient): anchor EnsureSubnet CIDR match; guard empty EnsureACL; atomic read in test
  ludus-api/pveclient/ensure.go
  ludus-api/pveclient/ensure_test.go
Due: build all

feat(pveclient): Builder interface + Configuration.PVEClientConfig
  ludus-api/config.go
  ludus-api/pveclient/client.go
Due: build all

refactor(proxmox): route root client through pveclient failover
  ludus-api/proxmox.go
Due: build all

fix(proxmox): sync.Once for GetRootPVEClient singleton
  ludus-api/proxmox.go
Due: build all

refactor(proxmox): replace pveum shell calls with pveclient; password-reset -> warning
  ludus-api/api_user_management.go
  ludus-api/proxmox.go
Due: build all

feat(users): create Proxmox users in @pve realm via API; surface pam warning
  ludus-api/api_user_management.go
  ludus-api/api_user_management_test.go
  ludus-api/database.go
  ludus-api/dto/responses.go
Due: build all

refactor(diagnostics): replace pvesm/pveperf shell with pveclient API
  ludus-api/api_diagnostics.go
Due: build all

fix(diagnostics): surface pveperf Note in API response DTO
  ludus-api/api_diagnostics.go
  ludus-api/dto/responses.go
Due: build all

fix(diagnostics): remove dead NodeStatus call and stale comment in getPveperf
  ludus-api/api_diagnostics.go
Due: build all

refactor(network): SDN-only; delete /etc/network/interfaces standalone path
  ludus-api/network.go
  ludus-api/routers.go
  ludus-api/sdn.go
Due: build all

refactor(server): remove host probes (pveversion, /etc/pve, virt check)
  ludus-server/checks.go
  ludus-server/config.go
  ludus-server/dependency_updates.go
  ludus-server/main.go
Due: build all, install kickoff, install check, install snapshot

feat(ansible): inject proxmox_url/token/nat extra-vars; secret via temp file
  ludus-api/ansible.go
Due: build all

feat(localgen): self-signed TLS cert generation
  ludus-server/localgen/tls.go
  ludus-server/localgen/tls_test.go
Due: build all

feat(localgen): WireGuard server keypair + wg0.conf generation
  ludus-server/localgen/wireguard.go
  ludus-server/localgen/wireguard_test.go
Due: build all

feat(localgen): dnsmasq + per-range route script generation
  ludus-server/localgen/dnsmasq.go
  ludus-server/localgen/dnsmasq_test.go
  ludus-server/localgen/routes.go
  ludus-server/localgen/routes_test.go
Due: build all

feat(bootstrap): Go first-boot replacing proxmox-install ansible
  ludus-server/bootstrap.go
  ludus-server/bootstrap_test.go
Due: build all, install kickoff, install check, install snapshot

fix(bootstrap): create SDN zone before ACL; surface ClusterNodeIPs err; add Sys.AccessNetwork
  ludus-server/bootstrap.go
  ludus-server/bootstrap_test.go
Due: build all, install kickoff, install check, install snapshot

refactor(server): main() calls bootstrap(); delete install.go/form.go/datastore.go; permissions.go uses pveclient
  go.work.sum
  ludus-server/args.go
  ludus-server/checks.go
  ludus-server/config.go
  ludus-server/datastore.go
  ludus-server/form.go
  ludus-server/go.mod
  ludus-server/go.sum
  ludus-server/install.go
  ludus-server/license-dialog.go
  ludus-server/main.go
  ludus-server/permissions.go
  ludus-server/warning.go
Due: build all, install kickoff, install check, install snapshot

refactor(ansible): parameterize Proxmox URL + token in range tasks
  ludus-server/ansible/range-management/tasks/firewall/set-firewall-rules.yml
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname-linux.yml
  ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  ludus-server/ansible/range-management/tasks/proxmox/snapshot-management.yml
  ludus-server/ansible/range-management/tasks/router/add-vlan-to-router.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user

feat(firewall): deny-list covers all proxmox_endpoints + nat IPs
  ludus-server/ansible/range-management/tasks/firewall/set-firewall-rules.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

refactor(ansible): proxmox module auth from injected extra-vars; fix token_id collision
  ludus-server/ansible/range-management/host_vars/localhost.yml
  ludus-server/ansible/range-management/pre-run-checks.yml
  ludus-server/ansible/range-management/tasks/proxmox/deploy-vm.yml
  ludus-server/ansible/range-management/tasks/proxmox/power-on-vm.yml
  ludus-server/ansible/range-management/tasks/proxmox/set-custom-groups.yml
  ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  ludus-server/ansible/range-management/tasks/proxmox/snapshot-management.yml
  ludus-server/ansible/range-management/tasks/router/add-vlan-to-router.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user

feat(lxc): DAB build scaffold for Debian 13 appliance
  ludus-server/lxc/Makefile
  ludus-server/lxc/build.sh
  ludus-server/lxc/dab.conf
  ludus-server/lxc/files/99-ludus-sysctl.conf
  ludus-server/lxc/files/ludus-admin.service
  ludus-server/lxc/files/ludus.service
Due: build all

fix(lxc): substitute dab.conf version in build.sh before make parses BASEDIR
  ludus-server/lxc/Makefile
  ludus-server/lxc/build.sh
Due: build all

feat(install): LXC-mode server installer (token, SDN, pct create, config push)
  install.sh
Due: build all

Path conditions:
  pages: any of: docs/**/*
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  client basic-commands: any of: ludus-client/**/*.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  range deploy-admin: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-admin: any of: ludus-server/ansible/range-management/**/*
  range snapshot-admin: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-admin: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-admin: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-admin: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-admin: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-admin: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  range deploy-user: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-user: any of: ludus-server/ansible/range-management/**/*
  range snapshot-user: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-user: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-user: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-user: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-user: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-user: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  post-deploy snapshots-as-user: any of: ludus-client/cmd/snapshots.go, ludus-server/src/api_snapshot_management.go
