Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, documentation, build all, install kickoff, install check, install snapshot, templates build, templates check, templates snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, post-deploy ansible-as-admin, post-deploy user-cmds-as-admin, post-deploy templates-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user, post-deploy ansible-as-user, post-deploy user-cmds-as-user, post-deploy templates-as-user, post-deploy snapshots-as-user

Path conditions:
  pages: any of: docs/**/*
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  client basic-commands: any of: ludus-client/**/*.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  range deploy-admin: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-admin: any of: ludus-server/ansible/range-management/**/*
  range snapshot-admin: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-admin: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-admin: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-admin: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-admin: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-admin: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  range deploy-user: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-user: any of: ludus-server/ansible/range-management/**/*
  range snapshot-user: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-user: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-user: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-user: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-user: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-user: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  post-deploy snapshots-as-user: any of: ludus-client/cmd/snapshots.go, ludus-server/src/api_snapshot_management.go

docs: 📚 fix broken link on webui page
  docs/docs/enterprise/webui.md
Due: pages, documentation, build all

Automatic backup from Apidog
  docs/static/api/ludus.openapi.yaml
Due: pages, documentation, build all

fix(install): 🐛 print credentials on successfull install (existing proxmox)
  ludus-api/database.go
Due: build all

initial work on parallel ci
  docs/docs/developers/cicd.md
  ludus-server/ci/base.sh
  ludus-server/ci/ci-setup.yml
  ludus-server/ci/ci-vm-setup.yml
  ludus-server/ci/claim-pool.sh
  ludus-server/ci/cleanup.sh
  ludus-server/ci/get-vm-ip.sh
  ludus-server/ci/prepare-cluster.sh
  ludus-server/ci/prepare.sh
  ludus-server/ci/run.sh
Due: pages, documentation, build all

add .gitlab-ci
  .gitlab-ci.yml
Due: build all

fix: 🐛 enhance ludus-install-status script to wait for root API key and initial admin user creation
  ludus-server/ansible/proxmox-install/templates/ludus-install-status.sh.j2
Due: build all, install kickoff, install check, install snapshot

fix: 🐛 fix variable overlap that caused wrong WireGuard port to be used during install
  .gitlab-ci.yml
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
  ludus-server/ansible/proxmox-install/templates/wg_server.conf.j2
Due: build all, install kickoff, install check, install snapshot

fix: 🐛 start ludus-admin service after install complete to not overwrite initial admin user in Wireguard. Also don't overwrite wg0.conf if it exists
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
  ludus-server/ansible/proxmox-install/tasks/setup-wg.yml
Due: build all, install kickoff, install check, install snapshot

feat: ✨ add ludus sources
  .gitlab-ci.yml
  docs/docs/using-ludus/blueprints.md
  docs/docs/using-ludus/cli.md
  docs/docs/using-ludus/sources.md
  go.work.sum
  ludus-api/api_ansible.go
  ludus-api/api_blueprint_management.go
  ludus-api/api_range_management.go
  ludus-api/api_source_management.go
  ludus-api/blueprint_access.go
  ludus-api/blueprint_bundle.go
  ludus-api/blueprint_resolver.go
  ludus-api/dto/requests.go
  ludus-api/dto/responses.go
  ludus-api/go.mod
  ludus-api/go.sum
  ludus-api/migrations/1761253001_blueprint_sources.go
  ludus-api/routers.go
  ludus-api/source_install.go
  ludus-api/source_roles.go
  ludus-api/source_schema.go
  ludus-api/source_storage.go
  ludus-api/source_sync.go
  ludus-api/source_walker.go
  ludus-client/cmd/blueprint.go
  ludus-client/cmd/range.go
  ludus-client/cmd/source.go
  ludus-client/rest/restapi.go
  ludus-server/ci/fixtures/source-template/blueprints/example/blueprint.yml
  ludus-server/ci/fixtures/source-template/blueprints/example/range-config.yml
  ludus-server/ci/fixtures/source-template/blueprints/example/requirements.yml
  ludus-server/ci/fixtures/source-template/blueprints/example/roles/.gitkeep
  ludus-server/ci/fixtures/source-template/blueprints/example/subscription_refs.yml
  ludus-server/ci/fixtures/source-template/blueprints/example/templates/.gitkeep
  ludus-server/ci/fixtures/source-template/roles/.gitkeep
  ludus-server/ci/fixtures/source-template/source.yml
  ludus-server/ci/fixtures/source-template/templates/.gitkeep
Due: pages, documentation, build all, client basic-commands, range deploy-admin, range deploy-user

feat: ✨ expose source artifact and access listings
  ludus-api/api_source_management.go
  ludus-api/dto/responses.go
  ludus-api/routers.go
Due: build all

fix: 🐛 update access restrictions for PocketBase endpoints to include /admin path
  ludus-api/middleware.go
Due: build all

fix: 🐛 sequence service startup correctly to prevent database locking and overwrites
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
Due: build all, install kickoff, install check, install snapshot

refactor(server): 🔨 Streamline sources after review [full build]
  .gitlab-ci.yml
  docs/docs/using-ludus/cli.md
  docs/docs/using-ludus/sources.md
  ludus-api/api_ansible.go
  ludus-api/api_blueprint_management.go
  ludus-api/api_source_management.go
  ludus-api/archive_extract.go
  ludus-api/blueprint_access.go
  ludus-api/blueprint_bundle.go
  ludus-api/blueprint_resolver.go
  ludus-api/dto/requests.go
  ludus-api/dto/responses.go
  ludus-api/file_operations.go
  ludus-api/license.go
  ludus-api/migrations/1761253001_blueprint_sources.go
  ludus-api/migrations/1761253002_backfill_blueprint_version.go
  ludus-api/routers.go
  ludus-api/source_install.go
  ludus-api/source_schema.go
  ludus-api/source_storage.go
  ludus-api/source_sync.go
  ludus-client/cmd/blueprint.go
  ludus-client/cmd/range.go
  ludus-client/cmd/source.go
  ludus-server/update.go
Due: pages, documentation, build all, install kickoff, install check, install snapshot, client basic-commands, range deploy-admin, range deploy-user

fix(ci): 🐛 parallel ci fixes
  .gitlab-ci.yml
  ludus-server/ansible/range-management/tasks/windows/configure-windows.yml
  ludus-server/ci/ci-vm-setup.yml
  ludus-server/ci/configs/cluster-explicit.yml
  ludus-server/ci/configs/cluster-range-default.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

ci: 🤖 sequence use of the build vm; delete snapshot jobs
  .gitlab-ci.yml
Due: build all

ci: 🤖 full-build does not use single VM
  .gitlab-ci.yml
  ludus-server/ci/base.sh
  ludus-server/ci/claim-pool.sh
  ludus-server/ci/cleanup.sh
  ludus-server/ci/prepare.sh
Due: build all

refactor(server): 🔨 move blueprint/range metadata to PocketBase direct [full build]
  .gitlab-ci.yml
  ludus-api/api_blueprint_management.go
  ludus-api/api_range_management.go
  ludus-api/archive_extract.go
  ludus-api/blueprint_bundle.go
  ludus-api/dto/requests.go
  ludus-api/routers.go
  ludus-api/source_storage.go
  ludus-client/cmd/blueprint.go
  ludus-client/cmd/range.go
  ludus-client/rest/restapi.go
Due: build all, client basic-commands, range deploy-admin, range deploy-user

ci: 🤖 rework parallel CI
  .gitlab-ci.yml
  ludus-server/ci/README.md
  ludus-server/ci/base.sh
  ludus-server/ci/claim-cluster.sh
  ludus-server/ci/claim-pool.sh
  ludus-server/ci/cleanup.sh
  ludus-server/ci/get-vm-ip.sh
  ludus-server/ci/prepare-cluster.sh
  ludus-server/ci/prepare.sh
  ludus-server/ci/release-cluster.sh
  ludus-server/ci/release-pool.sh
  ludus-server/ci/run.sh
Due: build all

ci: 🤖 fix pool claim and don't hard-code cluster IPs
  ludus-server/ci/base.sh
  ludus-server/ci/claim-pool.sh
  ludus-server/ci/prepare-cluster.sh
  ludus-server/ci/prepare.sh
  ludus-server/ci/release-pool.sh
  ludus-server/ci/run.sh
Due: build all

ci: 🤖 reduce build times by preserving caches between builds
  .gitlab-ci.yml
Due: build all

fix: 🐛 drop CLI-flag references from source API error messages
  ludus-api/api_source_management.go
  ludus-api/source_roles.go
Due: build all

ci: 🤖 fix early pool claim release
  .gitlab-ci.yml
  ludus-server/ci/README.md
  ludus-server/ci/base.sh
  ludus-server/ci/claim-cluster.sh
  ludus-server/ci/claim-pool.sh
Due: build all

ci: 🤖 fix user level job VM targets and time setting on base VMs
  .gitlab-ci.yml
Due: build all

fix(server): 🐛 Reconcile orphaned in-flight states on startup
  ludus-api/api_log_history.go
  ludus-api/api_range_management.go
  ludus-api/routers.go
Due: build all

fix(server): 🐛 surface source-bundled local roles in ansible list and execution [full build]
  .gitlab-ci.yml
  ludus-api/api_source_management.go
  ludus-api/blueprint_resolver.go
  ludus-api/source_install.go
  ludus-server/ci/fixtures/source-template/roles/.gitkeep
  ludus-server/ci/fixtures/source-template/roles/say_hello/meta/main.yml
  ludus-server/ci/fixtures/source-template/roles/say_hello/tasks/main.yml
  ludus-server/ci/fixtures/source-template/templates/.gitkeep
  ludus-server/ci/fixtures/source-template/templates/example-debian-12/example-debian-12.pkr.hcl
Due: build all

fix(server): 🐛 idempotent source install with implicit meta-stub synthesis [skip ci]
  ludus-api/blueprint_resolver.go
  ludus-api/source_install.go
Due: build all
