Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, documentation, build all, install kickoff, install check, install snapshot, templates build, templates check, templates snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, post-deploy ansible-as-admin, post-deploy user-cmds-as-admin, post-deploy templates-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user, post-deploy ansible-as-user, post-deploy user-cmds-as-user, post-deploy templates-as-user, post-deploy snapshots-as-user

pages:
  stage: pages
  variables:
    LUDUS_BUILD_TYPE: any-built
  tags:
  - ludus-proxmox-runner
  retry:
    max: 2
  script:
  - cd docs
  - 'sed -i "s|baseUrl: ''/ludus/''|baseUrl: ''/''|" docusaurus.config.js'
  - yarn install
  - yarn build
  - rm -f ./build/video/*
  - mv ./build ../public
  artifacts:
    paths:
    - public

documentation:
  stage: documentation
  variables:
    LUDUS_BUILD_TYPE: any-built
  tags:
  - ludus-proxmox-runner
  retry:
    max: 2
  script:
  - cd docs
  - yarn install
  - yarn build
  - rm -f ./build/video/*
  - rm -f ./build/img/hardware/Debian_12_RAID0.mp4
  - mv ./build ../built-docs
  artifacts:
    paths:
    - built-docs

build all:
  stage: build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - documentation
  artifacts:
    paths:
    - binaries/*
    expire_in: 1 week
  variables:
    LUDUS_BUILD_TYPE: any-built
  timeout: 10m
  script:
  - echo "Compiling the server code..."
  - export GIT_COMMIT_SHORT_HASH=$(git rev-parse --short HEAD)
  ...

install kickoff:
  stage: install-kickoff
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: kickoff
  timeout: 10m
  script:
  - sudo hostname ludus-$CI_PIPELINE_ID
  - sudo hostnamectl set-hostname ludus-$CI_PIPELINE_ID
  - cd binaries
  ...

install check:
  stage: install-check
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: check
  timeout: 1h
  script:
  - sudo cat /opt/ludus/install/install.log
  - echo "root:$CI_PIPELINE_ID" | sudo chpasswd

install snapshot:
  stage: install-snapshot
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - echo "Snapshot complete"

templates build:
  stage: templates-build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - - sudo /usr/sbin/chronyd -q 'pool pool.ntp.org iburst' || sudo /usr/bin/chronyc -m 'burst 3/3' 'makestep 0.5 -1'
  ...

templates check:
  stage: templates-check
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 2h
  retry:
    max: 2
  script:
  ...

templates snapshot:
  stage: templates-snapshot
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: templates_built
  timeout: 5m
  script:
  - echo "Snapshot complete"

client basic-commands:
  stage: client
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - - sudo /usr/sbin/chronyd -q 'pool pool.ntp.org iburst' || sudo /usr/bin/chronyc -m 'burst 3/3' 'makestep 0.5 -1'
      - date
  ...

refactor(server): 🔨 honest purge, upload sync, source handler renames [skip ci]
  ludus-api/api_blueprint_management.go
  ludus-api/api_source_management.go
  ludus-api/dto/responses.go
  ludus-api/migrations/1761253001_blueprint_sources.go
  ludus-api/routers.go
  ludus-api/source_sync.go
  ludus-api/source_walker.go
Due: build all

feat(server): ✨ collections, thumbnails, symmetric apply [start-at post-deploy-admin]
  .gitlab-ci.yml
  docs/docs/using-ludus/blueprints.md
  docs/docs/using-ludus/cli.md
  docs/docs/using-ludus/sources.md
  ludus-api/api_ansible.go
  ludus-api/api_blueprint_management.go
  ludus-api/api_range_management.go
  ludus-api/api_source_management.go
  ludus-api/blueprint_bundle.go
  ludus-api/blueprint_dir.go
  ludus-api/blueprint_resolver.go
  ludus-api/dto/responses.go
  ludus-api/migrations/1761253001_blueprint_sources.go
  ludus-api/migrations/1761253002_backfill_blueprint_version.go
  ludus-api/range_config_write.go
  ludus-api/routers.go
  ludus-api/source_install.go
  ludus-api/source_roles.go
  ludus-api/source_sync.go
  ludus-api/source_walker.go
  ludus-api/yaml_validate.go
  ludus-client/cmd/source.go
  ludus-server/ci/fixtures/source-template/blueprints/example/requirements.yml
  ludus-server/ci/fixtures/source-template/blueprints/example/roles/.gitkeep
  ludus-server/ci/fixtures/source-template/blueprints/example/subscription_refs.yml
  ludus-server/ci/fixtures/source-template/blueprints/example/templates/.gitkeep
Due: pages, documentation, build all, client basic-commands

Automatic backup from Apidog
  docs/static/api/ludus.openapi.yaml
Due: pages, documentation, build all

fix(templates): 🐛 update debian13 url and hash
  templates/debian13/debian13.pkr.hcl
Due: build all

docs: 📚 fix gitbook link in shadow steps
  docs/docs/environment-guides/shadow-steps.md
Due: pages, documentation, build all

fix(server): 🐛 delete user logs, range logs, range vms with cascade relation
  ludus-api/api_range_management.go
  ludus-api/migrations/1761254001_cascade_delete_log_and_vm_relations.go
Due: build all

ci: 🤖 Redo parallel CI to use ZFS and source templates
  .gitlab-ci.yml
  docs/docs/developers/cicd.md
  ludus-server/ci/README.md
  ludus-server/ci/base.sh
  ludus-server/ci/bootstrap-ci-host.sh
  ludus-server/ci/check-install-status.sh
  ludus-server/ci/ci-setup.yml
  ludus-server/ci/ci-vm-setup.yml
  ludus-server/ci/claim-pool.sh
  ludus-server/ci/cleanup.sh
  ludus-server/ci/configure-runner-custom-executor.sh
  ludus-server/ci/prepare-cluster.sh
  ludus-server/ci/prepare.sh
  ludus-server/ci/release-pool.sh
  ludus-server/ci/release-vm.sh
  ludus-server/ci/run.sh
  ludus-server/ci/setup.sh
  ludus-server/packer/win11-22h2-x64-enterprise/win11-22h2-x64-enterprise.pkr.hcl
  templates/debian13/debian13.pkr.hcl
Due: pages, documentation, build all, templates build, templates check, templates snapshot

ci: 🤖use thin clones for CI
  ludus-server/ci/base.sh
Due: build all

ci: 🤖preserve node, docusaurus, gui, and client caches on build server
  .gitlab-ci.yml
Due: build all

fix(server): 🐛 fix race condition in range list that could overwrite range status
  ludus-api/utils.go
Due: build all

fix(server): 🐛 fix SDN handling in cluster setups during install and validation
  ludus-api/sdn.go
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
Due: build all, install kickoff, install check, install snapshot

ci: 🤖fix cluster tests with better prep (time sync, dns setup)
  .gitlab-ci.yml
  ludus-server/ci/base.sh
  ludus-server/ci/ci-vm-setup.yml
  ludus-server/ci/prepare-cluster.sh
  ludus-server/ci/run.sh
Due: build all

fix(server): 🐛 wait for WinRM or SSH to help prevent timeout errors
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

ci: 🤖 better logic when waiting for range deploys to handle non-success states
  .gitlab-ci.yml
Due: build all

ci: 🤖 restart ceph services on cluster rollback to get ceph healthy before testing
  ludus-server/ci/prepare-cluster.sh
Due: build all

fix(server): 🐛 replace bug'd go-proxmox function with direct API call (upstream fix merge request submitted)
  ludus-api/sdn.go
Due: build all

ci: 🤖 harden CI user creation for better retry handling
  .gitlab-ci.yml
Due: build all

ci: 🤖 retry template builds 3 times before failing
  .gitlab-ci.yml
  ludus-server/packer/win11-22h2-x64-enterprise/win11-22h2-x64-enterprise.pkr.hcl
Due: build all, templates build, templates check, templates snapshot

fix(install): 🐛 make VNet creation idempotent
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
Due: build all, install kickoff, install check, install snapshot

fix(sysprep): 🐛 better checking of functionality after sysprep instead of hardcoded sleep times
  ludus-server/ansible/range-management/tasks/windows/sysprep.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

feat(server): ✨offline license support
  ludus-api/license.go
Due: build all

fix(server): 🐛 allow for router only deploys
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

feat(server): ✨offline license support
  ludus-api/license.go
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

refactor(license): 🔨 always show license metadata
  ludus-api/license.go
Due: build all

fix(server): 🐛 fix missing linux-packages tag
  ludus-api/api_range_management.go
Due: build all

ci: 🤖revert cluster snapshots powered off to prevent a potential sync of dirty state to freshly rolled back VM
  ludus-server/ci/prepare-cluster.sh
Due: build all

Path conditions:
  pages: any of: docs/**/*
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  client basic-commands: any of: ludus-client/**/*.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  range deploy-admin: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-admin: any of: ludus-server/ansible/range-management/**/*
  range snapshot-admin: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-admin: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-admin: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-admin: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-admin: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-admin: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  range deploy-user: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-user: any of: ludus-server/ansible/range-management/**/*
  range snapshot-user: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-user: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-user: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-user: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-user: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-user: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  post-deploy snapshots-as-user: any of: ludus-client/cmd/snapshots.go, ludus-server/src/api_snapshot_management.go
