Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, documentation, build all, install kickoff, install check, install snapshot, templates build, templates check, templates snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, post-deploy ansible-as-admin, post-deploy user-cmds-as-admin, post-deploy templates-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user, post-deploy ansible-as-user, post-deploy user-cmds-as-user, post-deploy templates-as-user, post-deploy snapshots-as-user

Path conditions:
  pages: any of: docs/**/*
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  client basic-commands: any of: ludus-client/**/*.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  range deploy-admin: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-admin: any of: ludus-server/ansible/range-management/**/*
  range snapshot-admin: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-admin: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-admin: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-admin: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-admin: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-admin: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  range deploy-user: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-user: any of: ludus-server/ansible/range-management/**/*
  range snapshot-user: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-user: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-user: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-user: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-user: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-user: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  post-deploy snapshots-as-user: any of: ludus-client/cmd/snapshots.go, ludus-server/src/api_snapshot_management.go

feat(install): ✨ support Debian 13/Proxmox 9 during install
  ludus-server/ansible/requirements.yml
Due: build all

fix(install): 🐛 fix issue with source for proxmox role
  ludus-server/ansible/requirements.yml
Due: build all

allow non-admins to create ranges
  docs/static/api/ludus.openapi.yml
  ludus-api/api_range_management.go
Due: pages, documentation, build all

feat(api): ✨ add rangeID param to range actions
  docs/static/api/ludus.openapi.yml
  ludus-api/api_range_management.go
  ludus-api/utils.go
  ludus-client/cmd/range.go
  ludus-client/cmd/root.go
Due: pages, documentation, build all, client basic-commands, range deploy-admin, range deploy-user

Added ludus_k3s to the roles doc page
  docs/docs/roles.md
Due: pages, documentation, build all

feat(api): ✨ range list all command now returns all ranges a user has access to
  docs/static/api/ludus.openapi.yml
  ludus-api/api_range_management.go
Due: pages, documentation, build all

Edit roles.md with litterbox role update
  docs/docs/roles.md
Due: pages, documentation, build all

fix(install): 🐛 on existing proxmox, always try to enable the NAT interface in the event the installer is run more than once
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
Due: build all, install kickoff, install check, install snapshot

fix: 🐛 fix bugs with range operations; move range config files to /opt/ludus/ranges/{rangeID}/range-config.yml; use rangeID instead of range nubmer for range actions
  docs/static/api/ludus.openapi.yml
  go.work.sum
  ludus-api/ansible.go
  ludus-api/api_range_management.go
  ludus-api/api_testing_state_management.go
  ludus-api/api_user_management.go
  ludus-api/database.go
  ludus-api/go.mod
  ludus-api/go.sum
  ludus-api/migration.go
  ludus-api/migrations/add_is_router_column.sql
  ludus-api/migrations/update_allowed_domains_ips_to_json.sql
  ludus-api/models.go
  ludus-api/process.go
  ludus-api/proxmox.go
  ludus-api/range_config.go
  ludus-api/routers.go
  ludus-api/utils.go
  ludus-api/yaml_validate.go
  ludus-client/cmd/models.go
  ludus-client/cmd/range.go
  ludus-client/cmd/snapshots.go
  ludus-server/permissions.go
  ludus-server/update.go
Due: pages, documentation, build all, install kickoff, install check, install snapshot, client basic-commands, range deploy-admin, range deploy-user, post-deploy snapshots-as-user

feat(api): ✨ add new fields (name, description, purpose) to range component in OpenAPI specification
  docs/static/api/ludus.openapi.yml
Due: pages, documentation, build all

docs: 📚 fix ranges/create endpoint request content fields
  docs/static/api/ludus.openapi.yml
Due: pages, documentation, build all

fix(migration): 🐛 during migration if an API key already exists (failed migration) remove it and recreate it
  ludus-api/migration.go
  ludus-api/proxmox.go
Due: build all

fix(templates): 🐛 fix issue where a template filename would cause the untar process to fail; add saftey measures to the untar process to prevent path traversal
  docs/static/api/ludus.openapi.yml
  ludus-api/api_template_management.go
  ludus-api/file_operations.go
Due: pages, documentation, build all

feat(server): ✨ allow rangeID to be sent to testing endpoints
  docs/static/api/ludus.openapi.yml
  ludus-api/api_testing_state_management.go
  ludus-client/cmd/range.go
  ludus-client/cmd/testing.go
  ludus-client/cmd/utils.go
Due: pages, documentation, build all, client basic-commands, range deploy-admin, post-deploy testing-as-admin, range deploy-user, post-deploy testing-as-user

feat(server): ✨ allow rangeID to be used for range/power* endpoints
  docs/static/api/ludus.openapi.yml
  ludus-api/ansible.go
  ludus-api/api_power_state_management.go
  ludus-api/proxmox.go
  ludus-api/utils.go
Due: pages, documentation, build all

docs: 📚 update install docs to include git
  docs/docs/quick-start/install-ludus.md
Due: pages, documentation, build all

fix(install): 🐛 fix bash completion during install or upgrade
  install.sh
Due: build all

fix(install): 🐛 add passlib python package to enable user creation for flare vm template
  ludus-server/ansible/proxmox-install/stage-1.yml
Due: build all, install kickoff, install check, install snapshot

feat(templates): ✨ add Debian 13 template
  templates/debian13/ansible/reset-ssh-host-keys.yml
  templates/debian13/debian13.pkr.hcl
  templates/debian13/http/debian-13-preseed.cfg
Due: build all

docs: 📚 add python3-debian to requirements before install
  docs/docs/quick-start/install-ludus.md
Due: pages, documentation, build all

ci: 🤖 update CI for Debian 13
  ludus-server/ci/ci-setup.yml
  ludus-server/ci/cleanup.yml
  ludus-server/ci/prepare.yml
Due: build all

docs: 📚 update CI docs with manual VM setup commands
  docs/docs/developers/cicd.md
Due: pages, documentation, build all

perf(server): ⚡ decrease dnsmasq lease time to 5m and set timeout to 30s for proxmox API calls
  ludus-server/ansible/proxmox-install/templates/dnsmasq-interface.conf.j2
  ludus-server/ansible/range-management/proxmox.py
Due: build all, install kickoff, install check, install snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

perf(server): ⚡ update dynamic inventory for slow API responses
  ludus-server/ansible/range-management/proxmox.py
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

docs: 📚 document changes to pveproxy to overcome API timeouts
  docs/docs/troubleshooting/proxmox.md
Due: pages, documentation, build all

fix(server): 🐛 make additional DC deployments more resilient
  ludus-server/ansible/range-management/tasks/windows/configure-additional-dc.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

refactor: 🔨 Handling older OSes such as W7
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname-windows.yml
  ludus-server/ansible/range-management/tasks/windows/enable-rdp.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(server): 🐛 allow admins to get any range
  ludus-api/utils.go
Due: build all

feat(server): ✨ better logging with a new debug mode for ludus server
  dev.sh
  ludus-api/ansible.go
  ludus-api/api_ansible.go
  ludus-api/api_range_management.go
  ludus-api/api_template_management.go
  ludus-api/certificates.go
  ludus-api/config.go
  ludus-api/database.go
  ludus-api/plugins.go
  ludus-api/process.go
  ludus-api/routers.go
  ludus-api/supabase.go
  ludus-api/utils.go
  ludus-server/args.go
  ludus-server/dev.sh
  ludus-server/logging.go
  ludus-server/main.go
Due: build all, install kickoff, install check, install snapshot

fix(server): 🐛 when getting VMs for a range, match on the rangeID instead of the userID for the pool to select the right VMs
  ludus-api/utils.go
Due: build all

refactor(server): 🔨 add RunWithOutput function required by plugins
  ludus-api/process.go
Due: build all

perf(server): ⚡ add leaky bucket algo to license checks
  ludus-api/leaky_bucket.go
  ludus-api/license.go
Due: build all

style(server): 💄 clean up extra spaces
  ludus-server/ansible/proxmox-install/stage-2.yml
Due: build all, install kickoff, install check, install snapshot

perf(server): ⚡ use exponential backoff for service restarts
  ludus-server/ansible/proxmox-install/templates/ludus-admin.service.j2
  ludus-server/ansible/proxmox-install/templates/ludus-install.service.j2
  ludus-server/ansible/proxmox-install/templates/ludus.service.j2
Due: build all, install kickoff, install check, install snapshot

feat(client): ✨ allow setting the Product string for anti-sandbox
  ludus-client/cmd/antisandbox.go
Due: build all, client basic-commands

feat(server): ✨ add license endpoint
  docs/static/api/ludus.openapi.yml
  ludus-api/api_license.go
  ludus-api/license.go
  ludus-api/plugins.go
  ludus-api/routers.go
  ludus-server/go.mod
Due: pages, documentation, build all

docs: 📚 document license endpoint
  docs/static/api/ludus.openapi.yml
Due: pages, documentation, build all

fix(server): 🐛 fix range and group access; change the API for groups and range access - sorry
  docs/static/api/ludus.openapi.yml
  ludus-api/ansible.go
  ludus-api/api_group_management.go
  ludus-api/api_range_management.go
  ludus-api/api_user_management.go
  ludus-api/database.go
  ludus-api/migration.go
  ludus-api/models.go
  ludus-api/proxmox.go
  ludus-api/routers.go
  ludus-api/utils.go
  ludus-client/cmd/group.go
  ludus-client/cmd/range.go
  ludus-server/ansible/range-management/range-access.yml
  ludus-server/ansible/server-config.yml
  ludus-server/ansible/user-management/add-user.yml
Due: pages, documentation, build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy user-cmds-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy user-cmds-as-user

style: 💄 logging updates to comply with slog
  ludus-api/ansible.go
  ludus-api/api_ansible.go
  ludus-api/api_template_management.go
  ludus-api/certificates.go
  ludus-api/process.go
Due: build all

style(client): 💄 change order of items in range accessible output
  ludus-client/cmd/range.go
Due: build all, client basic-commands, range deploy-admin, range deploy-user
