Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, build all, install kickoff, install check, install snapshot, client basic-commands, templates build, templates check, templates snapshot, range deploy, range check, range snapshot, post-deploy testing

Path conditions:
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  client basic-commands: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  range deploy: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check: any of: ludus-server/ansible/range-management/**/*
  range snapshot: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*

fix: 🐛 fix race condition when removing a range that would cause incomplete removal
  ludus-server/src/utils.go
Due: build all

perf: ⚡ change the router to be 2 core and .5/2GB RAM (balloon)
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix: 🐛 fix race condition when removing a range that would cause incomplete removal
  ludus-server/ansible/range-management/power.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

feat: ✨ allow admins to share ranges between users via the cli/API
  ludus-client/cmd/models.go
  ludus-client/cmd/range.go
  ludus-server/ansible/range-management/range-access.yml
  ludus-server/ansible/range-management/tasks/firewall/set-firewall-rules.yml
  ludus-server/ansible/server-config.yml
  ludus-server/src/ansible.go
  ludus-server/src/api_range_management.go
  ludus-server/src/database.go
  ludus-server/src/models.go
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

test: 🚨 add stress testing script and config
  scripts/stress-test-config.yml
  scripts/stress-test.sh
Due: build all

docs: 📚 add missing backtick to variable to fix doc compile
  docs/docs/Deployment Options/google-cloud.md
Due: documentation, build all

docs: 📚 add info about SSH access to security documentation
  docs/docs/security.md
  docs/docs/updating.md
  docs/package.json
  docs/yarn.lock
Due: documentation, build all

docs: 📚 add wifi warning to install step
  docs/docs/Quick Start/install-ludus.md
Due: documentation, build all

docs: 📚 make sure all roles are owned by ludus before updating them
  UPDATING.md
Due: build all

docs: 📚 add network troubleshooting docs page
  docs/docs/Troubleshooting/network.md
Due: documentation, build all

docs(api): 📚 add /range/access endpoint to api documentation
  docs/static/api/index.html
Due: documentation, build all

docs: 📚 add sharing doc page; add ansible testing to ansible page; style prompts
  docs/docs/Deployment Options/proxmox.md
  docs/docs/Developers/ansible-roles.md
  docs/docs/Developers/building-from-source.md
  docs/docs/Quick Start/build-templates.md
  docs/docs/Quick Start/create-a-user.md
  docs/docs/Quick Start/deploy-range.mdx
  docs/docs/Quick Start/install-ludus.md
  docs/docs/Quick Start/testing-mode.md
  docs/docs/admin.md
  docs/docs/cicd.md
  docs/docs/sharing.md
  docs/docs/updating.md
  docs/docusaurus.config.js
  docs/src/css/custom.css
Due: documentation, build all

docs: 📚 update SSH access firewall rule to un-hardcode range second octet
  docs/docs/security.md
Due: documentation, build all

fix(access): 🐛 persist iptables rules after access action
  ludus-server/ansible/range-management/range-access.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix: 🐛 prevent the ludus-admin server from any actions besides user actions
  ludus-server/src/routers.go
Due: build all

docs: 📚 fix styling in code samples
  docs/docs/Environment Guides/adcs.md
  docs/docs/Environment Guides/elastic.md
  docs/docs/Environment Guides/goad-sccm.md
  docs/docs/Environment Guides/goad.md
  docs/docs/Environment Guides/vulhub.md
  docs/docusaurus.config.js
  docs/src/css/custom.css
Due: documentation, build all

fix(client): 🐛 allow roles to be installed for other users from local dirs
  ludus-client/cmd/ansible.go
Due: build all, client basic-commands, range deploy, post-deploy testing

feat(server): ✨ check and fix the ownership of the ludus.db on server start
  ludus-server/src/database.go
  ludus-server/src/file_operations.go
Due: build all

style(server): 💄 better error messages for DB permissions failures
  ludus-server/src/database.go
Due: build all

feat(client): ✨ add prompt to `user apikey` command to prevent accidental apikey resets
  .gitlab-ci.yml
  ludus-client/cmd/user.go
Due: build all, client basic-commands, range deploy, post-deploy testing

docs: 📚 update goad docs to put kali in the same subnet as windows for LLMNR attacks; remove manual goad sccm step now that pull is merged
  docs/docs/Environment Guides/goad-sccm.md
  docs/docs/Environment Guides/goad.md
Due: documentation, build all

docs: 📚 add share to range cli docs
  docs/docs/cli.md
Due: documentation, build all

docs: 📚 add note about instance size to Azure docs
  docs/docs/Deployment Options/Azure.md
Due: documentation, build all

docs: 📚 remind users they need to actually remember creds when installing operating systems
  docs/docs/Deployment Options/bare-metal.md
Due: documentation, build all

docs: 📚 link to bare metal guide in proxmox page
  docs/docs/Deployment Options/proxmox.md
Due: documentation, build all

docs: 📚 link to security page at the end of quickstart
  docs/docs/Quick Start/congratulations.md
Due: documentation, build all

docs: 📚 add prevent_user_ansible_add to install docs
  docs/docs/Quick Start/install-ludus.md
Due: documentation, build all

feat(templates): ✨ add Ubuntu 20.04 template
  templates/ubuntu-20.04-x64-server/ansible/post-boot-config.yml
  templates/ubuntu-20.04-x64-server/http/ubuntu-2004-preseed.cfg
  templates/ubuntu-20.04-x64-server/ubuntu-20.04-x64-server.pkr.hcl
Due: build all

fix(server): 🐛 fix bug that would prevent older ubuntu VMs from deploying due to not having /etc/cloud
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

perf(server): ⚡ force VMs to be removed during range rm
  ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

feat: ✨ allow `--force` to set config while in testing mode
  docs/static/api/index.html
  ludus-client/cmd/range.go
  ludus-server/src/api_range_management.go
Due: documentation, build all, client basic-commands, range deploy, post-deploy testing

docs: 📚 state CPU requirements
  docs/docs/Deployment Options/proxmox.md
  docs/docs/Quick Start/install-ludus.md
  docs/docs/intro.md
Due: documentation, build all

test: 🚨 add dev script for local client testing
  ludus-client/.gitignore
  ludus-client/dev.sh
Due: build all, client basic-commands, range deploy, post-deploy testing

refactor(install): 🔨 remove fix for prox 8 support now that it has merged in the library used
  ludus-server/install.go
Due: build all, install kickoff, install check, install snapshot

docs: 📚 add malware lab env guide
  docs/docs/Environment Guides/malware-lab.md
Due: documentation, build all

docs: 📚 minor doc fixups
  docs/docs/Quick Start/install-ludus.md
  docs/docs/intro.md
Due: documentation, build all

feat(templates): ✨ add commando-vm template
  templates/commando-vm/Autounattend.xml
  templates/commando-vm/README.md
  templates/commando-vm/ansible/install-commando.yml
  templates/commando-vm/commando-vm.pkr.hcl
  templates/commando-vm/iso/setup-for-ansible.ps1
  templates/commando-vm/iso/win-updates.ps1
  templates/commando-vm/iso/windows-common-setup.ps1
  templates/commando-vm/scripts/disable-hibernate.ps1
  templates/commando-vm/scripts/disablewinupdate.bat
  templates/commando-vm/scripts/install-virtio-drivers.ps1
Due: build all

feat(templates): ✨ add flare-vm template
  templates/flare-vm/Autounattend.xml
  templates/flare-vm/README.md
  templates/flare-vm/ansible/install-flare.yml
  templates/flare-vm/flare-vm.pkr.hcl
  templates/flare-vm/iso/setup-for-ansible.ps1
  templates/flare-vm/iso/win-updates.ps1
  templates/flare-vm/iso/windows-common-setup.ps1
  templates/flare-vm/scripts/disable-hibernate.ps1
  templates/flare-vm/scripts/disablewinupdate.bat
  templates/flare-vm/scripts/install-virtio-drivers.ps1
Due: build all

feat(templates): ✨ add remnux template
  templates/remnux/README.md
  templates/remnux/ansible/install-remnux.yml
  templates/remnux/ansible/post-boot-config.yml
  templates/remnux/http/remnux.cfg
  templates/remnux/remnux.pkr.hcl
Due: build all
