Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, build all, install kickoff, install check, install snapshot, client basic-commands, templates build, templates check, templates snapshot, range deploy, range check, range snapshot, post-deploy testing

Path conditions:
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  client basic-commands: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  range deploy: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check: any of: ludus-server/ansible/range-management/**/*
  range snapshot: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*

feat: ✨ fail if --only-roles is used and the roles don't exist on the server for the user
  ludus-server/src/ansible.go
  ludus-server/src/api_range_management.go
Due: build all

docs: 📚 update roles page with new exhange role link
  docs/docs/roles.md
Due: documentation, build all

fix(server): 🐛 ignore empty strings when checking for roles when the user supplies --only-roles
  ludus-server/src/api_range_management.go
Due: build all

feat: ✨ allow force during range access revoke; store range access grant in DB even if router is not accessible
  docs/static/api/index.html
  ludus-client/cmd/range.go
  ludus-server/src/api_range_management.go
Due: documentation, build all, client basic-commands, range deploy, post-deploy testing

style(server): 💄 better error message when a deploy is run with an active deployment in progress
  ludus-server/src/api_range_management.go
Due: build all

fix(server): 🐛 fix checks for if the response had been set already (default status code is 200, not 0)
  ludus-server/src/api_range_management.go
  ludus-server/src/utils.go
Due: build all

docs: 📚 add ludus_emux role to roles page
  docs/docs/roles.md
Due: documentation, build all

docs: 📚 fix bloodhound spelling on roles page
  docs/docs/roles.md
Due: documentation, build all

docs: 📚 More specific requirements (passmark score); link to proxmox page from install; include dnsmasq in network troubleshooting
  docs/docs/deployment-options/proxmox.md
  docs/docs/intro.md
  docs/docs/quick-start/build-templates.md
  docs/docs/quick-start/install-ludus.md
  docs/docs/troubleshooting/network.md
  docs/package-lock.json
  docs/package.json
  docs/yarn.lock
Due: documentation, build all

refactor(windows): 🔨 refactor bginfo task to use ansible vs powershell
  ludus-server/ansible/range-management/tasks/windows/configure-windows.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix(server): 🐛 corretly clean up range access grants when deleting a user
  ludus-server/src/api_user_management.go
Due: build all

fix(config): 🐛 allow 'all' as a vlan_dst in the range config network rules
  docs/static/schemas/range-config.json
  ludus-server/ansible/user-files/range-config.jsonschema
Due: documentation, build all, client basic-commands

fix(server): 🐛 remove existing access grants for a deleted user to prevent unintended access when the range number is re-assigned
  ludus-server/src/api_user_management.go
Due: build all

style(client): 💄 change RANGE NUMBER to RANGE NETWORK in `range list` output which is more useful for users
  docs/docs/quick-start/deploy-range.mdx
  ludus-client/cmd/range.go
Due: documentation, build all, client basic-commands, range deploy, post-deploy testing

docs: 📚 less agressive passmark requirements and a disclaimer about specs
  docs/docs/intro.md
  docs/docs/quick-start/install-ludus.md
Due: documentation, build all

fix(client): 🐛 fix bug that prevented the ability to impersonate other users when running testing allow/deny commands
  ludus-client/cmd/testing.go
Due: build all, client basic-commands, range deploy, post-deploy testing

fix(server): 🐛 fix issue where range list all would return a stale, incorrect number of VMs for users
  ludus-server/src/api_range_management.go
Due: build all

fix(client): 🐛 fix bug that prevented the ability to impersonate other user when running testing status
  ludus-client/cmd/testing.go
Due: build all, client basic-commands, range deploy, post-deploy testing

docs: 📚 increase width of docs content, for the configuration page make the width of content 100%
  docs/src/css/custom.css
Due: documentation, build all

refactor(server): 🔨 change router firewall to default drop traffic; total refactor of how testing mode works
  docs/docs/networking.md
  docs/static/img/network/iptables-screenshot-not-testing.png
  docs/static/img/network/iptables-screenshot-testing.png
  docs/static/img/network/iptables.drawio
  docs/static/img/network/iptables.png
  docs/static/img/network/network.drawio
  docs/static/img/network/network.png
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/range-management/tasks/firewall/compatibility.yml
  ludus-server/ansible/range-management/tasks/firewall/dns-management.yml
  ludus-server/ansible/range-management/tasks/firewall/firewall-management.yml
  ludus-server/ansible/range-management/tasks/firewall/firewall-rules.yml
  ludus-server/ansible/range-management/tasks/firewall/set-firewall-rules.yml
  ludus-server/ansible/range-management/tasks/proxmox/snapshot-management.yml
  ludus-server/ansible/range-management/testing.yml
  ludus-server/src/ansible.go
Due: documentation, build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

feat(server): ✨ allow users to define `always_blocked_networks` in their config to protect LAN or other networks
  docs/docs/configuration.mdx
  docs/static/schemas/range-config.json
  ludus-server/ansible/user-files/range-config.jsonschema
Due: documentation, build all, client basic-commands

feat(server): ✨ allow users to define the timezone for all VMs in their range
  docs/docs/configuration.mdx
  docs/static/schemas/range-config.json
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname.yml
  ludus-server/ansible/range-management/tasks/proxmox/tz_mappings.csv
  ludus-server/ansible/user-files/range-config.jsonschema
Due: documentation, build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

docs: 📚 update security docs
  docs/docs/security.md
Due: documentation, build all

fix(server): 🐛 fix issue with access_grants_array being NoneType and causing a template error with ansible
  ludus-server/ansible/range-management/tasks/firewall/set-firewall-rules.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

style(client): 💄 filter debug errors during template builds and replace them with a nice `waiting for the VM to boot` message
  docs/docs/quick-start/build-templates.md
  ludus-client/cmd/range.go
  ludus-client/cmd/templates.go
  ludus-client/cmd/user.go
  ludus-client/cmd/utils.go
Due: documentation, build all, client basic-commands, range deploy, post-deploy testing

Update Rock 9 template to latest release and clean up/enhance kickstart config
  templates/rocky-9-x64-server/http/rocky-9-preseed.cfg
  templates/rocky-9-x64-server/rocky-9-x64-server.pkr.hcl
Due: build all

Add Rocky 8 Template
  templates/rocky-8-x64-server/http/rocky-8-preseed.cfg
  templates/rocky-8-x64-server/rocky-8-x64-server.pkr.hcl
Due: build all

fix(templates): 🐛 remove ssh host keys from debian templates so they are generated and unique for each VM deployment
  ludus-server/packer/ansible/reset-ssh-host-keys.yml
  ludus-server/packer/debian11/debian11.pkr.hcl
  ludus-server/packer/debian12/debian12.pkr.hcl
Due: build all, templates build, templates check, templates snapshot

fix(server): 🐛 fix edge case where firewall service detection could throw an ansible error
  ludus-server/ansible/range-management/tasks/windows/get-firewall-status.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix(templates): 🐛 fix SSH Host key reset ansible - must be a play
  ludus-server/packer/ansible/reset-ssh-host-keys.yml
Due: build all, templates build, templates check, templates snapshot

fix(templates): 🐛 fix SSH Host key reset ansible - loop var must be a list
  ludus-server/packer/ansible/reset-ssh-host-keys.yml
Due: build all, templates build, templates check, templates snapshot

fix(docs): typo in example prevents it from working
  docs/docs/roles.md
Due: documentation, build all

fix(templates): 🐛 fix commando and flare templates to allow for user defined datastores
  templates/commando-vm/commando-vm.pkr.hcl
  templates/flare-vm/flare-vm.pkr.hcl
Due: build all

fix(client): 🐛 allow client to specify users when running power commands
  ludus-client/cmd/power.go
Due: build all, client basic-commands, range deploy, post-deploy testing

feat(templates): ✨ regenerate host keys for all Linux templates
  templates/debian10/ansible/reset-ssh-host-keys.yml
  templates/debian10/debian10.pkr.hcl
  templates/rocky-8-x64-server/ansible/reset-ssh-host-keys.yml
  templates/rocky-8-x64-server/rocky-8-x64-server.pkr.hcl
  templates/rocky-9-x64-server/ansible/reset-ssh-host-keys.yml
  templates/rocky-9-x64-server/rocky-9-x64-server.pkr.hcl
  templates/ubuntu-20.04-x64-server/ansible/reset-ssh-host-keys.yml
  templates/ubuntu-20.04-x64-server/ubuntu-20.04-x64-server.pkr.hcl
  templates/ubuntu-22.04-x64-server/ansible/reset-ssh-host-keys.yml
  templates/ubuntu-22.04-x64-server/ubuntu-22.04-x64-server.pkr.hcl
Due: build all

fix(templates): 🐛 add missing playbook for host key reset
  ludus-server/packer/ansible/reset-ssh-host-keys.yml
Due: build all, templates build, templates check, templates snapshot

fix(templates): 🐛 fix win11-23h2 template to use the user specified proxmox_storage_pool vs hardcoded local
  templates/win11-23h2-x64-enterprise/win11-23h2-x64-enterprise.pkr.hcl
Due: build all

fix(templates): 🐛 add 4 hour timeouts to flare, commando, and remnux templates for slower machines
  templates/commando-vm/commando-vm.pkr.hcl
  templates/flare-vm/flare-vm.pkr.hcl
  templates/remnux/remnux.pkr.hcl
Due: build all

docs: 📚 add SCCM env guide
  docs/docs/environment-guides/sccm.md
  docs/static/img/envs/sccm-cfgmgr.png
  docs/static/img/envs/sccm-deployed.png
Due: documentation, build all

docs(docs): 📚 Add PXE and SCCMHunter to SCCM env guide
  docs/docs/environment-guides/sccm.md
Due: documentation, build all
