Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, documentation, build all, install kickoff, install check, install snapshot, templates build, templates check, templates snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, post-deploy ansible-as-admin, post-deploy user-cmds-as-admin, post-deploy templates-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user, post-deploy ansible-as-user, post-deploy user-cmds-as-user, post-deploy templates-as-user, post-deploy snapshots-as-user

pages:
  stage: pages
  variables:
    LUDUS_BUILD_TYPE: any-built
  tags:
  - ludus-proxmox-runner
  retry:
    max: 2
  script:
  - cd docs
  - 'sed -i "s|baseUrl: ''/ludus/''|baseUrl: ''/''|" docusaurus.config.js'
  - yarn install
  - yarn build
  - rm -f ./build/video/*
  - mv ./build ../public
  artifacts:
    paths:
    - public

documentation:
  stage: documentation
  variables:
    LUDUS_BUILD_TYPE: any-built
  tags:
  - ludus-proxmox-runner
  retry:
    max: 2
  script:
  - cd docs
  - yarn install
  - yarn build
  - rm -f ./build/video/*
  - rm -f ./build/img/hardware/Debian_12_RAID0.mp4
  - mv ./build ../built-docs
  artifacts:
    paths:
    - built-docs

build all:
  stage: build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - documentation
  artifacts:
    paths:
    - binaries/*
    expire_in: 1 week
  variables:
    LUDUS_BUILD_TYPE: any-built
  timeout: 10m
  script:
  - echo "Compiling the server code..."
  - export GIT_COMMIT_SHORT_HASH=$(git rev-parse --short HEAD)
  ...

install kickoff:
  stage: install-kickoff
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: kickoff
  timeout: 10m
  script:
  - sudo hostname ludus-$CI_PIPELINE_ID
  - sudo hostnamectl set-hostname ludus-$CI_PIPELINE_ID
  - cd binaries
  ...

install check:
  stage: install-check
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: check
  timeout: 1h
  script:
  - sudo cat /opt/ludus/install/install.log
  - echo "root:$CI_PIPELINE_ID" | sudo chpasswd

install snapshot:
  stage: install-snapshot
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - echo "Snapshot complete"

templates build:
  stage: templates-build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - - sudo /usr/sbin/chronyd -q 'pool pool.ntp.org iburst' || sudo /usr/bin/chronyc -m 'burst 3/3' 'makestep 0.5 -1'
  ...

templates check:
  stage: templates-check
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 2h
  retry:
    max: 2
  script:
  ...

templates snapshot:
  stage: templates-snapshot
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: templates_built
  timeout: 5m
  script:
  - echo "Snapshot complete"

client basic-commands:
  stage: client
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - - sudo /usr/sbin/chronyd -q 'pool pool.ntp.org iburst' || sudo /usr/bin/chronyc -m 'burst 3/3' 'makestep 0.5 -1'
      - date
  ...

feat(server): ✨ add landlock sandbox to ansible api commands
  ludus-api/api_ansible.go
Due: build all

feat(server): ✨ add landlock sandbox to ansible commands (deploy, add/rm user, etc)
  ludus-api/ansible.go
  ludus-api/api_ansible.go
Due: build all

Automatic backup from Apidog
  docs/static/api/ludus.openapi.yaml
Due: pages, documentation, build all

refactor(server): 🔨 use logger for sources logging
  ludus-api/source_sync.go
Due: build all

fix(install): 🐛 refresh the PATH in the current Powershell session when installing ludus client on windows
  install-client.ps1
Due: build all

fix(server): 🐛 don't default router min ram if ram is defined but min ram isn't
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

feat(server): ✨ allow role dependancies to be roles on the router
  ludus-server/ansible/range-management/library/ludus_role_dependency_resolver.py
  ludus-server/ansible/range-management/user-defined-roles.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(install): 🐛 default to installing and syncing the bsl source
  ludus-server/config.go
Due: build all, install kickoff, install check, install snapshot

fix(server): 🐛 correct error messages when range configs use roles the user does not have access to
  ludus-api/yaml_validate.go
Due: build all

fix(server): 🐛 better handling for user defined role resolution when router object is not defined
  ludus-server/ansible/range-management/library/ludus_role_dependency_resolver.py
  ludus-server/ansible/range-management/user-defined-roles.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

docs(docs): 📚 add minimum package age in light of javascript supply chain attacks
  docs/.yarnrc.yml
Due: pages, documentation, build all

docs: 📚 update GOAD env guide to use the BSL source method
  docs/docs/environment-guides/goad.md
Due: pages, documentation, build all

fix(server): 🐛 switch from shell to command tasks when adding users to the system to prevent character issues with single quotes
  ludus-server/ansible/user-management/add-user.yml
Due: build all, client basic-commands, range deploy-admin, post-deploy user-cmds-as-admin, range deploy-user, post-deploy user-cmds-as-user

fix(server): 🐛 wait for nss-lookup.target when starting services to try to prevent DNS errors during service start
  ludus-server/ansible/proxmox-install/templates/ludus-admin.service.j2
  ludus-server/ansible/proxmox-install/templates/ludus.service.j2
Due: build all, install kickoff, install check, install snapshot

fix: Reset WinRM connection after post-sysprep hostname change
  ludus-server/ansible/range-management/tasks/windows/sysprep.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

docs: 📚 update guacamole private role documentation
  docs/docs/enterprise/subscription-roles/guacamole-client.md
  docs/docs/enterprise/subscription-roles/guacamole-server.md
Due: pages, documentation, build all

feat(server): ✨ rewrite the dynamic inventory script from python to Go; improve dynamic invetory logic for faster inventory return
  .gitlab-ci.yml
  dynamic-inventory/README.md
  dynamic-inventory/go.mod
  dynamic-inventory/go.sum
  dynamic-inventory/helpers_test.go
  dynamic-inventory/inventory_test.go
  dynamic-inventory/main.go
  go.work
  go.work.sum
  ludus-api/ansible.go
  ludus-api/api_range_management.go
  ludus-server/.gitignore
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/range-management/proxmox.py
  ludus-server/ansible/range-management/tasks/proxmox/deploy-vm.yml
  ludus-server/ci/bootstrap-ci-host.sh
  ludus-server/ci/prepare.yml
  ludus-server/dev.sh
  ludus-server/main.go
  ludus-server/update.go
Due: build all, install kickoff, install check, install snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

chore(ci): 🧹 remove unused CI scripts
  ludus-server/ci/claim-pool.sh
  ludus-server/ci/release-pool.sh
Due: build all

feat(server): ✨ rewrite the dynamic inventory module for efficiency
  .gitlab-ci.yml
  dynamic-inventory/README.md
  dynamic-inventory/go.mod
  dynamic-inventory/go.sum
  dynamic-inventory/helpers_test.go
  dynamic-inventory/inventory_test.go
  dynamic-inventory/main.go
  go.work
  go.work.sum
  ludus-api/ansible.go
  ludus-api/api_range_management.go
  ludus-server/.gitignore
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/range-management/proxmox.py
  ludus-server/ansible/range-management/tasks/proxmox/deploy-vm.yml
  ludus-server/ci/bootstrap-ci-host.sh
  ludus-server/ci/prepare.yml
  ludus-server/dev.sh
  ludus-server/main.go
  ludus-server/update.go
Due: build all, install kickoff, install check, install snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(server): 🐛 set global_role_vars before running roles on router
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(server): 🐛 allow duplicate VM names on a host/cluster (not in a range)
  .gitignore
  ludus-api/yaml_validate.go
  ludus-server/ansible/range-management/tasks/proxmox/deploy-vm.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(server): 🐛 apply global_role_vars to the router if the router has roles
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(server): 🐛 correct dynamic inventory behavior to respect force_ip values
  dynamic-inventory/README.md
  dynamic-inventory/helpers_test.go
  dynamic-inventory/inventory_test.go
  dynamic-inventory/main.go
Due: build all

fix: 🐛 update ludus source commands to use --all flag for consistency and add tests for terminal behavior
  .gitlab-ci.yml
  ludus-client/cmd/source.go
  ludus-client/cmd/source_terminal_test.go
Due: build all, client basic-commands

fix(server): 🐛 enhance sysprep process to handle Edge AppX package issues
  ludus-server/ansible/range-management/tasks/windows/sysprep.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(server): 🐛 Updated the range creation logic in the API to ensure proper file ownership after blueprint application.
  .gitlab-ci.yml
  ludus-api/api_range_management.go
Due: build all

fix(server): 🐛 Include global collections in range validation
  ludus-api/ansible.go
Due: build all

docs: 📚 update guac client docs
  docs/docs/enterprise/subscription-roles/guacamole-client.md
Due: pages, documentation, build all

fix(server): 🐛 automatically prefix source adds with userID to improve UX
  .gitlab-ci.yml
  docs/docs/using-ludus/sources.md
  ludus-api/api_source_management.go
Due: pages, documentation, build all

fix(server): 🐛 automatically prefix source adds with userID to improve UX
  .gitlab-ci.yml
Due: build all

Path conditions:
  pages: any of: docs/**/*
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  client basic-commands: any of: ludus-client/**/*.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  range deploy-admin: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-admin: any of: ludus-server/ansible/range-management/**/*
  range snapshot-admin: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-admin: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-admin: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-admin: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-admin: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-admin: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  range deploy-user: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-user: any of: ludus-server/ansible/range-management/**/*
  range snapshot-user: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-user: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-user: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-user: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-user: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-user: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  post-deploy snapshots-as-user: any of: ludus-client/cmd/snapshots.go, ludus-server/src/api_snapshot_management.go
