Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, build all, install kickoff, install check, install snapshot, client basic-commands, templates build, templates check, templates snapshot, range deploy, range check, range snapshot, post-deploy testing

documentation:
  stage: documentation
  tags:
  - ludus-proxmox-runner
  script:
  - cd docs
  - yarn install
  - yarn build
  - mv ./build ../public
  artifacts:
    paths:
    - public

build all:
  stage: build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - documentation
  artifacts:
    paths:
    - binaries/*
    expire_in: 1 week
  variables:
    LUDUS_BUILD_TYPE: any-built
  timeout: 10m
  script:
  - echo "Compiling the server code..."
  - export GIT_COMMIT_SHORT_HASH=$(git rev-parse --short HEAD)
  ...

install kickoff:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: kickoff
  timeout: 10m
  script:
  - sudo hostname ludus-$CI_PIPELINE_ID
  - sudo hostnamectl set-hostname ludus-$CI_PIPELINE_ID
  - cd binaries
  ...

install check:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install kickoff
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: check
  timeout: 1h
  script:
  - sudo cat /opt/ludus/install/install.log
  - echo "root:$CI_PIPELINE_ID" | sudo chpasswd

install snapshot:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
    artifacts: false
  - job: install check
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - echo "Snapshot complete"

client basic-commands:
  stage: client
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install snapshot
    optional: true
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - cd binaries
    - pgrep -f 'ansible|packer' || sudo ./ludus-server --update
  ...

templates build:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install snapshot
    optional: true
  - job: client basic-commands
    optional: true
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - cd binaries
  ...

templates check:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: templates build
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 2h
  retry:
    max: 2
  script:
  - - cd binaries
    - pgrep -f 'ansible|packer' || sudo ./ludus-server --update
  ...

templates snapshot:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
    artifacts: false
  - job: templates check
  variables:
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: templates_built
  timeout: 5m
  script:
  - echo "Snapshot complete"

fix(install): 🐛 wait up to 10 seconds for the root api key to be generated before trying to print it while tailing the final logs (avoid race condition)
  ludus-server/ansible/proxmox-install/templates/ludus-install-status.sh.j2
Due: build all, install kickoff, install check, install snapshot

chore(templates): 🧹 bump kali to 2024.4
  ludus-server/packer/kali/kali.pkr.hcl
Due: build all, templates build, templates check, templates snapshot

fix(installer): 🐛 fix version identification crash in windows powershell client installer
  install-client.ps1
Due: build all

fix(range-management): 🐛 make domain joining user add to RDU group multilingual
  ludus-server/ansible/range-management/tasks/windows/join-domain.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

docs: 📚 add bagelByt3s.ludus_adfs to roles page
  docs/docs/roles.md
Due: documentation, build all

fix(templates): 🐛 update Rocky templates to use "latest" URLs and checksums
  templates/rocky-8-x64-server/rocky-8-x64-server.pkr.hcl
  templates/rocky-9-x64-server/rocky-9-x64-server.pkr.hcl
Due: build all

fix(templates): 🐛 fix kali 2024.4 python3-apt issue during template build
  ludus-server/packer/kali/kali.yml
Due: build all, templates build, templates check, templates snapshot

Modify SQLite connection string for shared / WAL mode
  ludus-api/database.go
Due: build all

perf(server): ⚡ make the API 100x faster by lowering the bcrypt hash cost without sacrificing security
  ludus-api/utils.go
Due: build all

refactor(server): 🔨 expose GetProxmoxClientForUser for plugins
  ludus-api/api_power_state_management.go
  ludus-api/api_range_management.go
  ludus-api/api_template_management.go
  ludus-api/proxmox.go
Due: build all

fix(server): 🐛 fix plugin paths
  ludus-api/license.go
Due: build all

chore: 🧹 update deps
  go.work.sum
  ludus-api/go.mod
  ludus-api/go.sum
Due: build all

docs: 📚 simplify wireguard command
  docs/docs/quick-start/deploy-range.mdx
Due: documentation, build all

docs: 📚 add detail around manually created templates
  docs/docs/templates.md
  docs/static/img/templates/convert-to-template.png
Due: documentation, build all

fix(templates): 🐛 fix links for Windows 2016 and 2019 templates
  templates/win2016-server-x64/win2016-server-x64.pkr.hcl
  templates/win2019-server-x64-no-security-updates/win2019-server-x64-no-security-updates.pkr.hcl
  templates/win2019-server-x64/win2019-server-x64.pkr.hcl
Due: build all

fix(client): 🐛 fix client update on Windows
  ludus-client/cmd/update.go
Due: build all, client basic-commands, range deploy, post-deploy testing

fix(templates): 🐛 update win10 enterprise template to 22h2 as 21h1 is no longer avilable from official sources
  templates/win10-22h2-x64-enterprise/Autounattend.xml
  templates/win10-22h2-x64-enterprise/iso/setup-for-ansible.ps1
  templates/win10-22h2-x64-enterprise/iso/win-updates.ps1
  templates/win10-22h2-x64-enterprise/iso/windows-common-setup.ps1
  templates/win10-22h2-x64-enterprise/scripts/disable-hibernate.ps1
  templates/win10-22h2-x64-enterprise/scripts/disablewinupdate.bat
  templates/win10-22h2-x64-enterprise/scripts/install-virtio-drivers.ps1
  templates/win10-22h2-x64-enterprise/win10-22h2-x64-enterprise.pkr.hcl
Due: build all

fix(server): 🐛 refuse to do power operations if the ROOT API key is being used
  ludus-api/api_power_state_management.go
Due: build all

docs: 📚 fix configuration link
  docs/docs/quick-start/deploy-range.mdx
Due: documentation, build all

fix(server): 🐛 fix access actions if defaults are defined
  ludus-server/ansible/range-management/range-access.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

refactor(server): 🔨 change enterprise license server to external service
  .gitlab-ci.yml
  ludus-api/license.go
Due: build all

fix(install): 🐛 restart dnsmasq on proxmox install to resolve issues with DHCP
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
Due: build all, install kickoff, install check, install snapshot

feat(server): ✨ add force_ip boolean config option for VMs without qemu-guest-agent
  docs/docs/configuration.mdx
  docs/static/schemas/range-config.json
  ludus-server/ansible/range-management/proxmox.py
  ludus-server/ansible/user-files/range-config.jsonschema
Due: documentation, build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix(server): 🐛 don't require outbound_wireguard_vlans for outbound wireguard actions
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

docs: 📚 update doc links for building from source
  docs/docs/quick-start/install-ludus.md
  docs/docs/updating.md
Due: documentation, build all

style: 💄 Fix typo in "Configure" multiple times
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

refactor(server): 🔨 expose GetUserObject for plugins
  ludus-api/api_ansible.go
  ludus-api/api_range_management.go
  ludus-api/api_template_management.go
  ludus-api/api_user_management.go
  ludus-api/utils.go
Due: build all

fix(server): 🐛 clear out user-defined-roles if a config is set that doesn't have roles
  ludus-api/yaml_validate.go
Due: build all

feat(server): ✨ update license handling to work with multiple plugins
  ludus-api/license.go
Due: build all

feat(server): ✨ allow plugins to have multiple embedded filesystems
  ludus-api/plugins.go
Due: build all

feat(server): ✨ expose GetErrorsFromAnsiblePlaybook for plugins
  ludus-api/ansible.go
Due: build all

fix(server): 🐛 allow antisandbox api endpoint to work with root server
  ludus-api/routers.go
Due: build all

fix(installer): 🐛 show the expose admin port and license key on the right side of the interactive installer
  ludus-server/form.go
Due: build all, install kickoff, install check, install snapshot

feat(server): ✨ root server watches for plugin changes
  ludus-server/main.go
  ludus-server/plugins.go
Due: build all, install kickoff, install check, install snapshot

feat(server): ✨ respect the e1000 adaptor type for antisandbox templates
  ludus-server/ansible/range-management/tasks/proxmox/deploy-vm.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

feat(server): ✨ add support for autologon_user and autologon_password in the windows key of the range config
  docs/docs/configuration.mdx
  docs/static/schemas/range-config.json
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/user-files/range-config.jsonschema
Due: documentation, build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

perf(templates): ⚡ add ngen tasks to improve windows template first boot performance
  ludus-server/packer/ansible/ngen.yml
  ludus-server/packer/common/optimize-assemblies.ps1
  ludus-server/packer/win11-22h2-x64-enterprise/win11-22h2-x64-enterprise.pkr.hcl
  ludus-server/packer/win2022-server-x64/win2022-server-x64.pkr.hcl
Due: build all, templates build, templates check, templates snapshot

feat(client): ✨ add antisandbox command
  ludus-client/cmd/testing.go
Due: build all, client basic-commands, range deploy, post-deploy testing

feat(client): ✨ add 'range config edit' command
  ludus-client/cmd/edit.go
Due: build all, client basic-commands, range deploy, post-deploy testing

build: 📦 update dependencies
  go.work.sum
  ludus-api/go.mod
  ludus-api/go.sum
  ludus-client/go.mod
  ludus-client/go.sum
  ludus-server/go.mod
  ludus-server/go.sum
Due: build all, client basic-commands, range deploy, post-deploy testing

Path conditions:
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  client basic-commands: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  range deploy: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check: any of: ludus-server/ansible/range-management/**/*
  range snapshot: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*
