Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, documentation, build all, install kickoff, install check, install snapshot, templates build, templates check, templates snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, post-deploy ansible-as-admin, post-deploy user-cmds-as-admin, post-deploy templates-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user, post-deploy ansible-as-user, post-deploy user-cmds-as-user, post-deploy templates-as-user, post-deploy snapshots-as-user

Path conditions:
  pages: any of: docs/**/*
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  client basic-commands: any of: ludus-client/**/*.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  range deploy-admin: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-admin: any of: ludus-server/ansible/range-management/**/*
  range snapshot-admin: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-admin: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-admin: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-admin: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-admin: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-admin: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  range deploy-user: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-user: any of: ludus-server/ansible/range-management/**/*
  range snapshot-user: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-user: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-user: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-user: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-user: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-user: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  post-deploy snapshots-as-user: any of: ludus-client/cmd/snapshots.go, ludus-server/src/api_snapshot_management.go

refactor(install): 🔨 change install to better display errors and use API to get creds vs file read
  ludus-api/database.go
  ludus-server/ansible/proxmox-install/templates/ludus-install-status.sh.j2
  ludus-server/form.go
  ludus-server/install.go
  ludus-server/main.go
Due: build all, install kickoff, install check, install snapshot

docs!: 📚 add docs for creating an admin user with root api key
  docs/docs/troubleshooting/create-admin.md
  docs/src/css/custom.css
  ludus-server/ansible/proxmox-install/templates/ludus-install-status.sh.j2
Due: pages, documentation, build all, install kickoff, install check, install snapshot

docs: 📚 fix link to sso page
  docs/docs/upgrading-from-v1.md
Due: pages, documentation, build all

docs: 📚 update cluster migration docs
  docs/docs/infrastructure-operations/cluster.md
Due: pages, documentation, build all

fix: 🐛 cluster
  ludus-api/sdn.go
Due: build all

docs: 📚 fix link to templates page
  docs/docs/quick-start/build-templates.md
Due: pages, documentation, build all

feat(server): ✨ don't require all `defaults` to be defined in a range config
  docs/docs/configuration.mdx
  ludus-api/ansible.go
  ludus-server/ansible/user-files/range-config.jsonschema
Due: pages, documentation, build all, client basic-commands

fix(server): 🐛 handle deleted default ranges with grace and verbose helpful errors
  .gitlab-ci.yml
  ludus-api/middleware.go
  ludus-api/utils.go
Due: build all

fix(server): 🐛 fix plugin download path format error
  ludus-api/license.go
Due: build all

docs: 📚 update cli docs
  docs/docs/using-ludus/cli.md
Due: pages, documentation, build all

docs: 📚 add pocketbase logs section
  docs/docs/administration/pocketbase.md
  docs/static/img/pocketbase/logs.png
Due: pages, documentation, build all

fix(cluster): 🐛 fix early return that prevented ACLs from being applied correctly to new range resource pools only in cluster mode
  .gitlab-ci.yml
  ludus-api/proxmox.go
Due: build all

ci(cluster): 🤖 fix cluster ACL check
  .gitlab-ci.yml
Due: build all

fix(server): 🐛 do not require the acting user to have a default range for user rm action
  ludus-api/ansible.go
  ludus-api/api_user_management.go
Due: build all

fix(server): 🐛 default office_arch value to '64bit' to allow office_version to be specified without an office_arch
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

feat(server): ✨ allow comma separated ports in network rules
  .gitlab-ci.yml
  docs/docs/configuration.mdx
  docs/static/schemas/range-config.json
  ludus-server/ansible/range-management/tasks/firewall/firewall-rules.yml
  ludus-server/ansible/user-files/range-config.jsonschema
  ludus-server/ci/configs/integration-test.yml
Due: pages, documentation, build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

feat(server): ✨ TPM enabled templates now default to the disk format of the first disk of the VM which allows snapshots for qcow2 on dir setups (default for ludus)
  ludus-server/dependency_updates.go
Due: build all, install kickoff, install check, install snapshot

ci: 🤖 fix escaping on iptables checks for integration test
  .gitlab-ci.yml
Due: build all

docs: 📚 update security docs
  docs/docs/administration/security.md
Due: pages, documentation, build all

fix(server): 🐛 handle powered off routers during range sharing with better error message; add tests to CI
  .gitlab-ci.yml
  ludus-api/ansible.go
  ludus-api/api_group_management.go
  ludus-api/api_range_management.go
  ludus-api/proxmox.go
  ludus-api/range_access.go
  ludus-api/yaml_validate.go
Due: build all

fix(server): 🐛 only update packer plugin if proxmox version > 9.1
  ludus-server/dependency_updates.go
Due: build all, install kickoff, install check, install snapshot

fix(install): 🐛 show admin API key in ludus-install-status
  ludus-server/ansible/proxmox-install/templates/ludus-install-status.sh.j2
Due: build all, install kickoff, install check, install snapshot

fix(server): 🐛 do not error when sharing a range that has never been deployed (access will be granted upon deploy correctly)
  ludus-api/range_access.go
Due: build all

fix(server): 🐛 better error when using ROOT for template actions
  ludus-api/api_template_management.go
Due: build all

fix(upgrade): 🐛 fix version check for packer plugin
  ludus-server/dependency_updates.go
Due: build all, install kickoff, install check, install snapshot

feat(api): ✨ add GET /api/v2/openapi endpoint for MCP spec discovery
  ludus-api/routers.go
  ludus-api/utils.go
Due: build all

docs: 📚 add MCP server documentation
  docs/docs/using-ludus/mcp.md
Due: pages, documentation, build all

fix(api): 🐛 re-buffer request body before admin proxy to prevent body doubling
  ludus-api/middleware.go
Due: build all

test(api): 🚨 POC unit tests for ludus-api
  ludus-api/access_control_test.go
  ludus-api/go.mod
  ludus-api/go.sum
  ludus-api/proxmox_test.go
  ludus-api/pure_functions_test.go
  ludus-api/testmain_test.go
Due: build all

chore(templates): 🧹 update debian 13 iso url and checksum
  templates/debian13/debian13.pkr.hcl
Due: build all

fix(install): 🐛 don't quit on 'q' keypress
  ludus-server/form.go
Due: build all, install kickoff, install check, install snapshot

docs: 📚 add ludus_kubernetes_goat role to roles page
  docs/docs/using-ludus/roles.md
Due: pages, documentation, build all

style(install): 💄 more explicit creds output from ludus-install-status
  ludus-server/ansible/proxmox-install/templates/ludus-install-status.sh.j2
Due: build all, install kickoff, install check, install snapshot

ci: 🤖 properly release each plugin package
  .gitlab-ci.yml
Due: build all

fix(server): 🐛 only strip known extensions from uploaded ansible role files, to perserve namespace.rolename structure
  ludus-api/api_ansible.go
Due: build all

style(server): 💄 print actual error on failed user delete
  ludus-api/api_user_management.go
Due: build all

fix(server): 🐛 don't allow users to config VMs with the same IP as the subnet router
  docs/static/schemas/range-config.json
  ludus-server/ansible/user-files/range-config.jsonschema
Due: pages, documentation, build all, client basic-commands

fix(server): 🐛 use user uploaded or ACME certs before self signed proxmox certs for Ludus API/web UI
  ludus-server/main.go
Due: build all, install kickoff, install check, install snapshot

docs: 📚 fast track agent PRs 😉
  CONTRIBUTING.md
Due: build all

docs: 📚 add usage section to MCP server docs
  docs/docs/using-ludus/mcp.md
Due: pages, documentation, build all
