Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, build all, install kickoff, install check, install snapshot, client basic-commands, templates build, templates check, templates snapshot, range deploy, range check, range snapshot, post-deploy testing

Path conditions:
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  client basic-commands: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  range deploy: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check: any of: ludus-server/ansible/range-management/**/*
  range snapshot: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*

docs: 📚 add ADCS documentation
  docs/docs/Environment Guides/adcs.md
  docs/docs/Environment Guides/basic-ad-network.md
  docs/static/img/envs/adcs-templates.png
Due: documentation, build all

feat: ✨ add ludus variables for custom ansible roles
  docs/docs/Developers/ansible-roles.md
  ludus-server/ansible/range-management/ludus.yml
Due: documentation, build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix: 🐛 allow users to force deploy a range in a deploying state
  ludus-server/src/api_range_management.go
Due: build all

fix(install): 🐛 fix issue with /32 netmasks during install (GCP)
  ludus-server/ansible/proxmox-install/stage-1.yml
Due: build all, install kickoff, install check, install snapshot

fix(install): 🐛 add rescue handler for apt issues (GCP and Azure)
  ludus-server/ansible/proxmox-install/stage-1.yml
  ludus-server/ansible/proxmox-install/stage-2.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
Due: build all, install kickoff, install check, install snapshot

docs: 📚 update docs for 1.1.3
  docs/docs/Deployment Options/Azure.md
  docs/docs/Developers/ansible-roles.md
Due: documentation, build all

docs: 📚 add GCP docs
  docs/docs/Deployment Options/google-cloud.md
Due: documentation, build all

fix(templates): 🐛 update Ubuntu 22.04 ISO link and checksum
  templates/ubuntu-22.04-x64-server/ubuntu-22.04-x64-server.pkr.hcl
Due: build all

feat(server): ✨ add 'unmanaged' config key
  docs/docs/configuration.mdx
  docs/static/schemas/range-config.json
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/range-management/tasks/proxmox/deploy-vm.yml
  ludus-server/ansible/range-management/testing.yml
  ludus-server/ansible/user-files/range-config.jsonschema
Due: documentation, build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix(server): 🐛 add unmanaged value to all vm deployments
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

docs: 📚 document possible configuration edit for proxmox installs
  docs/docs/Deployment Options/proxmox.md
Due: documentation, build all

chore(templates): 🧹 update kali template to 2024.1
  ludus-server/packer/kali/kali.pkr.hcl
  ludus-server/packer/kali/kali.yml
Due: build all, templates build, templates check, templates snapshot

docs: 📚 add warning about existing PAM usernames; update template docs
  docs/docs/Quick Start/create-a-user.md
  docs/docs/templates.md
  docs/static/img/templates/iso-upload.png
Due: documentation, build all

fix(nexus): 🐛 use packages.adoptium.net instead of deprecated adoptopenjdk during nexus install
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix(client): 🐛 check for dot in API key before splitting string to get user ID
  ludus-client/rest/restapi.go
Due: build all, client basic-commands, range deploy, post-deploy testing

fix(client): 🐛 fix issue with following logs while impersonating users
  ludus-client/cmd/range.go
Due: build all, client basic-commands, range deploy, post-deploy testing

fix(client): 🐛 fix issue getting all logs when impersonating another user
  ludus-client/cmd/range.go
Due: build all, client basic-commands, range deploy, post-deploy testing

refactor: 🔨 use FQDN for set_fact
  ludus-server/ansible/range-management/testing.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

style: 💄 fix comment to reflect reality
  ludus-server/src/api_range_management.go
Due: build all

docs: 📚 fix typo in schema documentation
  docs/static/schemas/range-config.json
  ludus-server/ansible/user-files/range-config.jsonschema
Due: documentation, build all, client basic-commands

docs: 📚 add GOAD and vulhub environment guides
  docs/docs/Environment Guides/adcs.md
  docs/docs/Environment Guides/basic-ad-network.md
  docs/docs/Environment Guides/goad.md
  docs/docs/Environment Guides/vulhub.md
Due: documentation, build all

fix(server): 🐛 fix error setting static IP on redhat based Linux versions > 8
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

docs: 📚 update GOAD guide and user creation warning
  docs/docs/Environment Guides/goad.md
  docs/docs/Quick Start/create-a-user.md
Due: documentation, build all

chore: 🧹 fix typo
  ludus-server/ansible/range-management/testing.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

docs: 📚 update ADCS guide with ansible-galaxy instructions
  docs/docs/Environment Guides/adcs.md
Due: documentation, build all

docs: 📚 add discord link
  docs/docusaurus.config.js
Due: documentation, build all

docs: 📚 add DNS tip for GOAD setup
  docs/docs/Environment Guides/goad.md
  docs/docusaurus.config.js
Due: documentation, build all

docs: 📚 fix issue with ADCS role install
  docs/docs/Environment Guides/adcs.md
Due: documentation, build all

fix(client): 🐛 use OS agnostic path separator to support template uploads on windows
  ludus-client/cmd/utils.go
Due: build all, client basic-commands, range deploy, post-deploy testing

fix(templates): 🐛 fix win11-23h2 template from hardcoding local as iso storage
  templates/win11-23h2-x64-enterprise/win11-23h2-x64-enterprise.pkr.hcl
Due: build all

docs(Documentation): 📚 Updating documentation on the quick start, networking, and ansible roles
  docs/docs/Developers/ansible-roles.md
  docs/docs/Quick Start/congratulations.md
  docs/docs/Quick Start/create-a-user.md
  docs/docs/networking.md
Due: documentation, build all

docs: 📚 Fixed syntax error in networking
  docs/docs/networking.md
Due: documentation, build all

docs: 📚 add wg setconf warning; minor documentation tweaks
  docs/docs/Developers/ansible-roles.md
  docs/docs/Environment Guides/goad.md
  docs/docs/Quick Start/congratulations.md
  docs/docs/Quick Start/create-a-user.md
  docs/docs/networking.md
Due: documentation, build all

docs: 📚 Update documentation for quick start, networking, and ansible roles
  docs/docs/Developers/ansible-roles.md
  docs/docs/Environment Guides/goad.md
  docs/docs/Quick Start/congratulations.md
  docs/docs/Quick Start/create-a-user.md
  docs/docs/networking.md
Due: documentation, build all

fix: 🐛 Add network segmentation by user between user ranges
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
  ludus-server/ansible/user-management/add-user.yml
  ludus-server/ansible/user-management/del-user.yml
Due: build all, install kickoff, install check, install snapshot, client basic-commands, range deploy

refactor: 🔨 tweaks to ludus host firewall isolation for ranges
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
  ludus-server/ansible/user-management/add-user.yml
  ludus-server/ansible/user-management/del-user.yml
Due: build all, install kickoff, install check, install snapshot, client basic-commands, range deploy

fix: 🐛 fix error if ansible_host is not in inventory output during vm deploy
  ludus-server/ansible/range-management/tasks/proxmox/deploy-vm.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

add missing pipe
  ludus-server/ansible/range-management/tasks/proxmox/deploy-vm.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix(server): 🐛 fix netmask/route on RHEL based linux VMs
  ludus-server/ansible/range-management/templates/interfaces-redhat.j2
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing
