Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, documentation, build all, install kickoff, install check, install snapshot, templates build, templates check, templates snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, post-deploy ansible-as-admin, post-deploy user-cmds-as-admin, post-deploy templates-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user, post-deploy ansible-as-user, post-deploy user-cmds-as-user, post-deploy templates-as-user, post-deploy snapshots-as-user

Path conditions:
  pages: any of: docs/**/*
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  client basic-commands: any of: ludus-client/**/*.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  range deploy-admin: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-admin: any of: ludus-server/ansible/range-management/**/*
  range snapshot-admin: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-admin: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-admin: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-admin: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-admin: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-admin: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  range deploy-user: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-user: any of: ludus-server/ansible/range-management/**/*
  range snapshot-user: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-user: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-user: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-user: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-user: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-user: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  post-deploy snapshots-as-user: any of: ludus-client/cmd/snapshots.go, ludus-server/src/api_snapshot_management.go

Edit roles.md with professor_moody.scorch.ludus collection to deploy full...
  docs/docs/roles.md
Due: pages, documentation, build all

docs: 📚 add ghostwritter role to docs
  docs/docs/roles.md
Due: pages, documentation, build all

docs: 📚 fix link from proxmox page to create user page
  docs/docs/deployment-options/proxmox.md
Due: pages, documentation, build all

Edit roles.md
  docs/docs/roles.md
Due: pages, documentation, build all

style(templates): 💄 fix Ubuntu spelling in template descriptions
  templates/ubuntu-20.04-x64-server/ubuntu-20.04-x64-server.pkr.hcl
  templates/ubuntu-22.04-x64-server/ubuntu-22.04-x64-server.pkr.hcl
  templates/ubuntu-24.04-x64-desktop/ubuntu-24.04-x64-desktop.pkr.hcl
  templates/ubuntu-24.04-x64-server/ubuntu-24.04-x64-server.pkr.hcl
Due: build all

feat(api): ✨ add GetRoleVars endpoint to retrieve variables for specified Ansible roles
  ludus-api/api_ansible.go
  ludus-api/dto/requests.go
  ludus-api/dto/responses.go
  ludus-api/routers.go
Due: build all

refactor(api): 🔨 simplify group management to bulk-only operations [group tests]
  ludus-api/api_ansible.go
  ludus-api/api_group_management.go
  ludus-api/api_snapshot_management.go
  ludus-api/dto/requests.go
  ludus-api/dto/responses.go
  ludus-api/routers.go
  ludus-client/cmd/ansible.go
  ludus-client/cmd/group.go
  ludus-client/rest/restapi.go
Due: build all, client basic-commands, post-deploy ansible-as-admin, post-deploy ansible-as-user

ci: 🤖 add bulk operation tests for user and range management in CI pipeline
  .gitlab-ci.yml
  ludus-api/api_ansible.go
  ludus-api/api_group_management.go
  ludus-api/api_snapshot_management.go
  ludus-client/cmd/ansible.go
  ludus-client/cmd/group.go
Due: build all, client basic-commands, post-deploy ansible-as-admin, post-deploy ansible-as-user

fix(ci): 🐛 correct password flag in user addition commands for CI setup
  .gitlab-ci.yml
Due: build all

fix(ci): 🤖 sync fresh binaries to snapshot-restored VMs
  .claude/CLAUDE.md
  .cursor/rules/go.mdc
  .gitlab-ci.yml
  ludus-api/api_group_management.go
  ludus-client/cmd/user.go
  ludus-server/ci/prepare.sh
Due: build all, client basic-commands, post-deploy user-cmds-as-admin, post-deploy user-cmds-as-user

feat(api): ✨ implement MoveRoleScope endpoint to move or copy Ansible roles between global and local scopes
  ludus-api/api_ansible.go
  ludus-api/dto/requests.go
  ludus-api/dto/responses.go
  ludus-api/routers.go
  ludus-client/cmd/ansible.go
  ludus-client/rest/restapi.go
Due: build all, client basic-commands, post-deploy ansible-as-admin, post-deploy ansible-as-user

fix(client): 🐛 fix indent issue when checking for no password
  ludus-client/cmd/user.go
Due: build all, client basic-commands, post-deploy user-cmds-as-admin, post-deploy user-cmds-as-user

fix(templates): 🐛 update url/checksum for kali and kasmvnc on kali
  ludus-server/packer/kali/kali.pkr.hcl
  ludus-server/packer/kali/kali.yml
Due: build all, templates build, templates check, templates snapshot

ci: 🤖 clone repo for template tests
  .gitlab-ci.yml
Due: build all

ci: 🤖 don't try to update server if binaires folder doesn't exist
  .gitlab-ci.yml
Due: build all

ci: 🤖 save new api key for user for future use
  .gitlab-ci.yml
Due: build all

feat(client): ✨ add value-only option for `ludus user apikey` (scripting purposes) [start-at post-deploy-user]
  ludus-client/cmd/user.go
Due: build all, client basic-commands, post-deploy user-cmds-as-admin, post-deploy user-cmds-as-user

ci: 🤖 remove binaries rsync [start-at post-deploy-user]
  ludus-server/ci/prepare.sh
Due: build all

ci(fix): 🤖 power on vms if in testing job [VMID-123] [start-at post-deploy-user]
  .gitlab-ci.yml
Due: build all

ci: 🤖 update api key setters to use new client [VMID-123] [start-at post-deploy-user]
  .gitlab-ci.yml
Due: build all

ci(fix): 🤖 format and store apikey string
  .gitlab-ci.yml
Due: build all

feat(api): ✨ implement MoveRoleScope endpoint to move or copy Ansible roles between global and local scopes [full build]
  ludus-api/dto/responses.go
Due: build all

fix(server): 🐛 extract license type from metadata in checkLicense function
  ludus-api/config.go
  ludus-api/license.go
Due: build all

refactor(license): 🛠️ replace license type checks with entitlements in server logic and Ansible playbooks
  ludus-api/ansible.go
  ludus-api/api_license.go
  ludus-api/config.go
  ludus-api/dto/responses.go
  ludus-api/license.go
  ludus-api/plugins.go
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/main.go
Due: build all, install kickoff, install check, install snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(api): 🐛 remove duplicate bulk group operation request and response types from rebase operation [full build]
  ludus-api/dto/requests.go
  ludus-api/dto/responses.go
Due: build all

feat(api): ✨ add CPU and RAM fields to VM management and responses
  ludus-api/api_group_management.go
  ludus-api/api_range_management.go
  ludus-api/dto/responses.go
  ludus-api/migrations/1761252013_add_cpu_ram_to_vms.go
  ludus-api/types/types.go
  ludus-api/utils.go
Due: build all
