Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, documentation, build all, install kickoff, install check, install snapshot, templates build, templates check, templates snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, post-deploy ansible-as-admin, post-deploy user-cmds-as-admin, post-deploy templates-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user, post-deploy ansible-as-user, post-deploy user-cmds-as-user, post-deploy templates-as-user, post-deploy snapshots-as-user

pages:
  stage: pages
  variables:
    LUDUS_BUILD_TYPE: any-built
  tags:
  - ludus-proxmox-runner
  retry:
    max: 2
  script:
  - cd docs
  - 'sed -i "s|baseUrl: ''/ludus/''|baseUrl: ''/''|" docusaurus.config.js'
  - yarn install
  - yarn build
  - rm -f ./build/video/*
  - mv ./build ../public
  artifacts:
    paths:
    - public

documentation:
  stage: documentation
  variables:
    LUDUS_BUILD_TYPE: any-built
  tags:
  - ludus-proxmox-runner
  retry:
    max: 2
  script:
  - cd docs
  - yarn install
  - yarn build
  - rm -f ./build/video/*
  - rm -f ./build/img/hardware/Debian_12_RAID0.mp4
  - mv ./build ../built-docs
  artifacts:
    paths:
    - built-docs

build all:
  stage: build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - documentation
  artifacts:
    paths:
    - binaries/*
    expire_in: 1 week
  variables:
    LUDUS_BUILD_TYPE: any-built
  timeout: 10m
  script:
  - echo "Compiling the server code..."
  - export GIT_COMMIT_SHORT_HASH=$(git rev-parse --short HEAD)
  ...

install kickoff:
  stage: install-kickoff
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: kickoff
  timeout: 10m
  script:
  - sudo hostname ludus-$CI_PIPELINE_ID
  - sudo hostnamectl set-hostname ludus-$CI_PIPELINE_ID
  - cd binaries
  ...

install check:
  stage: install-check
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: check
  timeout: 1h
  script:
  - sudo cat /opt/ludus/install/install.log
  - echo "root:$CI_PIPELINE_ID" | sudo chpasswd

install snapshot:
  stage: install-snapshot
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - echo "Snapshot complete"

templates build:
  stage: templates-build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - - sudo /usr/sbin/chronyd -q 'pool pool.ntp.org iburst' || sudo /usr/bin/chronyc -m 'burst 3/3' 'makestep 0.5 -1'
  ...

templates check:
  stage: templates-check
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 2h
  retry:
    max: 2
  script:
  ...

templates snapshot:
  stage: templates-snapshot
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: templates_built
  timeout: 5m
  script:
  - echo "Snapshot complete"

client basic-commands:
  stage: client
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - - sudo /usr/sbin/chronyd -q 'pool pool.ntp.org iburst' || sudo /usr/bin/chronyc -m 'burst 3/3' 'makestep 0.5 -1'
      - date
  ...

feat(server): ✨ add vm consoles via websocket vnc feature
  ludus-api/api_console.go
  ludus-api/console_page/index.html
  ludus-api/dto/responses.go
  ludus-api/embed_console_page.go
  ludus-api/proxmox.go
  ludus-api/routers.go
Due: build all

fix(api): 🐛 Align ListGroupMembers endpoint with OpenAPI schema by removing result json wrapper from response
  ludus-api/api_group_management.go
  ludus-api/dto/responses.go
  ludus-client/cmd/group.go
Due: build all, client basic-commands

fix(templates): disable KasmVNC blacklist to fix remote access; bump kasmvnc release to latest
  ludus-server/packer/kali/kali.yml
Due: build all, templates build, templates check, templates snapshot

fix(templates): 🐛 update kali to 2025.3; change kali mirror to cloudflare
  ludus-server/packer/kali/http/kali-preseed.cfg
  ludus-server/packer/kali/kali.pkr.hcl
Due: build all, templates build, templates check, templates snapshot

fix(middleware): 🐛 allow admin users authenticated with bearer tokens to impersonate users
  ludus-api/middleware.go
Due: build all

feat(api): ✨ allow users with access to ranges to list them/view them; allow managers or directly assigned users to update range name, description, or purpose directly via the pocketbase API
  ludus-api/migrations/1761252009_allow_range_edits.go
Due: build all

feat(api): ✨ add hasCompletedOnboarding bool in the users collection and allow users to update name, avatar, email, and hasCompleteOnboarding via the PB API
  ludus-api/migrations/1761252010_allow_user_edits.go
Due: build all

feat: ✨ add vm destroy endpoint and CLI command
  ludus-api/api_vm_management.go
  ludus-api/routers.go
  ludus-client/cmd/vm.go
Due: build all, client basic-commands

fix(api): 🐛 console view API now under /api/v2 correctly
  ludus-api/console_page/index.html
  ludus-api/middleware.go
  ludus-api/routers.go
Due: build all

ci: 🤖 fix web UI detection steps; fix tag handling for pages; clean up beta checksum file that was extra and empty
  .gitlab-ci.yml
Due: build all

style(install): 💄 just say debian instead of deiban 12
  ludus-server/form.go
Due: build all, install kickoff, install check, install snapshot

build: 📦 bump pocketbase dependancy to allow use of :changed
  ludus-api/go.mod
  ludus-api/go.sum
Due: build all

feat(api): ✨ accpet an array of users to assign to a range on creation; default to having the calling user in cli be given access to the new range
  ludus-api/api_range_management.go
  ludus-api/dto/requests.go
  ludus-api/dto/responses.go
  ludus-client/cmd/range.go
  ludus-client/rest/restapi.go
Due: build all, client basic-commands, range deploy-admin, range deploy-user

fix(server): 🐛 fix embedded docs path
  ludus-api/routers.go
Due: build all

refactor(install): 🔨 remove nat interface and expose admin port options from install
  ludus-server/form.go
Due: build all, install kickoff, install check, install snapshot

feat: ✨ add a status to the /templates endpoint to show when templates are being built
  ludus-api/api_template_management.go
  ludus-client/cmd/templates.go
Due: build all, client basic-commands, post-deploy templates-as-admin, post-deploy templates-as-user

fix(templates): 🐛 fix error where macOS hidden files in a tar would casuse errors during template upload parsing
  ludus-api/api_template_management.go
  ludus-api/file_operations.go
Due: build all

feat: ✨ allow password to be empty when creating a user to generate a random password; add `-p` to ask for the password or -P to accept a password directly
  ludus-api/api_user_management.go
  ludus-client/cmd/user.go
Due: build all, client basic-commands, post-deploy user-cmds-as-admin, post-deploy user-cmds-as-user

fix: 🐛 when removing a user, allow --delete-range to be specified which will also delete the user's default range, otherwise do no delete the pool (previously pool was deleted, range was not)
  ludus-api/api_range_management.go
  ludus-api/api_user_management.go
  ludus-client/cmd/user.go
Due: build all, client basic-commands, post-deploy user-cmds-as-admin, post-deploy user-cmds-as-user

fix(server): 🐛 correctly update last deployment time for ranges
  ludus-api/api_range_management.go
Due: build all

fix(server): 🐛 always give ludus_admins group access to new ranges upon creation
  ludus-api/api_range_management.go
Due: build all

fix(server): 🐛 clear headers when proxying internally to prevent double headers being returned to the user
  ludus-api/middleware.go
Due: build all

fix(server): 🐛 use better pool proxmox API to get VMs per range
  ludus-api/proxmox.go
  ludus-api/utils.go
Due: build all

fix(db): 🐛 allow admins to access all ranges and users
  ludus-api/migrations/1761252011_allow_admin_access_to_ranges.go
  ludus-api/migrations/1761252012_allow_admin_access_to_users.go
Due: build all

fix(server): 🐛 fix(server): 🐛 fix destroying of range VMs, API is now returns only when the range is destroyed
  ludus-api/api_range_management.go
  ludus-api/api_vm_management.go
  ludus-api/proxmox.go
Due: build all

feat(license): ✨ update license to use self-hosted backend
  dev.sh
  ludus-api/license.go
  ludus-server/dev.sh
Due: build all

fix(server): 🐛 add PVEPoolUser permission to pool when granting access to users or groups which allows new pool based lookup to work properly
  ludus-api/proxmox.go
Due: build all

ci: 🤖 disable parallel builds as they are not available in the free tier
  .gitlab-ci.yml
Due: build all

fix(templates): 🐛 fix debian13 template dns issue by adding resolvconf package
  templates/debian13/http/debian-13-preseed.cfg
Due: build all

fix(server): 🐛 fix bug where templates would stay in the "building" state forever
  ludus-api/api_template_management.go
Due: build all

fix(server): 🐛 add the new PVEPoolUser permission when migrating ranges from Ludus 1.x
  ludus-api/migrate_to_pocketbase.go
Due: build all

feat(api): ✨ GET range/tags return structured JSON response with tags array
  ludus-api/api_range_management.go
  ludus-api/dto/responses.go
  ludus-client/cmd/range.go
Due: build all, client basic-commands, range deploy-admin, range deploy-user

feat: ✨ add Windows 11 25H2 template
  templates/win11-25h2-x64-enterprise/Autounattend.xml
  templates/win11-25h2-x64-enterprise/ansible/windows_update_security_updates.yml
  templates/win11-25h2-x64-enterprise/iso/setup-for-ansible.ps1
  templates/win11-25h2-x64-enterprise/iso/win-updates.ps1
  templates/win11-25h2-x64-enterprise/iso/windows-common-setup.ps1
  templates/win11-25h2-x64-enterprise/scripts/disable-hibernate.ps1
  templates/win11-25h2-x64-enterprise/scripts/disablewinupdate.bat
  templates/win11-25h2-x64-enterprise/scripts/install-virtio-drivers.ps1
  templates/win11-25h2-x64-enterprise/win11-23h2-x64-enterprise.pkr.hcl
Due: build all

fix: 🐛 change license scheme around products and packages
  ludus-api/license.go
Due: build all

feat(server): ✨ initial work around subscription role endpoints
  ludus-api/api_ansible.go
  ludus-api/dto/requests.go
  ludus-api/dto/responses.go
  ludus-api/routers.go
  ludus-client/cmd/ansible.go
Due: build all, client basic-commands, post-deploy ansible-as-admin, post-deploy ansible-as-user

feat(api): ✨ add GetUserMemberships endpoint to retrieve user group memberships and roles
  ludus-api/api_group_management.go
  ludus-api/dto/responses.go
  ludus-api/routers.go
Due: build all

fix(server): 🐛 wait for VMs to be available before running user defined roles
  ludus-server/ansible/range-management/templates/user-defined-roles.yml.j2
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

docs: 📚 fix capitalization on LeHack 2025 commands
  docs/docs/environment-guides/netexec-workshop-lehack-2025.md
Due: pages, documentation, build all

fix(server): 🐛 fix bug where `range inventory` always returned default range inventory
  ludus-api/api_range_management.go
Due: build all

feat(server): ✨ allow for listing and installing pro and enterprise roles
  ludus-api/api_ansible.go
  ludus-api/dto/responses.go
  ludus-api/license.go
  ludus-client/cmd/ansible.go
Due: build all, client basic-commands, post-deploy ansible-as-admin, post-deploy ansible-as-user

Path conditions:
  pages: any of: docs/**/*
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  client basic-commands: any of: ludus-client/**/*.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  range deploy-admin: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-admin: any of: ludus-server/ansible/range-management/**/*
  range snapshot-admin: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-admin: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-admin: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-admin: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-admin: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-admin: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  range deploy-user: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-user: any of: ludus-server/ansible/range-management/**/*
  range snapshot-user: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-user: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-user: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-user: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-user: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-user: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  post-deploy snapshots-as-user: any of: ludus-client/cmd/snapshots.go, ludus-server/src/api_snapshot_management.go
