Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, build all, install kickoff, install check, install snapshot, client basic-commands, templates build, templates check, templates snapshot, range deploy, range check, range snapshot, post-deploy testing

Path conditions:
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  client basic-commands: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  range deploy: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check: any of: ludus-server/ansible/range-management/**/*
  range snapshot: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*

test: 🚨 add a final intengration test with ansible role, ansible role vars, choco package, ansible groups, and every type of FW rule
  .gitlab-ci.yml
  ludus-server/ci/configs/integration-test.yml
Due: build all

fix: 🐛 move chrony install to stage 3 after prox install
  ludus-server/ansible/proxmox-install/stage-1.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
Due: build all, install kickoff, install check, install snapshot

ci: 🤖 fix chrony commands in common setup
  .gitlab-ci.yml
Due: build all

docs: 📚 document the Kali dpkg error and resolution steps
  docs/docs/Quick Start/build-templates.md
  docs/docs/Troubleshooting/kali.md
  docs/static/img/troubleshooting/kali/kali-grub-1.png
  docs/static/img/troubleshooting/kali/kali-grub-2.png
  docs/static/img/troubleshooting/kali/kali-grub-3.png
  docs/static/img/troubleshooting/kali/kali-grub-4.png
  docs/static/img/troubleshooting/kali/kali-grub-5.png
  docs/static/img/troubleshooting/kali/kali-grub-6.png
  docs/static/img/troubleshooting/kali/kali-grub-7.png
  docs/static/img/troubleshooting/kali/kali-grub-8.png
  docs/static/img/troubleshooting/kali/kali-grub-9.png
Due: documentation, build all

ci: 🤖 only run the integration test when specified or on a full build
  .gitlab-ci.yml
Due: build all

docs: 📚 add CLI configuration file documentation to CLI page
  docs/docs/Quick Start/create-a-user.md
  docs/docs/cli.md
  docs/docs/updating.md
Due: documentation, build all

feat: ✨ add 'ludus_nat_interface' to ludus config.yml to support existing proxmox installs
  docs/docs/Quick Start/install-ludus.md
  docs/docs/templates.md
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/templates/dnsmasq-interface.conf.j2
  ludus-server/ansible/proxmox-install/templates/interfaces.j2
  ludus-server/ansible/range-management/host_vars/localhost.yml
  ludus-server/config.go
  ludus-server/packer/debian11/debian11.pkr.hcl
  ludus-server/packer/debian12/debian12.pkr.hcl
  ludus-server/packer/kali/kali.pkr.hcl
  ludus-server/packer/win11-22h2-x64-enterprise/win11-22h2-x64-enterprise.pkr.hcl
  ludus-server/packer/win2022-server-x64/win2022-server-x64.pkr.hcl
  ludus-server/src/ansible.go
  ludus-server/src/api_template_management.go
  ludus-server/src/config.go
  templates/debian10/debian10.pkr.hcl
  templates/rocky-9-x64-server/rocky-9-x64-server.pkr.hcl
  templates/ubuntu-22.04-x64-server/ubuntu-22.04-x64-server.pkr.hcl
  templates/win10-21h1-x64-enterprise/win10-21h2-x64-enterprise.pkr.hcl
  templates/win11-23h2-x64-enterprise/win11-23h2-x64-enterprise.pkr.hcl
  templates/win2012r2-server-x64/win2012r2-server-x64.pkr.hcl
  templates/win2016-server-x64/win2016-server-x64.pkr.hcl
  templates/win2019-server-x64/win2019-server-x64.pkr.hcl
Due: documentation, build all, install kickoff, install check, install snapshot, client basic-commands, templates build, templates check, templates snapshot, range deploy, range check, range snapshot, post-deploy testing

ci: 🤖 user level full integration test to speed up CI (uses already built range from user tests)
  .gitlab-ci.yml
  ludus-server/ci/configs/integration-test.yml
Due: build all

ci: 🤖 add jq to ci template
  .gitlab-ci.yml
  docs/docs/Developers/building-from-source.md
  ludus-server/ci/ci-setup.yml
Due: documentation, build all

chore: 🧹 remove ntp during setup now that chrony is installed
  ludus-server/ansible/proxmox-install/stage-2.yml
  ludus-server/ansible/requirements.yml
Due: build all, install kickoff, install check, install snapshot

fix: 🐛 use a canary file to tell the installer to continue the debian install path after rebooting into proxmox
  ludus-server/ansible/requirements.yml
  ludus-server/checks.go
  ludus-server/install.go
  ludus-server/main.go
Due: build all, install kickoff, install check, install snapshot

fix: 🐛 write out debian canary in both interactive and automated installs
  ludus-server/install.go
Due: build all, install kickoff, install check, install snapshot

fix: 🐛 fix missing quote in packer build command
  ludus-server/src/api_template_management.go
Due: build all

fix: 🐛 deploy router VM with the ludus_nat_interface variable as its first NIC
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/range-management/group_vars/windows.yml
  ludus-server/ansible/range-management/tasks/proxmox/deploy-vm.yml
  ludus-server/ci/ci-setup.yml
Due: build all, install kickoff, install check, install snapshot, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

ci: 🤖 add 'start-at' tags to CI; fix vmbr0 hardcode for router VM
  .gitlab-ci.yml
  docs/docs/cicd.md
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ci/prepare.sh
Due: documentation, build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

ci: 🤖 fix integration test
  .gitlab-ci.yml
  ludus-server/ansible/range-management/tasks/router/add-vlan-to-router.yml
  ludus-server/ci/prepare.sh
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

[start-at integration][VMID-107]
  .gitlab-ci.yml
Due: build all

[start-at integration][VMID-107]
  ludus-server/ci/configs/integration-test.yml
Due: build all

[start-at integration][VMID-107]
  .gitlab-ci.yml
  ludus-server/ci/configs/simple-domain-with-office.yml
  ludus-server/ci/configs/simple-domain.yml
Due: build all

fix: 🐛 fix kali install issue with dpkg/GRUB
  ludus-server/packer/kali/http/kali-preseed.cfg
  ludus-server/packer/kali/kali.yml
Due: build all, templates build, templates check, templates snapshot

fix: 🐛 fix kali install issue with dpkg/GRUB
  docs/docs/Quick Start/build-templates.md
  ludus-server/ci/configs/integration-test.yml
  ludus-server/packer/kali/kali.yml
Due: documentation, build all, templates build, templates check, templates snapshot

ci: 🤖 fix integration test
  .gitlab-ci.yml
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix: 🐛 fix panic on nil conversion of VM properties
  ludus-server/src/utils.go
Due: build all

ci: 🤖 check time during setup
  .gitlab-ci.yml
Due: build all

ci: 🤖 fix integration test
  ludus-server/ansible/range-management/tasks/windows/configure-additional-dc.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

ci: 🤖 force time sync at start of all ci jobs
  .gitlab-ci.yml
Due: build all

ci: 🤖 fix integration test
  .gitlab-ci.yml
  ludus-server/ci/configs/integration-test.yml
Due: build all

style(client): 💄 fix version string - remove double "v"
  ludus-client/cmd/root.go
  ludus-client/cmd/version.go
Due: build all, client basic-commands, range deploy, post-deploy testing

chore: 🧹 remove stale changelog file
  CHANGELOG.md
Due: build all

docs: 📚 update contributing gude
  docs/docs/Developers/contributing.md
Due: documentation, build all

docs: 📚 add docs for existing proxmox servers
  docs/docs/Deployment Options/hyper-v.md
  docs/docs/Deployment Options/proxmox.md
  docs/docs/Deployment Options/vmware-fusion.md
  docs/docs/Quick Start/install-ludus.md
  docs/docs/intro.md
Due: documentation, build all

ci: 🤖 remove videos from embedded docs to reduce server binary size
  .gitlab-ci.yml
Due: build all

style: 💄 remove the v in version prints to prevent vv1.x.x
  ludus-client/cmd/root.go
  ludus-client/cmd/version.go
  ludus-server/update.go
Due: build all, install kickoff, install check, install snapshot, client basic-commands, range deploy, post-deploy testing

style: 💄 remove the v in version prints to prevent vv1.x.x
  ludus-client/rest/restapi.go
  ludus-server/src/routers.go
Due: build all, client basic-commands, range deploy, post-deploy testing

build: 📦 rm video files after doc build to reduce server binary size
  .gitlab-ci.yml
Due: build all

ci: 🤖 allow upload and release if jobs are skipped
  .gitlab-ci.yml
Due: build all

docs: 📚 fix api doc error
  docs/static/api/index.html
Due: documentation, build all

fix: 🐛 stop generating configs after first non-local interface
  ludus-server/config.go
  ludus-server/install.go
Due: build all, install kickoff, install check, install snapshot
