Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, documentation, build all, install kickoff, install check, install snapshot, templates build, templates check, templates snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, post-deploy ansible-as-admin, post-deploy user-cmds-as-admin, post-deploy templates-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user, post-deploy ansible-as-user, post-deploy user-cmds-as-user, post-deploy templates-as-user, post-deploy snapshots-as-user

Path conditions:
  pages: any of: docs/**/*
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  client basic-commands: any of: ludus-client/**/*.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  range deploy-admin: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-admin: any of: ludus-server/ansible/range-management/**/*
  range snapshot-admin: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-admin: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-admin: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-admin: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-admin: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-admin: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  range deploy-user: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-user: any of: ludus-server/ansible/range-management/**/*
  range snapshot-user: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-user: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-user: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-user: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-user: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-user: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  post-deploy snapshots-as-user: any of: ludus-client/cmd/snapshots.go, ludus-server/src/api_snapshot_management.go

fix: 🐛 fixes after 2.3.2 merge
  DEVELOPERS.md
  UPDATING.md
  dev.sh
  docs/docs/infrastructure-operations/migrate-to-lxc.md
  install.sh
  ludus-server/args.go
  ludus-server/bootstrap.go
  ludus-server/ci/test-lxc-airgap.sh
  ludus-server/dev.sh
  ludus-server/localgen/routes.go
  ludus-server/lxc/Makefile
  ludus-server/lxc/build.sh
  ludus-server/lxc/migrate-host.sh
  ludus-server/migration.go
  ludus-server/migration_test.go
  ludus-server/packer/debian12/debian12.pkr.hcl
  ludus-server/packer/debian12/preseed.cfg.pkrtpl.hcl
  ludus-server/update.go
  testing.sh
Due: pages, documentation, build all, install kickoff, install check, install snapshot, templates build, templates check, templates snapshot

Add optional plugin lifecycle and address hooks
  ludus-api/api_power_state_management.go
  ludus-api/api_range_management.go
  ludus-api/api_vm_management.go
  ludus-api/middleware.go
  ludus-api/plugins.go
  ludus-api/proxmox.go
  ludus-api/utils.go
  ludus-api/vm_address_hook.go
  ludus-api/vm_address_hook_test.go
  ludus-api/vm_hook_service.go
  ludus-api/vm_hooks_compatibility_test.go
  ludus-api/vm_hooks_test.go
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname-windows.yml
  ludus-server/ansible/range-management/tasks/proxmox/deploy-vm.yml
  ludus-server/ansible/range-management/tasks/proxmox/discover-vm-address-with-hooks.yml
  ludus-server/ansible/range-management/tasks/proxmox/start-vm-with-hooks.yml
  ludus-server/main.go
Due: build all, install kickoff, install check, install snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

Scope optional VM hooks through plugin configuration
  ludus-api/ansible.go
  ludus-api/api_power_state_management.go
  ludus-api/api_range_management.go
  ludus-api/api_vm_management.go
  ludus-api/middleware.go
  ludus-api/plugins.go
  ludus-api/proxmox.go
  ludus-api/utils.go
  ludus-api/vm_address_hook.go
  ludus-api/vm_hook_selection.go
  ludus-api/vm_hook_selection_test.go
  ludus-api/vm_hook_service.go
  ludus-api/vm_hooks_compatibility_test.go
  ludus-api/vm_status_hooks.go
  ludus-server/ansible/range-management/tasks/proxmox/discover-vm-address-with-hooks.yml
  ludus-server/ansible/range-management/tasks/proxmox/power-on-vm.yml
  ludus-server/ansible/range-management/tasks/proxmox/start-vm-with-hooks.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

Preserve original VM startup tasks around optional hooks
  ludus-api/middleware.go
  ludus-api/vm_hooks_compatibility_test.go
  ludus-server/ansible/range-management/tasks/proxmox/deploy-vm.yml
  ludus-server/ansible/range-management/tasks/proxmox/power-on-vm.yml
  ludus-server/ansible/range-management/tasks/proxmox/run-vm-start-hook.yml
  ludus-server/ansible/range-management/tasks/proxmox/start-vm-with-hooks.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(server): 🐛 correct regression in handling of collection tar.gz URLs
  .gitlab-ci.yml
  docs/docs/using-ludus/roles.md
  docs/static/api/ludus.openapi.yaml
  ludus-api/api_ansible.go
  ludus-api/api_ansible_test.go
  ludus-server/ci/fixtures/ludus_ci-http_archive-1.0.0.tar.gz
Due: pages, documentation, build all

Update Debian 13 template ISO
  ludus-server/packer/debian13/debian13.pkr.hcl
Due: build all, templates build, templates check, templates snapshot

fix(server): 🐛 update debian 13 to 13.7
  ludus-server/packer/debian13/debian13.pkr.hcl
Due: build all, templates build, templates check, templates snapshot

fix(server): 🐛 better handling of tar.gz URLs and better tests for them
  ludus-api/api_ansible.go
  ludus-api/api_ansible_test.go
Due: build all

fix(server): 🐛 correct ordering of extra vars for ansible to correctly allow partial defaults definitions
  .gitlab-ci.yml
  docs/docs/configuration.mdx
  ludus-api/ansible.go
  ludus-api/ansible_test.go
  ludus-server/ci/configs/simple-domain-partial-defaults.yml
Due: pages, documentation, build all

docs: 📚 fix link to roles page if ansible dev page is accessed via link directly
  docs/docs/developers/ansible-roles.md
Due: pages, documentation, build all

feat(server): ✨ Convert plugins to standalone processes that communicate via RPC
  .gitlab-ci.yml
  docs/docs/developers/building-from-source.md
  docs/docs/developers/cicd.md
  docs/docs/developers/developer-tips.md
  docs/docs/developers/rpc-plugins.md
  go.work
  go.work.sum
  ludus-api/ansible.go
  ludus-api/api_log_history.go
  ludus-api/api_placeholder.go
  ludus-api/go.mod
  ludus-api/go.sum
  ludus-api/license.go
  ludus-api/license_update_test.go
  ludus-api/middleware.go
  ludus-api/middleware_test.go
  ludus-api/plugin_log_history.go
  ludus-api/plugin_log_history_test.go
  ludus-api/plugin_pocketbase_client.go
  ludus-api/plugin_pocketbase_client_test.go
  ludus-api/plugin_runtime.go
  ludus-api/pluginrpc/plugin.go
  ludus-api/plugins.go
  ludus-api/plugins_integration_test.go
  ludus-api/plugins_test.go
  ludus-api/proxmox.go
  ludus-api/range_access.go
  ludus-api/routers.go
  ludus-api/sqlite.go
  ludus-api/sqlite_concurrency_test.go
  ludus-api/utils.go
  ludus-client/cmd/apikey.go
  ludus-client/cmd/root.go
  ludus-server/README.md
  ludus-server/cert.go
  ludus-server/ci/plugin.gitlab-ci.yml
  ludus-server/main.go
  ludus-server/main_test.go
  testing.sh
Due: pages, documentation, build all, install kickoff, install check, install snapshot, client basic-commands

Fix server unit tests in clean CI checkout
  .gitlab-ci.yml
Due: build all

Handle all HTTP error responses in client
  ludus-client/rest/restapi.go
  ludus-client/rest/restapi_test.go
Due: build all, client basic-commands

Keep LXC Packer compatible with existing templates
  .gitlab-ci.yml
  ludus-api/api_template_management.go
Due: build all

Accept Linux VM option maps in Ansible conditions
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

Preserve guest command failures in CI retries
  .gitlab-ci.yml
Due: build all

fix(server): 🐛 add resolvconf to debian 12 and assign custom dns servers correctly on debian
  .gitlab-ci.yml
  ludus-server/ansible/range-management/templates/interfaces-debian.j2
  ludus-server/packer/debian12/http/debian-12-preseed.cfg
Due: build all, templates build, templates check, templates snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

Add transparent host-to-LXC upgrade path
  docs/docs/infrastructure-operations/migrate-to-lxc.md
  docs/docs/infrastructure-operations/updating.md
  install.sh
  ludus-server/args.go
  ludus-server/lxc/migrate-host.sh
  ludus-server/migration.go
  ludus-server/migration_test.go
Due: pages, documentation, build all, install kickoff, install check, install snapshot

fix(server): 🐛 fix VNC crash by updating go-proxmox dependency
  ludus-api/go.mod
  ludus-api/go.sum
Due: build all

Finalize LXC, plugin hooks, and RPC integration
  .gitlab-ci.yml
  AGENTS.md
  docs/docs/developers/building-from-source.md
  docs/docs/developers/cicd.md
  docs/docs/developers/developer-tips.md
  docs/docs/developers/rpc-plugins.md
  ludus-api/api_log_history.go
  ludus-api/api_range_management.go
  ludus-api/api_user_management.go
  ludus-api/go.mod
  ludus-api/license.go
  ludus-api/license_update_test.go
  ludus-api/middleware.go
  ludus-api/middleware_test.go
  ludus-api/migrations/1761280000_password_rotations.go
  ludus-api/password_rotation.go
  ludus-api/password_rotation_test.go
  ludus-api/plugin_log_history_test.go
  ludus-api/plugins_integration_test.go
  ludus-api/plugins_test.go
  ludus-api/pveclient/password.go
  ludus-api/pveclient/password_test.go
  ludus-api/range_access.go
  ludus-api/routers.go
  ludus-client/rest/restapi.go
  ludus-client/rest/restapi_test.go
  ludus-server/README.md
  ludus-server/ci/check-password-rotation.py
  ludus-server/ci/plugin.gitlab-ci.yml
  ludus-server/lxc/migrate-host.sh
  ludus-server/migration.go
  ludus-server/migration_test.go
Due: pages, documentation, build all, install kickoff, install check, install snapshot, client basic-commands

Fix airgap script
  .gitlab-ci.yml
Due: build all

Fix CI executor settings
  .gitlab-ci.yml
Due: build all

Fix CI configuration and LXC test setup [build-lxc]
  .gitlab-ci.yml
  ludus-server/ci/plugin.gitlab-ci.yml
  ludus-server/ci/test-lxc-airgap.sh
Due: build all

fix(server): 🐛 fix Nexus deployment by removing unneeded dep
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(server): 🐛 allow global roles and collections to be used during template builds
  docs/docs/using-ludus/roles.md
  ludus-api/api_template_management.go
  ludus-server/packer/README.md
Due: pages, documentation, build all, templates build, templates check, templates snapshot

Fix LXC installation status and other localhost endpoint references
  dev.sh
  docs/docs/administration/security.md
  docs/docs/deployment-options/proxmox-lxc.md
  docs/docs/enterprise/anti-sandbox.md
  docs/docs/quick-start/build-templates.md
  docs/docs/troubleshooting/uninstall.md
  docs/docs/upgrading-from-v1.md
  install.sh
  ludus-api/admin_endpoint_test.go
  ludus-api/api_migration.go
  ludus-api/database.go
  ludus-api/middleware.go
  ludus-server/lxc/Makefile
  ludus-server/lxc/files/ludus-install-status
  ludus-server/lxc/test_install_status.py
Due: pages, documentation, build all

Isolate privileged LXC builds from CI checkout
  .gitlab-ci.yml
  ludus-server/ci/build-lxc-isolated.sh
  ludus-server/ci/test_build_lxc_isolated.py
Due: build all

feat(server): ✨ disable automatic account creation for SSO users by default, add toggle to config to allow
  docs/docs/administration/pocketbase.md
  docs/docs/administration/sso.md
  docs/docs/quick-start/install-ludus.md
  ludus-api/api_license_test.go
  ludus-api/api_user_management.go
  ludus-api/config.go
  ludus-api/database.go
  ludus-api/license.go
  ludus-api/routers.go
  ludus-api/sso_test.go
  ludus-server/ansible/config.yml.example
  ludus-server/checks.go
  ludus-server/config.go
  ludus-server/config_test.go
  ludus-server/form.go
Due: pages, documentation, build all, install kickoff, install check, install snapshot

feat(server): ✨ add config value to prevent the creation of a default range on user creation
  docs/docs/administration/admin.md
  docs/docs/administration/sso.md
  docs/docs/quick-start/install-ludus.md
  ludus-api/api_user_management.go
  ludus-api/config.go
  ludus-api/database.go
  ludus-api/utils.go
  ludus-server/ansible/config.yml.example
  ludus-server/ansible/user-management/add-user.yml
  ludus-server/checks.go
  ludus-server/config.go
  ludus-server/config_test.go
  ludus-server/form.go
Due: pages, documentation, build all, install kickoff, install check, install snapshot, client basic-commands, range deploy-admin, post-deploy user-cmds-as-admin, range deploy-user, post-deploy user-cmds-as-user

Add resource plugin packages and scoped access
  docs/docs/developers/plugin-architecture.md
  docs/docs/developers/rpc-plugins.md
  ludus-api/api_placeholder.go
  ludus-api/middleware.go
  ludus-api/migrations/1761290000_plugin_resources.go
  ludus-api/migrations/1761300000_plugin_scopes.go
  ludus-api/plugin_packages.go
  ludus-api/plugin_resources.go
  ludus-api/plugin_resources_test.go
  ludus-api/pluginrpc/plugin.go
  ludus-api/plugins.go
  ludus-api/routers.go
Due: pages, documentation, build all

Keep plugin placeholders limited to legacy routes
  ludus-api/api_placeholder.go
Due: build all

fix(server): 🐛 enumerate AD group names via SID instead of WMI for better reliability
  ludus-server/ansible/range-management/tasks/windows/join-domain.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

Remove unreleased plugin schema and deletion compatibility
  ludus-api/migrations/1761290000_plugin_resources.go
  ludus-api/migrations/1761300000_plugin_scopes.go
  ludus-api/plugin_resources.go
  ludus-api/plugin_resources_test.go
Due: build all

Restore pool-scoped VM permissions in LXC bootstrap
  ludus-server/bootstrap.go
  ludus-server/bootstrap_test.go
Due: build all, install kickoff, install check, install snapshot

docs: Add host-to-LXC upgrade qualification matrix
  docs/lxc-upgrade-test-matrix.md
Due: pages, documentation, build all

fix(server): 🐛 Fix VNC ticket acceptance issue
  ludus-api/go.mod
  ludus-api/go.sum
Due: build all

Fix host-to-LXC migration state and clustered cutover
  UPDATING.md
  docs/docs/infrastructure-operations/migrate-to-lxc.md
  install.sh
  ludus-api/config.go
  ludus-api/license.go
  ludus-api/license_update_test.go
  ludus-api/plugins.go
  ludus-api/plugins_integration_test.go
  ludus-api/pveclient/host_network.go
  ludus-api/pveclient/host_network_test.go
  ludus-api/sdn.go
  ludus-server/bootstrap.go
  ludus-server/bootstrap_test.go
  ludus-server/lxc/Makefile
  ludus-server/lxc/migrate-cluster.py
  ludus-server/lxc/migrate-host.sh
  ludus-server/lxc/test_migrate_cluster.py
  ludus-server/migration.go
  ludus-server/migration_state_test.go
  ludus-server/migration_test.go
  ludus-server/reconcile.go
  ludus-server/update.go
Due: pages, documentation, build all, install kickoff, install check, install snapshot

Probe gateway ownership with active ARP before cluster migration
  docs/docs/infrastructure-operations/migrate-to-lxc.md
  ludus-server/lxc/migrate-cluster.py
  ludus-server/lxc/test_migrate_cluster.py
  ludus-server/migration_state_test.go
Due: pages, documentation, build all, install kickoff, install check, install snapshot

Include cluster migration helper in isolated appliance builds
  ludus-server/ci/build-lxc-isolated.sh
  ludus-server/ci/test_build_lxc_isolated.py
  ludus-server/lxc/migrate-host.sh
Due: build all

Retire legacy host route hooks during LXC cutover
  docs/docs/infrastructure-operations/migrate-to-lxc.md
  ludus-server/lxc/migrate-cluster.py
  ludus-server/lxc/test_migrate_cluster.py
Due: pages, documentation, build all
