Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, documentation, build all, install kickoff, install check, install snapshot, templates build, templates check, templates snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, post-deploy ansible-as-admin, post-deploy user-cmds-as-admin, post-deploy templates-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user, post-deploy ansible-as-user, post-deploy user-cmds-as-user, post-deploy templates-as-user, post-deploy snapshots-as-user

pages:
  stage: pages
  variables:
    LUDUS_BUILD_TYPE: any-built
  tags:
  - ludus-proxmox-runner
  retry:
    max: 2
  script:
  - cd docs
  - 'sed -i "s|baseUrl: ''/ludus/''|baseUrl: ''/''|" docusaurus.config.js'
  - yarn install
  - yarn build
  - rm -f ./build/video/*
  - mv ./build ../public
  artifacts:
    paths:
    - public

documentation:
  stage: documentation
  variables:
    LUDUS_BUILD_TYPE: any-built
  tags:
  - ludus-proxmox-runner
  retry:
    max: 2
  script:
  - cd docs
  - yarn install
  - yarn build
  - rm -f ./build/video/*
  - rm -f ./build/img/hardware/Debian_12_RAID0.mp4
  - mv ./build ../built-docs
  artifacts:
    paths:
    - built-docs

build all:
  stage: build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - documentation
  artifacts:
    paths:
    - binaries/*
    expire_in: 1 week
  variables:
    LUDUS_BUILD_TYPE: any-built
  timeout: 10m
  script:
  - echo "Compiling the server code..."
  - export GIT_COMMIT_SHORT_HASH=$(git rev-parse --short HEAD)
  ...

install kickoff:
  stage: install-kickoff
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: kickoff
  timeout: 10m
  script:
  - sudo hostname ludus-$CI_PIPELINE_ID
  - sudo hostnamectl set-hostname ludus-$CI_PIPELINE_ID
  - cd binaries
  ...

install check:
  stage: install-check
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: check
  timeout: 1h
  script:
  - sudo cat /opt/ludus/install/install.log
  - echo "root:$CI_PIPELINE_ID" | sudo chpasswd

install snapshot:
  stage: install-snapshot
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - echo "Snapshot complete"

templates build:
  stage: templates-build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - - sudo /usr/sbin/chronyd -q 'pool pool.ntp.org iburst' || sudo /usr/bin/chronyc -m 'burst 3/3' 'makestep 0.5 -1'
  ...

templates check:
  stage: templates-check
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 2h
  retry:
    max: 2
  script:
  ...

templates snapshot:
  stage: templates-snapshot
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: templates_built
  timeout: 5m
  script:
  - echo "Snapshot complete"

client basic-commands:
  stage: client
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - - sudo /usr/sbin/chronyd -q 'pool pool.ntp.org iburst' || sudo /usr/bin/chronyc -m 'burst 3/3' 'makestep 0.5 -1'
      - date
  ...

chore(templates): 🧹 update template URLs
  templates/ubuntu-24.04-x64-server/ubuntu-24.04-x64-server.pkr.hcl
  templates/win2012r2-server-x64/win2012r2-server-x64.pkr.hcl
Due: build all

Fix typo in API docs
  docs/static/api/index.html
Due: pages, documentation, build all

docs: 📚 add multiple VM with name error troubleshooting
  docs/docs/troubleshooting/ansible.md
Due: pages, documentation, build all

docs: 📚 add storage docs
  docs/docs/storage.md
  docs/static/img/storage/add-permission.png
  docs/static/img/storage/group-permissions.png
Due: pages, documentation, build all

feat: ✨ pocketbase working but migration incomplete
  .gitignore
  dev.sh
  go.work.sum
  ludus-api/api_placeholder.go
  ludus-api/api_user_management.go
  ludus-api/database.go
  ludus-api/embedded_webui.go
  ludus-api/go.mod
  ludus-api/go.sum
  ludus-api/migration.go
  ludus-api/migrations/initial_create_groups_collection.go
  ludus-api/migrations/initial_create_ranges_collection.go
  ludus-api/migrations/initial_create_vms_collection.go
  ludus-api/migrations/initial_expand_users_collection.go
  ludus-api/migrations/initial_settings.go
  ludus-api/no_embedded_webui.go
  ludus-api/pocketbase.go
  ludus-api/proxmox.go
  ludus-api/routers.go
  ludus-api/utils.go
  ludus-client/cmd/antisandbox.go
  ludus-server/dev.sh
Due: build all, client basic-commands

feat(server): ✨ migrate DB tables to pocketbase collections
  ludus-api/api_user_management.go
  ludus-api/migration.go
  ludus-api/migrations/1761252001_initial_settings.go
  ludus-api/migrations/1761252002_initial_expand_users_collection.go
  ludus-api/migrations/1761252003_initial_create_ranges_collection.go
  ludus-api/migrations/1761252004_initial_create_groups_collection.go
  ludus-api/migrations/1761252005_initial_create_templates_collection.go
  ludus-api/migrations/1761252006_initial_create_logs_collection.go
  ludus-api/migrations/1761252007_initial_create_vms_collection.go
  ludus-api/migrations/1761252008_initial_add_relations_to_users.go
  ludus-api/pocketbase.go
  ludus-api/proxmox.go
  ludus-api/routers.go
Due: build all

feat(server): ✨ static site serving and API key auth working in pocketbase
  docs/static/api/ludus.openapi.yml
  go.work.sum
  ludus-api/auth.go
  ludus-api/dto/models.go
  ludus-api/go.mod
  ludus-api/go.sum
  ludus-api/migrate_to_pocketbase.go
  ludus-api/migrations/1761252001_initial_settings.go
  ludus-api/migrations/1761252008_initial_add_relations_to_users.go
  ludus-api/models/model_proxies.go
  ludus-api/routers.go
  ludus-api/types/types.go
  ludus-api/utils.go
Due: pages, documentation, build all

saving progress
  ludus-api/api_user_management_pb.go
  ludus-api/auth.go
  ludus-api/database.go
  ludus-api/dto/requests.go
  ludus-api/dto/responses.go
  ludus-api/errors.go
  ludus-api/migrate_to_pocketbase.go
  ludus-api/pocketbase.go
  ludus-api/routers.go
  ludus-api/utils.go
Due: build all

fix(server): 🐛 fix errors when generating /etc/hosts files on empty range actions
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

docs: 📚 update Shadow Steps env guide
  docs/docs/environment-guides/shadow-steps.md
Due: pages, documentation, build all

docs: 📚 add wsus roles to roles page
  docs/docs/roles.md
Due: pages, documentation, build all

docs: 📚 add template troubleshooting page
  docs/docs/troubleshooting/templates.md
Due: pages, documentation, build all

New Lab Lehack 2025- netexec - https://lehack.org/2025/tracks/workshops/#active-directory-pwnage-with-netexec
  docs/docs/environment-guides/netexec-workshop-lehack-2025.md
Due: pages, documentation, build all

fix: ensure user ranges are accessible for both API key and JWT auth
  ludus-api/auth.go
  ludus-api/migrate_to_pocketbase.go
Due: build all

fix: validate userHasRoles before accessing its value
  ludus-api/api_range_management.go
Due: build all

docs: 📚 update template wording to reflect proxmox terms; datastore -> pool
  docs/docs/troubleshooting/templates.md
Due: pages, documentation, build all

docs: 📚 add vectr roles and netbox role
  docs/docs/roles.md
Due: pages, documentation, build all

fix: 🐛 fixes to API return values, ci updates, and dev script updates
  .gitlab-ci.yml
  dev.sh
  docs/docs/developers/cicd.md
  ludus-api/ansible.go
  ludus-api/api_ansible.go
  ludus-api/api_placeholder.go
  ludus-api/api_user_management.go
  ludus-api/dto/responses.go
  ludus-api/middleware.go
  ludus-api/plugins.go
  ludus-api/routers.go
  ludus-client/cmd/models.go
  ludus-server/ci/ci-setup.yml
  ludus-server/dev.sh
Due: pages, documentation, build all, client basic-commands

fix: 🐛 assorted bug fixes
  ludus-api/api_ansible.go
  ludus-api/api_range_management.go
  ludus-api/api_template_management.go
  ludus-api/database.go
  ludus-api/process.go
  ludus-api/proxmox.go
  ludus-api/utils.go
Due: build all

build: 📦 remove plugins for go.work file
  .gitlab-ci.yml
  go.work
  go.work.sum
  ludus-api/go.mod
  ludus-api/go.sum
  ludus-server/go.mod
  ludus-server/go.sum
Due: build all

build: 📦 add yarn cache and fix bun script order
  .gitlab-ci.yml
Due: build all

fix(install): 🐛 remove container install step
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/ludus-1-to-2-migration.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
  ludus-server/ansible/proxmox-install/tasks/setup-gui-container.yml
Due: build all, install kickoff, install check, install snapshot

ci: 🤖 handle the case where ludus-gui exists
  .gitlab-ci.yml
Due: build all

ci: 🤖 fix multiline expression in gitlab ci
  .gitlab-ci.yml
Due: build all

ci: 🤖 fix existing dir for ludus-gui (cache dirs)
  .gitlab-ci.yml
Due: build all

fix(install): 🐛 fix creating ROOT user in pocketbase on fresh install
  ludus-api/database.go
  ludus-api/migrate_to_pocketbase.go
  ludus-api/utils.go
Due: build all

fix(install): 🐛 properly hash root API key during install
  ludus-api/database.go
Due: build all

fix: 🐛 allow ROOT user to not have a default range
  ludus-api/middleware.go
Due: build all

fix(install): 🐛 allow root user to not have ranage, take 2
  ludus-api/middleware.go
Due: build all

fix: 🐛 fix user add and delete
  ludus-api/ansible.go
  ludus-api/api_user_management.go
  ludus-api/database.go
  ludus-api/middleware.go
  ludus-api/routers.go
  ludus-api/utils.go
  ludus-client/cmd/user.go
Due: build all, client basic-commands, post-deploy user-cmds-as-admin, post-deploy user-cmds-as-user

fix: 🐛 fix defaultRangeID value for new users; fix template build command default to all
  ludus-api/utils.go
  ludus-client/cmd/templates.go
Due: build all, client basic-commands, post-deploy templates-as-admin, post-deploy templates-as-user

fix: 🐛 fix template building
  .gitlab-ci.yml
  ludus-api/api_template_management.go
  ludus-api/config.go
  ludus-api/cryptography.go
  ludus-server/config.go
  ludus-server/packer/debian11/debian11.pkr.hcl
  ludus-server/packer/debian12/debian12.pkr.hcl
  ludus-server/packer/kali/kali.pkr.hcl
  ludus-server/packer/win11-22h2-x64-enterprise/win11-22h2-x64-enterprise.pkr.hcl
  ludus-server/packer/win2022-server-x64/win2022-server-x64.pkr.hcl
Due: build all, install kickoff, install check, install snapshot, templates build, templates check, templates snapshot

fix: 🐛 fix bugs in user creation and removal
  ludus-api/api_user_management.go
  ludus-api/middleware.go
  ludus-api/proxmox.go
  ludus-api/utils.go
  ludus-client/rest/restapi.go
  ludus-server/packer/win11-22h2-x64-enterprise/win11-22h2-x64-enterprise.pkr.hcl
  ludus-server/packer/win2022-server-x64/win2022-server-x64.pkr.hcl
Due: build all, templates build, templates check, templates snapshot, client basic-commands

fix: 🐛 fix range config handling
  ludus-api/ansible.go
  ludus-api/api_range_management.go
  ludus-api/utils.go
Due: build all

fix: 🐛 fix ansible deployment issue with range config file path
  ludus-api/ansible.go
Due: build all

fix: 🐛 fix errors with power state management
  dev.sh
  ludus-api/api_power_state_management.go
  ludus-api/pocketbase.go
  ludus-api/proxmox.go
  ludus-api/routers.go
  ludus-server/dev.sh
Due: build all

fix(client): 🐛 fix bug handling errors
  ludus-client/rest/restapi.go
Due: build all, client basic-commands

fix: 🐛 fix bug when setting user defined roles for a range
  ludus-api/ansible.go
  ludus-api/api_power_state_management.go
  ludus-api/api_range_management.go
  ludus-api/middleware.go
  ludus-api/yaml_validate.go
Due: build all

docs: 📚 add nemisis role
  docs/docs/roles.md
Due: pages, documentation, build all

Path conditions:
  pages: any of: docs/**/*
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  client basic-commands: any of: ludus-client/**/*.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  range deploy-admin: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-admin: any of: ludus-server/ansible/range-management/**/*
  range snapshot-admin: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-admin: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-admin: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-admin: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-admin: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-admin: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  range deploy-user: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-user: any of: ludus-server/ansible/range-management/**/*
  range snapshot-user: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-user: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-user: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-user: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-user: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-user: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  post-deploy snapshots-as-user: any of: ludus-client/cmd/snapshots.go, ludus-server/src/api_snapshot_management.go
