Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, documentation, build all, install kickoff, install check, install snapshot, templates build, templates check, templates snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, post-deploy ansible-as-admin, post-deploy user-cmds-as-admin, post-deploy templates-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user, post-deploy ansible-as-user, post-deploy user-cmds-as-user, post-deploy templates-as-user, post-deploy snapshots-as-user

pages:
  stage: pages
  variables:
    LUDUS_BUILD_TYPE: any-built
  tags:
  - ludus-proxmox-runner
  retry:
    max: 2
  script:
  - cd docs
  - 'sed -i "s|baseUrl: ''/ludus/''|baseUrl: ''/''|" docusaurus.config.js'
  - yarn install
  - yarn build
  - rm -f ./build/video/*
  - mv ./build ../public
  artifacts:
    paths:
    - public

documentation:
  stage: documentation
  variables:
    LUDUS_BUILD_TYPE: any-built
  tags:
  - ludus-proxmox-runner
  retry:
    max: 2
  script:
  - cd docs
  - yarn install
  - yarn build
  - rm -f ./build/video/*
  - rm -f ./build/img/hardware/Debian_12_RAID0.mp4
  - mv ./build ../built-docs
  artifacts:
    paths:
    - built-docs

build all:
  stage: build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - documentation
  artifacts:
    paths:
    - binaries/*
    expire_in: 1 week
  variables:
    LUDUS_BUILD_TYPE: any-built
  timeout: 10m
  script:
  - echo "Compiling the server code..."
  - export GIT_COMMIT_SHORT_HASH=$(git rev-parse --short HEAD)
  ...

install kickoff:
  stage: install-kickoff
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: kickoff
  timeout: 10m
  script:
  - sudo hostname ludus-$CI_PIPELINE_ID
  - sudo hostnamectl set-hostname ludus-$CI_PIPELINE_ID
  - cd binaries
  ...

install check:
  stage: install-check
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: check
  timeout: 1h
  script:
  - sudo cat /opt/ludus/install/install.log
  - echo "root:$CI_PIPELINE_ID" | sudo chpasswd

install snapshot:
  stage: install-snapshot
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - echo "Snapshot complete"

templates build:
  stage: templates-build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - - sudo /usr/sbin/chronyd -q 'pool pool.ntp.org iburst' || sudo /usr/bin/chronyc -m 'burst 3/3' 'makestep 0.5 -1'
  ...

templates check:
  stage: templates-check
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 2h
  retry:
    max: 2
  script:
  ...

templates snapshot:
  stage: templates-snapshot
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: templates_built
  timeout: 5m
  script:
  - echo "Snapshot complete"

client basic-commands:
  stage: client
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - - sudo /usr/sbin/chronyd -q 'pool pool.ntp.org iburst' || sudo /usr/bin/chronyc -m 'burst 3/3' 'makestep 0.5 -1'
      - date
  ...

fix(server): 🐛 properly chown range folders to ludus:ludus when creating from a blueprint
  .gitlab-ci.yml
  ludus-api/api_range_management.go
  ludus-api/filesystem.go
  ludus-api/utils.go
Due: build all

feat(server): ✨ allow `ludus_extensions` key to store arbitrary yaml data in a range config
  .gitlab-ci.yml
  docs/docs/configuration.mdx
  docs/static/schemas/range-config.json
  ludus-server/ansible/user-files/range-config.jsonschema
  ludus-server/ci/configs/small-range.yml
Due: pages, documentation, build all, client basic-commands

ci: 🤖 remove outdated test
  .gitlab-ci.yml
Due: build all

fix(server): 🐛 fix range directory permissions
  ludus-api/api_range_management.go
Due: build all

fix(client): 🐛 client exits with exit code 1 if there is a failure from the server
  docs/docs/using-ludus/sources.md
  ludus-client/cmd/ansible.go
  ludus-client/cmd/antisandbox.go
  ludus-client/cmd/blueprint.go
  ludus-client/cmd/diagnostics.go
  ludus-client/cmd/edit.go
  ludus-client/cmd/group.go
  ludus-client/cmd/kms.go
  ludus-client/cmd/migrate.go
  ludus-client/cmd/power.go
  ludus-client/cmd/quota.go
  ludus-client/cmd/range.go
  ludus-client/cmd/range_auto_shutdown.go
  ludus-client/cmd/snapshots.go
  ludus-client/cmd/source.go
  ludus-client/cmd/templates.go
  ludus-client/cmd/testing.go
  ludus-client/cmd/user.go
  ludus-client/cmd/utils.go
  ludus-client/cmd/version.go
  ludus-client/cmd/vm.go
Due: pages, documentation, build all, client basic-commands, range deploy-admin, post-deploy testing-as-admin, post-deploy power-as-admin, post-deploy ansible-as-admin, post-deploy user-cmds-as-admin, post-deploy templates-as-admin, range deploy-user, post-deploy testing-as-user, post-deploy power-as-user, post-deploy ansible-as-user, post-deploy user-cmds-as-user, post-deploy templates-as-user, post-deploy snapshots-as-user

ci: 🤖 remove outdated test for source ID overlap
  .gitlab-ci.yml
Due: build all

fix(server): 🐛 create range directors as 755 to allow ranges to be accessed by ludus user
  ludus-api/utils.go
Due: build all

fix(server): 🐛 correct ranges dir permissions for initial admin user creation
  ludus-api/utils.go
Due: build all

fix(server): 🐛 fix offline license file validity setting
  ludus-api/license.go
Due: build all

ci: 🤖 update tests to reflect client exit code 1 on error
  .gitlab-ci.yml
Due: build all

docs: 📚 add --append to admin promotion CLI command
  docs/docs/administration/admin.md
Due: pages, documentation, build all

fix: integrate Go inventory into LXC build
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname.yml
  ludus-server/lxc/Makefile
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix: support offline range deployment in LXC
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname-linux.yml
  ludus-server/ansible/range-management/tasks/router/configure-router.yml
  ludus-server/ansible/range-management/tasks/windows/configure-dc.yml
  ludus-server/lxc/Makefile
  ludus-server/lxc/files/ludus-admin.service
  ludus-server/lxc/files/ludus.service
  ludus-server/packer/ansible/router-offline-prereqs.yml
  ludus-server/packer/debian11/debian11.pkr.hcl
  ludus-server/packer/debian11/http/debian-11-preseed.cfg
  ludus-server/packer/debian12/http/debian-12-preseed.cfg
  ludus-server/packer/win11-22h2-x64-enterprise/win11-22h2-x64-enterprise.pkr.hcl
  ludus-server/packer/win2022-server-x64/win2022-server-x64.pkr.hcl
Due: build all, templates build, templates check, templates snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

feat(server): replace AdGuardHome with Blocky
  docs/docs/configuration.mdx
  docs/docs/infrastructure-operations/DNS.md
  docs/static/schemas/range-config.json
  go.work.sum
  ludus-api/yaml_validate.go
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/range-management/tasks/firewall/dns-management.yml
  ludus-server/ansible/range-management/tasks/router/add-host-to-router-dns.yml
  ludus-server/ansible/range-management/tasks/router/add-user-defined-rewrites-to-router.yml
  ludus-server/ansible/range-management/tasks/router/configure-router.yml
  ludus-server/ansible/range-management/tasks/router/ensure-blocky.yml
  ludus-server/ansible/range-management/tasks/router/load-blocky-state.yml
  ludus-server/ansible/range-management/tasks/router/render-blocky-config.yml
  ludus-server/ansible/range-management/tasks/router/save-blocky-state.yml
  ludus-server/ansible/range-management/templates/AdGuardHome.yaml.j2
  ludus-server/ansible/range-management/templates/blocky-config.yml.j2
  ludus-server/ansible/range-management/templates/blocky.service.j2
  ludus-server/ansible/user-files/range-config.jsonschema
Due: pages, documentation, build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(lxc): stage Blocky for offline deployment
  ludus-server/ansible/range-management/tasks/router/ensure-blocky.yml
  ludus-server/lxc/Makefile
  ludus-server/lxc/build.sh
  ludus-server/packer/ansible/router-offline-prereqs.yml
Due: build all, templates build, templates check, templates snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(server): support Blocky deployment from LXC
  ludus-server/ansible/range-management/tasks/router/ensure-blocky.yml
  ludus-server/ansible/range-management/tasks/router/render-blocky-config.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

feat(lxc): inject CA certificate into templates
  install.sh
  ludus-server/packer/ansible/inject-ca-certificate.yml
  ludus-server/packer/debian11/debian11.pkr.hcl
  ludus-server/packer/debian12/debian12.pkr.hcl
  ludus-server/packer/kali/kali.pkr.hcl
  ludus-server/packer/win11-22h2-x64-enterprise/win11-22h2-x64-enterprise.pkr.hcl
  ludus-server/packer/win2022-server-x64/win2022-server-x64.pkr.hcl
Due: build all, templates build, templates check, templates snapshot

docs(lxc): document installer and offline requirements
  docs/docs/deployment-options/proxmox-lxc.md
  docs/docs/deployment-options/proxmox.md
  docs/docs/quick-start/install-ludus.md
Due: pages, documentation, build all

docs: 📚 fix GOAD deploy command
  docs/docs/environment-guides/goad.md
Due: pages, documentation, build all

feat(lxc): Add `airgapped_install` config value to gate internet checks. Fix chocolatey installs offline using Nexus.
  .gitignore
  docs/docs/deployment-options/proxmox-lxc.md
  docs/docs/quick-start/install-ludus.md
  docs/yarn.lock
  go.work.sum
  install.sh
  ludus-api/api_user_management.go
  ludus-api/config.go
  ludus-api/pveclient/client.go
  ludus-api/pveclient/client_test.go
  ludus-api/pveclient/ops.go
  ludus-api/pveclient/ops_test.go
  ludus-server/ansible/range-management/host_vars/localhost.yml
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname-linux.yml
  ludus-server/ansible/range-management/tasks/windows/add-additional-windows-tools.yml
  ludus-server/ansible/range-management/tasks/windows/configure-windows.yml
  ludus-server/ansible/range-management/tasks/windows/install-extra-choco-packages.yml
  ludus-server/ansible/range-management/tasks/windows/install-office.yml
  ludus-server/ansible/range-management/tasks/windows/install-visual-studio.yml
  ludus-server/ci/test-lxc-airgap.sh
  ludus-server/lxc/Makefile
  ludus-server/lxc/build.sh
Due: pages, documentation, build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(server): 🐛 update entitlement checks to use default value
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(server): 🐛 make sysprep failure detection and recovery more general
  ludus-server/ansible/range-management/tasks/windows/sysprep.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(server): 🐛 Fixes for offline compatibility
  docs/docs/deployment-options/proxmox-lxc.md
  docs/superpowers/plans/2026-05-30-ludus-lxc-containerization.md
  docs/superpowers/specs/2026-05-30-ludus-lxc-containerization-design.md
  install.sh
  ludus-api/api_template_management.go
  ludus-api/config.go
  ludus-api/config_test.go
  ludus-server/bootstrap.go
  ludus-server/bootstrap_test.go
  ludus-server/ci/test-lxc-airgap.sh
  ludus-server/localgen/dnsmasq.go
  ludus-server/localgen/dnsmasq_test.go
  ludus-server/lxc/Makefile
  ludus-server/lxc/build.sh
  ludus-server/packer/ansible/inject-ca-certificate.yml
  ludus-server/packer/ansible/router-offline-prereqs.yml
  ludus-server/packer/debian11/debian11.pkr.hcl
  ludus-server/packer/debian11/http/debian-11-preseed.cfg
  ludus-server/packer/debian12/debian12.pkr.hcl
  ludus-server/packer/debian12/preseed.cfg.pkrtpl.hcl
  ludus-server/packer/kali/http/.gitignore
  ludus-server/packer/kali/http/kali-preseed.cfg
  ludus-server/packer/kali/kali.pkr.hcl
  ludus-server/packer/kali/kali.yml
  ludus-server/packer/win11-22h2-x64-enterprise/win11-22h2-x64-enterprise.pkr.hcl
  ludus-server/packer/win2022-server-x64/win2022-server-x64.pkr.hcl
Due: pages, documentation, build all, install kickoff, install check, install snapshot, templates build, templates check, templates snapshot

fix(server): 🐛 fix sysprep error handling
  ludus-server/ansible/range-management/tasks/windows/sysprep.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(server): 🐛 make BSL source part of the airgap install and avilable from an archive
  ludus-api/source_sync.go
  ludus-api/source_sync_test.go
  ludus-server/ci/test-lxc-airgap.sh
  ludus-server/lxc/Makefile
  ludus-server/lxc/build.sh
Due: build all

feat(server): ✨ Add osType field to VM model and expose via range API for Guacamole OS detection
  .gitignore
  ludus-api/api_group_management.go
  ludus-api/api_placeholder.go
  ludus-api/api_range_management.go
  ludus-api/dto/responses.go
  ludus-api/migrations/1761280000_add_ostype_to_vms.go
  ludus-api/models/model_proxies.go
  ludus-api/range_config.go
  ludus-api/utils.go
Due: build all

fix(auth): 🐛 Deduplicate proxmox username and userID on SSO user creation
  ludus-api/database.go
Due: build all

ci: 🤖 remove existing Proxmox collection before installation to allow CI retries
  .gitlab-ci.yml
Due: build all

feat(tests): 🧪 create testing.sh for managing Ludus test VMs
  .gitignore
  DEVELOPERS.md
  dev.sh
  docs/docs/developers/developer-tips.md
  ludus-client/dev.sh
  ludus-server/dev.sh
  testing.sh
Due: pages, documentation, build all

feat(tests): 🧪 update testing.sh to use API tokens. Update developer docs to match.
  DEVELOPERS.md
  docs/docs/developers/developer-tips.md
  testing.sh
Due: pages, documentation, build all

fix(server): 🐛 fix sysprep to handle multiple concurrent windows syspreps and be more robust
  .gitignore
  SPAN_PORT.md
  dynamic-inventory/README.md
  dynamic-inventory/inventory_test.go
  dynamic-inventory/main.go
  go.work
  go.work.sum
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/range-management/tasks/proxmox/deploy-vm.yml
  ludus-server/ansible/range-management/tasks/windows/sysprep.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(client): 🐛 correctly apply verify setting
  ludus-client/cmd/root.go
  ludus-client/cmd/root_config_test.go
Due: build all, client basic-commands

Update router VM configuration to use Debian 13 template
  .ansible-lint
  .gitlab-ci.yml
  DEVELOPERS.md
  docs/docs/configuration.mdx
  docs/docs/developers/developer-tips.md
  docs/docs/environment-guides/goad-dracarys.md
  docs/docs/environment-guides/goad-nha.md
  docs/docs/environment-guides/goad-sccm.md
  docs/docs/environment-guides/goad.md
  docs/docs/environment-guides/netexec-workshop-lehack-2024.md
  docs/docs/environment-guides/netexec-workshop-lehack-2025.md
  docs/docs/environment-guides/splunk-attack-range.md
  docs/docs/quick-start/build-templates.md
  docs/docs/quick-start/deploy-range.mdx
  docs/docs/using-ludus/templates.md
  docs/static/api/ludus.openapi.yaml
  ludus-api/range_config.go
  ludus-server/ansible/range-management/library/ludus_role_dependency_resolver.py
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/range-management/tasks/firewall/set-firewall-rules.yml
  ludus-server/ansible/range-management/tasks/router/configure-router.yml
  ludus-server/ansible/range-management/user-defined-roles.yml
  ludus-server/ansible/server-config.yml
  ludus-server/ci/configs/integration-test.yml
  ludus-server/ci/configs/small-range-error.yml
  ludus-server/ci/configs/small-range.yml
  ludus-server/packer/debian13/debian13.pkr.hcl
  ludus-server/packer/debian13/http/debian-13-preseed.cfg
  ludus-server/packer/debian13/icon.png
  testing.sh
Due: pages, documentation, build all, templates build, templates check, templates snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

Fix go.work
  go.work
  go.work.sum
Due: build all

ci: update Debian 13 router seeds
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/range-management/tasks/router/configure-router.yml
  ludus-server/ansible/server-config.yml
  ludus-server/ci/configs/cluster-explicit.yml
  ludus-server/ci/configs/cluster-range-default.yml
  ludus-server/ci/configs/integration-test.yml
  ludus-server/ci/configs/simple-domain.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

ci: bound blocked network checks
  .gitlab-ci.yml
Due: build all

Add prints for each step in dev.sh
  dev.sh
  go.work.sum
Due: build all

feat(server): ✨ enable cert based auth for VMs
  docs/static/schemas/range-config.json
  ludus-api/ansible.go
  ludus-api/range_auth.go
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/user-files/range-config.jsonschema
Due: pages, documentation, build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(server): 🐛 change macOS to macos for configuration and schema
  docs/docs/configuration.mdx
  docs/static/schemas/range-config.json
  ludus-server/ansible/user-files/range-config.jsonschema
Due: pages, documentation, build all, client basic-commands

Path conditions:
  pages: any of: docs/**/*
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  client basic-commands: any of: ludus-client/**/*.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  range deploy-admin: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-admin: any of: ludus-server/ansible/range-management/**/*
  range snapshot-admin: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-admin: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-admin: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-admin: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-admin: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-admin: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  range deploy-user: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-user: any of: ludus-server/ansible/range-management/**/*
  range snapshot-user: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-user: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-user: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-user: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-user: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-user: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  post-deploy snapshots-as-user: any of: ludus-client/cmd/snapshots.go, ludus-server/src/api_snapshot_management.go
