Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, documentation, build all, install kickoff, install check, install snapshot, templates build, templates check, templates snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, post-deploy ansible-as-admin, post-deploy user-cmds-as-admin, post-deploy templates-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user, post-deploy ansible-as-user, post-deploy user-cmds-as-user, post-deploy templates-as-user, post-deploy snapshots-as-user

pages:
  stage: pages
  variables:
    LUDUS_BUILD_TYPE: any-built
  tags:
  - ludus-proxmox-runner
  retry:
    max: 2
  script:
  - cd docs
  - 'sed -i "s|baseUrl: ''/ludus/''|baseUrl: ''/''|" docusaurus.config.js'
  - yarn install
  - yarn build
  - rm -f ./build/video/*
  - mv ./build ../public
  artifacts:
    paths:
    - public

documentation:
  stage: documentation
  variables:
    LUDUS_BUILD_TYPE: any-built
  tags:
  - ludus-proxmox-runner
  retry:
    max: 2
  script:
  - cd docs
  - yarn install
  - yarn build
  - rm -f ./build/video/*
  - rm -f ./build/img/hardware/Debian_12_RAID0.mp4
  - mv ./build ../built-docs
  artifacts:
    paths:
    - built-docs

build all:
  stage: build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - documentation
  artifacts:
    paths:
    - binaries/*
    expire_in: 1 week
  variables:
    LUDUS_BUILD_TYPE: any-built
  timeout: 10m
  script:
  - echo "Compiling the server code..."
  - export GIT_COMMIT_SHORT_HASH=$(git rev-parse --short HEAD)
  ...

install kickoff:
  stage: install-kickoff
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: kickoff
  timeout: 10m
  script:
  - sudo hostname ludus-$CI_PIPELINE_ID
  - sudo hostnamectl set-hostname ludus-$CI_PIPELINE_ID
  - cd binaries
  ...

install check:
  stage: install-check
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: check
  timeout: 1h
  script:
  - sudo cat /opt/ludus/install/install.log
  - echo "root:$CI_PIPELINE_ID" | sudo chpasswd

install snapshot:
  stage: install-snapshot
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - echo "Snapshot complete"

templates build:
  stage: templates-build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - - sudo /usr/sbin/chronyd -q 'pool pool.ntp.org iburst' || sudo /usr/bin/chronyc -m 'burst 3/3' 'makestep 0.5 -1'
  ...

templates check:
  stage: templates-check
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 2h
  retry:
    max: 2
  script:
  ...

templates snapshot:
  stage: templates-snapshot
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: templates_built
  timeout: 5m
  script:
  - echo "Snapshot complete"

client basic-commands:
  stage: client
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - - sudo /usr/sbin/chronyd -q 'pool pool.ntp.org iburst' || sudo /usr/bin/chronyc -m 'burst 3/3' 'makestep 0.5 -1'
      - date
  ...

fix(user-management): 🐛 fix bugs with getting/setting creds [skip ci] Signed-off-by: Erik [Bad Sector Labs] <555113-badsectorlabs-erik@users.noreply.gitlab.com>
  .gitlab-ci.yml
  docs/static/api/ludus.openapi.yml
  ludus-api/api_ansible.go
  ludus-api/api_user_management.go
  ludus-api/dto/responses.go
  ludus-api/middleware.go
  ludus-api/migrate_to_pocketbase.go
  ludus-api/migrations/1761252002_initial_expand_users_collection.go
  ludus-api/models/model_proxies.go
  ludus-api/proxmox.go
  ludus-api/types/types.go
  ludus-api/utils.go
  ludus-client/cmd/user.go
  ludus-server/ansible/user-management/add-user.yml
Due: pages, documentation, build all, client basic-commands, range deploy-admin, post-deploy user-cmds-as-admin, range deploy-user, post-deploy user-cmds-as-user

fix: 🐛 fix bugs with groups
  docs/static/api/ludus.openapi.yml
  ludus-api/api_group_management.go
  ludus-api/api_range_management.go
  ludus-api/dto/responses.go
  ludus-api/groups.go
  ludus-api/utils.go
  ludus-client/cmd/group.go
  ludus-client/cmd/range.go
Due: pages, documentation, build all, client basic-commands, range deploy-admin, range deploy-user

fix: 🐛 require auth
  .gitlab-ci.yml
  ludus-api/middleware.go
  ludus-api/routers.go
Due: build all

fix: 🐛 fix group membership bug
  ludus-api/api_group_management.go
Due: build all

fix: 🐛 auth fix; group fixes and range accessible fixes
  ludus-api/api_group_management.go
  ludus-api/api_range_management.go
  ludus-api/dto/responses.go
  ludus-api/middleware.go
  ludus-api/utils.go
Due: build all

fix(client): 🐛 fixes to client to always sent proper range and user IDs
  ludus-client/cmd/ansible.go
  ludus-client/cmd/antisandbox.go
  ludus-client/cmd/edit.go
  ludus-client/cmd/group.go
  ludus-client/cmd/kms.go
  ludus-client/cmd/range.go
  ludus-client/cmd/snapshots.go
  ludus-client/cmd/templates.go
  ludus-client/cmd/user.go
  ludus-client/cmd/utils.go
  ludus-client/rest/restapi.go
Due: build all, client basic-commands, range deploy-admin, post-deploy ansible-as-admin, post-deploy user-cmds-as-admin, post-deploy templates-as-admin, range deploy-user, post-deploy ansible-as-user, post-deploy user-cmds-as-user, post-deploy templates-as-user, post-deploy snapshots-as-user

ci: 🤖 expanded group testing; fixed range testing; speed up via no binary download each stage
  .gitlab-ci.yml
Due: build all

ci: 🤖 cache binaries
  .gitlab-ci.yml
Due: build all

fix: 🐛 fix group user delete bug
  .gitlab-ci.yml
  ludus-api/api_group_management.go
Due: build all

ci: 🤖 better ci cache
  .gitlab-ci.yml
Due: build all

ci: 🤖 GIT_STRATEGY: none is the ultimate cache
  .gitlab-ci.yml
Due: build all

ci: 🤖 use cache to prevent old binaries from being used on re-used runner after a snapshot restore
  .gitlab-ci.yml
Due: build all

ci: 🤖 cache is stored on the VM that gets reverted, so can't be used
  .gitlab-ci.yml
Due: build all

ci: 🤖 fit gitlab ci lint error
  .gitlab-ci.yml
Due: build all

fix(client): 🐛 fix bug in range create command
  .gitlab-ci.yml
  ludus-client/cmd/range.go
Due: build all, client basic-commands, range deploy-admin, range deploy-user

fix: 🐛 pointers are hard
  ludus-api/api_group_management.go
  ludus-api/api_range_management.go
  ludus-api/pocketbase.go
  ludus-api/proxmox.go
  ludus-api/utils.go
Due: build all

fix: 🐛 fix rangeID regex and template building
  ludus-api/api_template_management.go
  ludus-api/migrations/1761252003_initial_create_ranges_collection.go
  templates/debian13/debian13.pkr.hcl
Due: build all

chore(templates): 🧹 update debian13 url and checksum
  templates/debian13/debian13.pkr.hcl
Due: build all

fix(templates): 🐛 try moving placeholder values to env vars to satisfy older template compat
  ludus-api/api_template_management.go
Due: build all

ci: 🤖 force artifact download for template stage
  .gitlab-ci.yml
Due: build all

fix(templates): 🐛 dont pass username in -var
  ludus-api/api_template_management.go
Due: build all

ci: 🤖 no relative paths for ci directory
  .gitlab-ci.yml
Due: build all

refactor(templates): 🔨 update win11 to modern standards
  ludus-server/packer/win11-22h2-x64-enterprise/win11-22h2-x64-enterprise.pkr.hcl
Due: build all, templates build, templates check, templates snapshot

Automatic backup from Apidog
  docs/static/api/ludus.openapi.yaml
Due: pages, documentation, build all

fix: 🐛 add security to users collection
  ludus-api/migrations/1761252002_initial_expand_users_collection.go
Due: build all

docs: 📚 update API docs from yml to yaml
  docs/static/api/index.html
  docs/static/api/ludus.openapi.yml
Due: pages, documentation, build all

fix(templates): 🐛 fix issue getting template status
  ludus-api/api_range_management.go
  ludus-api/api_template_management.go
  ludus-api/process.go
  ludus-client/cmd/templates.go
Due: build all, client basic-commands, post-deploy templates-as-admin, post-deploy templates-as-user

ci: 🤖 prevent Apidog from running CI
  .gitlab-ci.yml
Due: build all

feat(templates): ✨ add command manager for template processes
  ludus-api/commandmanager/commandmanager.go
Due: build all

ci: 🤖 fix apidog if rules
  .gitlab-ci.yml
Due: build all

fix(templates): 🐛 use a blank username and password to force the use of the other env vars which have token and username
  ludus-api/api_template_management.go
Due: build all

fix: 🐛 fix api key response; fix permission error with password reset; fix ci error message greps
  .gitlab-ci.yml
  ludus-api/api_user_management.go
  ludus-api/dto/responses.go
Due: build all

refactor: 🔨 use dto more
  ludus-client/cmd/user.go
Due: build all, client basic-commands, post-deploy user-cmds-as-admin, post-deploy user-cmds-as-user

fix: 🐛 fix snapshot list command and improve ci tests for snapshots
  .gitlab-ci.yml
  ludus-api/api_snapshot_management.go
Due: build all

fix(client): 🐛 fix range rm command
  ludus-client/cmd/range.go
Due: build all, client basic-commands, range deploy-admin, range deploy-user

fix: 🐛 fix user defined role handling and range access/grant
  ludus-api/api_group_management.go
  ludus-api/api_range_management.go
  ludus-api/ludus-api
  ludus-api/range_access.go
  ludus-api/yaml_validate.go
Due: build all

docs: 📚 remove emojis to not look like AI
  README.md
Due: build all

fix: 🐛 fix access handling for groups; refactor wireguard; simplify access playbook
  .gitlab-ci.yml
  ludus-api/ansible.go
  ludus-api/api_group_management.go
  ludus-api/api_range_management.go
  ludus-api/api_user_management.go
  ludus-api/config.go
  ludus-api/file_operations.go
  ludus-api/middleware.go
  ludus-api/range_access.go
  ludus-api/utils.go
Due: build all

fix: 🐛 ansible changes for access control
  ludus-api/dto/responses.go
  ludus-api/wireguard.go
  ludus-client/cmd/range.go
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/range-management/range-access.yml
  ludus-server/ansible/range-management/tasks/firewall/set-firewall-rules.yml
  ludus-server/ansible/server-config.yml
  ludus-server/ansible/user-management/templates/wg_client.conf.j2
  ludus-server/config.go
Due: build all, install kickoff, install check, install snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy user-cmds-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy user-cmds-as-user

Path conditions:
  pages: any of: docs/**/*
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  client basic-commands: any of: ludus-client/**/*.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  range deploy-admin: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-admin: any of: ludus-server/ansible/range-management/**/*
  range snapshot-admin: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-admin: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-admin: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-admin: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-admin: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-admin: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  range deploy-user: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-user: any of: ludus-server/ansible/range-management/**/*
  range snapshot-user: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-user: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-user: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-user: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-user: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-user: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  post-deploy snapshots-as-user: any of: ludus-client/cmd/snapshots.go, ludus-server/src/api_snapshot_management.go
