Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, build all, install kickoff, install check, install snapshot, client basic-commands, templates build, templates check, templates snapshot, range deploy, range check, range snapshot, post-deploy testing

documentation:
  stage: documentation
  tags:
  - ludus-proxmox-runner
  script:
  - cd docs
  - yarn install
  - yarn build
  - mv ./build ../public
  artifacts:
    paths:
    - public

build all:
  stage: build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - documentation
  artifacts:
    paths:
    - binaries/*
    expire_in: 1 week
  variables:
    LUDUS_BUILD_TYPE: any-built
  timeout: 10m
  script:
  - echo "Compiling the server code..."
  - export GIT_COMMIT_SHORT_HASH=$(git rev-parse --short HEAD)
  ...

install kickoff:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: kickoff
  timeout: 10m
  script:
  - sudo hostname ludus-$CI_PIPELINE_ID
  - sudo hostnamectl set-hostname ludus-$CI_PIPELINE_ID
  - cd binaries
  ...

install check:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install kickoff
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: check
  timeout: 1h
  script:
  - sudo cat /opt/ludus/install/install.log
  - echo "root:$CI_PIPELINE_ID" | sudo chpasswd

install snapshot:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
    artifacts: false
  - job: install check
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - echo "Snapshot complete"

client basic-commands:
  stage: client
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install snapshot
    optional: true
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - cd binaries
    - pgrep -f 'ansible|packer' || sudo ./ludus-server --update
  ...

templates build:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install snapshot
    optional: true
  - job: client basic-commands
    optional: true
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - cd binaries
  ...

templates check:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: templates build
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 2h
  retry:
    max: 2
  script:
  - - cd binaries
    - pgrep -f 'ansible|packer' || sudo ./ludus-server --update
  ...

templates snapshot:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
    artifacts: false
  - job: templates check
  variables:
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: templates_built
  timeout: 5m
  script:
  - echo "Snapshot complete"

feat(server): ✨ cryptographically verify plugin signatures
  ludus-api/license.go
Due: build all

docs: 📚 add enterprise documentation
  docs/docs/developers/cicd.md
  docs/docs/enterprise/_category_.json
  docs/docs/enterprise/anti-sandbox.md
  docs/docs/enterprise/enterprise.md
  docs/docs/enterprise/outbound-wireguard.md
  docs/docs/enterprise/private-roles.md
  docs/docs/passwords.md
  docs/static/api/index.html
  docs/static/img/enterprise/anti-sandbox-enabled.png
  docs/static/img/enterprise/normal-vm.png
Due: documentation, build all

docs: 📚 update anti-sandbox docs
  docs/docs/enterprise/anti-sandbox.md
Due: documentation, build all

docs: 📚 clean up docs
  CONTRIBUTING.md
  docs/docs/cicd.md
  docs/docs/cli.md
  docs/docs/configuration.mdx
  docs/docs/developers/_category_.json
  docs/docs/developers/ansible-roles.md
  docs/docs/developers/building-from-source.md
  docs/docs/developers/contributing.md
  docs/docs/enterprise/anti-sandbox.md
  docs/docs/networking.md
  docs/docs/outbound-wireguard.md
  docs/docs/templates.md
Due: documentation, build all

fix(templates): 🐛 fix ubuntu 24.04 desktop url
  templates/ubuntu-24.04-x64-desktop/ubuntu-24.04-x64-desktop.pkr.hcl
Due: build all

feat(templates): ✨ add ubuntu 24.04 server template
  templates/ubuntu-24.04-x64-server/ansible/reset-machine-id.yml
  templates/ubuntu-24.04-x64-server/ansible/reset-ssh-host-keys.yml
  templates/ubuntu-24.04-x64-server/http/meta-data
  templates/ubuntu-24.04-x64-server/http/user-data
  templates/ubuntu-24.04-x64-server/ubuntu-24.04-x64-server.pkr.hcl
Due: build all

fix(install): 🐛 don't tell the user the install will reboot the box if it is an existing proxmox install
  ludus-server/form.go
  ludus-server/main.go
Due: build all, install kickoff, install check, install snapshot

feat(client): ✨ provide a helpful error when choco hashes don't match
  ludus-client/cmd/utils.go
Due: build all, client basic-commands, range deploy, post-deploy testing

docs: 📚 add note about impersonation to GOAD docs
  docs/docs/environment-guides/goad-nha.md
  docs/docs/environment-guides/goad-sccm.md
  docs/docs/environment-guides/goad.md
Due: documentation, build all

fix(server): 🐛 fix rare bug with secondary-dc deployment
  ludus-server/ansible/range-management/tasks/windows/configure-additional-dc.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

feat(server): ✨ allow range numbers to be reserved and not used via a config setting
  docs/docs/networking.md
  docs/docs/quick-start/install-ludus.md
  ludus-api/api_user_management.go
  ludus-api/config.go
  ludus-api/database.go
Due: documentation, build all

fix(server): 🐛 make sure vm objects have a template and name before casting them
  ludus-api/api_template_management.go
Due: build all

refactor(server): 🔨 better handling of existing plugins
  ludus-api/license.go
Due: build all

fix(server): 🐛 fix access grant error if source user had a custom router name
  ludus-server/ansible/range-management/range-access.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

feat(server): ✨ allow users to diable dynamic wallpaper on windows
  docs/static/schemas/range-config.json
  ludus-server/ansible/range-management/tasks/windows/configure-windows.yml
  ludus-server/ansible/server-config.yml
  ludus-server/ansible/user-files/range-config.jsonschema
Due: documentation, build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

docs: 📚 fix spacing on roles header
  docs/docs/developers/ansible-roles.md
Due: documentation, build all

docs: 📚 document the enable_dynamic_wallpaper option
  docs/docs/configuration.mdx
Due: documentation, build all

test: 🚨 add required items to defaults for integration test
  ludus-server/ci/configs/integration-test.yml
Due: build all

test: 🚨 fix tz for integration test
  ludus-server/ci/configs/integration-test.yml
Due: build all

docs: 📚 add juiceshop role to roles page
  docs/docs/roles.md
Due: documentation, build all

fix(client): 🐛 fix external editor temp path on Windows
  ludus-client/cmd/edit.go
Due: build all, client basic-commands, range deploy, post-deploy testing

docs: 📚 improve building from source docs
  docs/docs/developers/building-from-source.md
Due: documentation, build all

docs: 📚 improve updating docs
  docs/docs/configuration.mdx
  docs/docs/updating.md
Due: documentation, build all

docs: 📚 add tags docs
  docs/docs/tags.md
Due: documentation, build all

feat(server): ✨ add a SMB share at 192.0.2.3 that hosts two shares, readonlyshare and readwriteshare
  docs/docs/networking.md
  ludus-server/ansible/range-management/ludus.yml
Due: documentation, build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

feat(server): ✨ create RDP files for user specified autologon users
  ludus-server/ansible/range-management/tasks/make-rdp-files.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

feat(server): ✨ enable network sharing for windows VMs
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/range-management/tasks/windows/enable-network-sharing.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix(server): 🐛 fix issue getting router to action during range access operations
  ludus-server/ansible/range-management/range-access.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

style(client): 💄 better choco error message
  ludus-client/cmd/utils.go
Due: build all, client basic-commands, range deploy, post-deploy testing

fix(client): 🐛 allow users to update the client binary without an API key
  ludus-client/cmd/root.go
Due: build all, client basic-commands, range deploy, post-deploy testing

docs: 📚 update tags docs
  docs/docs/tags.md
Due: documentation, build all

fix(server): 🐛 prevent users from deleting core ansible roles that ludus uses
  ludus-api/api_ansible.go
Due: build all

feat(server): ✨ don't block any DNS requests by default (lists are still present, just not enabled)
  docs/docs/DNS.md
  ludus-server/ansible/range-management/templates/AdGuardHome.yaml.j2
Due: documentation, build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

docs: 📚 update defaults for example antisandbox config
  docs/docs/enterprise/anti-sandbox.md
Due: documentation, build all

fix(server): 🐛 add missing collection in requirements for share creation
  ludus-server/ansible/requirements.yml
Due: build all

perf(server): ⚡ set Windows DNS cache to 2 seconds
  ludus-server/ansible/range-management/tasks/windows/configure-dc.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix(server): 🐛 don't allow users to specify deploy tags that don't exist
  ludus-api/api_range_management.go
Due: build all

perf(server): ⚡ set the winrm timeout to 900 for slower CPUs
  ludus-server/ansible/range-management/tasks/proxmox/deploy-vm.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix(server): 🐛 Don't allow the ROOT API Key to be used for ansible actions
  ludus-api/api_ansible.go
Due: build all

feat(client): ✨ allow LUDUS_EDITOR env var to specify the editor to use for range config edits
  ludus-client/cmd/edit.go
Due: build all, client basic-commands, range deploy, post-deploy testing

Path conditions:
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  client basic-commands: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  range deploy: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check: any of: ludus-server/ansible/range-management/**/*
  range snapshot: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*
