Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, build all, install kickoff, install check, install snapshot, client basic-commands, templates build, templates check, templates snapshot, range deploy, range check, range snapshot, post-deploy testing

documentation:
  stage: documentation
  tags:
  - ludus-proxmox-runner
  script:
  - cd docs
  - yarn install
  - yarn build
  - mv ./build ../public
  artifacts:
    paths:
    - public

build all:
  stage: build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - documentation
  artifacts:
    paths:
    - binaries/*
    expire_in: 1 week
  variables:
    LUDUS_BUILD_TYPE: any-built
  timeout: 10m
  script:
  - echo "Compiling the server code..."
  - export GIT_COMMIT_SHORT_HASH=$(git rev-parse --short HEAD)
  ...

install kickoff:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: kickoff
  timeout: 10m
  script:
  - sudo hostname ludus-$CI_PIPELINE_ID
  - sudo hostnamectl set-hostname ludus-$CI_PIPELINE_ID
  - cd binaries
  ...

install check:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install kickoff
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: check
  timeout: 1h
  script:
  - sudo cat /opt/ludus/install/install.log
  - echo "root:$CI_PIPELINE_ID" | sudo chpasswd

install snapshot:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
    artifacts: false
  - job: install check
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - echo "Snapshot complete"

client basic-commands:
  stage: client
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install snapshot
    optional: true
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - cd binaries
    - pgrep -f 'ansible|packer' || sudo ./ludus-server --update
  ...

templates build:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install snapshot
    optional: true
  - job: client basic-commands
    optional: true
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - cd binaries
  ...

templates check:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: templates build
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 2h
  retry:
    max: 2
  script:
  - - cd binaries
    - pgrep -f 'ansible|packer' || sudo ./ludus-server --update
  ...

templates snapshot:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
    artifacts: false
  - job: templates check
  variables:
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: templates_built
  timeout: 5m
  script:
  - echo "Snapshot complete"

feat(server,client): ✨ add snapshot API endpoints (list, create, rollback, and remove) and CLI commands to allow the mangement of arbitrary snapshots for VMs
  .gitlab-ci.yml
  docs/docs/enterprise/anti-sandbox.md
  docs/docs/snapshots.md
  docs/static/api/index.html
  ludus-api/api_snapshot_management.go
  ludus-api/routers.go
  ludus-client/cmd/snapshots.go
Due: documentation, build all, client basic-commands, range deploy, post-deploy testing

docs: 📚 add note about putting manually built templates in the SHARED pool
  docs/docs/templates.md
Due: documentation, build all

fix(client): 🐛 don't require vmids for a revert, revert entire range by default
  docs/docs/snapshots.md
  ludus-client/cmd/snapshots.go
Due: documentation, build all, client basic-commands, range deploy, post-deploy testing

ci: 🤖 fix snapshot tests
  .gitlab-ci.yml
Due: build all

fix(client): 🐛 fix url when a userID is specified
  ludus-client/cmd/snapshots.go
Due: build all, client basic-commands, range deploy, post-deploy testing

chore: 🧹 add repomix config and bundle files
  .gitignore
  .repomix/bundles.json
  repomix.config.json
Due: build all

docs: 📚 add mythic role to roles page
  docs/docs/roles.md
Due: documentation, build all

docs: 📚 update google cloud page to reflect new install and node name changes
  docs/docs/deployment-options/google-cloud.md
Due: documentation, build all

docs: 📚 update bare metal docs with 128GB ram link and sheet link
  docs/docs/deployment-options/bare-metal.mdx
Due: documentation, build all

fix(server): 🐛 make the RDP user group addition during domain-join multilingual
  ludus-server/ansible/range-management/tasks/windows/join-domain.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix(installer): 🐛 disable ipv6 since GitHub doesn't support it (and we pull packages from GitHub during install)
  ludus-server/ansible/proxmox-install/stage-1.yml
Due: build all, install kickoff, install check, install snapshot

fix(server): 🐛 fix issue with multilingual domain users sid resolution
  ludus-server/ansible/range-management/tasks/windows/join-domain.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

feat(server): ✨ allow users to control traffic to/from the WireGuard subnet with network rules
  docs/docs/configuration.mdx
  docs/docs/networking.md
  docs/static/schemas/range-config.json
  ludus-server/ansible/range-management/range-access.yml
  ludus-server/ansible/range-management/tasks/firewall/firewall-rules.yml
  ludus-server/ansible/range-management/tasks/firewall/set-firewall-rules.yml
  ludus-server/ansible/user-files/range-config.jsonschema
Due: documentation, build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

feat(server): ✨ refuse to overwrite existing PAM users during Ludus user creation
  docs/docs/quick-start/create-a-user.md
  ludus-api/api_user_management.go
  ludus-api/utils.go
Due: documentation, build all

fix(server): 🐛 really fix multilingual domain rdp
  ludus-server/ansible/range-management/tasks/windows/join-domain.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

feat(server): ✨ allow users to specify packages to install on linux machines
  docs/docs/configuration.mdx
  docs/docs/tags.md
  docs/static/schemas/range-config.json
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/user-files/range-config.jsonschema
  ludus-server/ci/configs/integration-test.yml
Due: documentation, build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

perf(server): ⚡ don't refresh inventory unless a vm has been cloned
  ludus-server/ansible/range-management/tasks/proxmox/deploy-vm.yml
  ludus-server/ansible/range-management/tasks/proxmox/refresh_inventory.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

remove extra comma [full build]
  docs/static/schemas/range-config.json
  ludus-server/ansible/user-files/range-config.jsonschema
Due: documentation, build all, client basic-commands

docs: 📚 add pc builder to bare metal page
  docs/docs/deployment-options/bare-metal.mdx
  docs/src/pages/ludus-pc-builder.js
  docs/src/pages/ludus-pc-builder.module.css
  docs/static/data/pc_components.json
Due: documentation, build all

feat(client): ✨ add KMS commands
  ludus-client/cmd/kms.go
Due: build all, client basic-commands, range deploy, post-deploy testing

feat(server): ✨ add license to version output
  ludus-api/routers.go
Due: build all

fix(client): 🐛 fix anti-sandbox endpoint
  ludus-client/cmd/antisandbox.go
Due: build all, client basic-commands, range deploy, post-deploy testing

style(server): 💄 fix task name
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

style(server): 💄 set license message for community license
  ludus-api/config.go
Due: build all

style(server): 💄 change license message on server
  ludus-api/license.go
Due: build all

fix(server): 🐛 only append one templates worth of debug logs if a build fails and the user requested verbose logs
  ludus-api/api_template_management.go
Due: build all

New lab https://www.sans.org/webcasts/intro-kerberos-common-ad-privesc-attacks-empire/
  docs/docs/environment-guides/SANS Workshop: Active Directory Privilege Escalation with Empire
Due: documentation, build all

Edit SANS Workshop: Active Directory Privilege Escalation with Empire
  docs/docs/environment-guides/SANS Workshop: Active Directory Privilege Escalation with Empire
Due: documentation, build all

docs: 📚 update docs for SANS environment
  docs/docs/environment-guides/goad-nha.md
  docs/docs/environment-guides/goad-sccm.md
  docs/docs/environment-guides/goad.md
  docs/docs/environment-guides/sans-workshop-active-directory-privilege-escalation-with-empire.md
Due: documentation, build all

fix(client): 🐛 fix snapshot rm with userID arg
  ludus-client/cmd/snapshots.go
Due: build all, client basic-commands, range deploy, post-deploy testing

Add Splunk Attack Range environment guide
  docs/docs/environment-guides/splunk-attack-range.md
Due: documentation, build all

fix(server): 🐛 make sure files written during ansible execution are owned by ludus when run as root
  ludus-api/ansible.go
Due: build all

docs: 📚 update GOAD docs to user the --user flag when snapshotting ranges
  docs/docs/environment-guides/goad-nha.md
  docs/docs/environment-guides/goad-sccm.md
  docs/docs/environment-guides/goad.md
Due: documentation, build all

docs: 📚 remove old doc page for SANS
  docs/docs/environment-guides/SANS Workshop: Active Directory Privilege Escalation with Empire
Due: documentation, build all

fix(installer): 🐛 validate that the proxmox node does not contain spaces or dots
  ludus-server/form.go
Due: build all, install kickoff, install check, install snapshot

docs: 📚 add KMS docs
  docs/docs/enterprise/enterprise.md
  docs/docs/enterprise/kms.md
Due: documentation, build all

docs: 📚 add Splunk attach range env guide
  docs/docs/environment-guides/splunk-attack-range.md
Due: documentation, build all

fix(server): 🐛 fix issue getting latest office installer version
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/range-management/tasks/windows/install-office.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix proxmox comment typo
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
Due: build all, install kickoff, install check, install snapshot

These fixes made my labs work for GOAD / simular labs.
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

Path conditions:
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  client basic-commands: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  range deploy: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check: any of: ludus-server/ansible/range-management/**/*
  range snapshot: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*
