Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, documentation, build all, install kickoff, install check, install snapshot, templates build, templates check, templates snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, post-deploy ansible-as-admin, post-deploy user-cmds-as-admin, post-deploy templates-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user, post-deploy ansible-as-user, post-deploy user-cmds-as-user, post-deploy templates-as-user, post-deploy snapshots-as-user

Path conditions:
  pages: any of: docs/**/*
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  client basic-commands: any of: ludus-client/**/*.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  range deploy-admin: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-admin: any of: ludus-server/ansible/range-management/**/*
  range snapshot-admin: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-admin: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-admin: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-admin: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-admin: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-admin: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  range deploy-user: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-user: any of: ludus-server/ansible/range-management/**/*
  range snapshot-user: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-user: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-user: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-user: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-user: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-user: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  post-deploy snapshots-as-user: any of: ludus-client/cmd/snapshots.go, ludus-server/src/api_snapshot_management.go

fix(server): 🐛 use the impersonated user's default range if no range is specified in the request when impersonating a user (restores 1.x functionality)
  ludus-api/middleware.go
Due: build all

docs: 📚 add more steps to existing cluster upgrade
  docs/docs/infrastructure-operations/cluster.md
Due: pages, documentation, build all

fix(server): 🐛 fix user impersonation null error
  ludus-api/middleware.go
Due: build all

chore: 🧹 ignore .claude/hooks/ directory
  .gitignore
Due: build all

fix(server): 🐛 add explicit version element to version check response for cleaner checking of server version
  ludus-api/dto/responses.go
  ludus-api/routers.go
Due: build all

docs: 📚 update api docs for new version element
  docs/static/api/ludus.openapi.yaml
Due: pages, documentation, build all

docs: 📚 add GOAD DRACARYS and update GOAD docs
  docs/docs/environment-guides/goad-dracarys.md
  docs/docs/environment-guides/goad-nha.md
  docs/docs/environment-guides/goad-sccm.md
  docs/docs/environment-guides/goad.md
Due: pages, documentation, build all

docs: 📚 add API changes to the 1->2 docs page
  docs/docs/upgrading-from-v1.md
Due: pages, documentation, build all

docs: 📚 correct the api spec to reflect reality
  docs/static/api/ludus.openapi.yaml
Due: pages, documentation, build all

ci: 🤖 add test for deleting a range with VMs deployed
  .gitlab-ci.yml
  ludus-server/ci/configs/small-range.yml
Due: build all

fix(server): 🐛 fix issue deleting a range with VMs deployed in it
  ludus-api/api_range_management.go
Due: build all

fix(server): 🐛 fix issue saving allowed ips and domains in testing mode
  .gitlab-ci.yml
  ludus-api/api_testing_state_management.go
Due: build all

fix(server): 🐛 fix potential race when destroying a range with VMs
  ludus-api/api_range_management.go
  ludus-api/proxmox.go
Due: build all

fix(install): 🐛 validate that initial admin user does not exist on system during form
  ludus-server/form.go
Due: build all, install kickoff, install check, install snapshot

fix(server): 🐛 quote password during user creation to prevent issues with special chars
  ludus-server/ansible/user-management/add-user.yml
Due: build all, client basic-commands, range deploy-admin, post-deploy user-cmds-as-admin, range deploy-user, post-deploy user-cmds-as-user

fix(server): 🐛 allow roles on the router for pro users
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/range-management/tasks/router/user-defined-roles.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(server): 🐛 fix nexus cache deployment
  docs/docs/infrastructure-operations/nexus-cache.md
  ludus-server/ansible/range-management/ludus.yml
Due: pages, documentation, build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

feat: ✨ add template OS detection to template status endpoint
  docs/static/api/ludus.openapi.yaml
  ludus-api/api_template_management.go
  ludus-api/dto/responses.go
  ludus-client/cmd/templates.go
Due: pages, documentation, build all, client basic-commands, post-deploy templates-as-admin, post-deploy templates-as-user

fix(server): 🐛 fix entitlement check when entitlements are empty
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

docs: 📚 update template troubleshooting steps to be more complete
  docs/docs/troubleshooting/templates.md
Due: pages, documentation, build all

build: 📦 allow specifying version in dev script
  dev.sh
  ludus-client/dev.sh
  ludus-server/dev.sh
Due: build all

fix(server): 🐛 fix issue downloading plugins due to path concatination logic bug
  ludus-api/license.go
Due: build all

docs: 📚 add role catalog documentation
  docs/docs/enterprise/enterprise.md
  docs/docs/enterprise/subscription-roles/GHOSTS-client.md
  docs/docs/enterprise/subscription-roles/MDE.md
  docs/docs/enterprise/subscription-roles/_category_.json
  docs/docs/enterprise/subscription-roles/ad-groups.md
  docs/docs/enterprise/subscription-roles/bulk-ad-content.md
  docs/docs/enterprise/subscription-roles/chronicle-exporter.md
  docs/docs/enterprise/subscription-roles/guacamole-client.md
  docs/docs/enterprise/subscription-roles/guacamole-server.md
  docs/docs/enterprise/subscription-roles/local-users-and-groups.md
  docs/docs/enterprise/subscription-roles/mythic.md
  docs/docs/enterprise/subscription-roles/random-files.md
  docs/docs/enterprise/subscription-roles/roles-overview.md
  docs/docs/enterprise/subscription-roles/smb-share.md
  docs/docs/enterprise/subscription-roles/sysmon.md
  docs/docs/enterprise/subscription-roles/unconstrained-delegation.md
  docs/docs/enterprise/subscription-roles/velociraptor.md
  docs/docs/enterprise/subscription-roles/windows-wallpaper.md
  docs/docs/enterprise/subscription-roles/zeek.md
  docs/static/img/roles/MDE/offboarding_download.png
  docs/static/img/roles/MDE/onboarding_download.png
  docs/static/img/roles/zeek/01-elastic-integration-add.png
  docs/static/img/roles/zeek/02-elastic-integration-search.png
  docs/static/img/roles/zeek/03-elastic-integration-add.png
  docs/static/img/roles/zeek/04-elastic-integration-settings-a.png
  docs/static/img/roles/zeek/05-elastic-integration-settings-b.png
Due: pages, documentation, build all

fix(server): 🐛 allow 4TB role uploads instead of 38MB
  ludus-api/routers.go
Due: build all

fix(client): 🐛 properly handle 413 errors
  ludus-client/rest/restapi.go
Due: build all, client basic-commands

docs: 📚 fix duplicate category specification
  docs/docs/enterprise/subscription-roles/_category_.json
Due: pages, documentation, build all

fix(server): 🐛 better unqiue value enforcement for ranges
  ludus-api/api_range_management.go
  ludus-api/migrations/1761252012_add_unique_indexes_to_ranges.go
Due: build all

fix(server): 🐛 make sure the data directory is accessible to the ludus user
  ludus-api/database.go
Due: build all

docs(server): 📚 better error message for edge reinstall edge cases
  ludus-api/database.go
Due: build all

fix(client): 🐛 better error handling
  ludus-client/cmd/range.go
  ludus-client/rest/restapi.go
Due: build all, client basic-commands, range deploy-admin, range deploy-user

fix(windows): 🐛 add ACLs to C:\ludus
  ludus-server/ansible/range-management/tasks/windows/configure-windows.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

docs: 📚 update cluster documentation to reflect reality of default, not top level key for range target_node
  docs/docs/infrastructure-operations/cluster.md
Due: pages, documentation, build all

refactor(server): 🔨 update snapshot management to use default router name variable
  ludus-server/ansible/range-management/tasks/proxmox/snapshot-management.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(server): 🐛 adjust protection of c:\ludus
  ludus-server/ansible/range-management/tasks/windows/configure-windows.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(server): 🐛 fix c:\ludus protections 2
  ludus-server/ansible/range-management/tasks/windows/configure-windows.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(api,client): 🐛 auto-reassign default range when current default is deleted
  .gitlab-ci.yml
  ludus-api/middleware.go
  ludus-client/cmd/range.go
Due: build all, client basic-commands, range deploy-admin, range deploy-user

feat(api,client): ✨ auto-generate rangeID in range creation workflow
  ludus-api/api_range_management.go
  ludus-api/dto/responses.go
  ludus-api/sanitize.go
  ludus-client/cmd/range.go
Due: build all, client basic-commands, range deploy-admin, range deploy-user

docs: 📚 document default wireguard firewall behavior change
  docs/docs/troubleshooting/callbacks-to-wireguard.md
  docs/docs/upgrading-from-v1.md
Due: pages, documentation, build all

feat(server): ✨ allow users to specify VMIDs for power actions
  docs/static/api/ludus.openapi.yaml
  ludus-api/api_power_state_management.go
  ludus-client/cmd/power.go
Due: pages, documentation, build all, client basic-commands, post-deploy power-as-admin, post-deploy power-as-user
