Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, build all, install kickoff, install check, install snapshot, client basic-commands, templates build, templates check, templates snapshot, range deploy, range check, range snapshot, post-deploy testing

documentation:
  stage: documentation
  tags:
  - ludus-proxmox-runner
  script:
  - cd docs
  - yarn install
  - yarn build
  - mv ./build ../public
  artifacts:
    paths:
    - public

build all:
  stage: build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - documentation
  artifacts:
    paths:
    - binaries/*
    expire_in: 1 week
  variables:
    LUDUS_BUILD_TYPE: any-built
  timeout: 10m
  script:
  - echo "Compiling the server code..."
  - export GIT_COMMIT_SHORT_HASH=$(git rev-parse --short HEAD)
  ...

install kickoff:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: kickoff
  timeout: 10m
  script:
  - sudo hostname ludus-$CI_PIPELINE_ID
  - sudo hostnamectl set-hostname ludus-$CI_PIPELINE_ID
  - cd binaries
  ...

install check:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install kickoff
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: check
  timeout: 1h
  script:
  - sudo cat /opt/ludus/install/install.log
  - echo "root:$CI_PIPELINE_ID" | sudo chpasswd

install snapshot:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
    artifacts: false
  - job: install check
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - echo "Snapshot complete"

client basic-commands:
  stage: client
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install snapshot
    optional: true
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - cd binaries
    - pgrep -f 'ansible|packer' || sudo ./ludus-server --update
  ...

templates build:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install snapshot
    optional: true
  - job: client basic-commands
    optional: true
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - cd binaries
  ...

templates check:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: templates build
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 2h
  retry:
    max: 2
  script:
  - - cd binaries
    - pgrep -f 'ansible|packer' || sudo ./ludus-server --update
  ...

templates snapshot:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
    artifacts: false
  - job: templates check
  variables:
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: templates_built
  timeout: 5m
  script:
  - echo "Snapshot complete"

fix: 🐛 fix GetUserObjectcapitalization
  ludus-api/proxmox.go
Due: build all

fix(templates): 🐛 put new script in correct directory
  ludus-server/packer/scripts/optimize-assemblies.ps1
Due: build all, templates build, templates check, templates snapshot

fix(templates): 🐛 fix ngen generation task
  ludus-server/packer/ansible/ngen.yml
Due: build all, templates build, templates check, templates snapshot

fix(templates): 🐛 fix win2012r2 virtio and qemu-ga installation commands
  templates/win2012r2-server-x64/scripts/install-virtio-drivers.ps1
Due: build all

test(server): 🚨 add complex depends_on tests to CI
  .gitlab-ci.yml
  ludus-server/ci/configs/depends-on-complex.yml
  ludus-server/ci/roles/first/meta/main.yml
  ludus-server/ci/roles/first/meta/version.yml
  ludus-server/ci/roles/first/tasks/main.yml
  ludus-server/ci/roles/hello_world/tasks/main.yml
  ludus-server/ci/roles/second/meta/main.yml
  ludus-server/ci/roles/second/meta/version.yml
  ludus-server/ci/roles/second/tasks/main.yml
  ludus-server/ci/roles/third/meta/main.yml
  ludus-server/ci/roles/third/meta/version.yml
  ludus-server/ci/roles/third/tasks/main.yml
Due: build all

fix(install): 🐛 fix issue with existing proxmox installs (env vars not set)
  ludus-server/config.go
Due: build all, install kickoff, install check, install snapshot

refactor(client): 🔨 move anti-sandbox commands to their own file and command
  ludus-client/cmd/antisandbox.go
  ludus-client/cmd/testing.go
Due: build all, client basic-commands, range deploy, post-deploy testing

feat(server): ✨ expose LudusInstallPath to plugins
  ludus-api/config.go
Due: build all

feat(client): ✨ throw a verbose error if a template build fails due to missing ansible role
  ludus-client/cmd/utils.go
Due: build all, client basic-commands, range deploy, post-deploy testing

ci: 🤖 add 'third' role for complex depends_on
  .gitlab-ci.yml
Due: build all

refactor(server): 🔨 expose FileExists to plugins
  ludus-api/ansible.go
  ludus-api/file_operations.go
Due: build all

refactor(server): 🔨 change how plugins are loaded
  ludus-api/license.go
  ludus-server/main.go
  ludus-server/plugins.go
Due: build all, install kickoff, install check, install snapshot

build: 📦 build and release the antisandbox plugin on tag
  .gitignore
  .gitlab-ci.yml
Due: build all

ci: 🤖 fix CI mock role
  ludus-server/ci/roles/hello_world/tasks/main.yml
Due: build all

fix(server): 🐛 fix issue with older ubuntu when setting static ip
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

build: 📦 add dev scripts to easily build all of Ludus for local testing
  dev.sh
  ludus-client/dev.sh
  ludus-server/dev.sh
Due: build all, client basic-commands, range deploy, post-deploy testing

fix(server): 🐛 prevent double plugin initialization
  ludus-api/license.go
  ludus-api/plugins.go
Due: build all

feat(server): ✨ bump deps, and check deps on update and update them if needed
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
  ludus-server/ansible/requirements.yml
  ludus-server/dependency_updates.go
  ludus-server/update.go
Due: build all, install kickoff, install check, install snapshot

feat(server): ✨ don't require localhost in the --limit option for a deploy (add it automatically)
  ludus-api/ansible.go
Due: build all

feat(server): ✨ allow VMs without qemu-guest-agent to still be modified with ludus if force_ip is set to true
  ludus-api/api_range_management.go
  ludus-api/range_config.go
  ludus-api/utils.go
  ludus-api/yaml_validate.go
  ludus-server/ansible/range-management/proxmox.py
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

feat(plugins): ✨ add functions to track plugin state
  ludus-api/plugins.go
  ludus-api/routers.go
Due: build all

feat(client): ✨ add ability to install standard QEMU and OMVF packages
  ludus-client/cmd/antisandbox.go
Due: build all, client basic-commands, range deploy, post-deploy testing

build(server): 📦 add go-version dep
  ludus-server/go.mod
  ludus-server/go.sum
Due: build all

feat(server): ✨ add AccessNetwork permission for updated packer
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/stage-2.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
  ludus-server/permissions.go
  ludus-server/update.go
Due: build all, install kickoff, install check, install snapshot

feat(server): ✨ add arg that skips all dep checking for speed during dev testing
  ludus-server/args.go
  ludus-server/dev.sh
Due: build all, install kickoff, install check, install snapshot

feat(client): ✨ save config incase edits are rejected by server; allow changes to be used as a starting point
  ludus-client/cmd/edit.go
  ludus-client/cmd/utils.go
  ludus-client/rest/restapi.go
Due: build all, client basic-commands, range deploy, post-deploy testing

fix(install): 🐛 don't fail if install can't get interface names
  ludus-server/config.go
Due: build all, install kickoff, install check, install snapshot

revert(server): ⏪ roll back packer updates, too many things broke
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
  ludus-server/dependency_updates.go
Due: build all, install kickoff, install check, install snapshot

fix(client): 🐛 fix the skipping of python-apt error in non-verbose tempalte logs
  ludus-client/cmd/utils.go
Due: build all, client basic-commands, range deploy, post-deploy testing

fix(server): 🐛 make sure IP of newly deployed VM is in DHCP range to not accept force_ip value
  ludus-server/ansible/range-management/tasks/proxmox/deploy-vm.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

ci: 🤖 add force_ip and autologon values to integration test
  ludus-server/ci/configs/integration-test.yml
Due: build all

fix(server): 🐛 make force_ip checks more strict
  ludus-server/ansible/range-management/tasks/proxmox/deploy-vm.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix(server): 🐛 fix extra paren
  ludus-server/ansible/range-management/tasks/proxmox/deploy-vm.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix(server): 🐛 fix conditional for IP during initial VM deploy
  ludus-server/ansible/range-management/tasks/proxmox/deploy-vm.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix(templates): 🐛 update debain 10 URL and hash
  templates/debian10/debian10.pkr.hcl
Due: build all

docs: 📚 add more roles to roles directory
  docs/docs/roles.md
Due: documentation, build all

docs: 📚 add instructions to restart the ludus server to pick up config changes
  docs/docs/quick-start/install-ludus.md
Due: documentation, build all

docs: 📚 update API docs
  docs/static/api/index.html
Due: documentation, build all

build: 📦 don't ignore script directories as templates use them
  dev.sh
Due: build all

fix(installer): 🐛 fix form to correctly show all selected options on the right panel
  ludus-server/form.go
Due: build all, install kickoff, install check, install snapshot

Path conditions:
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  client basic-commands: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  range deploy: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check: any of: ludus-server/ansible/range-management/**/*
  range snapshot: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*
