Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, documentation, build all, install kickoff, install check, install snapshot, templates build, templates check, templates snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, post-deploy ansible-as-admin, post-deploy user-cmds-as-admin, post-deploy templates-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user, post-deploy ansible-as-user, post-deploy user-cmds-as-user, post-deploy templates-as-user, post-deploy snapshots-as-user

pages:
  stage: pages
  variables:
    LUDUS_BUILD_TYPE: any-built
  tags:
  - ludus-proxmox-runner
  retry:
    max: 2
  script:
  - cd docs
  - 'sed -i "s|baseUrl: ''/ludus/''|baseUrl: ''/''|" docusaurus.config.js'
  - yarn install
  - yarn build
  - rm -f ./build/video/*
  - mv ./build ../public
  artifacts:
    paths:
    - public

documentation:
  stage: documentation
  variables:
    LUDUS_BUILD_TYPE: any-built
  tags:
  - ludus-proxmox-runner
  retry:
    max: 2
  script:
  - cd docs
  - yarn install
  - yarn build
  - rm -f ./build/video/*
  - rm -f ./build/img/hardware/Debian_12_RAID0.mp4
  - mv ./build ../built-docs
  artifacts:
    paths:
    - built-docs

build all:
  stage: build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - documentation
  artifacts:
    paths:
    - binaries/*
    expire_in: 1 week
  variables:
    LUDUS_BUILD_TYPE: any-built
  timeout: 10m
  script:
  - echo "Compiling the server code..."
  - export GIT_COMMIT_SHORT_HASH=$(git rev-parse --short HEAD)
  ...

install kickoff:
  stage: install-kickoff
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: kickoff
  timeout: 10m
  script:
  - sudo hostname ludus-$CI_PIPELINE_ID
  - sudo hostnamectl set-hostname ludus-$CI_PIPELINE_ID
  - cd binaries
  ...

install check:
  stage: install-check
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: check
  timeout: 1h
  script:
  - sudo cat /opt/ludus/install/install.log
  - echo "root:$CI_PIPELINE_ID" | sudo chpasswd

install snapshot:
  stage: install-snapshot
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - echo "Snapshot complete"

templates build:
  stage: templates-build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - - sudo /usr/sbin/chronyd -q 'pool pool.ntp.org iburst' || sudo /usr/bin/chronyc -m 'burst 3/3' 'makestep 0.5 -1'
  ...

templates check:
  stage: templates-check
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 2h
  retry:
    max: 2
  script:
  ...

templates snapshot:
  stage: templates-snapshot
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: templates_built
  timeout: 5m
  script:
  - echo "Snapshot complete"

client basic-commands:
  stage: client
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - - sudo /usr/sbin/chronyd -q 'pool pool.ntp.org iburst' || sudo /usr/bin/chronyc -m 'burst 3/3' 'makestep 0.5 -1'
      - date
  ...

refactor(server): 🔨 validate vm_name and hostname in range configs to be valid hostnames
  ludus-api/yaml_validate.go
Due: build all

refactor(server): 🔨 use safer ansible command calling to prevent command injection
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/range-management/tasks/proxmox/deploy-vm.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(server): 🐛 properly clean up template dir if no template name could be extracted
  ludus-api/api_template_management.go
Due: build all

ci: 🤖 fix template tests
  .gitlab-ci.yml
Due: build all

fix(server): 🐛 resolve router vm_name and hostname before validation
  ludus-api/yaml_validate.go
Due: build all

Automatic backup from Apidog
  docs/static/api/ludus.openapi.yaml
Due: pages, documentation, build all

fix(server): 🐛 don't return early when template add --force is used and remove template
  ludus-api/api_template_management.go
Due: build all

fix(server): 🐛 use new hack to hide dynamic wallpaper powershell windows that works on windows 10 and 11
  ludus-server/ansible/range-management/files/windows/background/set-bg.ps1
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

build: 📦 Sync ludus-server/client deps to workspace go 1.25
  go.work.sum
  ludus-api/go.sum
  ludus-client/go.mod
  ludus-client/go.sum
  ludus-server/go.mod
  ludus-server/go.sum
Due: build all

feat(sources): ✨ Template icons and packer-variable metadata
  docs/docs/using-ludus/sources.md
  ludus-api/api_blueprint_management.go
  ludus-api/api_source_management.go
  ludus-api/api_template_management.go
  ludus-api/migrations/1761260000_template_icon_field.go
  ludus-api/source_catalog.go
  ludus-api/source_install.go
  ludus-api/source_schema.go
  ludus-api/source_sync.go
  ludus-api/source_walker.go
  ludus-server/ci/fixtures/source-template/blueprints/example/blueprint.yml
  ludus-server/ci/fixtures/source-template/templates/example-debian-12/example-debian-12.pkr.hcl
  ludus-server/ci/fixtures/source-template/templates/example-debian-12/icon.png
Due: pages, documentation, build all

feat(sources): ✨ Recurse git submodules on source add and sync
  ludus-api/source_storage.go
  ludus-api/source_storage_test.go
Due: build all

fix(server): 🐛 Make source ids globally unique
  ludus-api/api_source_management.go
  ludus-api/migrations/1761270000_sources_global_unique_id.go
Due: build all

refactor(sources): 🔨 Report galaxy roles and collections as typed ansible results
  ludus-api/api_blueprint_management.go
  ludus-api/api_source_management.go
  ludus-api/blueprint_resolver.go
  ludus-api/dto/responses.go
  ludus-api/source_install.go
  ludus-api/source_roles.go
  ludus-api/source_sync.go
  ludus-client/cmd/blueprint.go
  ludus-client/cmd/source.go
Due: build all, client basic-commands

style(sources): 💄 Reword collection-walker test comments
  ludus-api/source_collections_test.go
Due: build all

refactor(sources): 🔨 Nest subscription roles and undeclared deps under blueprints
  ludus-api/api_source_management.go
  ludus-api/dto/responses.go
  ludus-client/cmd/source.go
  ludus-client/internal/sourcepicker/update.go
  ludus-client/internal/sourcepicker/view.go
Due: build all, client basic-commands

test(server): 🚨 Remove Go unit tests (server uses live CI)
  ludus-api/api_template_management_test.go
  ludus-api/source_collection_remove_test.go
  ludus-api/source_collections_test.go
  ludus-api/source_storage_test.go
Due: build all

ci: 🤖 Add globally-unique source id regression
  .gitlab-ci.yml
Due: build all

feat(sources): ✨ Install source-bundled Ansible collections
  ludus-api/api_source_management.go
  ludus-api/dto/requests.go
  ludus-api/dto/responses.go
  ludus-client/cmd/source.go
  ludus-client/cmd/source_mode.go
  ludus-client/internal/sourcepicker/imply.go
  ludus-client/internal/sourcepicker/model.go
  ludus-client/internal/sourcepicker/update.go
  ludus-client/internal/sourcepicker/view.go
Due: build all, client basic-commands

fix(server): 🔒 Lock sources record-API writes to the custom routes
  ludus-api/migrations/1761253001_blueprint_sources.go
Due: build all

refactor(sources): 🔨 Group sync results by source content family
  ludus-api/api_source_management.go
  ludus-api/blueprint_resolver.go
  ludus-api/source_sync.go
  ludus-client/cmd/source.go
Due: build all, client basic-commands

fix(sources): 🐛 Surface local-collection install failures in sync results
  ludus-api/api_source_management.go
  ludus-api/blueprint_resolver.go
  ludus-client/cmd/blueprint.go
  ludus-client/cmd/source.go
Due: build all, client basic-commands

feat(sources): ✨ Fold catalog inspection into source list
  ludus-client/cmd/source.go
  ludus-client/cmd/source_mode.go
Due: build all, client basic-commands

refactor(sources)!: 🔨 Make install additive; uninstall via per-artifact deletes
  .gitlab-ci.yml
  docs/docs/using-ludus/sources.md
  ludus-api/api_ansible.go
  ludus-api/api_blueprint_management.go
  ludus-api/api_source_management.go
  ludus-api/api_template_management.go
  ludus-api/blueprint_resolver.go
  ludus-api/dto/requests.go
  ludus-api/dto/responses.go
  ludus-api/migrations/1761253001_blueprint_sources.go
  ludus-api/source_catalog.go
  ludus-api/source_collections.go
  ludus-api/source_install.go
  ludus-api/source_sync.go
  ludus-client/cmd/source.go
  ludus-client/internal/sourcepicker/model.go
  ludus-client/internal/sourcepicker/picker.go
  ludus-client/internal/sourcepicker/update.go
  ludus-client/internal/sourcepicker/view.go
Due: pages, documentation, build all, client basic-commands

docs: 📚 Document Ansible collections and the ludus-source-bsl source
  docs/docs/using-ludus/roles.md
  docs/docs/using-ludus/sources.md
Due: pages, documentation, build all

refactor(sources): 🔨 Rename the globalRoles install flag to global
  docs/docs/using-ludus/cli.md
  docs/docs/using-ludus/sources.md
  ludus-api/api_blueprint_management.go
  ludus-api/api_source_management.go
  ludus-api/blueprint_resolver.go
  ludus-api/dto/requests.go
  ludus-api/source_install.go
  ludus-api/source_sync.go
  ludus-client/cmd/blueprint.go
  ludus-client/cmd/source.go
  ludus-client/cmd/source_mode.go
  ludus-client/internal/sourcepicker/picker.go
  ludus-client/internal/sourcepicker/update.go
  ludus-client/internal/sourcepicker/view.go
Due: pages, documentation, build all, client basic-commands

feat(sources): ✨ Support local Ansible collections in sources
  docs/docs/using-ludus/sources.md
  ludus-api/ansible.go
  ludus-api/api_ansible.go
  ludus-api/api_source_management.go
  ludus-api/blueprint_resolver.go
  ludus-api/dto/requests.go
  ludus-api/source_catalog.go
  ludus-api/source_collection_remove_test.go
  ludus-api/source_collections.go
  ludus-api/source_collections_test.go
  ludus-api/source_install.go
  ludus-api/source_schema.go
  ludus-api/source_sync.go
  ludus-api/source_walker.go
  ludus-client/cmd/ansible.go
  ludus-client/cmd/source.go
Due: pages, documentation, build all, client basic-commands, post-deploy ansible-as-admin, post-deploy ansible-as-user

docs: 📚 Use absolute upstream URLs for source submodules
  docs/docs/using-ludus/sources.md
Due: pages, documentation, build all

refactor(sources): 🔨 Drop the computed source kind field
  ludus-api/api_source_management.go
  ludus-api/dto/responses.go
  ludus-client/cmd/source.go
Due: build all, client basic-commands

feat(sources): ✨ Repoint git sources with set-url
  docs/docs/using-ludus/cli.md
  docs/docs/using-ludus/sources.md
  ludus-api/api_source_management.go
  ludus-api/dto/requests.go
  ludus-client/cmd/source.go
Due: pages, documentation, build all, client basic-commands

ci: 🤖 Move the CI source fixture role under ansible/roles
  ludus-server/ci/fixtures/source-template/ansible/roles/say_hello/meta/main.yml
  ludus-server/ci/fixtures/source-template/ansible/roles/say_hello/tasks/main.yml
Due: build all

fix(server): 🐛 Detect collection-bundled roles in blueprint role status
  ludus-api/blueprint_resolver.go
Due: build all

fix(sources): 🐛 Stamp lastSyncedAt only when source content lands
  ludus-api/source_sync.go
Due: build all

style(sources): 💄 Polish source list and catalog presentation
  ludus-client/cmd/source.go
Due: build all, client basic-commands

feat(sources): ✨ Derive vendored role versions from release tags
  ludus-api/source_catalog.go
  ludus-api/source_install.go
  ludus-api/source_roles.go
Due: build all

feat(sources): ✨ Show per-scope install state in the source catalog
  ludus-api/dto/responses.go
  ludus-api/source_catalog.go
  ludus-api/source_roles.go
  ludus-client/cmd/source.go
Due: build all, client basic-commands

refactor(server): 🔨 Remove aggregate source-blueprint endpoints
  ludus-api/api_source_management.go
  ludus-api/routers.go
Due: build all

Path conditions:
  pages: any of: docs/**/*
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  client basic-commands: any of: ludus-client/**/*.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  range deploy-admin: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-admin: any of: ludus-server/ansible/range-management/**/*
  range snapshot-admin: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-admin: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-admin: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-admin: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-admin: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-admin: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  range deploy-user: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-user: any of: ludus-server/ansible/range-management/**/*
  range snapshot-user: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-user: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-user: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-user: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-user: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-user: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  post-deploy snapshots-as-user: any of: ludus-client/cmd/snapshots.go, ludus-server/src/api_snapshot_management.go
