Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, documentation, build all, install kickoff, install check, install snapshot, templates build, templates check, templates snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, post-deploy ansible-as-admin, post-deploy user-cmds-as-admin, post-deploy templates-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user, post-deploy ansible-as-user, post-deploy user-cmds-as-user, post-deploy templates-as-user, post-deploy snapshots-as-user

Path conditions:
  pages: any of: docs/**/*
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  client basic-commands: any of: ludus-client/**/*.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  range deploy-admin: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-admin: any of: ludus-server/ansible/range-management/**/*
  range snapshot-admin: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-admin: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-admin: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-admin: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-admin: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-admin: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  range deploy-user: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-user: any of: ludus-server/ansible/range-management/**/*
  range snapshot-user: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-user: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-user: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-user: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-user: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-user: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  post-deploy snapshots-as-user: any of: ludus-client/cmd/snapshots.go, ludus-server/src/api_snapshot_management.go

docs: 📚 expand MCP page to cover skills and combined usage
  docs/docs/using-ludus/mcp.md
Due: pages, documentation, build all

style(install): 💄 tweak install status output format
  ludus-server/ansible/proxmox-install/templates/ludus-install-status.sh.j2
Due: build all, install kickoff, install check, install snapshot

chore(templates): 🧹 bump kali version to 2026.1
  ludus-server/packer/kali/kali.pkr.hcl
Due: build all, templates build, templates check, templates snapshot

feat: ✨ add log history for range deploys and template builds
  docs/docs/administration/admin.md
  docs/docs/using-ludus/cli.md
  ludus-api/ansible.go
  ludus-api/api_log_history.go
  ludus-api/api_template_management.go
  ludus-api/config.go
  ludus-api/dto/responses.go
  ludus-api/routers.go
  ludus-client/cmd/range.go
  ludus-client/cmd/templates.go
  ludus-client/cmd/utils.go
Due: pages, documentation, build all, client basic-commands, range deploy-admin, post-deploy templates-as-admin, range deploy-user, post-deploy templates-as-user

feat(server): ✨ enable cert based auth for VMs
  docs/static/schemas/range-config.json
  ludus-api/ansible.go
  ludus-api/range_auth.go
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/user-files/range-config.jsonschema
Due: pages, documentation, build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

ci: 🤖 add log history integration tests
  .gitlab-ci.yml
Due: build all

ci: 🤖 add log history success and failure CI tests [full build]
  .gitlab-ci.yml
  ludus-server/ci/configs/small-range-error.yml
  ludus-server/ci/roles/always_fails/meta/main.yml
  ludus-server/ci/roles/always_fails/tasks/main.yml
Due: build all

refactor(server): 🔨 stop creating static wireguard config files as they are no longer used (generated dynamically for each request)
  ludus-server/ansible/user-management/add-user.yml
  ludus-server/ansible/user-management/del-user.yml
Due: build all, client basic-commands, range deploy-admin, post-deploy user-cmds-as-admin, range deploy-user, post-deploy user-cmds-as-user

fix(server): 🐛 deny use of root key for anything not user related
  ludus-api/middleware.go
Due: build all

feat(server): ✨ add packer logs to parallel template builds
  .gitlab-ci.yml
  docs/docs/using-ludus/cli.md
  docs/static/api/ludus.openapi.yaml
  ludus-api/ansible.go
  ludus-api/api_log_history.go
  ludus-api/api_range_management.go
  ludus-api/api_template_management.go
  ludus-api/api_user_management.go
  ludus-api/dto/responses.go
  ludus-api/routers.go
  ludus-client/cmd/range.go
  ludus-client/cmd/templates.go
  ludus-client/cmd/utils.go
Due: pages, documentation, build all, client basic-commands, range deploy-admin, post-deploy templates-as-admin, range deploy-user, post-deploy templates-as-user

refactor(server): 🔨 change default max_log_history value to 100
  docs/docs/administration/admin.md
  docs/docs/quick-start/install-ludus.md
  docs/docs/using-ludus/cli.md
  ludus-api/config.go
  ludus-server/config.go
Due: pages, documentation, build all, install kickoff, install check, install snapshot

feat: ✨ add log history for range deploys and template builds feat: ✨ enable logs for parallel template builds
  .gitlab-ci.yml
  docs/docs/administration/admin.md
  docs/docs/quick-start/install-ludus.md
  docs/docs/using-ludus/cli.md
  docs/static/api/ludus.openapi.yaml
  ludus-api/ansible.go
  ludus-api/api_log_history.go
  ludus-api/api_range_management.go
  ludus-api/api_template_management.go
  ludus-api/api_user_management.go
  ludus-api/config.go
  ludus-api/dto/responses.go
  ludus-api/middleware.go
  ludus-api/routers.go
  ludus-client/cmd/range.go
  ludus-client/cmd/templates.go
  ludus-client/cmd/utils.go
  ludus-server/ansible/user-management/add-user.yml
  ludus-server/ansible/user-management/del-user.yml
  ludus-server/ci/configs/small-range-error.yml
  ludus-server/ci/roles/always_fails/meta/main.yml
  ludus-server/ci/roles/always_fails/tasks/main.yml
  ludus-server/config.go
Due: pages, documentation, build all, install kickoff, install check, install snapshot, client basic-commands, range deploy-admin, post-deploy user-cmds-as-admin, post-deploy templates-as-admin, range deploy-user, post-deploy user-cmds-as-user, post-deploy templates-as-user

fix: 🐛 Preserve ansible.log after log history finalization
  .gitlab-ci.yml
  ludus-api/api_log_history.go
Due: build all

feat: ✨ add per-user resource quota enforcement (enterprise)
  .gitlab-ci.yml
  docs/docs/enterprise/enterprise.md
  docs/docs/enterprise/quotas.md
  docs/static/api/ludus.openapi.yaml
  ludus-api/api_group_management.go
  ludus-api/api_placeholder.go
  ludus-api/api_range_management.go
  ludus-api/api_user_management.go
  ludus-api/config.go
  ludus-api/dto/requests.go
  ludus-api/dto/responses.go
  ludus-api/migrations/1761252013_add_group_default_quotas.go
  ludus-api/models/model_proxies.go
  ludus-api/quota.go
  ludus-api/routers.go
  ludus-api/yaml_validate.go
  ludus-client/cmd/models.go
  ludus-client/cmd/quota.go
Due: pages, documentation, build all, client basic-commands

fix(api): 🐛 auto-resolve range owner for admin operations
  ludus-api/middleware.go
Due: build all

fix(api): 🐛 scope abort, etc-hosts, and RDP to range instead of user [full build]
  .gitlab-ci.yml
  ludus-api/api_range_management.go
  ludus-api/process.go
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/range-management/tasks/make-rdp-files.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(install): 🐛 auto-detect boot disk in grub-pc rescue [full build]
  docs/docs/quick-start/install-ludus.md
  ludus-server/ansible/config.yml.example
  ludus-server/ansible/proxmox-install/stage-2.yml
Due: pages, documentation, build all, install kickoff, install check, install snapshot

refactor: 🔨 simplify the Min value for group quotas
  ludus-api/migrations/1761252013_add_group_default_quotas.go
Due: build all

docs: 📚 add quota command documentation
  docs/docs/using-ludus/cli.md
Due: pages, documentation, build all

feat: ✨ add per-user resource quota enforcement (enterprise)
  .gitlab-ci.yml
  docs/docs/enterprise/enterprise.md
  docs/docs/enterprise/quotas.md
  docs/docs/using-ludus/cli.md
  docs/static/api/ludus.openapi.yaml
  ludus-api/api_group_management.go
  ludus-api/api_placeholder.go
  ludus-api/api_range_management.go
  ludus-api/api_user_management.go
  ludus-api/config.go
  ludus-api/dto/requests.go
  ludus-api/dto/responses.go
  ludus-api/migrations/1761252013_add_group_default_quotas.go
  ludus-api/models/model_proxies.go
  ludus-api/quota.go
  ludus-api/routers.go
  ludus-api/yaml_validate.go
  ludus-client/cmd/models.go
  ludus-client/cmd/quota.go
Due: pages, documentation, build all, client basic-commands

docs: 📚 fix typo in proxmox roles commands
  docs/docs/deployment-options/proxmox.md
Due: pages, documentation, build all

fix(server): 🐛 fix merge synatx error
  ludus-api/dto/responses.go
Due: build all

docs: 📚 update description of wireghuard_vlan_default to show default is REJECT
  docs/static/schemas/range-config.json
  ludus-server/ansible/user-files/range-config.jsonschema
Due: pages, documentation, build all, client basic-commands

feat(server): ✨ don't remove range logs when adding to database; set current packer logs before removing
  ludus-api/api_log_history.go
  ludus-api/api_template_management.go
Due: build all

feat: ✨ add inactivity shutdown for idle ranges
  docs/static/api/ludus.openapi.yaml
  ludus-api/ansible.go
  ludus-api/api_diagnostics.go
  ludus-api/api_migration.go
  ludus-api/api_placeholder.go
  ludus-api/config.go
  ludus-api/dto/requests.go
  ludus-api/dto/responses.go
  ludus-api/middleware.go
  ludus-api/migrations/1761252013_add_inactivity_shutdown_to_ranges.go
  ludus-api/models/model_proxies.go
  ludus-api/plugins.go
  ludus-api/proxmox.go
  ludus-api/scheduler/scheduler.go
  ludus-api/sdn.go
  ludus-api/yaml_validate.go
  ludus-client/cmd/range_settings.go
  ludus-server/main.go
Due: pages, documentation, build all, install kickoff, install check, install snapshot, client basic-commands

build: 📦 fix entitlement constraint application for plugin binaries
  .gitlab-ci.yml
Due: build all

refactor: 🔨 rename range settings endpoint to auto-shutdown
  docs/docs/administration/admin.md
  docs/docs/enterprise/auto-shutdown.md
  docs/docs/enterprise/enterprise.md
  docs/docs/using-ludus/cli.md
  docs/static/api/ludus.openapi.yaml
  ludus-api/api_placeholder.go
  ludus-api/dto/requests.go
  ludus-api/dto/responses.go
  ludus-client/cmd/range_auto_shutdown.go
  ludus-client/cmd/range_settings.go
Due: pages, documentation, build all, client basic-commands

feat: ✨ add --browser-data flag to antisandbox enable
  docs/docs/enterprise/anti-sandbox.md
  docs/static/api/ludus.openapi.yaml
  ludus-client/cmd/antisandbox.go
Due: pages, documentation, build all, client basic-commands

feat(install): ✨ Enumerate datastores on existing Proxmox hosts
  ludus-server/datastore.go
  ludus-server/form.go
  ludus-server/go.mod
  ludus-server/go.sum
Due: build all, install kickoff, install check, install snapshot

feat: ✨ Make server ports configurable via config.yml [full build]
  .gitlab-ci.yml
  docs/docs/administration/admin.md
  docs/docs/administration/security.md
  docs/docs/deployment-options/proxmox.md
  docs/docs/quick-start/install-ludus.md
  ludus-api/api_migration.go
  ludus-api/api_range_management.go
  ludus-api/api_user_management.go
  ludus-api/config.go
  ludus-api/database.go
  ludus-api/middleware.go
  ludus-api/routers.go
  ludus-server/ansible/proxmox-install/stage-3.yml
  ludus-server/ansible/proxmox-install/templates/ludus-install-status.sh.j2
  ludus-server/ansible/proxmox-install/templates/motd.j2
  ludus-server/checks.go
  ludus-server/config.go
  ludus-server/form.go
  ludus-server/main.go
Due: pages, documentation, build all, install kickoff, install check, install snapshot

fix(server): 🐛 only consider *pkr.hcl and *pkr.json files in template directories
  ludus-api/api_template_management.go
Due: build all

feat(install): ✨ remove data pool and format options on Debian installs (installer sets); add admin password confirmation
  ludus-server/form.go
Due: build all, install kickoff, install check, install snapshot

feat: ✨ Make server ports configurable via config.yml
  .gitlab-ci.yml
  docs/docs/administration/admin.md
  docs/docs/administration/security.md
  docs/docs/deployment-options/proxmox.md
  docs/docs/quick-start/install-ludus.md
  ludus-api/api_migration.go
  ludus-api/api_range_management.go
  ludus-api/api_user_management.go
  ludus-api/config.go
  ludus-api/database.go
  ludus-api/middleware.go
  ludus-api/routers.go
  ludus-server/ansible/proxmox-install/stage-3.yml
  ludus-server/ansible/proxmox-install/templates/ludus-install-status.sh.j2
  ludus-server/ansible/proxmox-install/templates/motd.j2
  ludus-server/checks.go
  ludus-server/config.go
  ludus-server/form.go
  ludus-server/main.go
Due: pages, documentation, build all, install kickoff, install check, install snapshot

fix(server): 🐛 fix merge conflict
  ludus-api/config.go
Due: build all

feat: ✨ Add optional more detailed range list/status output
  ludus-api/api_range_management.go
  ludus-api/dto/responses.go
  ludus-api/utils.go
  ludus-client/cmd/models.go
  ludus-client/cmd/range.go
Due: build all, client basic-commands, range deploy-admin, range deploy-user

docs(WebUI): 📚 Adding section of documentation for the WebUI
  docs/docs/enterprise/webgui.md
  docs/static/img/enterprise/WebUI-Ansible.jpg
  docs/static/img/enterprise/WebUI-Ansible2.jpg
  docs/static/img/enterprise/WebUI-Blueprints.jpg
  docs/static/img/enterprise/WebUI-Blueprints2.jpg
  docs/static/img/enterprise/WebUI-Homepage.jpg
  docs/static/img/enterprise/WebUI-Login.jpg
  docs/static/img/enterprise/WebUI-Range.jpg
  docs/static/img/enterprise/WebUI-Templates.jpg
  docs/static/img/enterprise/WebUI-Templates2.jpg
Due: pages, documentation, build all

docs(webui): 📚 expand WebUI guide and reorganize images
  docs/docs/enterprise/webgui.md
  docs/docs/enterprise/webui.md
  docs/static/img/enterprise/webui/WebUI-Ansible.jpg
  docs/static/img/enterprise/webui/WebUI-Ansible2.jpg
  docs/static/img/enterprise/webui/WebUI-Blueprints.jpg
  docs/static/img/enterprise/webui/WebUI-Blueprints2.jpg
  docs/static/img/enterprise/webui/WebUI-Homepage.jpg
  docs/static/img/enterprise/webui/WebUI-Login.jpg
  docs/static/img/enterprise/webui/WebUI-Range.jpg
  docs/static/img/enterprise/webui/WebUI-Templates.jpg
  docs/static/img/enterprise/webui/WebUI-Templates2.jpg
  docs/static/img/enterprise/webui/console-prompt.png
  docs/static/img/enterprise/webui/kali-console.png
Due: pages, documentation, build all

docs(webui): 📚 expand WebUI guide and reorganize images
  docs/docs/enterprise/webui.md
  docs/static/img/enterprise/webui/WebUI-Ansible.jpg
  docs/static/img/enterprise/webui/WebUI-Ansible2.jpg
  docs/static/img/enterprise/webui/WebUI-Blueprints.jpg
  docs/static/img/enterprise/webui/WebUI-Blueprints2.jpg
  docs/static/img/enterprise/webui/WebUI-Homepage.jpg
  docs/static/img/enterprise/webui/WebUI-Login.jpg
  docs/static/img/enterprise/webui/WebUI-Range.jpg
  docs/static/img/enterprise/webui/WebUI-Templates.jpg
  docs/static/img/enterprise/webui/WebUI-Templates2.jpg
  docs/static/img/enterprise/webui/console-prompt.png
  docs/static/img/enterprise/webui/kali-console.png
Due: pages, documentation, build all

fix(server): 🐛 userID must start with a letter to conform to proxmox 9 pool name requirements
  ludus-api/api_user_management.go
  ludus-server/form.go
Due: build all, install kickoff, install check, install snapshot
