Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, documentation, build all, install kickoff, install check, install snapshot, templates build, templates check, templates snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, post-deploy ansible-as-admin, post-deploy user-cmds-as-admin, post-deploy templates-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user, post-deploy ansible-as-user, post-deploy user-cmds-as-user, post-deploy templates-as-user, post-deploy snapshots-as-user

pages:
  stage: pages
  variables:
    LUDUS_BUILD_TYPE: any-built
  tags:
  - ludus-proxmox-runner
  retry:
    max: 2
  script:
  - cd docs
  - 'sed -i "s|baseUrl: ''/ludus/''|baseUrl: ''/''|" docusaurus.config.js'
  - yarn install
  - yarn build
  - rm -f ./build/video/*
  - mv ./build ../public
  artifacts:
    paths:
    - public

documentation:
  stage: documentation
  variables:
    LUDUS_BUILD_TYPE: any-built
  tags:
  - ludus-proxmox-runner
  retry:
    max: 2
  script:
  - cd docs
  - yarn install
  - yarn build
  - rm -f ./build/video/*
  - rm -f ./build/img/hardware/Debian_12_RAID0.mp4
  - mv ./build ../built-docs
  artifacts:
    paths:
    - built-docs

build all:
  stage: build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - documentation
  artifacts:
    paths:
    - binaries/*
    expire_in: 1 week
  variables:
    LUDUS_BUILD_TYPE: any-built
  timeout: 10m
  script:
  - echo "Compiling the server code..."
  - export GIT_COMMIT_SHORT_HASH=$(git rev-parse --short HEAD)
  ...

install kickoff:
  stage: install-kickoff
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: kickoff
  timeout: 10m
  script:
  - sudo hostname ludus-$CI_PIPELINE_ID
  - sudo hostnamectl set-hostname ludus-$CI_PIPELINE_ID
  - cd binaries
  ...

install check:
  stage: install-check
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: check
  timeout: 1h
  script:
  - sudo cat /opt/ludus/install/install.log
  - echo "root:$CI_PIPELINE_ID" | sudo chpasswd

install snapshot:
  stage: install-snapshot
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - echo "Snapshot complete"

templates build:
  stage: templates-build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - - sudo /usr/sbin/chronyd -q 'pool pool.ntp.org iburst' || sudo /usr/bin/chronyc -m 'burst 3/3' 'makestep 0.5 -1'
  ...

templates check:
  stage: templates-check
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 2h
  retry:
    max: 2
  script:
  ...

templates snapshot:
  stage: templates-snapshot
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: templates_built
  timeout: 5m
  script:
  - echo "Snapshot complete"

client basic-commands:
  stage: client
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - - sudo /usr/sbin/chronyd -q 'pool pool.ntp.org iburst' || sudo /usr/bin/chronyc -m 'burst 3/3' 'makestep 0.5 -1'
      - date
  ...

fix: 🐛 fix client build issue with syscalls on windows
  ludus-client/cmd/range.go
Due: build all, client basic-commands, range deploy-admin, range deploy-user

fix: 🐛 dont cast a nil
  ludus-api/utils.go
Due: build all

fix: 🐛 add wireguard_port to ansible vars
  ludus-api/ansible.go
Due: build all

Automatic backup from Apidog
  docs/static/api/ludus.openapi.yaml
Due: pages, documentation, build all

fix: 🐛 fix lack of userNumber in access grant array
  .gitlab-ci.yml
  ludus-api/range_access.go
Due: build all

docs: 📚 don't need a title when you have a banner image
  README.md
Due: build all

feat: ✨ add beta release ci flow and beta installer
  .gitlab-ci.yml
  install-beta.sh
Due: build all

feat: ✨ add hardcoded beta license
  ludus-api/license.go
Due: build all

ci: 🤖 skip plugin build for beta tags
  .gitlab-ci.yml
Due: build all

feat: ✨ add rclone to ci setup
  docs/docs/developers/cicd.md
  ludus-server/ci/ci-setup.yml
Due: pages, documentation, build all

ci: 🤖 put beta docs at a beta pages prefix
  .gitlab-ci.yml
  docs/docusaurus.config.js
Due: pages, documentation, build all

docs: 📚 revert baseUrl change and update docusorus
  .gitlab-ci.yml
  docs/docusaurus.config.js
  docs/package.json
  docs/yarn.lock
Due: pages, documentation, build all

ci: 🤖 fix r2 upload
  .gitlab-ci.yml
Due: build all

ci: 🤖 fix multi-line syntax in r2 release
  .gitlab-ci.yml
Due: build all

fix: 🐛 spell out professional for the pro license to match the web ui
  ludus-api/config.go
  ludus-api/license.go
Due: build all

feat(installer): ✨ update installer to install bash-completions package
  install-beta.sh
  install.sh
Due: build all

fix: 🐛 protect ROOT user from delete/password change and hide root user from the UI/CLI.
  ludus-api/api_user_management.go
  ludus-api/routers.go
  ludus-api/utils.go
Due: build all

feat: ✨ make /admin an alias for /_
  ludus-api/routers.go
Due: build all

fix: 🐛 fix security issue with users collection
  ludus-api/migrations/1761252002_initial_expand_users_collection.go
Due: build all

fix: 🐛 add ui package for redirecting /admin
  ludus-api/routers.go
Due: build all

fix: 🐛 fix range directory creation bug during migration
  ludus-api/migrate_to_pocketbase.go
Due: build all

ci: 🤖 fix issue with tag releases
  .gitlab-ci.yml
Due: build all

fix: 🐛 fix regex to validate rangeID during range create
  ludus-api/api_range_management.go
  ludus-api/migrations/1761252003_initial_create_ranges_collection.go
Due: build all

refactor: 🔨 update the proxmox ansible role so we don't need git on the system
  ludus-server/ansible/requirements.yml
Due: build all

fix: 🐛 fix permission issue with range creation
  ludus-api/api_range_management.go
Due: build all

docs: 📚 TPM snapshots are now supproted for qcow2 in PVE 9.1
  docs/docs/storage.md
Due: pages, documentation, build all

fix: 🐛 allow a range to not be required to pass middleware
  ludus-api/ansible.go
  ludus-api/api_group_management.go
  ludus-api/api_power_state_management.go
  ludus-api/api_range_management.go
  ludus-api/api_snapshot_management.go
  ludus-api/api_testing_state_management.go
  ludus-api/middleware.go
  ludus-api/range_access.go
  ludus-api/routers.go
  ludus-api/utils.go
  ludus-api/yaml_validate.go
Due: build all

fix: 🐛 fix / redirect to /ui
  ludus-api/middleware.go
  ludus-api/routers.go
Due: build all

fix: 🐛 fix issue with range access due to collapsed ranges in user object
  ludus-api/api_group_management.go
  ludus-api/api_user_management.go
  ludus-api/middleware.go
Due: build all

fix: 🐛 fix listGroupRanges endpoint to conform to API spec (no result object)
  ludus-api/api_group_management.go
  ludus-api/dto/responses.go
  ludus-client/cmd/group.go
Due: build all, client basic-commands

feat: ✨ restrict access to pocketbase unless env var is set
  ludus-api/middleware.go
  ludus-api/routers.go
Due: build all

docs: 📚 add brmkit.ludus_guacamole role to roles page
  docs/docs/roles.md
Due: pages, documentation, build all

feat(dev): ✨ open pocketbase URL by default when using dev script
  ludus-server/dev.sh
Due: build all

feat: ✨ add diagnostics endpoint and CLI command
  ludus-api/api_diagnostics.go
  ludus-api/middleware.go
  ludus-api/routers.go
  ludus-client/cmd/diagnostics.go
Due: build all, client basic-commands

feat: ✨ add get and set default range ID endpoints and CLI commands
  ludus-api/api_user_management.go
  ludus-api/dto/requests.go
  ludus-api/dto/responses.go
  ludus-api/routers.go
  ludus-client/cmd/range.go
Due: build all, client basic-commands, range deploy-admin, range deploy-user

docs: 📚 fix debian typos
  docs/docs/quick-start/install-ludus.md
  docs/static/img/intro/debian-12-install.png
Due: pages, documentation, build all

style: 💄 fix debian typo
  ludus-server/install.go
Due: build all, install kickoff, install check, install snapshot

fix(installer): 🐛 fix zsh installer issues
  install-beta.sh
  install.sh
Due: build all

Path conditions:
  pages: any of: docs/**/*
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  client basic-commands: any of: ludus-client/**/*.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  range deploy-admin: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-admin: any of: ludus-server/ansible/range-management/**/*
  range snapshot-admin: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-admin: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-admin: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-admin: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-admin: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-admin: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  range deploy-user: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-user: any of: ludus-server/ansible/range-management/**/*
  range snapshot-user: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-user: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-user: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-user: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-user: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-user: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  post-deploy snapshots-as-user: any of: ludus-client/cmd/snapshots.go, ludus-server/src/api_snapshot_management.go
