Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, documentation, build all, install kickoff, install check, install snapshot, templates build, templates check, templates snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, post-deploy ansible-as-admin, post-deploy user-cmds-as-admin, post-deploy templates-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user, post-deploy ansible-as-user, post-deploy user-cmds-as-user, post-deploy templates-as-user, post-deploy snapshots-as-user

Path conditions:
  pages: any of: docs/**/*
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  client basic-commands: any of: ludus-client/**/*.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  range deploy-admin: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-admin: any of: ludus-server/ansible/range-management/**/*
  range snapshot-admin: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-admin: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-admin: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-admin: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-admin: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-admin: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  range deploy-user: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-user: any of: ludus-server/ansible/range-management/**/*
  range snapshot-user: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-user: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-user: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-user: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-user: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-user: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  post-deploy snapshots-as-user: any of: ludus-client/cmd/snapshots.go, ludus-server/src/api_snapshot_management.go

fix: 🐛 fix pocketbase migrations
  ludus-api/migrations/1761252002_initial_expand_users_collection.go
  ludus-api/migrations/1761252003_initial_create_ranges_collection.go
  ludus-api/migrations/1761252009_initial_create_blueprints_collection.go
  ludus-api/migrations/1761252010_set_user_access_rules.go
  ludus-api/migrations/1761252011_set_range_access_rules.go
Due: build all

docs: 📚 minor doc fixup
  docs/docs/intro.md
  docs/docs/using-ludus/sharing.md
Due: pages, documentation, build all

build: 📦 don't include private plugins in go.work file
  go.work
Due: build all

build: 📦 ignore private web UI
  .gitignore
Due: build all

fix(server): 🐛 fix vm_names with equal prefix colliding during selection in deployment
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/range-management/testing.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(server): 🐛 extend timeout for VM destroy for slower systems
  ludus-api/api_vm_management.go
Due: build all

fix(migration): 🐛 fix sdn migration needed check to check for existing ranges VNets
  ludus-api/api_migration.go
Due: build all

fix(deploy): 🐛 set MTU to host value for docker before custom roles are run on Linux machines when MTU is < 1500 (docker default)
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(ansible): 🐛 fix role names when uploaded as a directory
  ludus-api/api_ansible.go
Due: build all

docs: 📚 update ansible docs to include link to ansible vars and note on role names when uploaded from a directory): 📚 fix(ansible): 🐛 fix role names when uploaded as a directory
  docs/docs/developers/ansible-roles.md
  docs/docs/using-ludus/roles.md
Due: pages, documentation, build all

refactor(server): 🔨 move default router vm into a single variable in the server config
  ludus-server/ansible/range-management/range-access.yml
  ludus-server/ansible/range-management/tasks/router/add-vlan-to-router.yml
  ludus-server/ansible/server-config.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

refactor(server): 🔨 change from local_action to wait_for
  ludus-server/ansible/range-management/tasks/windows/sysprep.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(server): 🐛 truncate netbios names to 15 characters when creating AD domains
  ludus-server/ansible/range-management/tasks/windows/configure-dc.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

docs: 📚 add note about ludus_admin group membership for user promotion
  docs/docs/administration/admin.md
Due: pages, documentation, build all

fix(server): 🐛 fix issue with deployments on powered-off ranges; users can now deploy a range from a powered off state and it will work
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/range-management/tasks/proxmox/power-on-vm.yml
  ludus-server/ansible/range-management/tasks/proxmox/wait-for-vm-availability-linux.yml
  ludus-server/ansible/range-management/testing.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(server): 🐛 don't fail when delete default range is selected but the default range does not exist during user delete
  ludus-api/api_user_management.go
Due: build all

fix(server): 🐛 properly handle blueprints when a user is deleted; make any owned blueprints owned by ROOT and remove user from shared blueprints before deleting
  ludus-api/api_user_management.go
Due: build all

style(server): 💄 make error for cluster mode check less scary
  ludus-api/routers.go
  ludus-api/sdn.go
Due: build all

fix(install): 🐛 fix blueprint migration error check
  ludus-api/migrations/1761252009_initial_create_blueprints_collection.go
Due: build all

fix(server): 🐛 fix router availibility check
  ludus-server/ansible/range-management/tasks/proxmox/deploy-vm.yml
  ludus-server/ansible/range-management/tasks/proxmox/wait-for-vm-availability-linux.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(server): 🐛 fix router availibility check
  ludus-server/ansible/range-management/tasks/proxmox/wait-for-vm-availability-linux.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

ci: 🤖 run cluster tests for any start-at tags
  .gitlab-ci.yml
Due: build all

ci: 🤖 increase cluster install timeout
  .gitlab-ci.yml
Due: build all

fix(server): 🐛 fix missing user db field for onboarding tracking
  ludus-api/migrations/1761252002_initial_expand_users_collection.go
Due: build all

docs: 📚 use new API docs
  .gitlab-ci.yml
  docs/docusaurus.config.js
Due: pages, documentation, build all

docs: 📚 update docs
  UPDATING.md
  docs/docs/developers/developer-tips.md
  docs/docs/infrastructure-operations/updating.md
  docs/docs/quick-start/install-ludus.md
  docs/docs/upgrading-from-v1.md
  docs/docs/using-ludus/roles.md
  docs/static/api/index.html
  docs/static/api/ludus.openapi.yaml
Due: pages, documentation, build all

refactor(server): 🔨 remove slog, use logger
  ludus-api/database.go
Due: build all

docs: 📚 fix redirects for new doc layout
  docs/docusaurus.config.js
Due: pages, documentation, build all

ci: 🤖 move to self-hosted keygen for plugins
  .gitlab-ci.yml
Due: build all

ci: 🤖 fix release creation, specify package uuids
  .gitlab-ci.yml
Due: build all

ci: 🤖 allow untag of latest to fail
  .gitlab-ci.yml
Due: build all

fix(server): 🐛 fix merge artifact in ludus.yml
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(server): 🐛 fix sysprep wait_for action to use ansible_host (IP) vs inventory hostname (DNS name)
  ludus-server/ansible/range-management/tasks/windows/sysprep.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

docs: 📚 fix typo in anon_share_access gpo
  docs/docs/using-ludus/tags.md
Due: pages, documentation, build all

refactor(server): 🔨 move off depricated GetFile to GetReader for blueprints
  ludus-api/api_blueprint_management.go
Due: build all

docs: 📚 fix debug env variable setting commands
  docs/docs/developers/developer-tips.md
Due: pages, documentation, build all

fix(server): 🐛 ignore stderr from ansible-galaxy sub-commands that caused JSON parsing errors on systems with warnings or errors in their ansible setups
  ludus-api/ansible.go
  ludus-api/api_ansible.go
Due: build all

docs: 📚 update set-environement command for pocketbase
  docs/docs/administration/pocketbase.md
Due: pages, documentation, build all

docs: 📚 add goad dracarys env guide
  docs/docs/environment-guides/goad-dracarys.md
Due: pages, documentation, build all

fix(server)!: 🐛 change wireguard_vlan_default to REJECT and always REJECT VM traffic to Ludus host IP
  docs/docs/configuration.mdx
  docs/docs/infrastructure-operations/networking.md
  docs/docs/quick-start/congratulations.md
  docs/docs/troubleshooting/callbacks-to-wireguard.md
  ludus-server/ansible/range-management/tasks/firewall/set-firewall-rules.yml
Due: pages, documentation, build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user
