Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, documentation, build all, install kickoff, install check, install snapshot, templates build, templates check, templates snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, post-deploy ansible-as-admin, post-deploy user-cmds-as-admin, post-deploy templates-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user, post-deploy ansible-as-user, post-deploy user-cmds-as-user, post-deploy templates-as-user, post-deploy snapshots-as-user

Path conditions:
  pages: any of: docs/**/*
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  client basic-commands: any of: ludus-client/**/*.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  range deploy-admin: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-admin: any of: ludus-server/ansible/range-management/**/*
  range snapshot-admin: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-admin: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-admin: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-admin: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-admin: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-admin: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  range deploy-user: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-user: any of: ludus-server/ansible/range-management/**/*
  range snapshot-user: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-user: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-user: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-user: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-user: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-user: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  post-deploy snapshots-as-user: any of: ludus-client/cmd/snapshots.go, ludus-server/src/api_snapshot_management.go

fix(api): 🐛 use correct range ID field and add CPU/RAM model methods [full build]
  .cursor/commands/gen-commit-msg.md
  ludus-api/api_range_management.go
  ludus-api/models/model_proxies.go
Due: build all

fix(server): 🐛 fix crash on install due to logger not being defined
  ludus-api/routers.go
Due: build all

fix(server): 🐛 only try to download enterprise plugin if the license is entitled to it
  ludus-api/license.go
Due: build all

fix(server): 🐛 remove leaky bucket rate limiting on license checks
  ludus-api/leaky_bucket.go
  ludus-api/license.go
Due: build all

docs: 📚 add new roles for Splunk Universal Forwarder, Splunk Enterprise, and Zeek
  docs/docs/roles.md
Due: pages, documentation, build all

feat: ✨ Add range thumbnail API support
  dev.sh
  docs/static/api/ludus.openapi.yaml
  ludus-api/api_group_management.go
  ludus-api/api_range_management.go
  ludus-api/database.go
  ludus-api/dto/responses.go
  ludus-api/migrations/1761252015_allow_range_thumbnail_upload.go
  ludus-api/range_thumbnail.go
  ludus-api/routers.go
  ludus-api/types/types.go
  ludus-server/file.go
  ludus-server/update.go
Due: pages, documentation, build all, install kickoff, install check, install snapshot

fix: 🐛 Fix range relation checks for thumbnail upload
  ludus-api/migrations/1761252016_fix_range_access_rules_relation_ids.go
Due: build all

fix(server): 🐛 require range ID when creating range or return error
  ludus-api/api_range_management.go
Due: build all

fix(server): 🐛 describe db rule accurately in migration
  ludus-api/migrations/1761252016_fix_range_access_rules_relation_ids.go
Due: build all

fix(server): 🐛 remove stale comment
  ludus-api/routers.go
Due: build all

fix(server): 🐛 increase timeout 3x for awaiting router ssh interface [full build]
  .gitlab-ci.yml
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname-linux.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

feat(api): ✨ Implement blueprint management end-to-end [full build]
  .gitlab-ci.yml
  ludus-api/api_blueprint_management.go
  ludus-api/api_group_management.go
  ludus-api/dto/requests.go
  ludus-api/dto/responses.go
  ludus-api/migrations/1761252017_create_blueprints_collection.go
  ludus-api/migrations/1761252018_add_blueprint_thumbnail_upload.go
  ludus-api/routers.go
  ludus-client/cmd/blueprint.go
  ludus-client/cmd/bulk_helpers.go
  ludus-client/cmd/group.go
Due: build all, client basic-commands

ci: 🤖 create new stage for blueprint tests [start-at post-deploy-admin] [blueprint tests] [VMID-112]
  .gitlab-ci.yml
Due: build all

docs: 📚 remove interactive PC builder due to price volatility
  docs/docs/deployment-options/bare-metal.mdx
Due: pages, documentation, build all

chore(templates): 🧹 update debian13 URL and checksum
  templates/debian13/debian13.pkr.hcl
Due: build all

added ludus_windows_smb_share
  docs/docs/roles.md
Due: pages, documentation, build all

chore: 🧹 clean up .cursor files
  .cursor/commands/gen-commit-msg.md
  .cursor/rules/go.mdc
Due: build all

docs: 📚 add blueprints documentation
  docs/docs/blueprints.md
  docs/yarn.lock
Due: pages, documentation, build all

fix(install): 🐛 fix windows install-client.ps1 to only install completions once to the profile
  install-client.ps1
Due: build all

docs: 📚 update roles page to add ludus_win_privesc and fix ghostwriter typo
  docs/docs/roles.md
Due: pages, documentation, build all

Update wait_for task to use ansible.builtin module
  ludus-server/ansible/range-management/tasks/windows/sysprep.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

feat: ✨ server
  docs/static/schemas/range-config.json
  ludus-server/ansible/range-management/tasks/proxmox/deploy-vm.yml
  ludus-server/ansible/user-files/range-config.jsonschema
Due: pages, documentation, build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix: 🐛 server
  ludus-api/sdn.go
Due: build all

chore: 🧹 install
  ludus-server/main.go
Due: build all, install kickoff, install check, install snapshot

fix: 🐛 install
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/stage-1.yml
Due: build all, install kickoff, install check, install snapshot

refactor(install): 🔨 don't print ROOT API Key now that user has an initial admin account
  ludus-server/ansible/proxmox-install/templates/ludus-install-status.sh.j2
Due: build all, install kickoff, install check, install snapshot

fix: 🐛 default wireguard port to 51820 if not specified
  ludus-server/ansible/user-management/templates/wg_client.conf.j2
Due: build all, client basic-commands, range deploy-admin, post-deploy user-cmds-as-admin, range deploy-user, post-deploy user-cmds-as-user

style(install): 💄 dont provide a suggestion to public IP during install form
  ludus-server/form.go
Due: build all, install kickoff, install check, install snapshot

feat(server): ✨ add SSO support
  ludus-api/api_user_management.go
  ludus-api/cryptography.go
  ludus-api/database.go
  ludus-api/dto/requests.go
  ludus-api/dto/responses.go
  ludus-api/middleware.go
  ludus-api/routers.go
  ludus-api/utils.go
Due: build all

fix(install): 🐛 fix error when checking for cluster mode on Debian machines
  ludus-server/checks.go
Due: build all, install kickoff, install check, install snapshot

fix(migration): 🐛 fix sdn migration to run when ludusnat vnet does not exist but ludus zone does
  ludus-api/api_migration.go
  ludus-api/api_range_management.go
  ludus-api/dto/responses.go
  ludus-api/go.mod
  ludus-api/middleware.go
  ludus-api/routers.go
  ludus-api/sdn.go
  ludus-client/cmd/migrate.go
Due: build all, client basic-commands

docs: 📚 update cluster docs; add SSO docs; add pocketbase docs; clean up docs
  docs/docs/administration/_category_.json
  docs/docs/administration/pocketbase.md
  docs/docs/administration/sso.md
  docs/docs/configuration.mdx
  docs/docs/developers/developer-tips.md
  docs/docs/infrastructure-operations/_category_.json
  docs/docs/infrastructure-operations/cluster.md
  docs/docs/using-ludus/sharing.md
  docs/docusaurus.config.js
  docs/static/img/pocketbase/pocketbase-login.png
  docs/static/img/sharing/range-in-group.png
Due: pages, documentation, build all

fix(server): 🐛 fix vm_names with equal prefix colliding during selection in deployment
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/range-management/testing.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(install): 🐛 don't setup ludusnat VNET unless in cluster mode
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
Due: build all, install kickoff, install check, install snapshot
