Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, build all, install kickoff, install check, install snapshot, client basic-commands, templates build, templates check, templates snapshot, range deploy, range check, range snapshot, post-deploy testing

documentation:
  stage: documentation
  tags:
  - ludus-proxmox-runner
  script:
  - cd docs
  - yarn install
  - yarn build
  - mv ./build ../public
  artifacts:
    paths:
    - public

build all:
  stage: build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - documentation
  artifacts:
    paths:
    - binaries/*
    expire_in: 1 week
  variables:
    LUDUS_BUILD_TYPE: any-built
  timeout: 10m
  script:
  - echo "Compiling the server code..."
  - export GIT_COMMIT_SHORT_HASH=$(git rev-parse --short HEAD)
  ...

install kickoff:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: kickoff
  timeout: 10m
  script:
  - sudo hostname ludus-$CI_PIPELINE_ID
  - sudo hostnamectl set-hostname ludus-$CI_PIPELINE_ID
  - cd binaries
  ...

install check:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install kickoff
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: check
  timeout: 1h
  script:
  - sudo cat /opt/ludus/install/install.log
  - echo "root:$CI_PIPELINE_ID" | sudo chpasswd

install snapshot:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
    artifacts: false
  - job: install check
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - echo "Snapshot complete"

client basic-commands:
  stage: client
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install snapshot
    optional: true
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - cd binaries
    - pgrep -f 'ansible|packer' || sudo ./ludus-server --update
  ...

templates build:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install snapshot
    optional: true
  - job: client basic-commands
    optional: true
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - cd binaries
  ...

templates check:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: templates build
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 2h
  retry:
    max: 2
  script:
  - - cd binaries
    - pgrep -f 'ansible|packer' || sudo ./ludus-server --update
  ...

templates snapshot:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
    artifacts: false
  - job: templates check
  variables:
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: templates_built
  timeout: 5m
  script:
  - echo "Snapshot complete"

ci: 🤖 Update gitlab-ci to deploy to pages
  .gitlab-ci.yml
  docs/docs/cicd.md
Due: documentation, build all

style(client): 💄 clean up testing status table ouput
  ludus-client/cmd/testing.go
Due: build all, client basic-commands, range deploy, post-deploy testing

fix(config): 🐛 force the user to define all defaults if any defaults are defined as it completely replaces the server's default dict object
  docs/docs/configuration.mdx
  docs/static/schemas/range-config.json
  ludus-server/ansible/user-files/range-config.jsonschema
Due: documentation, build all, client basic-commands

docs: 📚 center image in readme
  README.md
Due: build all

ci: 🤖 fix baseUrl setting for gitlab pages deployment
  .gitlab-ci.yml
Due: build all

ci: 🤖 fix baseUrl setting for gitlab pages deployment
  .gitlab-ci.yml
  README.md
Due: build all

refactor: 🔨 make win2022 the built in and default server template
  ludus-server/ansible/user-files/range-config.example.yml
  ludus-server/ansible/user-management/templates/range-config.yml.j2
  ludus-server/packer/win2022-server-x64/Autounattend.xml
  ludus-server/packer/win2022-server-x64/win2022-server-x64.pkr.hcl
  templates/win2016-server-x64/Autounattend.xml
  templates/win2016-server-x64/iso/setup-for-ansible.ps1
  templates/win2016-server-x64/iso/win-updates.ps1
  templates/win2016-server-x64/iso/windows-common-setup.ps1
  templates/win2016-server-x64/scripts/disable-hibernate.ps1
  templates/win2016-server-x64/scripts/disablewinupdate.bat
  templates/win2016-server-x64/scripts/install-virtio-drivers.ps1
  templates/win2016-server-x64/win2016-server-x64.pkr.hcl
  templates/win2019-server-x64/Autounattend.xml
  templates/win2019-server-x64/ansible/windows_update.yml
  templates/win2019-server-x64/ansible/windows_update_security_updates.yml
  templates/win2019-server-x64/iso/setup-for-ansible.ps1
  templates/win2019-server-x64/iso/win-updates.ps1
  templates/win2019-server-x64/iso/windows-common-setup.ps1
  templates/win2019-server-x64/scripts/disable-hibernate.ps1
  templates/win2019-server-x64/scripts/disablewinupdate.bat
  templates/win2019-server-x64/scripts/install-virtio-drivers.ps1
  templates/win2019-server-x64/win2019-server-x64.pkr.hcl
Due: build all, client basic-commands, templates build, templates check, templates snapshot, range deploy

docs: 📚 update docs
  .gitlab-ci.yml
  docs/demo.tape
  docs/docs/Quick Start/build-templates.md
  docs/docs/Quick Start/create-a-user.md
  docs/docs/Quick Start/deploy-range.mdx
  docs/docs/templates.md
  ludus-server/ansible/user-management/templates/user-config.yml.j2
  ludus-server/packer/common/win7/disable-winrm.ps1
  ludus-server/packer/common/win7/enable-winrm.ps1
  ludus-server/packer/common/win7/install-virtio-drivers-win7.ps1
  ludus-server/packer/common/win7/win-7-update-powershell-5.1.ps1
  ludus-server/packer/win2016-server-x64/Autounattend.xml
  ludus-server/packer/win2016-server-x64/win2016-server-x64.pkr.hcl
  ludus-server/packer/win2019-server-x64/Autounattend.xml
  ludus-server/packer/win2019-server-x64/win2019-server-x64.pkr.hcl
  templates/win2022-server-x64/Autounattend.xml
  templates/win2022-server-x64/ansible/windows_update_security_updates.yml
  templates/win2022-server-x64/iso/setup-for-ansible.ps1
  templates/win2022-server-x64/iso/win-updates.ps1
  templates/win2022-server-x64/iso/windows-common-setup.ps1
  templates/win2022-server-x64/scripts/disable-hibernate.ps1
  templates/win2022-server-x64/scripts/disablewinupdate.bat
  templates/win2022-server-x64/scripts/install-virtio-drivers.ps1
  templates/win2022-server-x64/win2022-server-x64.pkr.hcl
Due: documentation, build all, client basic-commands, templates build, templates check, templates snapshot, range deploy

fix: 🐛 fix win2022 template to work with shared scripts
  docs/docs/Environment Guides/basic-ad-network.md
  docs/docs/nexus-cache.md
  ludus-server/ansible/range-management/proxmox.py
  ludus-server/ansible/range-management/tasks/make-rdp-files.yml
  ludus-server/packer/win2022-server-x64/win2022-server-x64.pkr.hcl
  ludus-server/src/api_template_management.go
Due: documentation, build all, client basic-commands, templates build, templates check, templates snapshot, range deploy, range check, range snapshot, post-deploy testing

refactor(server): 🔨 refactor server files for better organization
  ludus-server/README.md
  ludus-server/ansible/proxmox-install/stage-3.yml
  ludus-server/ansible/proxmox-install/templates/motd.j2
  ludus-server/ansible/range-management/proxmox.py
  ludus-server/ansible/user-files/range-config.example.yml
  ludus-server/ansible/user-management/templates/range-config.yml.j2
  ludus-server/args.go
  ludus-server/checks.go
  ludus-server/ci/ci-setup.yml
  ludus-server/config.go
  ludus-server/file.go
  ludus-server/go.mod
  ludus-server/go.sum
  ludus-server/install.go
  ludus-server/main.go
  ludus-server/process.go
  ludus-server/src/ansible.go
  ludus-server/src/api_ansible.go
  ludus-server/src/process.go
  ludus-server/update.go
  ludus-server/user.go
Due: build all, install kickoff, install check, install snapshot, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

ci: 🤖 update CI with more complete tests
  .gitlab-ci.yml
  docs/README.md
  docs/static/api/index.html
  ludus-client/LICENSE
  ludus-client/cmd/ansible.go
  ludus-client/go.mod
  ludus-client/go.sum
  ludus-server/utils.go
Due: documentation, build all, install kickoff, install check, install snapshot, client basic-commands, range deploy, post-deploy testing

fix: 🐛 fix error getting IP during install
  docs/docs/Quick Start/congratulations.md
  docs/docs/Quick Start/testing-mode.md
  ludus-server/README.md
  ludus-server/ansible/proxmox-install/stage-3.yml
Due: documentation, build all, install kickoff, install check, install snapshot

fix: 🐛 make kali builds 2 hours faster
  ludus-server/packer/kali/http/kali-preseed.cfg
  ludus-server/packer/kali/kali.pkr.hcl
  ludus-server/packer/kali/kali.yml
Due: build all, templates build, templates check, templates snapshot

fix: 🐛 fix issues installing collections with versions
  docs/static/api/index.html
  ludus-server/src/api_ansible.go
Due: documentation, build all

refactor: 🔨 change to pure-go sqlite to allow the server to be cross-compiled
  ludus-server/go.mod
  ludus-server/go.sum
  ludus-server/src/database.go
Due: build all

fix: 🐛 fix issues getting proxmox IP during install
  ludus-server/ansible/proxmox-install/stage-1.yml
  ludus-server/ansible/proxmox-install/templates/motd.j2
Due: build all, install kickoff, install check, install snapshot

docs: 📚 update docs with more troubleshooting
  docs/docs/Troubleshooting/client.md
  docs/docs/Troubleshooting/kasmvnc.md
  docs/docs/Troubleshooting/wireguard.md
  docs/package-lock.json
  docs/package.json
Due: documentation, build all

✨Allow the specification of how many templates to build in parallel
  .gitlab-ci.yml
  ludus-client/cmd/templates.go
  ludus-server/src/api_template_management.go
Due: build all, client basic-commands, range deploy, post-deploy testing

docs: 📚 update logo and API docs for parallel int param
  docs/static/api/index.html
  docs/static/img/big-logo-light.svg
  docs/static/img/big-logo.svg
  docs/static/img/favicon.ico
  docs/static/img/logo-dark.svg
  docs/static/img/logo-light.svg
  docs/static/img/logo.png
  docs/static/img/logo.svg
  docs/static/img/ludus-social-card.jpg
  docs/static/img/ludus-social-card.png
Due: documentation, build all

refactor: 🔨 clean up parallel builds
  ludus-server/src/api_template_management.go
Due: build all

ci: 🤖 prevent parallel post-deploy tests
  .gitlab-ci.yml
  README.md
Due: build all

ci: 🤖 fix ci needs for post-deploy
  .gitlab-ci.yml
Due: build all

docs: 📚 minor fixup to complex network diagram
  docs/static/img/envs/complex-red-team-network.drawio
  docs/static/img/envs/complex-red-team-network.png
Due: documentation, build all

fix: 🐛 drop a file with the correct number of reboots to /etc/issue right before rebooting but don't kick the tty so the user won't see it till the next reboot
  ludus-server/ansible/proxmox-install/stage-1.yml
  ludus-server/ansible/proxmox-install/stage-2.yml
Due: build all, install kickoff, install check, install snapshot

fix: 🐛 fix the case where parallel > number of templates and `template build` is called more than once before templates are done building
  ludus-server/src/api_template_management.go
Due: build all

docs: 📚 add a contributing file
  CONTRIBUTING.md
Due: build all

ci: 🤖 fix ansible CI tests
  .gitlab-ci.yml
  README.md
  ludus-server/src/api_ansible.go
Due: build all

ci: 🤖 fix ansible CI tests
  .gitlab-ci.yml
Due: build all

docs: 📚 update docs
  README.md
  docs/docs/DNS.md
  docs/docs/Deployment Options/_category_.json
  docs/docs/Environment Guides/_category_.json
  docs/docs/Quick Start/_category_.json
  docs/docs/Troubleshooting/_category_.json
  docs/docs/admin.md
  docs/docs/cicd.md
  docs/docs/cli.md
  docs/docs/configuration.mdx
  docs/docs/intro.md
  docs/docs/networking.md
  docs/docs/nexus-cache.md
  docs/docs/security.md
  docs/docs/templates.md
  docs/docusaurus.config.js
  docs/src/css/custom.css
  docs/src/pages/index.js
  docs/static/img/logo.svg
  ludus-client/.gitignore
  ludus-client/README.md
  ludus-server/README.md
  scripts/README.md
Due: documentation, build all, client basic-commands, range deploy, post-deploy testing

ci: 🤖 fix user commands ci
  .gitlab-ci.yml
Due: build all

docs: 📚 update doc slugs to be human readable
  .gitlab-ci.yml
  README.md
  docs/docs/Deployment Options/_category_.json
  docs/docs/Environment Guides/_category_.json
  docs/docs/Quick Start/_category_.json
  docs/docusaurus.config.js
  docs/src/pages/index.js
Due: documentation, build all

ci: 🤖 fix user add dep issue; add user tests to ci
  .gitlab-ci.yml
  docs/docs/cicd.md
  ludus-server/ansible/range-management/tasks/windows/enable-wmi.yml
  ludus-server/ansible/user-management/add-user.yml
  ludus-server/ansible/user-management/templates/range-config.yml.j2
  ludus-server/ci/configs/simple-domain-with-office.yml
  ludus-server/ci/configs/simple-domain.yml
Due: documentation, build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

ci: 🤖 fix ci job dependacy issues
  .gitlab-ci.yml
Due: build all

ci: 🤖 fix ci job dependancies
  .gitlab-ci.yml
Due: build all

ci: 🤖 reorder ci to fix tempalte check on config upload
  .gitlab-ci.yml
Due: build all

ci: 🤖 fix ci deps
  .gitlab-ci.yml
Due: build all

ci: 🤖 don't set config until templates are built
  .gitlab-ci.yml
Due: build all

Path conditions:
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  client basic-commands: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  range deploy: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check: any of: ludus-server/ansible/range-management/**/*
  range snapshot: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*
