Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, build all, install kickoff, install check, install snapshot, client basic-commands, templates build, templates check, templates snapshot, range deploy, range check, range snapshot, post-deploy testing

Path conditions:
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  client basic-commands: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  range deploy: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check: any of: ludus-server/ansible/range-management/**/*
  range snapshot: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*

feat: ✨ add install script
  ludus-server/install.sh
Due: build all

feat: ✨ add 32 bit ARM linux client and checksum file to releases
  .gitlab-ci.yml
Due: build all

feat(client): ✨ allow users to run the completions arg without an API key
  ludus-client/cmd/root.go
Due: build all, client basic-commands, range deploy, post-deploy testing

fix: 🐛 fix PVE role names during install
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
Due: build all, install kickoff, install check, install snapshot

fix: 🐛 you can only update the model in the update function
  ludus-server/form.go
Due: build all, install kickoff, install check, install snapshot

fix(install): 🐛 fix naming issues with binary and checksum file
  install.sh
Due: build all

revert(server): ⏪ revert proxmox role name change to prevent breaking existing servers
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/stage-2.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
Due: build all, install kickoff, install check, install snapshot

fix: 🐛 make sure pool permissions are set correctly when adding users
  ludus-server/ansible/user-management/add-user.yml
Due: build all, client basic-commands, range deploy

fix(client): 🐛 allow completions to work without API key
  ludus-client/cmd/root.go
Due: build all, client basic-commands, range deploy, post-deploy testing

fix: 🐛 fix issues with zsh in the install script
  install.sh
Due: build all

feat(templates): ✨ add win2019 no security updates template; increase timeout for win2019 with security updates
  templates/win2019-server-x64-no-security-updates/Autounattend.xml
  templates/win2019-server-x64-no-security-updates/iso/setup-for-ansible.ps1
  templates/win2019-server-x64-no-security-updates/iso/win-updates.ps1
  templates/win2019-server-x64-no-security-updates/iso/windows-common-setup.ps1
  templates/win2019-server-x64-no-security-updates/scripts/disable-hibernate.ps1
  templates/win2019-server-x64-no-security-updates/scripts/disablewinupdate.bat
  templates/win2019-server-x64-no-security-updates/scripts/install-virtio-drivers.ps1
  templates/win2019-server-x64-no-security-updates/win2019-server-x64-no-security-updates.pkr.hcl
  templates/win2019-server-x64/ansible/windows_update_security_updates.yml
Due: build all

fix(installer): 🐛 default to accepting self-singed proxmox cert during install
  ludus-server/config.go
  ludus-server/form.go
Due: build all, install kickoff, install check, install snapshot

fix(server): 🐛 fix --only-roles (broke during 1.5.0 changes)
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

feat(server): ✨ output full error message when unable to log into proxmox
  ludus-server/src/proxmox.go
Due: build all

feat(server): ✨ log to ansible log when validating the range config to give users full details
  ludus-server/src/api_range_management.go
Due: build all

chore(templates): 🧹 bump kasmvnc version for kali
  ludus-server/packer/kali/kali.yml
Due: build all, templates build, templates check, templates snapshot

fix(install): 🐛 fix promxox_node name not being copied to proxmox_hostname for config during install
  ludus-server/config.go
  ludus-server/form.go
Due: build all, install kickoff, install check, install snapshot

fix: 🐛 allow collection-based roles to pass the role existence check during range config validation
  ludus-server/src/ansible.go
Due: build all

fix: 🐛 use a german university kali mirror as it is more reliable than the official mirror
  ludus-server/packer/kali/http/kali-preseed.cfg
Due: build all, templates build, templates check, templates snapshot

fix(installer): 🐛 fix error on ubuntu; better logic around server updates
  install.sh
Due: build all

feat(templates): ✨ bump kali image to 2024.3
  ludus-server/packer/kali/kali.pkr.hcl
Due: build all, templates build, templates check, templates snapshot

feat(server): ✨ improve IP determination in dynamic inventory script
  ludus-server/ansible/range-management/proxmox.py
  ludus-server/src/ansible.go
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix(server): 🐛 more accurate ansible/packer checks before updating
  ludus-server/update.go
Due: build all, install kickoff, install check, install snapshot

LEHACK WORKSHOP LAB LUDUS
  docs/docs/environment-guides/LEHACK-2024.md
Due: documentation, build all

Update LEHACK-2024.md
  docs/docs/environment-guides/LEHACK-2024.md
Due: documentation, build all

fix(install): 🐛 only modify GRUB if GRUB exists
  ludus-server/ansible/proxmox-install/stage-1.yml
Due: build all, install kickoff, install check, install snapshot

docs: 📚 add NetExec lab env guide
  docs/docs/environment-guides/netexec-workshop.md
  docs/static/img/envs/netexec.png
Due: documentation, build all

docs: 📚 change netexec page name; fix spelling
  docs/docs/environment-guides/netexec-workshop-lehack-2024.md
Due: documentation, build all

docs: 📚 try to fix direct linking for docs
  docs/docusaurus.config.js
Due: documentation, build all

docs: 📚 documentation updates to improve the new user experience
  docs/docs/environment-guides/goad-nha.md
  docs/docs/environment-guides/goad.md
  docs/docs/quick-start/build-templates.md
  docs/docs/quick-start/deploy-range.mdx
  docs/docs/updating.md
Due: documentation, build all

revert: ⏪ revert changes to trailingslash as the broke the build
  docs/docusaurus.config.js
Due: documentation, build all

fix: 🐛 update ubuntu 22.04 url and checksum
  templates/ubuntu-22.04-x64-server/ubuntu-22.04-x64-server.pkr.hcl
Due: build all

style(client): 💄 Add message about the time it takes to add a user when creating a user
  ludus-client/cmd/user.go
Due: build all, client basic-commands, range deploy, post-deploy testing

Fix template logs flag verbose-packer
  ludus-client/cmd/templates.go
Due: build all, client basic-commands, range deploy, post-deploy testing

fix(install): 🐛 set env vars on Proxmox installs where they are not set to prevent issues with network detection
  install.sh
Due: build all

docs: 📚 add tailscale and velociraptor community roles
  docs/docs/roles.md
Due: documentation, build all

docs: 📚 update baremetal page to reflect the K8 being gone
  docs/docs/deployment-options/bare-metal.mdx
Due: documentation, build all

fix: 🐛 check that the template object is not nil (half created templates?) before casting to prevent crash
  ludus-server/src/api_template_management.go
Due: build all
