Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, documentation, build all, install kickoff, install check, install snapshot, templates build, templates check, templates snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, post-deploy ansible-as-admin, post-deploy user-cmds-as-admin, post-deploy templates-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user, post-deploy ansible-as-user, post-deploy user-cmds-as-user, post-deploy templates-as-user, post-deploy snapshots-as-user

pages:
  stage: pages
  variables:
    LUDUS_BUILD_TYPE: any-built
  tags:
  - ludus-proxmox-runner
  retry:
    max: 2
  script:
  - cd docs
  - 'sed -i "s|baseUrl: ''/ludus/''|baseUrl: ''/''|" docusaurus.config.js'
  - yarn install
  - yarn build
  - rm -f ./build/video/*
  - mv ./build ../public
  artifacts:
    paths:
    - public

documentation:
  stage: documentation
  variables:
    LUDUS_BUILD_TYPE: any-built
  tags:
  - ludus-proxmox-runner
  retry:
    max: 2
  script:
  - cd docs
  - yarn install
  - yarn build
  - rm -f ./build/video/*
  - rm -f ./build/img/hardware/Debian_12_RAID0.mp4
  - mv ./build ../built-docs
  artifacts:
    paths:
    - built-docs

build all:
  stage: build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - documentation
  artifacts:
    paths:
    - binaries/*
    expire_in: 1 week
  variables:
    LUDUS_BUILD_TYPE: any-built
  timeout: 10m
  script:
  - echo "Compiling the server code..."
  - export GIT_COMMIT_SHORT_HASH=$(git rev-parse --short HEAD)
  ...

install kickoff:
  stage: install-kickoff
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: kickoff
  timeout: 10m
  script:
  - sudo hostname ludus-$CI_PIPELINE_ID
  - sudo hostnamectl set-hostname ludus-$CI_PIPELINE_ID
  - cd binaries
  ...

install check:
  stage: install-check
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: check
  timeout: 1h
  script:
  - sudo cat /opt/ludus/install/install.log
  - echo "root:$CI_PIPELINE_ID" | sudo chpasswd

install snapshot:
  stage: install-snapshot
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - echo "Snapshot complete"

templates build:
  stage: templates-build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - - sudo /usr/sbin/chronyd -q 'pool pool.ntp.org iburst' || sudo /usr/bin/chronyc -m 'burst 3/3' 'makestep 0.5 -1'
  ...

templates check:
  stage: templates-check
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 2h
  retry:
    max: 2
  script:
  ...

templates snapshot:
  stage: templates-snapshot
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: templates_built
  timeout: 5m
  script:
  - echo "Snapshot complete"

client basic-commands:
  stage: client
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - - sudo /usr/sbin/chronyd -q 'pool pool.ntp.org iburst' || sudo /usr/bin/chronyc -m 'burst 3/3' 'makestep 0.5 -1'
      - date
  ...

Document integration blocker fixes and final VM qualification
  docs/ludus-2.4.0-integration-review.md
  docs/lxc-upgrade-test-matrix.md
Due: pages, documentation, build all

Fix first role uploads and preserve the supported Packer plugin in LXC images
  UPDATING.md
  ludus-api/api_ansible.go
  ludus-server/lxc/build.sh
Due: build all

docs: record full range deployment and WireGuard qualification
  docs/ludus-2.4.0-integration-review.md
Due: pages, documentation, build all

feat(release): modernize beta installers and publish R2 docs
  .gitlab-ci.yml
  DEVELOPERS.md
  UPDATING.md
  docs/docusaurus.config.js
  docs/r2-worker/.gitignore
  docs/r2-worker/package-lock.json
  docs/r2-worker/package.json
  docs/r2-worker/worker.js
  docs/r2-worker/worker.test.js
  docs/r2-worker/wrangler.jsonc
  docs/static/api/index.html
  install-beta.sh
  install.sh
  ludus-server/lxc/test_installer_channels.py
Due: pages, documentation, build all

refactor(installer): separate offline provisioning entry point
  .gitlab-ci.yml
  DEVELOPERS.md
  UPDATING.md
  docs/docs/deployment-options/proxmox-lxc.md
  install-beta.sh
  install-offline.sh
  install.sh
  ludus-server/lxc/test_installer_offline.py
Due: pages, documentation, build all

cleanup integration review files
  .gitignore
  docs/ludus-2.4.0-integration-review.md
  docs/yarn.lock
Due: pages, documentation, build all

ci: 🤖 Update CI for 2.4.0 LXC containerization
  .gitlab-ci.yml
  ludus-server/ci/README.md
  ludus-server/ci/base.sh
  ludus-server/ci/bootstrap-ci-host.sh
  ludus-server/ci/check-password-rotation.py
  ludus-server/ci/ci-cluster-setup.yml
  ludus-server/ci/ci-nested-setup.yml
  ludus-server/ci/ci-profile.sh
  ludus-server/ci/ci-provision-inventory.json
  ludus-server/ci/ci-vm-setup.yml
  ludus-server/ci/claim-cluster.sh
  ludus-server/ci/job-server.sh
  ludus-server/ci/prepare-cluster.sh
  ludus-server/ci/prepare.sh
  ludus-server/ci/prepare.yml
  ludus-server/ci/provision-ci.py
  ludus-server/ci/release-cluster.sh
  ludus-server/ci/run.sh
  ludus-server/ci/test-lxc-migration.sh
  ludus-server/ci/test-lxc-nested-proxmox.sh
Due: build all

ci: 🤖 fix testing mode checks by comparing curl exit codes instead of matching text output
  .gitlab-ci.yml
  ludus-server/ci/README.md
  ludus-server/ci/provision-ci.py
Due: build all

fix(server): 🐛 correctly scope ansible collection installs (lxc regression)
  docs/docs/using-ludus/cli.md
  ludus-api/ansible.go
  ludus-api/ansible_test.go
Due: pages, documentation, build all

fix(server): 🐛 Replace server-config.yml but warn if the bundled copy differs from what the user had so they can replace if needed
  docs/docs/infrastructure-operations/migrate-to-lxc.md
  docs/docs/infrastructure-operations/updating.md
  docs/lxc-upgrade-test-matrix.md
  install.sh
  ludus-server/migration_state_test.go
  ludus-server/update.go
Due: pages, documentation, build all, install kickoff, install check, install snapshot

ci: 🤖 faster template check failure if builds fail
  .gitlab-ci.yml
Due: build all

ci: 🤖 build the beta web UI for beta releases
  .gitlab-ci.yml
Due: build all

ci: 🤖 fix beta docs release rclone actions
  .gitlab-ci.yml
Due: build all

ci: 🤖 clean up tag release jobs
  .gitlab-ci.yml
Due: build all

fix(installer): 🐛 ignore beta tags for stable installers
  docs/docs/quick-start/install-ludus.md
  docs/docs/quick-start/using-cli-locally.md
  install-client.ps1
  install.sh
Due: pages, documentation, build all

Checkpoint certificate authentication before Windows SSH migration
  .gitignore
  DEVELOPERS.md
  dev.sh
  docs/docs/configuration.mdx
  docs/static/schemas/range-config.json
  dynamic-inventory/README.md
  dynamic-inventory/helpers_test.go
  dynamic-inventory/inventory_test.go
  dynamic-inventory/main.go
  go.work
  go.work.sum
  ludus-api/ansible.go
  ludus-api/ansible_test.go
  ludus-api/api_placeholder.go
  ludus-api/api_range_management.go
  ludus-api/range_auth.go
  ludus-api/range_auth_test.go
  ludus-server/ansible/range-management/group_vars/almalinux.yml
  ludus-server/ansible/range-management/group_vars/centos.yml
  ludus-server/ansible/range-management/group_vars/debian.yml
  ludus-server/ansible/range-management/group_vars/kali.yml
  ludus-server/ansible/range-management/group_vars/macos.yml
  ludus-server/ansible/range-management/group_vars/osx.yml
  ludus-server/ansible/range-management/group_vars/rhel.yml
  ludus-server/ansible/range-management/group_vars/rocky.yml
  ludus-server/ansible/range-management/group_vars/ubuntu.yml
  ludus-server/ansible/range-management/group_vars/windows.yml
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/range-management/pre-run-checks.yml
  ludus-server/ansible/range-management/tasks/make-rdp-files.yml
  ludus-server/ansible/range-management/tasks/windows/configure-autologon.yml
  ludus-server/ansible/server-config.yml
  ludus-server/ansible/user-files/range-config.jsonschema
  testing.sh
Due: pages, documentation, build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user

docs: simplify plugin guide and remove architecture page
  docs/docs/developers/plugin-architecture.md
  docs/docs/developers/rpc-plugins.md
Due: pages, documentation, build all

feat(server): ✨ Update ansible and all ansible collections to their latest versions
  UPDATING.md
  ludus-server/ansible/range-management/host_vars/localhost.yml
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname-windows.yml
  ludus-server/ansible/range-management/tasks/proxmox/deploy-vm.yml
  ludus-server/ansible/range-management/tasks/proxmox/power-on-vm.yml
  ludus-server/ansible/range-management/tasks/proxmox/set-custom-groups.yml
  ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  ludus-server/ansible/range-management/tasks/proxmox/snapshot-management.yml
  ludus-server/ansible/range-management/tasks/router/add-vlan-to-router.yml
  ludus-server/ansible/requirements.yml
  ludus-server/ci/bootstrap-ci-host.sh
  ludus-server/ci/ci-setup.yml
  ludus-server/ci/ci-vm-setup.yml
  ludus-server/ci/cleanup.yml
  ludus-server/ci/prepare.yml
  ludus-server/ci/test_build_lxc_isolated.py
  ludus-server/dependency_updates.go
  ludus-server/dependency_updates_test.go
  ludus-server/lxc/build.sh
  ludus-server/lxc/python-requirements.txt
  ludus-server/update.go
Due: build all, install kickoff, install check, install snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user

fix(installer): 🐛 fix installer URL for LXC download
  install.sh
Due: build all

feat(server): ✨Enable antisandbox loading via RPC mechansim
  .gitignore
  .gitlab-ci.yml
  docs/docs/enterprise/anti-sandbox.md
  docs/docs/infrastructure-operations/storage.md
  dynamic-inventory/inventory_test.go
  dynamic-inventory/main.go
  ludus-api/pluginrpc/plugin.go
  ludus-api/plugins.go
  ludus-api/plugins_test.go
  ludus-server/bootstrap.go
Due: pages, documentation, build all, install kickoff, install check, install snapshot

fix(templates): 🐛 inject a Packer vars plugin to specify WinRM shell as CMD during template builds to mirror old behavior
  .gitignore
  ludus-api/ansible_test.go
  ludus-api/api_template_management.go
  ludus-server/packer/README.md
  ludus-server/packer/ansible/vars_plugins/ludus_winrm_shell.py
Due: build all, templates build, templates check, templates snapshot

fix(templates): 🐛 use more general ansible to be more compatible
  ludus-api/ansible_test.go
  ludus-server/packer/README.md
  ludus-server/packer/ansible/vars_plugins/ludus_winrm_shell.py
Due: build all, templates build, templates check, templates snapshot

feat: ✨ add certificate based SSH authentication for Linux, Windows, and macOS
  .gitignore
  docs/docs/configuration.mdx
  docs/docs/enterprise/ssh-key-authentication.md
  docs/docs/using-ludus/cli.md
  docs/docs/using-ludus/passwords.md
  docs/static/schemas/range-config.json
  ludus-api/ansible.go
  ludus-api/ansible_test.go
  ludus-api/range_auth.go
  ludus-api/range_auth_test.go
  ludus-client/cmd/range.go
  ludus-server/ansible/range-management/group_vars/windows.yml
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/range-management/pre-run-checks.yml
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname-windows.yml
  ludus-server/ansible/range-management/tasks/proxmox/deploy-vm.yml
  ludus-server/ansible/range-management/tasks/windows/add-user-to-ad-and-rdp.yml
  ludus-server/ansible/range-management/tasks/windows/configure-additional-dc.yml
  ludus-server/ansible/range-management/tasks/windows/configure-dc.yml
  ludus-server/ansible/server-config.yml
  ludus-server/ansible/user-files/range-config.jsonschema
  ludus-server/install.go
  ludus-server/update.go
  ludus-server/windows_ssh_runtime.go
Due: pages, documentation, build all, install kickoff, install check, install snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user

fix(build): 🐛 dont put plugins in go.work
  go.work
Due: build all

fix(server): 🐛 Try gpupdate longer after SSH key adds
  docs/docs/enterprise/ssh-key-authentication.md
  ludus-server/ansible/range-management/tasks/windows/join-domain.yml
Due: pages, documentation, build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(server): 🐛 always return an array for license entitlements
  ludus-api/api_license_test.go
  ludus-api/license.go
  ludus-api/plugin_runtime.go
  ludus-api/plugins.go
Due: build all

feat(templates): ✨ set WinRM service to `auto` for faster deploys
  ludus-server/packer/README.md
  ludus-server/packer/ansible/winrm-auto.yml
  ludus-server/packer/win11-22h2-x64-enterprise/win11-22h2-x64-enterprise.pkr.hcl
  ludus-server/packer/win2022-server-x64/win2022-server-x64.pkr.hcl
Due: build all, templates build, templates check, templates snapshot

docs: 📚 Update SSH key auth docs
  docs/docs/enterprise/ssh-key-authentication.md
Due: pages, documentation, build all

fix(server): 🐛 clear controller tracking of passwords and account retirement on fresh clone
  ludus-server/ansible/range-management/tasks/proxmox/deploy-vm.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

docs: 📚 Add web UI images to SSH Cert Auth docs page
  docs/docs/enterprise/ssh-key-authentication.md
  docs/static/img/enterprise/ssh-cert-auth/ssh-cert-auth-configs.png
  docs/static/img/enterprise/ssh-cert-auth/ssh-cert-auth-menu.png
Due: pages, documentation, build all

Path conditions:
  pages: any of: docs/**/*
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  client basic-commands: any of: ludus-client/**/*.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  range deploy-admin: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-admin: any of: ludus-server/ansible/range-management/**/*
  range snapshot-admin: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-admin: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-admin: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-admin: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-admin: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-admin: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  range deploy-user: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-user: any of: ludus-server/ansible/range-management/**/*
  range snapshot-user: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-user: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-user: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-user: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-user: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-user: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  post-deploy snapshots-as-user: any of: ludus-client/cmd/snapshots.go, ludus-server/src/api_snapshot_management.go
