Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, documentation, build all, install kickoff, install check, install snapshot, templates build, templates check, templates snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, post-deploy ansible-as-admin, post-deploy user-cmds-as-admin, post-deploy templates-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user, post-deploy ansible-as-user, post-deploy user-cmds-as-user, post-deploy templates-as-user, post-deploy snapshots-as-user

Path conditions:
  pages: any of: docs/**/*
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  client basic-commands: any of: ludus-client/**/*.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  range deploy-admin: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-admin: any of: ludus-server/ansible/range-management/**/*
  range snapshot-admin: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-admin: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-admin: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-admin: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-admin: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-admin: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  range deploy-user: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-user: any of: ludus-server/ansible/range-management/**/*
  range snapshot-user: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-user: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-user: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-user: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-user: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-user: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  post-deploy snapshots-as-user: any of: ludus-client/cmd/snapshots.go, ludus-server/src/api_snapshot_management.go

fix(install): silence secret read; honor --no-prompt; fail on SDN/pct errors; require wg-endpoint
  install.sh
Due: build all

ci: build-lxc-template + upload-lxc-r2 + release asset link
  .gitlab-ci.yml
Due: build all

fix(ci): correct sha256 path in build.sh; sudo for dab in CI
  .gitlab-ci.yml
  ludus-server/lxc/build.sh
Due: build all

ci: air-gap LXC bootstrap test + install.sh smoke test
  .gitlab-ci.yml
  ludus-server/ci/test-lxc-airgap.sh
Due: build all

fix(ci): airgap test reaches PVE via bridge IP; trap signals; clean template
  ludus-server/ci/test-lxc-airgap.sh
Due: build all

feat(reconcile): create VNets + routes for imported ranges, warn on missing users
  ludus-server/reconcile.go
  ludus-server/reconcile_test.go
Due: build all, install kickoff, install check, install snapshot

feat(bootstrap): reconcile imported DB; warn on WG key regen
  go.work
  go.work.sum
  ludus-server/bootstrap.go
  ludus-server/go.mod
  ludus-server/go.sum
Due: build all, install kickoff, install check, install snapshot

docs: DB import / migrate-to-lxc procedure
  docs/docs/infrastructure-operations/migrate-to-lxc.md
  docs/docs/troubleshooting/templates.md
  docs/versioned_docs/version-1/troubleshooting/templates.md
Due: pages, documentation, build all

docs: revert version-1 troubleshooting change (v1 was pre-SDN)
  docs/versioned_docs/version-1/troubleshooting/templates.md
Due: pages, documentation, build all

feat: ✨ add ludus sources
  .gitlab-ci.yml
  docs/docs/using-ludus/blueprints.md
  docs/docs/using-ludus/cli.md
  docs/docs/using-ludus/sources.md
  go.work.sum
  ludus-api/api_ansible.go
  ludus-api/api_blueprint_management.go
  ludus-api/api_range_management.go
  ludus-api/api_source_management.go
  ludus-api/blueprint_access.go
  ludus-api/blueprint_bundle.go
  ludus-api/blueprint_resolver.go
  ludus-api/dto/requests.go
  ludus-api/dto/responses.go
  ludus-api/go.mod
  ludus-api/go.sum
  ludus-api/migrations/1761253001_blueprint_sources.go
  ludus-api/routers.go
  ludus-api/source_install.go
  ludus-api/source_roles.go
  ludus-api/source_schema.go
  ludus-api/source_storage.go
  ludus-api/source_sync.go
  ludus-api/source_walker.go
  ludus-client/cmd/blueprint.go
  ludus-client/cmd/range.go
  ludus-client/cmd/source.go
  ludus-client/rest/restapi.go
  ludus-server/ci/fixtures/source-template/blueprints/example/blueprint.yml
  ludus-server/ci/fixtures/source-template/blueprints/example/range-config.yml
  ludus-server/ci/fixtures/source-template/blueprints/example/requirements.yml
  ludus-server/ci/fixtures/source-template/blueprints/example/roles/.gitkeep
  ludus-server/ci/fixtures/source-template/blueprints/example/subscription_refs.yml
  ludus-server/ci/fixtures/source-template/blueprints/example/templates/.gitkeep
  ludus-server/ci/fixtures/source-template/roles/.gitkeep
  ludus-server/ci/fixtures/source-template/source.yml
  ludus-server/ci/fixtures/source-template/templates/.gitkeep
Due: pages, documentation, build all, client basic-commands, range deploy-admin, range deploy-user

feat: ✨ expose source artifact and access listings
  ludus-api/api_source_management.go
  ludus-api/dto/responses.go
  ludus-api/routers.go
Due: build all

feat(server): ✨ collections, thumbnails, symmetric apply [start-at post-deploy-admin]
  .gitlab-ci.yml
  docs/docs/using-ludus/blueprints.md
  docs/docs/using-ludus/cli.md
  docs/docs/using-ludus/sources.md
  ludus-api/api_ansible.go
  ludus-api/api_blueprint_management.go
  ludus-api/api_range_management.go
  ludus-api/api_source_management.go
  ludus-api/blueprint_bundle.go
  ludus-api/blueprint_dir.go
  ludus-api/blueprint_resolver.go
  ludus-api/dto/responses.go
  ludus-api/migrations/1761253001_blueprint_sources.go
  ludus-api/migrations/1761253002_backfill_blueprint_version.go
  ludus-api/range_config_write.go
  ludus-api/routers.go
  ludus-api/source_install.go
  ludus-api/source_roles.go
  ludus-api/source_sync.go
  ludus-api/source_walker.go
  ludus-api/yaml_validate.go
  ludus-client/cmd/source.go
  ludus-server/ci/fixtures/source-template/blueprints/example/requirements.yml
  ludus-server/ci/fixtures/source-template/blueprints/example/roles/.gitkeep
  ludus-server/ci/fixtures/source-template/blueprints/example/subscription_refs.yml
  ludus-server/ci/fixtures/source-template/blueprints/example/templates/.gitkeep
Due: pages, documentation, build all, client basic-commands

refactor(server): 🔨 Streamline sources after review [full build]
  .gitlab-ci.yml
  docs/docs/using-ludus/cli.md
  docs/docs/using-ludus/sources.md
  ludus-api/api_ansible.go
  ludus-api/api_blueprint_management.go
  ludus-api/api_source_management.go
  ludus-api/archive_extract.go
  ludus-api/blueprint_access.go
  ludus-api/blueprint_bundle.go
  ludus-api/blueprint_resolver.go
  ludus-api/dto/requests.go
  ludus-api/dto/responses.go
  ludus-api/file_operations.go
  ludus-api/license.go
  ludus-api/migrations/1761253001_blueprint_sources.go
  ludus-api/migrations/1761253002_backfill_blueprint_version.go
  ludus-api/routers.go
  ludus-api/source_install.go
  ludus-api/source_schema.go
  ludus-api/source_storage.go
  ludus-api/source_sync.go
  ludus-client/cmd/blueprint.go
  ludus-client/cmd/range.go
  ludus-client/cmd/source.go
  ludus-server/update.go
Due: pages, documentation, build all, install kickoff, install check, install snapshot, client basic-commands, range deploy-admin, range deploy-user

fix: 🐛 drop CLI-flag references from source API error messages
  ludus-api/api_source_management.go
  ludus-api/source_roles.go
Due: build all

fix(server): 🐛 surface source-bundled local roles in ansible list and execution [full build]
  .gitlab-ci.yml
  ludus-api/api_source_management.go
  ludus-api/blueprint_resolver.go
  ludus-api/source_install.go
  ludus-server/ci/fixtures/source-template/roles/.gitkeep
  ludus-server/ci/fixtures/source-template/roles/say_hello/meta/main.yml
  ludus-server/ci/fixtures/source-template/roles/say_hello/tasks/main.yml
  ludus-server/ci/fixtures/source-template/templates/.gitkeep
  ludus-server/ci/fixtures/source-template/templates/example-debian-12/example-debian-12.pkr.hcl
Due: build all

fix(server): 🐛 idempotent source install with implicit meta-stub synthesis [skip ci]
  ludus-api/blueprint_resolver.go
  ludus-api/source_install.go
Due: build all

refactor(server): 🔨 move blueprint/range metadata to PocketBase direct [full build]
  .gitlab-ci.yml
  ludus-api/api_blueprint_management.go
  ludus-api/api_range_management.go
  ludus-api/archive_extract.go
  ludus-api/blueprint_bundle.go
  ludus-api/dto/requests.go
  ludus-api/routers.go
  ludus-api/source_storage.go
  ludus-client/cmd/blueprint.go
  ludus-client/cmd/range.go
  ludus-client/rest/restapi.go
Due: build all, client basic-commands, range deploy-admin, range deploy-user

refactor(server): 🔨 honest purge, upload sync, source handler renames [skip ci]
  ludus-api/api_blueprint_management.go
  ludus-api/api_source_management.go
  ludus-api/dto/responses.go
  ludus-api/migrations/1761253001_blueprint_sources.go
  ludus-api/routers.go
  ludus-api/source_sync.go
  ludus-api/source_walker.go
Due: build all

feat: ✨ implement interactive source installer with picker TUI [full build]
  .gitlab-ci.yml
  docs/docs/using-ludus/cli.md
  docs/docs/using-ludus/sources.md
  go.work.sum
  ludus-api/api_blueprint_management.go
  ludus-api/api_source_management.go
  ludus-api/dto/requests.go
  ludus-api/dto/responses.go
  ludus-api/migrations/1761253001_blueprint_sources.go
  ludus-api/routers.go
  ludus-api/source_catalog.go
  ludus-api/source_install.go
  ludus-api/source_roles.go
  ludus-api/source_storage.go
  ludus-api/source_sync.go
  ludus-client/cmd/source.go
  ludus-client/cmd/source_mode.go
  ludus-client/go.mod
  ludus-client/go.sum
  ludus-client/internal/sourcepicker/imply.go
  ludus-client/internal/sourcepicker/model.go
  ludus-client/internal/sourcepicker/picker.go
  ludus-client/internal/sourcepicker/update.go
  ludus-client/internal/sourcepicker/view.go
  ludus-server/ci/fixtures/source-template/blueprints/secondary/blueprint.yml
  ludus-server/ci/fixtures/source-template/blueprints/secondary/range-config.yml
  ludus-server/ci/fixtures/source-template/blueprints/secondary/requirements.yml
Due: pages, documentation, build all, client basic-commands

fix(server): 🐛 read collection version from installed manifest over requirement.yml when installing sources
  ludus-api/source_roles.go
Due: build all

Automatic backup from Apidog
  docs/static/api/ludus.openapi.yaml
Due: pages, documentation, build all

ci: 🤖Reduce default RAM usage for parallel CI, update CI docs
  .gitlab-ci.yml
  docs/docs/developers/cicd.md
  ludus-server/ci/README.md
  ludus-server/ci/base.sh
  ludus-server/ci/bootstrap-ci-host.sh
  ludus-server/ci/ci-setup.yml
  ludus-server/ci/ci-vm-setup.yml
  ludus-server/ci/configure-runner-custom-executor.sh
  ludus-server/ci/setup.sh
Due: pages, documentation, build all

ci: 🤖Reliability fixes to ci bootstrap script
  ludus-server/ci/bootstrap-ci-host.sh
  ludus-server/ci/ci-setup.yml
  ludus-server/ci/ci-vm-setup.yml
Due: build all

fix: 🐛 replace fedorapeople virtio URLs with ludus.cloud mirror
  ludus-server/packer/win11-22h2-x64-enterprise/win11-22h2-x64-enterprise.pkr.hcl
  ludus-server/packer/win2022-server-x64/win2022-server-x64.pkr.hcl
  templates/commando-vm/commando-vm.pkr.hcl
  templates/flare-vm/flare-vm.pkr.hcl
  templates/win10-22h2-x64-enterprise/win10-22h2-x64-enterprise.pkr.hcl
  templates/win11-23h2-x64-enterprise/win11-23h2-x64-enterprise.pkr.hcl
  templates/win11-24h2-x64-enterprise-tpm/win11-24h2-x64-enterprise-tpm.pkr.hcl
  templates/win11-25h2-x64-enterprise/win11-23h2-x64-enterprise.pkr.hcl
  templates/win2012r2-server-x64/win2012r2-server-x64.pkr.hcl
  templates/win2016-server-x64/win2016-server-x64.pkr.hcl
  templates/win2019-server-x64-no-security-updates/win2019-server-x64-no-security-updates.pkr.hcl
  templates/win2019-server-x64/win2019-server-x64.pkr.hcl
  templates/win2025-server-x64-tpm/win2025-server-x64-tpm.pkr.hcl
Due: build all, templates build, templates check, templates snapshot

fix(client): 🐛 Fix update scope to allow for 2.x updates
  ludus-client/cmd/update.go
Due: build all, client basic-commands

ci: 🤖 simplify range deploy/check tasks by combining them
  .gitlab-ci.yml
Due: build all

ci: 🤖 fix timeout for ci builds
  .gitlab-ci.yml
Due: build all

refactor(server): 🔨 parse HCL/JSON packer files for template names instead of using regex
  docs/docs/troubleshooting/templates.md
  docs/docs/using-ludus/templates.md
  ludus-api/api_template_management.go
  ludus-api/api_template_management_test.go
  ludus-api/source_install.go
  ludus-server/ci/fixtures/templates/ci-add-test/ci-add-test.pkr.hcl
Due: pages, documentation, build all

ci: 🤖 increase job timeout and fix DNS for cloned VMs
  .gitlab-ci.yml
  ludus-server/ci/base.sh
Due: build all

build(server): 📦 Update go.mod for ludus-api
  go.work
  ludus-api/go.mod
  ludus-api/go.sum
Due: build all

ci: 🤖Add retries to all qemu guest agent commands; extend timeout for cluster heatlh (ceph); fix template tests
  .gitlab-ci.yml
Due: build all

fix(server): 🐛 don't leak file handles in the touch function
  ludus-api/file_operations.go
Due: build all

fix(server): 🐛 protect the SSO Oauth endpoint from being proxied
  ludus-api/middleware.go
Due: build all
