Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, documentation, build all, install kickoff, install check, install snapshot, templates build, templates check, templates snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, post-deploy ansible-as-admin, post-deploy user-cmds-as-admin, post-deploy templates-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user, post-deploy ansible-as-user, post-deploy user-cmds-as-user, post-deploy templates-as-user, post-deploy snapshots-as-user

Path conditions:
  pages: any of: docs/**/*
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  client basic-commands: any of: ludus-client/**/*.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  range deploy-admin: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-admin: any of: ludus-server/ansible/range-management/**/*
  range snapshot-admin: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-admin: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-admin: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-admin: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-admin: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-admin: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  range deploy-user: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-user: any of: ludus-server/ansible/range-management/**/*
  range snapshot-user: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-user: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-user: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-user: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-user: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-user: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  post-deploy snapshots-as-user: any of: ludus-client/cmd/snapshots.go, ludus-server/src/api_snapshot_management.go

feat(sources): ✨ Show source owners to admins in source list
  ludus-client/cmd/source.go
Due: build all, client basic-commands

refactor(sources): 🔨 Share one sourceID pattern across server, client, and schema
  ludus-api/api_source_management.go
  ludus-api/dto/requests.go
  ludus-api/migrations/1761253001_blueprint_sources.go
  ludus-api/source_schema.go
  ludus-client/cmd/source.go
Due: build all, client basic-commands

fix(sources): 🐛 Reject git URLs passed where a sourceID belongs
  ludus-api/routers.go
  ludus-client/cmd/source.go
Due: build all, client basic-commands

fix(sources): 🐛 Skip git metadata when copying source content
  ludus-api/api_ansible.go
Due: build all

refactor(sources): 🔨 Probe whoami only for the source list table
  ludus-client/cmd/source.go
Due: build all, client basic-commands

style(sources): 💄 Restructure the source detail view per type
  ludus-client/cmd/source.go
Due: build all, client basic-commands

feat(sources): ✨ Accept git:// URLs for git sources
  ludus-client/cmd/source.go
Due: build all, client basic-commands

docs: 📚 Move blueprint file formats to the blueprints page
  docs/docs/using-ludus/blueprints.md
  docs/docs/using-ludus/sources.md
Due: pages, documentation, build all

docs: 📚 Streamline the sources guide [skip ci]
  docs/docs/using-ludus/sources.md
Due: pages, documentation, build all

feat(sources): ✨ Add fuzzy search and arrow-key flow to the install picker
  ludus-client/internal/sourcepicker/model.go
  ludus-client/internal/sourcepicker/update.go
  ludus-client/internal/sourcepicker/view.go
Due: build all, client basic-commands

style(sources): 💄 Align the install picker layout with the web UI
  ludus-client/internal/sourcepicker/view.go
Due: build all, client basic-commands

Automatic backup from Apidog
  docs/static/api/ludus.openapi.yaml
Due: pages, documentation, build all

fix(server): 🐛 Unify installed-ansible detection in one scan
  ludus-api/ansible_inventory.go
  ludus-api/api_ansible.go
  ludus-api/source_catalog.go
Due: build all

feat(sources): ✨ Install vendored blueprint deps from local copies
  ludus-api/blueprint_resolver.go
  ludus-api/source_install.go
  ludus-api/source_sync.go
Due: build all

feat(sources): ✨ Show per-scope install state in the picker
  ludus-client/internal/sourcepicker/imply.go
  ludus-client/internal/sourcepicker/model.go
  ludus-client/internal/sourcepicker/update.go
  ludus-client/internal/sourcepicker/view.go
Due: build all, client basic-commands

test(sources): 🚨 Cover vendored deps and scope detection in CI
  .gitlab-ci.yml
  ludus-server/ci/fixtures/source-template/ansible/collections/ci_utils/galaxy.yml
  ludus-server/ci/fixtures/source-template/ansible/roles/vendored_demo/meta/main.yml
  ludus-server/ci/fixtures/source-template/ansible/roles/vendored_demo/meta/version.yml
  ludus-server/ci/fixtures/source-template/ansible/roles/vendored_demo/tasks/main.yml
  ludus-server/ci/fixtures/source-template/blueprints/example/range-config.yml
  ludus-server/ci/fixtures/source-template/blueprints/example/requirements.yml
  ludus-server/ci/fixtures/source-template/blueprints/vendored_role/blueprint.yml
  ludus-server/ci/fixtures/source-template/blueprints/vendored_role/range-config.yml
  ludus-server/ci/fixtures/source-template/blueprints/vendored_role/requirements.yml
Due: build all

ci: 🤖 fix ci fixture ansible collection to have required keys
  ludus-server/ci/fixtures/source-template/ansible/collections/ci_utils/galaxy.yml
Due: build all

ci: 🤖 Make sources-job table asserts SIGPIPE-safe
  .gitlab-ci.yml
Due: build all

docs: 📝 Warn that sources execute code on the Ludus host
  docs/docs/using-ludus/sources.md
Due: pages, documentation, build all

docs: 📝 Reposition source security and publishing callouts
  docs/docs/using-ludus/sources.md
Due: pages, documentation, build all

ci: 🤖 Use sudo for per-user role dir asserts
  .gitlab-ci.yml
Due: build all

feat(client): ✨ Add skip-deps toggle to source install picker
  .gitlab-ci.yml
  ludus-client/internal/sourcepicker/picker.go
  ludus-client/internal/sourcepicker/update.go
  ludus-client/internal/sourcepicker/view.go
Due: build all, client basic-commands

style(client): 💄 Unify dep sublines with ansible-tab scope tags
  ludus-client/internal/sourcepicker/view.go
Due: build all, client basic-commands

ci: 🤖 power off range when it is not needed to save resources
  .gitlab-ci.yml
Due: build all

ci: 🤖 fix template tests
  .gitlab-ci.yml
Due: build all

fix(server): 🐛 Install source roles under their galaxy identity
  .gitlab-ci.yml
  ludus-api/ansible_inventory.go
  ludus-api/source_catalog.go
  ludus-api/source_install.go
  ludus-api/source_roles.go
  ludus-api/source_sync.go
  ludus-server/ci/fixtures/source-template/blueprints/secondary/range-config.yml
  ludus-server/ci/fixtures/source-template/blueprints/secondary/requirements.yml
Due: build all

ci: 🤖 download binaries and install them if the running version does not match the commit hash (for out of order stages that otherwise don't pull artifacts for speed)
  .gitlab-ci.yml
Due: build all

feat(server): ✨ Scope ansible collection installs to user and global
  ludus-api/ansible.go
  ludus-api/api_ansible.go
  ludus-api/blueprint_resolver.go
  ludus-api/dto/requests.go
  ludus-api/source_catalog.go
  ludus-api/source_install.go
  ludus-api/source_roles.go
Due: build all

feat(server): ✨ Restrict global ansible actions to admins
  ludus-api/api_ansible.go
Due: build all

feat(client): ✨ Add --global flag to ansible collection add
  ludus-client/cmd/ansible.go
Due: build all, client basic-commands, post-deploy ansible-as-admin, post-deploy ansible-as-user

ci: 🤖 Add global ansible collection install check
  .gitlab-ci.yml
Due: build all

docs: 📚 Document global scope and removal for collections
  docs/docs/using-ludus/roles.md
  docs/static/api/ludus.openapi.yaml
Due: pages, documentation, build all

ci: 🤖 use a PAT to find last build job ID during artifact download
  .gitlab-ci.yml
Due: build all

fix(server): 🐛 more robust time sync after domain join
  ludus-server/ansible/range-management/tasks/windows/join-domain.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

ci: 🤖 fix ansible tests with different behavior for admins vs users
  .gitlab-ci.yml
Due: build all

feat(server): ✨ and landlock sandbox to packer command
  .gitignore
  go.work
  go.work.sum
  ludus-api/api_template_management.go
  ludus-api/commandmanager/commandmanager.go
  ludus-api/go.mod
  ludus-api/go.sum
Due: build all
