Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, build all, install kickoff, install check, install snapshot, client basic-commands, templates build, templates check, templates snapshot, range deploy, range check, range snapshot, post-deploy testing

documentation:
  stage: documentation
  tags:
  - ludus-proxmox-runner
  script:
  - cd docs
  - yarn install
  - yarn build
  - mv ./build ../public
  artifacts:
    paths:
    - public

build all:
  stage: build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - documentation
  artifacts:
    paths:
    - binaries/*
    expire_in: 1 week
  variables:
    LUDUS_BUILD_TYPE: any-built
  timeout: 10m
  script:
  - echo "Compiling the server code..."
  - export GIT_COMMIT_SHORT_HASH=$(git rev-parse --short HEAD)
  ...

install kickoff:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: kickoff
  timeout: 10m
  script:
  - sudo hostname ludus-$CI_PIPELINE_ID
  - sudo hostnamectl set-hostname ludus-$CI_PIPELINE_ID
  - cd binaries
  ...

install check:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install kickoff
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: check
  timeout: 1h
  script:
  - sudo cat /opt/ludus/install/install.log
  - echo "root:$CI_PIPELINE_ID" | sudo chpasswd

install snapshot:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
    artifacts: false
  - job: install check
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - echo "Snapshot complete"

client basic-commands:
  stage: client
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install snapshot
    optional: true
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - cd binaries
    - pgrep -f 'ansible|packer' || sudo ./ludus-server --update
  ...

templates build:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install snapshot
    optional: true
  - job: client basic-commands
    optional: true
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - cd binaries
  ...

templates check:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: templates build
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 2h
  retry:
    max: 2
  script:
  - - cd binaries
    - pgrep -f 'ansible|packer' || sudo ./ludus-server --update
  ...

templates snapshot:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
    artifacts: false
  - job: templates check
  variables:
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: templates_built
  timeout: 5m
  script:
  - echo "Snapshot complete"

ci: 🤖 fix equality
  .gitlab-ci.yml
Due: build all

docs: 📚 change video size
  README.md
Due: build all

fix: 🐛 prevent duplicate users with the same name; allow 1 rollback per snapshot name in CI
  .gitlab-ci.yml
  README.md
  ludus-server/ci/prepare.sh
  ludus-server/src/api_user_management.go
Due: build all

ci: 🤖 fix ci
  .gitlab-ci.yml
  docs/static/api/index.html
  ludus-server/ci/prepare.sh
Due: documentation, build all

feat: ✨ add 'errors' command and automatic error parsing to CLI
  ludus-client/cmd/range.go
  ludus-client/cmd/utils.go
  ludus-client/rest/restapi.go
Due: build all, client basic-commands, range deploy, post-deploy testing

fix: 🐛 delete built system templates when the user asks to rm them (but keep template files)
  ludus-server/src/api_template_management.go
Due: build all

fix: 🐛 small fixes with testing mode, longer timeout for VS install
  ludus-server/ansible/range-management/tasks/proxmox/snapshot-management.yml
  ludus-server/ansible/range-management/tasks/windows/install-visual-studio.yml
  ludus-server/ansible/range-management/testing.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

ci: 🤖 add template tests, use the status for power tests vs sleeps
  .gitlab-ci.yml
  docs/docs/Troubleshooting/ansible.md
  docs/docs/cicd.md
Due: documentation, build all

ci: 🤖 fix user test CI to not change the PW as its needed...
  .gitlab-ci.yml
  ludus-server/src/api_template_management.go
  ludus-server/src/yaml_validate.go
Due: build all

ci: 🤖 fix ci user tests and power tests
  .gitlab-ci.yml
  docs/docs/cli.md
  ludus-server/src/utils.go
Due: documentation, build all

ci: 🤖 fix retries in template tests
  .gitlab-ci.yml
Due: build all

ci: 🤖 fix template test
  .gitlab-ci.yml
Due: build all

ci: 🤖 ci fixes for job retries; make testing mode tests more robust
  .gitlab-ci.yml
Due: build all

chore: 🧹 clean up old directories from .gitignore (now unused)
  .gitignore
Due: build all

docs: 📚 fix links in README
  README.md
Due: build all

feat(client): ✨ client now checks if the template path is a directory; fix long help for template rm
  ludus-client/cmd/templates.go
  ludus-client/cmd/utils.go
Due: build all, client basic-commands, range deploy, post-deploy testing

fix: 🐛 template name uniqueness is now enforced; non-admins cannot delete other users templates
  ludus-server/src/api_template_management.go
Due: build all

refactor(server): 🔨 change the isAdmin check to take a bool to set or not set response JSON
  ludus-server/src/api_range_management.go
  ludus-server/src/api_user_management.go
  ludus-server/src/routers.go
  ludus-server/src/utils.go
Due: build all

docs(server): 📚 server manual build wording change
  ludus-server/README.md
Due: build all

docs: 📚 specify the need to have .pkr. as part of packer filenames (may have other json or hcl files that are not the packer file)
  docs/docs/templates.md
Due: documentation, build all

ci: 🤖 add tests for duplicate template names
  .gitlab-ci.yml
Due: build all

fix(server): 🐛 allow users to overwrite their own templates (was broken due to duplicate name checks)
  ludus-server/src/api_template_management.go
Due: build all

ci: 🤖 add templates tests for force uploading a template that does not belong to the user
  .gitlab-ci.yml
Due: build all

docs: 📚 add play button to youtube image
  docs/static/img/screen.png
Due: documentation, build all

docs: 📚 fix API JSON (extra comma)
  docs/static/api/index.html
Due: documentation, build all

docs: 📚 add CHANGELOG
  CHANGELOG.md
Due: build all

docs: 📚 Add Hyper-V setup notes
  docs/docs/Deployment Options/hyper-v.md
  docs/static/img/deployment/hyper-v-disable-checkpoints.png
  docs/static/img/deployment/hyper-v-generation-2.png
Due: documentation, build all

fix(windows): 🐛 don't clear event logs during windows configuration as it is not idempotent
  ludus-server/ansible/range-management/tasks/windows/configure-windows.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix(windows): 🐛 fix issue setting up alt-dcs - must filter for VMs with domain defined or ansible will error
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

ci: 🤖 set the time with chronyd during CI setup
  .gitlab-ci.yml
  ludus-server/ansible/proxmox-install/stage-1.yml
Due: build all, install kickoff, install check, install snapshot

docs: 📚 standardize documentation file name and fontmatter
  docs/docs/Deployment Options/Azure.md
  docs/docs/Deployment Options/Bare Metal.md
Due: documentation, build all

docs: 📚 add documentation for updating and compiling from source
  docs/docs/Deployment Options/bare-metal.md
  docs/docs/Developers/_category_.json
  docs/docs/Developers/building-from-source.md
  docs/docs/Quick Start/create-a-user.md
  docs/docs/Quick Start/install-ludus.md
  docs/docs/updating.md
Due: documentation, build all

fix: 🐛 fix config schema not accepting ranges of ip_last_octets in network rules; use enums instead of regex for many config values
  docs/docs/configuration.mdx
  docs/docs/networking.md
  docs/static/schemas/range-config.json
  ludus-server/ansible/user-files/range-config.jsonschema
Due: documentation, build all, client basic-commands

fix: 🐛 fix name of chrony apt package during install
  ludus-server/ansible/proxmox-install/stage-1.yml
Due: build all, install kickoff, install check, install snapshot

docs: 📚 add ludus range errors command to troubleshooting
  docs/docs/Troubleshooting/ansible.md
Due: documentation, build all

docs: 📚 fix link to building from source on updating page
  docs/docs/updating.md
Due: documentation, build all

fix(client): 🐛 expand error regex to handle `ERROR!` and don't print alt-dc promption error that is rescued
  ludus-client/cmd/utils.go
Due: build all, client basic-commands, range deploy, post-deploy testing

docs: 📚 add search to docs
  docs/docusaurus.config.js
Due: documentation, build all

Path conditions:
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  client basic-commands: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  range deploy: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check: any of: ludus-server/ansible/range-management/**/*
  range snapshot: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*
