Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, build all, install kickoff, install check, install snapshot, client basic-commands, templates build, templates check, templates snapshot, range deploy, range check, range snapshot, post-deploy testing

documentation:
  stage: documentation
  tags:
  - ludus-proxmox-runner
  script:
  - cd docs
  - yarn install
  - yarn build
  - mv ./build ../public
  artifacts:
    paths:
    - public

build all:
  stage: build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - documentation
  artifacts:
    paths:
    - binaries/*
    expire_in: 1 week
  variables:
    LUDUS_BUILD_TYPE: any-built
  timeout: 10m
  script:
  - echo "Compiling the server code..."
  - export GIT_COMMIT_SHORT_HASH=$(git rev-parse --short HEAD)
  ...

install kickoff:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: kickoff
  timeout: 10m
  script:
  - sudo hostname ludus-$CI_PIPELINE_ID
  - sudo hostnamectl set-hostname ludus-$CI_PIPELINE_ID
  - cd binaries
  ...

install check:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install kickoff
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: check
  timeout: 1h
  script:
  - sudo cat /opt/ludus/install/install.log
  - echo "root:$CI_PIPELINE_ID" | sudo chpasswd

install snapshot:
  stage: install
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
    artifacts: false
  - job: install check
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - echo "Snapshot complete"

client basic-commands:
  stage: client
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install snapshot
    optional: true
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - cd binaries
    - pgrep -f 'ansible|packer' || sudo ./ludus-server --update
  ...

templates build:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: install snapshot
    optional: true
  - job: client basic-commands
    optional: true
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - cd binaries
  ...

templates check:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
  - job: templates build
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 2h
  retry:
    max: 2
  script:
  - - cd binaries
    - pgrep -f 'ansible|packer' || sudo ./ludus-server --update
  ...

templates snapshot:
  stage: templates
  tags:
  - ludus-proxmox-runner
  needs:
  - job: build all
    artifacts: false
  - job: templates check
  variables:
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: templates_built
  timeout: 5m
  script:
  - echo "Snapshot complete"

feat(client): ✨ check if there is an API key set via env when running the api key command to prevent user confusion
  ludus-client/cmd/apikey.go
Due: build all, client basic-commands, range deploy, post-deploy testing

fix(server): 🐛 fix issue with role depends_on not being used
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

docs: 📚 update GOAD environment guides
  docs/docs/environment-guides/goad-nha.md
  docs/docs/environment-guides/goad-sccm.md
  docs/docs/environment-guides/goad.md
  docs/docs/quick-start/install-ludus.md
  docs/docusaurus.config.js
  docs/src/css/custom.css
Due: documentation, build all

fix: 🐛 don't update windows DNS if machine is domain joined (GOAD fix)
  ludus-server/ansible/range-management/tasks/windows/configure-windows.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

feat(client): ✨ add taskoutput command to client
  ludus-client/cmd/range.go
  ludus-client/cmd/utils.go
Due: build all, client basic-commands, range deploy, post-deploy testing

fix: 🐛 use win_shell vs win_powershell as win_shell sets stdout on the registered variable
  ludus-server/ansible/range-management/tasks/windows/configure-windows.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

ci: 🤖 googlechrome choco is broken, skip it
  ludus-server/ci/configs/integration-test.yml
Due: build all

fix: 🐛 fix bash-completion sourcing error
  install.sh
Due: build all

docs: 📚 fix hyper-v image allignment
  docs/docs/deployment-options/hyper-v.md
Due: documentation, build all

fix: 🐛 make removing a user more idempotent
  ludus-server/ansible/user-management/del-user.yml
Due: build all, client basic-commands, range deploy

ci: 🤖 add keygen-upload step and update git-cliff
  .gitlab-ci.yml
Due: build all

ci: 🤖 fix release needs job name
  .gitlab-ci.yml
Due: build all

ci: 🤖 fix keygen-upload step
  .gitlab-ci.yml
Due: build all

ci debugging
  .gitlab-ci.yml
Due: build all

fix(server): 🐛 fix bug introduced when making user deletion idempotent
  ludus-server/ansible/user-management/del-user.yml
Due: build all, client basic-commands, range deploy

docs: 📚 document latest Kali bug
  docs/docs/troubleshooting/kali.md
Due: documentation, build all

docs: 📚 clean up Kali troubleshooting docs
  docs/docs/troubleshooting/kali.md
Due: documentation, build all

ci: 🤖 untag latest release before tagging current release at latest
  .gitlab-ci.yml
Due: build all

fix(server): 🐛 compare against stderr to actually make user deletion idempotent
  ludus-server/ansible/user-management/del-user.yml
Due: build all, client basic-commands, range deploy

ci: 🤖 untag client release as well as server before tagging latest
  .gitlab-ci.yml
Due: build all

ci: 🤖 Don't upload the ludus-server to keygen since we don't have self-updates for the server
  .gitlab-ci.yml
Due: build all

feat(client): ✨ add self-update command
  ludus-client/cmd/root.go
  ludus-client/cmd/update.go
  ludus-client/go.mod
  ludus-client/go.sum
Due: build all, client basic-commands, range deploy, post-deploy testing

feat(server): ✨ automate enterprise plugin download/activation
  go.work.sum
  ludus-api/config.go
  ludus-api/go.mod
  ludus-api/go.sum
  ludus-api/license.go
  ludus-api/plugins.go
  ludus-server/main.go
Due: build all, install kickoff, install check, install snapshot

fix: 🐛 fix command not found error if pkg-config is not installed
  install.sh
Due: build all

docs: 📚 document the lack of support for advanced nic configs
  docs/docs/quick-start/install-ludus.md
Due: documentation, build all

Compatibility with Windows group names multilingual
  ludus-server/ansible/range-management/tasks/windows/configure-dc.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix(templates): 🐛 fix Kali python-apt bug
  ludus-server/packer/kali/kali.yml
Due: build all, templates build, templates check, templates snapshot

docs: 📚 update docs to reflect the deny-by-default testing mode
  docs/docs/configuration.mdx
Due: documentation, build all

ci: 🤖 build enterprise plugin when a tag is created
  .gitlab-ci.yml
Due: build all

ci: 🤖 fix enterprise keygen uploads
  .gitlab-ci.yml
Due: build all

refactor(server): 🔨 allow community plugins for standard and admin server; only run enterprise plugin for standard server
  ludus-api/license.go
  ludus-server/main.go
Due: build all, install kickoff, install check, install snapshot

ci: 🤖 fix enterprise plugin building for binary compatibility with server
  .gitlab-ci.yml
Due: build all

revert(ci): ⏪ enable additional tools now that chrome MSI is fixed by Google
  ludus-server/ci/configs/integration-test.yml
Due: build all

feat(server): ✨ make windows domain groups support any language
  ludus-server/ansible/range-management/tasks/windows/configure-dc.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix: 🐛 fix a bug in the pre 1.4.0 compatibility layer for the router that prevented upgrades when a range was not in testing mode
  ludus-server/ansible/range-management/tasks/firewall/compatibility.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

refactor: 🔨 use correct syntax for variables in plays during ludus install
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
Due: build all, install kickoff, install check, install snapshot

Path conditions:
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  client basic-commands: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  range deploy: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check: any of: ludus-server/ansible/range-management/**/*
  range snapshot: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*
