Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, documentation, build all, install kickoff, install check, install snapshot, templates build, templates check, templates snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, post-deploy ansible-as-admin, post-deploy user-cmds-as-admin, post-deploy templates-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user, post-deploy ansible-as-user, post-deploy user-cmds-as-user, post-deploy templates-as-user, post-deploy snapshots-as-user

pages:
  stage: pages
  variables:
    LUDUS_BUILD_TYPE: any-built
  tags:
  - ludus-proxmox-runner
  retry:
    max: 2
  script:
  - cd docs
  - 'sed -i "s|baseUrl: ''/ludus/''|baseUrl: ''/''|" docusaurus.config.js'
  - yarn install
  - yarn build
  - rm -f ./build/video/*
  - mv ./build ../public
  artifacts:
    paths:
    - public

documentation:
  stage: documentation
  variables:
    LUDUS_BUILD_TYPE: any-built
  tags:
  - ludus-proxmox-runner
  retry:
    max: 2
  script:
  - cd docs
  - yarn install
  - yarn build
  - rm -f ./build/video/*
  - rm -f ./build/img/hardware/Debian_12_RAID0.mp4
  - mv ./build ../built-docs
  artifacts:
    paths:
    - built-docs

build all:
  stage: build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - documentation
  artifacts:
    paths:
    - binaries/*
    expire_in: 1 week
  variables:
    LUDUS_BUILD_TYPE: any-built
  timeout: 10m
  script:
  - echo "Compiling the server code..."
  - export GIT_COMMIT_SHORT_HASH=$(git rev-parse --short HEAD)
  ...

install kickoff:
  stage: install-kickoff
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: kickoff
  timeout: 10m
  script:
  - sudo hostname ludus-$CI_PIPELINE_ID
  - sudo hostnamectl set-hostname ludus-$CI_PIPELINE_ID
  - cd binaries
  ...

install check:
  stage: install-check
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: check
  timeout: 1h
  script:
  - sudo cat /opt/ludus/install/install.log
  - echo "root:$CI_PIPELINE_ID" | sudo chpasswd

install snapshot:
  stage: install-snapshot
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - echo "Snapshot complete"

templates build:
  stage: templates-build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - - sudo /usr/sbin/chronyd -q 'pool pool.ntp.org iburst' || sudo /usr/bin/chronyc -m 'burst 3/3' 'makestep 0.5 -1'
  ...

templates check:
  stage: templates-check
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 2h
  retry:
    max: 2
  script:
  ...

templates snapshot:
  stage: templates-snapshot
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: templates_built
  timeout: 5m
  script:
  - echo "Snapshot complete"

client basic-commands:
  stage: client
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - - sudo /usr/sbin/chronyd -q 'pool pool.ntp.org iburst' || sudo /usr/bin/chronyc -m 'burst 3/3' 'makestep 0.5 -1'
      - date
  ...

fix(client): 🐛 fix power command to send rangeID
  ludus-client/cmd/power.go
Due: build all, client basic-commands, post-deploy power-as-admin, post-deploy power-as-user

fix(server): 🐛 store range logs properly per range
  ludus-api/ansible.go
  ludus-api/api_range_management.go
  ludus-api/api_user_management.go
  ludus-api/go.mod
  ludus-api/process.go
  ludus-api/yaml_validate.go
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/range-management/user-defined-roles.yml
  ludus-server/ansible/user-management/add-user.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy user-cmds-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy user-cmds-as-user

fix(server): 🐛 fix error in delete-vm endpoint getting correct range
  ludus-api/ansible.go
  ludus-api/api_group_management.go
  ludus-api/api_range_management.go
  ludus-api/proxmox.go
Due: build all

fix(server): 🐛 pull rangeID from URL and query string
  ludus-api/utils.go
Due: build all

fix: 🐛 fix adding/removing users from groups
  ludus-api/proxmox.go
Due: build all

fix: 🐛 fix add/remove user from group disabling user
  go.work.sum
  ludus-api/proxmox.go
Due: build all

Update ludus.openapi.yml
  docs/static/api/ludus.openapi.yml
Due: pages, documentation, build all

fix(server): 🐛 fix user add/remove; fix range add/remove
  ludus-api/ansible.go
  ludus-api/api_range_management.go
  ludus-api/api_user_management.go
  ludus-api/database.go
  ludus-api/filesystem.go
  ludus-api/migration.go
  ludus-api/models.go
  ludus-api/network.go
  ludus-api/proxmox.go
  ludus-api/routers.go
  ludus-api/supabase.go
  ludus-api/utils.go
  ludus-client/cmd/range.go
  ludus-server/ansible/user-management/add-user.yml
  ludus-server/ansible/user-management/del-user.yml
  ludus-server/ansible/user-management/templates/range-config.yml.j2
  ludus-server/ansible/user-management/templates/wg_client.conf.j2
Due: build all, client basic-commands, range deploy-admin, post-deploy user-cmds-as-admin, range deploy-user, post-deploy user-cmds-as-user

fix: 🐛 create vmbr during default range creation; clean up range add/remove interfaces file edits; update api spec to match reality
  docs/static/api/ludus.openapi.yml
  ludus-api/api_range_management.go
  ludus-api/file_operations.go
  ludus-api/network.go
  ludus-api/proxmox.go
  ludus-api/utils.go
  ludus-client/cmd/range.go
Due: pages, documentation, build all, client basic-commands, range deploy-admin, range deploy-user

fix: 🐛 ci: Adding build job in ci [full build]
  .gitlab-ci.yml
Due: build all

refactor: 🔨 Handle older OSes such as Windows 7
  .gitlab-ci.yml
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname-windows.yml
  ludus-server/ansible/range-management/tasks/windows/enable-rdp.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

refactor(server)!: 🔨 remove range/access endpoints
  docs/static/api/ludus.openapi.yml
  ludus-api/api_range_management.go
  ludus-api/routers.go
  ludus-client/cmd/range.go
Due: pages, documentation, build all, client basic-commands, range deploy-admin, range deploy-user

fix(server): 🐛 add better detction for a DC that fails to report an IP address
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

perf(server): ⚡ only change windows hostnames when they need to be changed
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname-windows.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

feat(config): ✨ allow users to set primary and secondary DNS servers for each VM
  docs/docs/configuration.mdx
  docs/static/schemas/range-config.json
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname-linux.yml
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname-macos.yml
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname-windows.yml
  ludus-server/ansible/range-management/tasks/windows/configure-windows.yml
  ludus-server/ci/configs/integration-test.yml
Due: pages, documentation, build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(server): 🐛 can't use omit in a list of items as it will use a placeholder that is not a valid IP address
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname-windows.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(server): 🐛 fix issues with primary/secondary DNS servers
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname-linux.yml
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname-macos.yml
  ludus-server/ansible/range-management/tasks/proxmox/configure-ip-and-hostname-windows.yml
  ludus-server/ansible/range-management/tasks/windows/configure-dc.yml
  ludus-server/ansible/range-management/tasks/windows/configure-windows.yml
  ludus-server/ansible/user-files/range-config.jsonschema
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(templates): 🐛 Update debian13 URL and checksum
  templates/debian13/debian13.pkr.hcl
Due: build all

ci: run group + range mgmt tests only [group tests] [range mgmt tests]
  .gitlab-ci.yml
  docs/docs/developers/cicd.md
Due: pages, documentation, build all

refactor(templates): 🔨 update kali to 2025.2
  ludus-server/packer/kali/kali.pkr.hcl
Due: build all, templates build, templates check, templates snapshot

refactor: 🔨 update go-proxmox to upstream that includes our changes to make building easier
  ludus-api/go.mod
  ludus-api/go.sum
Due: build all

feat(server): ✨ reverse proxy to the admin API when needed so users only need a single port exposed for all actions
  ludus-api/routers.go
Due: build all

refactor(client): 🔨 clean up user list command
  ludus-client/cmd/models.go
  ludus-client/cmd/user.go
Due: build all, client basic-commands, post-deploy user-cmds-as-admin, post-deploy user-cmds-as-user

docs: 📚 update docs to reflect Debian 13/Proxmox 9 support
  docs/docs/deployment-options/bare-metal.mdx
  docs/docs/deployment-options/hyper-v.md
  docs/docs/deployment-options/proxmox.md
  docs/docs/deployment-options/vmware-fusion.md
  docs/docs/developers/building-from-source.md
  docs/docs/intro.md
  docs/docs/quick-start/install-ludus.md
Due: pages, documentation, build all

feat(server): ✨ automated container/supabase creation with randomized secrets
  dev.sh
  ludus-api/ansible.go
  ludus-api/api_user_management.go
  ludus-api/config.go
  ludus-api/cryptography.go
  ludus-api/database.go
  ludus-api/migration.go
  ludus-api/proxmox.go
  ludus-api/supabase.go
  ludus-api/utils.go
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/generate_jwt.py
  ludus-server/ansible/proxmox-install/stage-3.yml
  ludus-server/ansible/proxmox-install/tasks/setup-db-container.yml
  ludus-server/ansible/proxmox-install/templates/supabase-compose.yml
  ludus-server/ansible/proxmox-install/templates/supabase-env.j2
  ludus-server/form.go
Due: build all, install kickoff, install check, install snapshot

ci: run group + range mgmt tests only [group tests] [range mgmt tests]
  .gitlab-ci.yml
Due: build all

feat(server): ✨ add ludus-gui to setup
  ludus-server/ansible/proxmox-install/tasks/setup-db-container.yml
  ludus-server/ansible/proxmox-install/templates/Caddyfile
  ludus-server/ansible/proxmox-install/templates/daemon.json
  ludus-server/ansible/proxmox-install/templates/ludus-gui-compose.yml
Due: build all, install kickoff, install check, install snapshot

fix(proxmox): 🐛 correct indentation in ProxmoxAPI class for loading JSON data
  ludus-server/ansible/range-management/proxmox.py
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

feat(api): ✨ add endpoint to retrieve antisandbox installation status
  docs/static/api/ludus.openapi.yml
Due: pages, documentation, build all

New Environment Lab : SANS Workshop: Shadow Steps: Understanding and Detecting User Impersonation and Lateral Movement in Active Directory" --
  docs/docs/environment-guides/SANS Workshop: Shadow Steps: Understanding and Detecting User Impersonation and Lateral Movement in Active Directory.md
Due: pages, documentation, build all

fix(install): 🐛 timeout after 5 seconds for tty bonce and ignore errors to keep install moving along
  ludus-server/ansible/proxmox-install/stage-3.yml
Due: build all, install kickoff, install check, install snapshot

feat(api): ✨ add KMS status endpoint to check server availability and response
  docs/static/api/ludus.openapi.yml
Due: pages, documentation, build all

fix(api): 🐛 update vmIDs field to use a comma-separated string format instead of an array in OpenAPI spec
  docs/static/api/ludus.openapi.yml
Due: pages, documentation, build all

fix: 🐛 a nearly working supabase install/migration but man it uses a lot of resources
  go.work
  go.work.sum
  ludus-api/database.go
  ludus-api/supabase.go
  ludus-server/ansible/proxmox-install/ludus-1-to-2-migration.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
  ludus-server/ansible/proxmox-install/tasks/setup-db-container.yml
  ludus-server/ansible/proxmox-install/templates/Caddyfile
  ludus-server/ansible/proxmox-install/templates/daemon.json
  ludus-server/ansible/proxmox-install/templates/ludus-gui-compose.yml
  ludus-server/ansible/proxmox-install/templates/supabase-compose.yml
  ludus-server/form.go
  ludus-server/go.mod
  ludus-server/go.sum
  ludus-server/license-dialog.go
Due: build all, install kickoff, install check, install snapshot

feat(pocketbase): ✨ add pocketbase remove supabase
  .gitignore
  go.work.sum
  ludus-api/api_migration.go
  ludus-api/api_user_management.go
  ludus-api/config.go
  ludus-api/database.go
  ludus-api/go.mod
  ludus-api/go.sum
  ludus-api/migration.go
  ludus-api/models.go
  ludus-api/pocketbase.go
  ludus-api/routers.go
  ludus-api/supabase.go
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/ludus-1-to-2-migration.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
  ludus-server/ansible/proxmox-install/tasks/setup-gui-container.yml
  ludus-server/ansible/proxmox-install/templates/supabase-compose.yml
  ludus-server/ansible/proxmox-install/templates/supabase-env.j2
  ludus-server/config.go
Due: build all, install kickoff, install check, install snapshot

feat(pocketbase): added CORS support in the router and fix bugs
  go.work.sum
  ludus-api/ansible.go
  ludus-api/go.mod
  ludus-api/go.sum
  ludus-api/routers.go
  ludus-server/ansible/range-management/proxmox.py
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

feat(client): ✨ show the first 3 and last 3 chars of the API key in verbose output to help with troubleshooting incorrectly set API keys
  ludus-client/rest/restapi.go
Due: build all, client basic-commands

fix(server): 🐛 force `access_grants_array` to be an empty array if none
  ludus-server/ansible/range-management/tasks/firewall/set-firewall-rules.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

style(client): 💄 use better language to describe power commands
  ludus-client/cmd/power.go
Due: build all, client basic-commands, post-deploy power-as-admin, post-deploy power-as-user

Path conditions:
  pages: any of: docs/**/*
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  client basic-commands: any of: ludus-client/**/*.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  range deploy-admin: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-admin: any of: ludus-server/ansible/range-management/**/*
  range snapshot-admin: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-admin: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-admin: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-admin: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-admin: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-admin: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  range deploy-user: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-user: any of: ludus-server/ansible/range-management/**/*
  range snapshot-user: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-user: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-user: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-user: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-user: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-user: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  post-deploy snapshots-as-user: any of: ludus-client/cmd/snapshots.go, ludus-server/src/api_snapshot_management.go
