Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, build all, install kickoff, install check, install snapshot, client basic-commands, templates build, templates check, templates snapshot, range deploy, range check, range snapshot, post-deploy testing

Path conditions:
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  client basic-commands: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  range deploy: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check: any of: ludus-server/ansible/range-management/**/*
  range snapshot: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing: any of: ludus-client/**/*, ludus-server/ansible/range-management/**/*

style(templates): 💄 add username:password to template notes
  ludus-server/packer/debian11/debian11.pkr.hcl
  ludus-server/packer/debian12/debian12.pkr.hcl
  ludus-server/packer/win11-22h2-x64-enterprise/win11-22h2-x64-enterprise.pkr.hcl
  ludus-server/packer/win2022-server-x64/win2022-server-x64.pkr.hcl
  templates/debian10/debian10.pkr.hcl
  templates/rocky-9-x64-server/rocky-9-x64-server.pkr.hcl
  templates/ubuntu-22.04-x64-server/ubuntu-22.04-x64-server.pkr.hcl
  templates/win10-21h1-x64-enterprise/win10-21h2-x64-enterprise.pkr.hcl
  templates/win11-23h2-x64-enterprise/win11-23h2-x64-enterprise.pkr.hcl
  templates/win2012r2-server-x64/win2012r2-server-x64.pkr.hcl
  templates/win2016-server-x64/win2016-server-x64.pkr.hcl
  templates/win2019-server-x64/win2019-server-x64.pkr.hcl
Due: build all, templates build, templates check, templates snapshot

feat: ✨ add --only-roles option to range deploy command
  docs/static/api/index.html
  ludus-client/cmd/range.go
  ludus-client/rest/restapi.go
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/src/ansible.go
  ludus-server/src/api_range_management.go
Due: documentation, build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

refactor: 🔨 add debug to show ansible roles that will be run
  ludus-server/ansible/range-management/ludus.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix: 🐛 dont include external prox interface in filter rules to handle the case where ludus is deployed to a 10. network
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
  ludus-server/ansible/requirements.yml
  ludus-server/ansible/user-management/add-user.yml
  ludus-server/ansible/user-management/del-user.yml
  ludus-server/src/api_user_management.go
Due: build all, install kickoff, install check, install snapshot, client basic-commands, range deploy

feat: ✨ add limit option to range deploy
  docs/static/api/index.html
  ludus-client/cmd/range.go
  ludus-server/ansible/range-management/ludus.yml
  ludus-server/src/ansible.go
  ludus-server/src/api_power_state_management.go
  ludus-server/src/api_range_management.go
  ludus-server/src/api_testing_state_management.go
  ludus-server/src/api_user_management.go
Due: documentation, build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix: 🐛 add ludus config to ansible vars for ROOT actions
  ludus-server/src/ansible.go
Due: build all

docs: 📚 fix ADCS role name
  docs/docs/Environment Guides/adcs.md
Due: documentation, build all

perf: ⚡ speed up deploy-vm when VM is already started by not refreshing inventory
  ludus-server/ansible/range-management/tasks/proxmox/deploy-vm.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix: 🐛 allow system processes to 10/8
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
Due: build all, install kickoff, install check, install snapshot

fix: 🐛 fix space with out interface which broke rule
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
  ludus-server/ansible/user-management/add-user.yml
  ludus-server/ansible/user-management/del-user.yml
Due: build all, install kickoff, install check, install snapshot, client basic-commands, range deploy

fix: 🐛 fix iptables rule delete logic
  ludus-server/ansible/user-management/del-user.yml
  ludus-server/src/ansible.go
Due: build all, client basic-commands, range deploy

Removed duplicate ludus invokation for windows wireguard instructions.
  docs/docs/Quick Start/create-a-user.md
Due: documentation, build all

updated GOAD install instructions.
  docs/docs/Environment Guides/goad.md
Due: documentation, build all

ci: 🤖 allow retry on server update during ci
  .gitlab-ci.yml
Due: build all

style: 💄 modify help message of user add to reflect actual limits of userid
  ludus-client/cmd/user.go
Due: build all, client basic-commands, range deploy, post-deploy testing

fix(testing): 🐛 allow for configs where no VMs have internet blocked during testing
  ludus-server/ansible/range-management/tasks/firewall/dns-management.yml
  ludus-server/ansible/range-management/tasks/firewall/firewall-management.yml
  ludus-server/ansible/range-management/testing.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

fix(windows): 🐛 fix error rearming windows
  ludus-server/ansible/range-management/files/windows/scripts/fix-windows-expiration.ps1
  ludus-server/ansible/range-management/tasks/windows/configure-windows.yml
  ludus-server/ansible/range-management/tasks/windows/rearm.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

chore: 🧹 bump all deps to current versions
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
  ludus-server/ansible/requirements.yml
  ludus-server/ansible/user-management/add-user.yml
  ludus-server/install.go
Due: build all, install kickoff, install check, install snapshot, client basic-commands, range deploy

chore: 🧹 move from community.windows to microsoft.ad for AD tasks
  ludus-server/ansible/range-management/tasks/windows/add-user-to-ad-and-rdp.yml
  ludus-server/ansible/range-management/tasks/windows/configure-additional-dc.yml
  ludus-server/ansible/range-management/tasks/windows/configure-dc.yml
  ludus-server/ansible/range-management/tasks/windows/join-domain.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

refactor: 🔨 create the LUDUS_DEFAULTS chain in separate task
  ludus-server/ansible/range-management/tasks/firewall/set-firewall-rules.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

perf: ⚡ attempt to skip inventory refresh if VM is not deployed
  ludus-server/ansible/range-management/tasks/proxmox/deploy-vm.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

refactor: 🔨 remove comment requirement in user delete for iptables rules
  ludus-server/ansible/user-management/del-user.yml
Due: build all, client basic-commands, range deploy

docs: 📚 add updating docs
  UPDATING.md
  docs/docs/updating.md
Due: documentation, build all

feat(config): ✨ validate Windows hostname (15 chars) are unique to prevent issues with AD
  ludus-server/src/yaml_validate.go
Due: build all

fix(config): 🐛 fix issue validating hostnames that contained template strings
  ludus-server/src/yaml_validate.go
Due: build all

fix(testing): 🐛 fix error with rearm task path when stopping testing
  ludus-server/ansible/range-management/testing.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

docs: 📚 add Elastic guide
  docs/docs/Environment Guides/elastic.md
  docs/static/img/envs/elastic.png
Due: documentation, build all

Update the terraform script
  docs/docs/Deployment Options/google-cloud.md
Due: documentation, build all

docs: 📚 update elastic guide with port and creds
  docs/docs/Environment Guides/elastic.md
Due: documentation, build all

docs: 📚 add powerhell to Hyper-V docs to enable virt support
  docs/docs/Deployment Options/hyper-v.md
Due: documentation, build all

docs: 📚 add GOAD SCCM env guide
  docs/docs/Environment Guides/goad-sccm.md
Due: documentation, build all

fix(install): 🐛 make sure SSH is installed during install
  ludus-server/ansible/proxmox-install/stage-1.yml
Due: build all, install kickoff, install check, install snapshot

fix: 🐛 respect the setJSON flag in isAdmin
  ludus-server/src/routers.go
Due: build all

feat: ✨ allow balloon RAM size to be a float (not exposed to users via config)
  ludus-server/ansible/range-management/tasks/proxmox/deploy-vm.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

style: 💄 use ansible FQDNs in configure-router
  ludus-server/ansible/range-management/tasks/router/configure-router.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

refactor: 🔨 dont hardcode the ludus install path
  ludus-server/ansible/range-management/tasks/windows/configure-windows.yml
Due: build all, client basic-commands, range deploy, range check, range snapshot, post-deploy testing

style(testing): 💄 capitalize results and errors from testing API endpoints
  ludus-server/src/api_testing_state_management.go
Due: build all

refactor: 🔨 new users get the lowest available range number
  ludus-server/src/api_user_management.go
  ludus-server/src/database.go
Due: build all

feat: ✨ allow admins to disable ansible role/collection add ability by standard users
  ludus-server/config.go
  ludus-server/src/api_ansible.go
  ludus-server/src/config.go
Due: build all, install kickoff, install check, install snapshot

revert: ⏪ revert changes to ludus host firewall
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
  ludus-server/ansible/user-management/add-user.yml
  ludus-server/ansible/user-management/del-user.yml
Due: build all, install kickoff, install check, install snapshot, client basic-commands, range deploy
