Repository badsectorlabs/ludus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, documentation, build all, install kickoff, install check, install snapshot, templates build, templates check, templates snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, post-deploy ansible-as-admin, post-deploy user-cmds-as-admin, post-deploy templates-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user, post-deploy ansible-as-user, post-deploy user-cmds-as-user, post-deploy templates-as-user, post-deploy snapshots-as-user

pages:
  stage: pages
  variables:
    LUDUS_BUILD_TYPE: any-built
  tags:
  - ludus-proxmox-runner
  retry:
    max: 2
  script:
  - cd docs
  - 'sed -i "s|baseUrl: ''/ludus/''|baseUrl: ''/''|" docusaurus.config.js'
  - yarn install
  - yarn build
  - rm -f ./build/video/*
  - mv ./build ../public
  artifacts:
    paths:
    - public

documentation:
  stage: documentation
  variables:
    LUDUS_BUILD_TYPE: any-built
  tags:
  - ludus-proxmox-runner
  retry:
    max: 2
  script:
  - cd docs
  - yarn install
  - yarn build
  - rm -f ./build/video/*
  - rm -f ./build/img/hardware/Debian_12_RAID0.mp4
  - mv ./build ../built-docs
  artifacts:
    paths:
    - built-docs

build all:
  stage: build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - documentation
  artifacts:
    paths:
    - binaries/*
    expire_in: 1 week
  variables:
    LUDUS_BUILD_TYPE: any-built
  timeout: 10m
  script:
  - echo "Compiling the server code..."
  - export GIT_COMMIT_SHORT_HASH=$(git rev-parse --short HEAD)
  ...

install kickoff:
  stage: install-kickoff
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: kickoff
  timeout: 10m
  script:
  - sudo hostname ludus-$CI_PIPELINE_ID
  - sudo hostnamectl set-hostname ludus-$CI_PIPELINE_ID
  - cd binaries
  ...

install check:
  stage: install-check
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: check
  timeout: 1h
  script:
  - sudo cat /opt/ludus/install/install.log
  - echo "root:$CI_PIPELINE_ID" | sudo chpasswd

install snapshot:
  stage: install-snapshot
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_BUILD_TYPE: full
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - echo "Snapshot complete"

templates build:
  stage: templates-build
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - - sudo /usr/sbin/chronyd -q 'pool pool.ntp.org iburst' || sudo /usr/bin/chronyc -m 'burst 3/3' 'makestep 0.5 -1'
  ...

templates check:
  stage: templates-check
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 2h
  retry:
    max: 2
  script:
  ...

templates snapshot:
  stage: templates-snapshot
  tags:
  - ludus-proxmox-runner
  variables:
    LUDUS_INSTALL_STEP: take-snapshot
    LUDUS_SNAPSHOT_NAME: templates_built
  timeout: 5m
  script:
  - echo "Snapshot complete"

client basic-commands:
  stage: client
  tags:
  - ludus-proxmox-runner
  dependencies:
  - build all
  variables:
    LUDUS_BUILD_TYPE: from-snapshot
    LUDUS_SNAPSHOT_NAME: clean_install
  timeout: 5m
  script:
  - - - sudo /usr/sbin/chronyd -q 'pool pool.ntp.org iburst' || sudo /usr/bin/chronyc -m 'burst 3/3' 'makestep 0.5 -1'
      - date
  ...

fix(server): 🐛 create empty log on user creation to prevent range log errors before a deployment for a new user
  ludus-server/ansible/user-management/add-user.yml
Due: build all, client basic-commands, range deploy-admin, post-deploy user-cmds-as-admin, range deploy-user, post-deploy user-cmds-as-user

New lab - BarbHack CTF 2024 (Gotham City - Active Directory Lab)
  docs/docs/environment-guides/BarbHack CTF 2024 (Gotham City - Active Directory Lab).md
Due: pages, documentation, build all

docs: 📚 update BarbHack env guide; update snapshot wording for other env guides
  docs/docs/environment-guides/barbhack-ctf-2024.md
  docs/docs/environment-guides/goad-nha.md
  docs/docs/environment-guides/goad-sccm.md
  docs/docs/environment-guides/goad.md
  docs/docs/environment-guides/netexec-workshop-lehack-2024.md
  docs/docs/environment-guides/sans-workshop-active-directory-privilege-escalation-with-empire.md
Due: pages, documentation, build all

docs: 📚 fix Barbhack Kali IP
  docs/docs/environment-guides/barbhack-ctf-2024.md
Due: pages, documentation, build all

Erstelle eine neues Verzeichnis
  templates/win2025-server-x64-tpm/.gitkeep
Due: build all

added TPM templates
  templates/win11-24h2-x64-enterprise-tpm/Autounattend.xml
  templates/win11-24h2-x64-enterprise-tpm/ansible/windows_update_security_updates.yml
  templates/win11-24h2-x64-enterprise-tpm/iso/setup-for-ansible.ps1
  templates/win11-24h2-x64-enterprise-tpm/iso/win-updates.ps1
  templates/win11-24h2-x64-enterprise-tpm/iso/windows-common-setup.ps1
  templates/win11-24h2-x64-enterprise-tpm/scripts/disable-hibernate.ps1
  templates/win11-24h2-x64-enterprise-tpm/scripts/disablewinupdate.bat
  templates/win11-24h2-x64-enterprise-tpm/scripts/install-virtio-drivers.ps1
  templates/win11-24h2-x64-enterprise-tpm/win11-24h2-x64-enterprise-tpm.pkr.hcl
  templates/win2025-server-x64-tpm/.gitkeep
  templates/win2025-server-x64-tpm/Autounattend.xml
  templates/win2025-server-x64-tpm/ansible/windows_update.yml
  templates/win2025-server-x64-tpm/ansible/windows_update_security_updates.yml
  templates/win2025-server-x64-tpm/iso/setup-for-ansible.ps1
  templates/win2025-server-x64-tpm/iso/win-updates.ps1
  templates/win2025-server-x64-tpm/iso/windows-common-setup.ps1
  templates/win2025-server-x64-tpm/scripts/disable-hibernate.ps1
  templates/win2025-server-x64-tpm/scripts/disablewinupdate.bat
  templates/win2025-server-x64-tpm/scripts/install-virtio-drivers.ps1
  templates/win2025-server-x64-tpm/win2025-server-x64-tpm.pkr.hcl
Due: build all

Update 2 files
  templates/win11-24h2-x64-enterprise-tpm/README.md
  templates/win2025-server-x64-tpm/README.md
Due: build all

fix(server): 🐛 prevent admin users from removing VMs of other ranges if the VMs have the same name as the VM(s) in the range the admin is removing
  ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user

refactor(server): 🔨 change default range config to use office 2021 and choco packages instead of install_additional_tools
  ludus-server/ansible/user-files/range-config.example.yml
  ludus-server/ansible/user-management/templates/range-config.yml.j2
Due: build all, client basic-commands, range deploy-admin, post-deploy user-cmds-as-admin, range deploy-user, post-deploy user-cmds-as-user

fix(templates): 🐛 fix tpm templates to work with custom proxmox plugin
  templates/win11-24h2-x64-enterprise-tpm/win11-24h2-x64-enterprise-tpm.pkr.hcl
  templates/win2025-server-x64-tpm/win2025-server-x64-tpm.pkr.hcl
Due: build all

feat(server): ✨ switch to our fork of the packer proxmox plugin which supports tpm and cpu type
  ludus-server/dependency_updates.go
Due: build all, install kickoff, install check, install snapshot

feat(client): ✨ tune non-verbose log output for templates to show the download of isos when iso_download_pve is set to true
  ludus-client/cmd/utils.go
Due: build all, client basic-commands

feat(server): ✨ block any range VM from accessing the host by default
  ludus-server/ansible/range-management/tasks/firewall/set-firewall-rules.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(server): 🐛 adjust firewall rule order to preseve ansible connectivity
  ludus-server/ansible/range-management/tasks/firewall/set-firewall-rules.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

feat(server): ✨ only expose the current range's pool of VMs to ansible; add --all option to `ludus range inventory` command if the users wants a full inventory of all VMs they have access to (admins)
  ludus-api/api_range_management.go
  ludus-client/cmd/range.go
  ludus-server/ansible/range-management/proxmox.py
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

style(server): 💄 when setting a password via ludus, make it clear that this does not change the password in proxmox
  ludus-api/api_user_management.go
Due: build all

fix(server): 🐛 fix pre-run-checks now that the SHARED pool is not visable to ansible
  ludus-server/ansible/range-management/pre-run-checks.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user

ci: 🤖 use office 2021 as the 2019 installer is no longer working on unpatched win11 22h2
  ludus-server/ci/configs/integration-test.yml
Due: build all

fix(server): 🐛 put user defined firewall rules at position 2 to prevent pushing down the related/established rule and preventing connecitivty to VMs with the new block rules
  ludus-server/ansible/range-management/tasks/firewall/firewall-rules.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

docs(templates): 📚 update tpm template READMEs to reflect their support in Ludus >= 1.9.7
  templates/win11-24h2-x64-enterprise-tpm/README.md
  templates/win2025-server-x64-tpm/README.md
Due: build all

docs: 📚 specify that custom templates require the qemu guest agent
  docs/docs/templates.md
Due: pages, documentation, build all

chore: 🧹 ignore .ansible directories
  .gitignore
Due: build all

fix(server): 🐛 fix AccessNetwork role check to allow direct ISO downloads to PVE for all ludus users
  ludus-server/permissions.go
Due: build all, install kickoff, install check, install snapshot

Add support for Win2025 domains/forests levels
  .ansible-lint
  docs/docs/configuration.mdx
  docs/static/schemas/range-config.json
  ludus-server/ansible/user-files/range-config.jsonschema
Due: pages, documentation, build all, client basic-commands

fix(server): 🐛 allow admins to see ADMIN pool VMs after restrictive dynamic inventory change
  ludus-api/ansible.go
  ludus-api/api_range_management.go
  ludus-server/ansible/proxmox-install/existing-proxmox.yml
  ludus-server/ansible/proxmox-install/stage-3.yml
  ludus-server/ansible/range-management/proxmox.py
  ludus-server/permissions.go
Due: build all, install kickoff, install check, install snapshot, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

fix(templates): 🐛 filter out pkrvars.hcl files from user template file gathering
  ludus-api/api_template_management.go
Due: build all

docs: 📚 add mermaid package and update deps
  docs/docusaurus.config.js
  docs/package.json
  docs/yarn.lock
Due: pages, documentation, build all

docs: 📚 add pivot lab env guide
  docs/docs/environment-guides/pivot-lab.md
Due: pages, documentation, build all

fix(server): 🐛 Remove Microsoft.Edge.GameAssist appx package if it exists as it prevents sysprep from working
  ludus-server/ansible/range-management/tasks/windows/sysprep.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user

docs: 📚 update description of force_ip option
  docs/docs/configuration.mdx
  docs/static/schemas/range-config.json
  ludus-server/ansible/user-files/range-config.jsonschema
Due: pages, documentation, build all, client basic-commands

fix(templates): 🐛 update win2025 server iso url and checksum
  templates/win2025-server-x64-tpm/win2025-server-x64-tpm.pkr.hcl
Due: build all

fix(templates): 🐛 fix win2025 server url
  templates/win2025-server-x64-tpm/win2025-server-x64-tpm.pkr.hcl
Due: build all

fix(install): 🐛 reinstall qemu-server package to prevent shutdown bug
  ludus-server/ansible/proxmox-install/stage-3.yml
Due: build all, install kickoff, install check, install snapshot

fix(install): 🐛 install old qemu-server then current to fix shutdown bug
  ludus-server/ansible/proxmox-install/stage-3.yml
Due: build all, install kickoff, install check, install snapshot

fix(install): 🐛 add allow-downgrade flag to apt install to install old qemu-server then current to fix shutdown bug
  ludus-server/ansible/proxmox-install/stage-3.yml
Due: build all, install kickoff, install check, install snapshot

refactor(install): 🔨 better handling of the qemu-server 8.3.14 bug during install
  ludus-server/ansible/proxmox-install/stage-3.yml
Due: build all, install kickoff, install check, install snapshot

fix(server): 🐛 fix edge case in dynamic inventory detection when an admin user has no VMs in their range but does have at least one ADMIN VM
  ludus-server/ansible/range-management/pre-run-checks.yml
Due: build all, client basic-commands, range deploy-admin, range check-admin, range snapshot-admin, post-deploy testing-as-admin, post-deploy power-as-admin, range deploy-user, range check-user, range snapshot-user, post-deploy testing-as-user, post-deploy power-as-user

fix: 🐛 templates
  templates/debian10/http/debian-10-preseed.cfg
Due: build all

docs: 📚 Added ludus_sliver and ludus_redirector to the roles doc page
  docs/docs/roles.md
Due: pages, documentation, build all

migrate to supabase; add user and group management
  docs/static/api/index.html
  go.work
  go.work.sum
  ludus-api/ansible.go
  ludus-api/api_group_management.go
  ludus-api/api_migration.go
  ludus-api/api_range_management.go
  ludus-api/api_user_management.go
  ludus-api/config.go
  ludus-api/database.go
  ludus-api/go.mod
  ludus-api/go.sum
  ludus-api/ludus-api
  ludus-api/models.go
  ludus-api/routers.go
  ludus-api/utils.go
  ludus-client/cmd/group.go
  ludus-client/cmd/migrate.go
  ludus-client/cmd/models.go
  ludus-client/cmd/range.go
  ludus-client/cmd/root.go
  ludus-client/go.mod
  ludus-client/go.sum
Due: pages, documentation, build all, client basic-commands, range deploy-admin, range deploy-user

Path conditions:
  pages: any of: docs/**/*
  documentation: any of: docs/**/*
  build all: any of: **/*
  install kickoff: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install check: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  install snapshot: any of: ludus-server/*.go, ludus-server/ansible/proxmox-install/**/*
  templates build: any of: ludus-server/packer/**/*
  templates check: any of: ludus-server/packer/**/*
  templates snapshot: any of: ludus-server/packer/**/*
  client basic-commands: any of: ludus-client/**/*.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*, ludus-server/ansible/user-files/**/*
  range deploy-admin: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-admin: any of: ludus-server/ansible/range-management/**/*
  range snapshot-admin: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-admin: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-admin: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-admin: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-admin: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-admin: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  range deploy-user: any of: ludus-client/cmd/range.go, ludus-server/ansible/range-management/**/*, ludus-server/ansible/user-management/**/*
  range check-user: any of: ludus-server/ansible/range-management/**/*
  range snapshot-user: any of: ludus-server/ansible/range-management/**/*
  post-deploy testing-as-user: any of: ludus-client/cmd/testing.go, ludus-server/ansible/range-management/**/*
  post-deploy power-as-user: any of: ludus-client/cmd/power.go, ludus-server/ansible/range-management/power.yml, ludus-server/ansible/range-management/pre-run-checks.yml, ludus-server/ansible/range-management/tasks/proxmox/set-vm-state.yml
  post-deploy ansible-as-user: any of: ludus-client/cmd/ansible.go, ludus-server/src/ansible.go, ludus-server/src/api_ansible.go
  post-deploy user-cmds-as-user: any of: ludus-client/cmd/user.go, ludus-server/src/api_user_management.go, ludus-server/ansible/user-management/**/*
  post-deploy templates-as-user: any of: ludus-client/cmd/templates.go, ludus-server/src/api_template_management.go
  post-deploy snapshots-as-user: any of: ludus-client/cmd/snapshots.go, ludus-server/src/api_snapshot_management.go
